#kihkcc41Image {
  width: 1023px;
  height: 312px;
  -webkit-transform: matrix(1, 0, 0, 1, 1, 191);
  transform: matrix(1, 0, 0, 1, 1, 191);
  /* background: url(../images/brintelix.png) center center no-repeat; */
  background-size: contain;
}

#container {
  background-color: white;
}

#kihkcc45Text {
  left: 282.86px;
  top: 514.713647px;
  position: absolute;
  font-size: 30px;
}

#kihkd4abText {
  top: 140.93235px;
  left: 868.88625px;
  position: absolute;
  font-size: 14px;
}

.header {
  left: 102.74195px;
  line-height: 1.2;
  top: 22.233045px;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 102.74195px;
}
