<link rel="stylesheet" href="styles/common/layout.css">
<link rv-import="co-iscroll">
<link rv-import="co-image">
<link rv-import="co-image">
<co-image id="co-image_3ed651cd" model="m.common.co-image_3ed651cd" class="default"></co-image>
<link rv-import="co-image">
<co-image id="co-image_8c03cb96" model="m.common.co-image_8c03cb96" class="default" rv-controller="ass_global" rv-on-tap="openSM"></co-image>
<link rv-import="co-container">
<div class="maskContSM">
    <co-container id="co-container_0772c8f4" model="m.common.co-container_0772c8f4" class="default" rv-controller="ass_global">

        <link rv-import="co-container">
        <co-container id="co-container_d732bf9f" model="m.common.co-container_d732bf9f" class="default left_navi">
            <link rv-import="co-text">
            <co-text id="co-text_c33b1f1f" model="m.common.co-text_c33b1f1f" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_cw9b9ylxk&apos;" data-thumb="thumb_wrap1"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_4ae006ee" model="m.common.co-text_4ae006ee" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_w64ie8l2k&apos;" data-thumb="thumb_wrap2"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_f48755f7" model="m.common.co-text_f48755f7" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_1ipblrd3v&apos;" data-thumb="thumb_wrap3"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_ee979fde" model="m.common.co-text_ee979fde" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_ccumrj4v4&apos;" data-thumb="thumb_wrap4"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_a700e7ba" model="m.common.co-text_a700e7ba" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_9htk88yrs&apos;" data-thumb="thumb_wrap5"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_d5657ca0" model="m.common.co-text_d5657ca0" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_2ml2067dg&apos;" data-thumb="thumb_wrap6"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_5d241d96" model="m.common.co-text_5d241d96" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_k1fohb8cn&apos;" data-thumb="thumb_wrap7"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_eef4bf39" model="m.common.co-text_eef4bf39" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_m75rbybii&apos;" data-thumb="thumb_wrap8"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_741c3be4" model="m.common.co-text_741c3be4" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_co5e4l9u6&apos;" data-thumb="thumb_wrap9"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_0f4c1424" model="m.common.co-text_0f4c1424" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_ntw9pug98&apos;" data-thumb="thumb_wrap10"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_2d303cca" model="m.common.co-text_2d303cca" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_do92xnh6a&apos;" data-thumb="thumb_wrap11"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_3c0ca422" model="m.common.co-text_3c0ca422" class="default nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_ag9pvwxfd&apos;" data-thumb="thumb_wrap12"></co-text>
            <div class="dots">
                <div class="dot1 nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_ag9pvwxfd_dot1&apos;" data-thumb="thumb_wrap_dot1"><div class="dot"></div></div>
                <div class="dot2 nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_ag9pvwxfd_dot2&apos;" data-thumb="thumb_wrap_dot2"><div class="dot"></div></div>
                <div class="dot3 nav_item" rv-class-act="activeNavItem | check-item &apos;chapter_ag9pvwxfd_dot3&apos;" data-thumb="thumb_wrap_dot3"><div class="dot"></div></div>
            </div>
        </co-container>

        <link rv-import="co-container">
        <co-container id="co-container_143179b2" model="m.common.co-container_143179b2" class="default thumb_wrap thumb_wrap1" rv-class-act="activeNavItem | check-homepage &apos;chapter_cw9b9ylxk&apos; activeItem &apos;Brintellix_1&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_2dea195e" model="m.common.co-image_2dea195e" class="default"></co-image>
            <link rv-import="co-text">
            <co-text id="co-text_25affe51" model="m.common.co-text_25affe51" class="default thumb_" rv-nav="m.common.nav_a653a40a" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_2&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_1a14203f" model="m.common.co-text_1a14203f" class="default thumb_" rv-nav="m.common.nav_6f049985" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_3&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_8f0a1bcf" model="m.common.co-text_8f0a1bcf" class="default thumb_" rv-nav="m.common.nav_f1a3b9de" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_4&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_fe3f9597" model="m.common.co-text_fe3f9597" class="default thumb_" rv-nav="m.common.nav_9f32ec6e" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_5&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_7db5f41f" model="m.common.co-text_7db5f41f" class="default thumb_" rv-nav="m.common.nav_76635ff8" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_6&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_8a264c1a" model="m.common.co-text_8a264c1a" class="default thumb_" rv-nav="m.common.nav_70e35ff8" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_7&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_532bc2c9" model="m.common.co-text_532bc2c9" class="default thumb_" rv-nav="m.common.nav_a94a3809" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_8&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_11b37c4c" model="m.common.co-text_11b37c4c" class="default thumb_" rv-nav="m.common.nav_fcc330f8" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_NewAss_2&apos;"></co-text>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_3697f48f" model="m.common.co-container_3697f48f" class="default thumb_wrap thumb_wrap2" rv-class-act="activeNavItem | check-item &apos;chapter_w64ie8l2k&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_08258dcf" model="m.common.co-image_08258dcf" class="default"></co-image>
            <link rv-import="co-text">
            <co-text id="co-text_a0d50927" model="m.common.co-text_a0d50927" class="default thumb_" rv-nav="m.common.nav_5bacdb0b" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_10&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_756a96e4" model="m.common.co-text_756a96e4" class="default thumb_" rv-nav="m.common.nav_68f1ac69" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_11&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_65bb57d8" model="m.common.co-text_65bb57d8" class="default thumb_" rv-nav="m.common.nav_4e059840" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_12&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_e1703b4f" model="m.common.co-text_e1703b4f" class="default thumb_" rv-nav="m.common.nav_c372e571" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_13&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_02a568c1" model="m.common.co-text_02a568c1" class="default thumb_" rv-nav="m.common.nav_7b44595c" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_14&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_300310d9" model="m.common.co-text_300310d9" class="default thumb_" rv-nav="m.common.nav_d0277c80" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_15&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_04acf7f0" model="m.common.co-text_04acf7f0" class="default thumb_" rv-nav="m.common.nav_66706e45" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_16&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_714201f5" model="m.common.co-text_714201f5" class="default thumb_" rv-nav="m.common.nav_dff44525" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_17&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_0e1a8b2f" model="m.common.co-text_0e1a8b2f" class="default thumb_" rv-nav="m.common.nav_27c4288c" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_18&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_0aa18fcc" model="m.common.co-text_0aa18fcc" class="default thumb_" rv-nav="m.common.nav_279302c4" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_19&apos;"></co-text>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_8f60e59f" model="m.common.co-container_8f60e59f" class="default thumb_wrap thumb_wrap3" rv-class-act="activeNavItem | check-item &apos;chapter_1ipblrd3v&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_3e33d66e" model="m.common.co-image_3e33d66e" class="default"></co-image>
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_9bda73d1" model="m.common.co-text-button_9bda73d1" class="default thumb_" rv-nav="m.common.nav_82be1146" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_20&apos;"></co-text-button>
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_28e739a8" model="m.common.co-text-button_28e739a8" class="default thumb_" rv-nav="m.common.nav_055c8ba3" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_21&apos;"></co-text-button>
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_4593e870" model="m.common.co-text-button_4593e870" class="default thumb_" rv-nav="m.common.nav_850d1d3b" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_22&apos;"></co-text-button>
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_f3a383d3" model="m.common.co-text-button_f3a383d3" class="default thumb_" rv-nav="m.common.nav_0976655d" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_23&apos;"></co-text-button>
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_8294b6b2" model="m.common.co-text-button_8294b6b2" class="default thumb_" rv-nav="m.common.nav_38abba6a" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_24&apos;"></co-text-button>
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_ea28fc01" model="m.common.co-text-button_ea28fc01" class="default thumb_" rv-nav="m.common.nav_9cee4b59" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_25&apos;"></co-text-button>
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_40affb0f" model="m.common.co-text-button_40affb0f" class="default thumb_" rv-nav="m.common.nav_94cbb271" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_26&apos;"></co-text-button>
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_4132da03" model="m.common.co-text-button_4132da03" class="default thumb_" rv-nav="m.common.nav_e5d0594a" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_48&apos;"></co-text-button>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_1d303759" model="m.common.co-container_1d303759" class="default thumb_wrap thumb_wrap4" rv-class-act="activeNavItem | check-item &apos;chapter_ccumrj4v4&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_d76862d4" model="m.common.co-image_d76862d4" class="default"></co-image>
            <link rv-import="co-text">
            
            <link rv-import="co-text">
            
            <link rv-import="co-text">
            <co-text id="co-text_b280e38b" model="m.common.co-text_b280e38b" class="default thumb_" rv-nav="m.common.nav_f4c281fa" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_38&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_bdc38c63" model="m.common.co-text_bdc38c63" class="default thumb_" rv-nav="m.common.nav_601fabe5" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_37&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_ecbec2df" model="m.common.co-text_ecbec2df" class="default thumb_" rv-nav="m.common.nav_13b8a218" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_31&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_1b84b7f2" model="m.common.co-text_1b84b7f2" class="default thumb_" rv-nav="m.common.nav_725a5331" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_27&apos;"></co-text>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_376972e3" model="m.common.co-container_376972e3" class="default thumb_wrap thumb_wrap5" rv-class-act="activeNavItem | check-item &apos;chapter_9htk88yrs&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_67dc91d7" model="m.common.co-image_67dc91d7" class="default"></co-image>
            <link rv-import="co-text">
            <co-text id="co-text_caa01cd2" model="m.common.co-text_caa01cd2" class="default thumb_" rv-nav="m.common.nav_6e098d51" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_47&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_ee35bcad" model="m.common.co-text_ee35bcad" class="default thumb_" rv-nav="m.common.nav_61032078" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_49&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_7db1fd01" model="m.common.co-text_7db1fd01" class="default thumb_" rv-nav="m.common.nav_b2924669" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_52&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_643eee97" model="m.common.co-text_643eee97" class="default thumb_" rv-nav="m.common.nav_48c8c69a" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_34&apos;"></co-text>
            <link rv-import="co-text">
            
            <link rv-import="co-text">
            
            <link rv-import="co-text">
            
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_45c4f2d5" model="m.common.co-container_45c4f2d5" class="default thumb_wrap thumb_wrap6" rv-class-act="activeNavItem | check-item &apos;chapter_2ml2067dg&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_fd82f188" model="m.common.co-image_fd82f188" class="default"></co-image>
            <link rv-import="co-text">
            <co-text id="co-text_ea51c417" model="m.common.co-text_ea51c417" class="default thumb_" rv-nav="m.common.nav_23ac5f6d" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_39&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_47767282" model="m.common.co-text_47767282" class="default thumb_" rv-nav="m.common.nav_08d6dd6c" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_44&apos;"></co-text>
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text">
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_3dc6692a" model="m.common.co-text-button_3dc6692a" class="default thumb_" rv-nav="m.common.nav_6029b5f3" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_NewAss_3&apos;"></co-text-button>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_6f015c1f" model="m.common.co-container_6f015c1f" class="default thumb_wrap thumb_wrap7" rv-class-act="activeNavItem | check-item &apos;chapter_k1fohb8cn&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_c1761d89" model="m.common.co-image_c1761d89" class="default"></co-image>
            <link rv-import="co-text">
            <co-text id="co-text_29df0d6f" model="m.common.co-text_29df0d6f" class="default thumb_" rv-nav="m.common.nav_82a70e9a" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_55&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_2729b65f" model="m.common.co-text_2729b65f" class="default thumb_" rv-nav="m.common.nav_9ef2ae9f" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_56&apos;"></co-text>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_db0cc8ca" model="m.common.co-container_db0cc8ca" class="default thumb_wrap thumb_wrap8" rv-class-act="activeNavItem | check-item &apos;chapter_m75rbybii&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_4e7b6b0e" model="m.common.co-image_4e7b6b0e" class="default"></co-image>
            <link rv-import="co-text">
            <co-text id="co-text_ddd7712a" model="m.common.co-text_ddd7712a" class="default thumb_" rv-nav="m.common.nav_85fe2836" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_p194&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_08bcec23" model="m.common.co-text_08bcec23" class="default thumb_" rv-nav="m.common.nav_690e34ba" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_58&apos;"></co-text>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_4bd66adc" model="m.common.co-container_4bd66adc" class="default thumb_wrap thumb_wrap9" rv-class-act="activeNavItem | check-item &apos;chapter_co5e4l9u6&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_8c9f8a7f" model="m.common.co-image_8c9f8a7f" class="default"></co-image>
            <link rv-import="co-text">
            <co-text id="co-text_4d8a9eb9" model="m.common.co-text_4d8a9eb9" class="default thumb_" rv-nav="m.common.nav_5f794e69" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_59&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_bf1bbc56" model="m.common.co-text_bf1bbc56" class="default thumb_" rv-nav="m.common.nav_ca3ba6ac" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_60&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_cce8e4b6" model="m.common.co-text_cce8e4b6" class="default thumb_" rv-nav="m.common.nav_8575ce8d" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_61&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_4b077460" model="m.common.co-text_4b077460" class="default thumb_" rv-nav="m.common.nav_8c3572fe" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_62&apos;"></co-text>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_63065e7a" model="m.common.co-container_63065e7a" class="default thumb_wrap thumb_wrap10" rv-class-act="activeNavItem | check-item &apos;chapter_ntw9pug98&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_5862679d" model="m.common.co-image_5862679d" class="default" rv-nav="m.common.nav_eb2c2bcc"></co-image>
            <link rv-import="co-text-button">
            <co-text-button id="co-text-button_06292642" model="m.common.co-text-button_06292642" class="default thumb_" rv-nav="m.common.nav_2d029bbb" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_65&apos;"></co-text-button>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_6d806a33" model="m.common.co-container_6d806a33" class="default thumb_wrap thumb_wrap11" rv-class-act="activeNavItem | check-item &apos;chapter_do92xnh6a&apos;">
            <co-iscroll model="m.customIscroll">
                <div class="imgSM">
                    <link rv-import="co-image">
                    <co-image id="co-image_3ba35f27" model="m.common.co-image_3ba35f27" class="default"></co-image>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_fc0e15a0" model="m.common.co-text-button_fc0e15a0" class="default thumb_" rv-nav="m.common.nav_54d35198" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_70&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_d09438aa" model="m.common.co-text-button_d09438aa" class="default thumb_" rv-nav="m.common.nav_6057bc44" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_71&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_8be0eb07" model="m.common.co-text-button_8be0eb07" class="default thumb_" rv-nav="m.common.nav_112af766" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_72&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_8b55ef56" model="m.common.co-text-button_8b55ef56" class="default thumb_" rv-nav="m.common.nav_1b72ba68" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_73&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_fa55841c" model="m.common.co-text-button_fa55841c" class="default thumb_" rv-nav="m.common.nav_d5a3eab5" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_74&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_1a69f8d0" model="m.common.co-text-button_1a69f8d0" class="default thumb_" rv-nav="m.common.nav_40a5f3be" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_75&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_b7dbd9b9" model="m.common.co-text-button_b7dbd9b9" class="default thumb_" rv-nav="m.common.nav_b9e6cd7c" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_76&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_ac6d3151" model="m.common.co-text-button_ac6d3151" class="default thumb_" rv-nav="m.common.nav_9a4a4e3a" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_77&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_d3d59710" model="m.common.co-text-button_d3d59710" class="default thumb_" rv-nav="m.common.nav_ac0856be" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_78&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_b0ad2261" model="m.common.co-text-button_b0ad2261" class="default thumb_" rv-nav="m.common.nav_f3de51b4" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_79&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_cc41254d" model="m.common.co-text-button_cc41254d" class="default thumb_" rv-nav="m.common.nav_dbb4240a" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_80&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_d93684b6" model="m.common.co-text-button_d93684b6" class="default thumb_" rv-nav="m.common.nav_ef8c95ff" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_81&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_cbc0f716" model="m.common.co-text-button_cbc0f716" class="default thumb_" rv-nav="m.common.nav_faa39361" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_82&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_5bae149b" model="m.common.co-text-button_5bae149b" class="default thumb_" rv-nav="m.common.nav_07cb9d2e" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_83&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_c8f21b82" model="m.common.co-text-button_c8f21b82" class="default thumb_" rv-nav="m.common.nav_1dbf34f5" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_84&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_d59ddb73" model="m.common.co-text-button_d59ddb73" class="default thumb_" rv-nav="m.common.nav_9fff8aac" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_85&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_8538542d" model="m.common.co-text-button_8538542d" class="default thumb_" rv-nav="m.common.nav_a0c5f305" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_86&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_fe3ac68a" model="m.common.co-text-button_fe3ac68a" class="default thumb_" rv-nav="m.common.nav_d2e0acd6" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_87&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_199169d6" model="m.common.co-text-button_199169d6" class="default thumb_" rv-nav="m.common.nav_3ee61a80" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_88&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_92d3114f" model="m.common.co-text-button_92d3114f" class="default thumb_" rv-nav="m.common.nav_c9b7a605" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_89&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_fb4a1a7b" model="m.common.co-text-button_fb4a1a7b" class="default thumb_" rv-nav="m.common.nav_72a1735f" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_91&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_fb4a1a7b1" model="m.common.co-text-button_fb4a1a7b1" class="default thumb_" rv-nav="m.common.nav_NewAss_7" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_NewAss_7&apos;"></co-text-button>
                    <link rv-import="co-text-button">
                    <co-text-button id="co-text-button_fb4a1a7b2" model="m.common.co-text-button_fb4a1a7b2" class="default thumb_" rv-nav="m.common.nav_NewAss_8" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_NewAss_8&apos;"></co-text-button>
                    <link rv-import="co-text-button">

                </div>
            </co-iscroll>
        </co-container>
        <link rv-import="co-container">
        <co-container id="co-container_7b6bdaf1" model="m.common.co-container_7b6bdaf1" class="default thumb_wrap thumb_wrap12" rv-class-act="activeNavItem | check-item &apos;chapter_ag9pvwxfd&apos;">
            <link rv-import="co-image">
            <co-image id="co-image_76fd2ecf" model="m.common.co-image_76fd2ecf" class="default"></co-image>
            <link rv-import="co-text">
            <co-text id="co-text_b26a01b3" model="m.common.co-text_b26a01b3" class="default thumb_" rv-nav="m.common.nav_19eb864c" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_36&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_bc41d5a0" model="m.common.co-text_bc41d5a0" class="default thumb_" rv-nav="m.common.nav_ba1f2266" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_50&apos;"></co-text>
            <link rv-import="co-text">
            <co-text id="co-text_de6c44c5" model="m.common.co-text_de6c44c5" class="default thumb_" rv-nav="m.common.nav_99ee3c59" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_53&apos;"></co-text>
        </co-container>
        <co-container id="dot1" model="m.common.dot1" class="default thumb_wrap thumb_wrap_dot1" rv-class-act="activeNavItem | check-item &apos;chapter_ag9pvwxfd_dot1&apos;">
            <div class="bg_dot1">
                <div class="dot1_thumb1 thumb_" rv-nav="m.common.nav_dot1_thumb1" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_2&apos;"></div>
                <div class="dot1_thumb2 thumb_" rv-nav="m.common.nav_dot1_thumb2" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_3&apos;"></div>
                <div class="dot1_thumb3 thumb_" rv-nav="m.common.nav_dot1_thumb3" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_7&apos;"></div>
                <div class="dot1_thumb4 thumb_" rv-nav="m.common.nav_dot1_thumb4" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_26&apos;"></div>
                <div class="dot1_thumb5 thumb_" rv-nav="m.common.nav_dot1_thumb5" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_20&apos;"></div>
                <div class="dot1_thumb6 thumb_" rv-nav="m.common.nav_dot1_thumb6" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_21&apos;"></div>
                <div class="dot1_thumb7 thumb_" rv-nav="m.common.nav_dot1_thumb7" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_22&apos;"></div>
                <div class="dot1_thumb8 thumb_" rv-nav="m.common.nav_dot1_thumb8" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_48&apos;"></div>
                <div class="dot1_thumb9 thumb_" rv-nav="m.common.nav_dot1_thumb9" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_39&apos;"></div>
                <div class="dot1_thumb10 thumb_" rv-nav="m.common.nav_dot1_thumb10" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_55&apos;"></div>
                <div class="dot1_thumb11 thumb_" rv-nav="m.common.nav_dot1_thumb11" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_56&apos;"></div>
            </div>
        </co-container>
        <co-container id="dot2" model="m.common.dot2" class="default thumb_wrap thumb_wrap_dot2" rv-class-act="activeNavItem | check-item &apos;chapter_ag9pvwxfd_dot2&apos;">
            <div class="bg_dot2">
                <div class="dot2_thumb1 thumb_" rv-nav="m.common.nav_dot2_thumb1" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_2&apos;"></div>
                <div class="dot2_thumb2 thumb_" rv-nav="m.common.nav_dot2_thumb2" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_5&apos;"></div>
                <div class="dot2_thumb3 thumb_" rv-nav="m.common.nav_dot2_thumb3" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_7&apos;"></div>
                <div class="dot2_thumb4 thumb_" rv-nav="m.common.nav_dot2_thumb4" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_26&apos;"></div>
                <div class="dot2_thumb5 thumb_" rv-nav="m.common.nav_dot2_thumb5" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_20&apos;"></div>
                <div class="dot2_thumb6 thumb_" rv-nav="m.common.nav_dot2_thumb6" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_22&apos;"></div>
                <div class="dot2_thumb7 thumb_" rv-nav="m.common.nav_dot2_thumb7" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_48&apos;"></div>
                <div class="dot2_thumb8 thumb_" rv-nav="m.common.nav_dot2_thumb8" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_27&apos;"></div>
                <div class="dot2_thumb9 thumb_" rv-nav="m.common.nav_dot2_thumb9" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_31&apos;"></div>
                <div class="dot2_thumb10 thumb_" rv-nav="m.common.nav_dot2_thumb10" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_39&apos;"></div>
                <div class="dot2_thumb11 thumb_" rv-nav="m.common.nav_dot2_thumb11" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_44&apos;"></div>
                <div class="dot2_thumb12 thumb_" rv-nav="m.common.nav_dot2_thumb12" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_56&apos;"></div>
            </div>
        </co-container>
        <co-container id="dot3" model="m.common.dot3" class="default thumb_wrap thumb_wrap_dot3" rv-class-act="activeNavItem | check-item &apos;chapter_ag9pvwxfd_dot3&apos;">
            <div class="bg_dot3">
                <div class="dot3_thumb1 thumb_" rv-nav="m.common.nav_dot3_thumb1" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_2&apos;"></div>
                <div class="dot3_thumb2 thumb_" rv-nav="m.common.nav_dot3_thumb2" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_6&apos;"></div>
                <div class="dot3_thumb3 thumb_" rv-nav="m.common.nav_dot3_thumb3" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_p194&apos;"></div>
                <div class="dot3_thumb4 thumb_" rv-nav="m.common.nav_dot3_thumb4" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_20&apos;"></div>
                <div class="dot3_thumb5 thumb_" rv-nav="m.common.nav_dot3_thumb5" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_44&apos;"></div>
                <div class="dot3_thumb6 thumb_" rv-nav="m.common.nav_dot3_thumb6" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_48&apos;"></div>
                <div class="dot3_thumb7 thumb_" rv-nav="m.common.nav_dot3_thumb7" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_27&apos;"></div>
                <div class="dot3_thumb8 thumb_" rv-nav="m.common.nav_dot3_thumb8" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_44&apos;"></div>
                <div class="dot3_thumb9 thumb_" rv-nav="m.common.nav_dot3_thumb9" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_31&apos;"></div>
                <div class="dot3_thumb10 thumb_" rv-nav="m.common.nav_dot3_thumb10" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_NewAss_3&apos;"></div>
                <div class="dot3_thumb11 thumb_" rv-nav="m.common.nav_dot3_thumb11" rv-class-act_thumb="activeItem | check-item &apos;Brintellix_56&apos;"></div>
            </div>
        </co-container>
    </co-container>
</div>
<link rv-import="co-text-button">
<co-text-button id="co-text-button_3eaa14ad" model="m.common.co-text-button_3eaa14ad" class="default" rv-nav="m.common.nav_f604ca7e"></co-text-button>
<link rv-import="co-text-button">
<co-text-button id="co-text-button_a4ab06cd" model="m.common.co-text-button_a4ab06cd" class="default" rv-nav="m.common.nav_1de32695"></co-text-button>
<link rv-import="co-text-button">
<co-text-button id="co-text-button_a9357b60" model="m.common.co-text-button_a9357b60" class="default" rv-nav="m.common.nav_d29d4349"></co-text-button>
<link rv-import="co-text-button">
<co-text-button id="co-text-button_32a79db2" model="m.common.co-text-button_32a79db2" class="default" rv-nav="m.common.nav_d95f2fd8"></co-text-button>
<link rv-import="co-text-button">
<link rv-import="co-text-button">
<link rv-import="co-text">