.myScrollbarV {
	position:absolute;
	z-index:100;
	width:11px;
	bottom:7px;
	top:2px;
	right:1px;
	background:url("../images/scroller.png") repeat-y scroll center top;
	-webkit-border-radius:4px;
}

.myScrollbarV > div {
	position:absolute;
	width:11px;
	background: url("../images/scroller_handle.png") repeat-y;
	-webkit-border-radius:4px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}


