#kja6iiixImage {
  width: 878px;
  height: 349px;
  -webkit-transform: matrix(1, 0, 0, 1, 92, 191);
  transform: matrix(1, 0, 0, 1, 92, 191);
}

#kja6iiiyImage {
  width: 192px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 434, 727);
  transform: matrix(1, 0, 0, 1, 434, 727);
}

#kja6iiizImage {
  width: 192px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 243, 727);
  transform: matrix(1, 0, 0, 1, 243, 727);
}

#kja6iij0Image {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 623, 727);
  transform: matrix(1, 0, 0, 1, 623, 727);
}

#kja6iij1Image {
  width: 191px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kja6iij2Image {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#co-popup_83b14bc3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_59/d70b5a34.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_83b14bc3 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 312.5);
  transform: matrix(1, 0, 0, 1, -120, 312.5);
  opacity: 0;
}

#co-text_4f7e82ba {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_8b96158e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  z-index: 2;
  width: 460px;
  height: 20px;
}

#co-text-button_5e79dc79 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 493.25, 30.25);
  transform: matrix(1, 0, 0, 1, 493.25, 30.25);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_5dc341f3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 183.25, 135.25);
  transform: matrix(1, 0, 0, 1, 183.25, 135.25);
  z-index: 3;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-popup_83b14bc3 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 310);
  transform: matrix(1, 0, 0, 1, -121.25, 310);
  opacity: 0;
}

#co-text-button_5e79dc79 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_5e79dc79 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_5dc341f3 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_5dc341f3 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_01aea3ca {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 244.50, 727.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 244.50, 727.00) translate3d(0,0,0);
  z-index: 4;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 190px;
  height: 40px;
}

#co-text-button_01aea3ca > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_01aea3ca > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_166fe079 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 433.25, 727.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 433.25, 727.00) translate3d(0,0,0);
  z-index: 5;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  height: 40px;
  width: 190px;
}

#co-text-button_166fe079 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_166fe079 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_9f10b0f0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 625.75, 727.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 625.75, 727.00) translate3d(0,0,0);
  z-index: 6;
  width: 190px;
  height: 40px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_9f10b0f0 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_9f10b0f0 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#pf3 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#kja6iij6Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

#kja6iijbText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kja6iijaText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 42.4, -1.6);
  transform: matrix(0.5, 0, 0, 0.5, 42.4, -1.6);
}

#kja6iij8Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_8b96158e > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}