#kihkcveuImage {
  width: 79px;
  height: 442px;
  -webkit-transform: matrix(1, 0, 0, 1, 102, 165);
  transform: matrix(1, 0, 0, 1, 102, 165);
}

#kihkcvevImage {
  width: 714px;
  height: 73px;
  -webkit-transform: matrix(1, 0, 0, 1, 201, 422);
  transform: matrix(1, 0, 0, 1, 201, 422);
}

#kihkcvewImage {
  width: 2px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kihkcvexImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
overflow: visible;}

#kihkcveyImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 727);
  transform: matrix(1, 0, 0, 1, 150, 727);
}

#kihkcvezImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 247, 727);
  transform: matrix(1, 0, 0, 1, 247, 727);
}

#kihkcvf0Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 344, 727);
  transform: matrix(1, 0, 0, 1, 344, 727);
}

#kihkcvf1Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 441, 727);
  transform: matrix(1, 0, 0, 1, 441, 727);
}

#kihkcvf2Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kihkcvf3Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 635, 727);
  transform: matrix(1, 0, 0, 1, 635, 727);
}

#kihkcvf4Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 829, 727);
  transform: matrix(1, 0, 0, 1, 829, 727);
}

#kihkcvf5Image {
  width: 98px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 926, 727);
  transform: matrix(1, 0, 0, 1, 926, 727);
overflow: visible;}

#kihkcvf6Image {
  width: 98px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 733, 728);
  transform: matrix(1, 0, 0, 1, 733, 728);
}

#kihkcvf7Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 732, 727);
  transform: matrix(1, 0, 0, 1, 732, 727);
}

#kihkcvf8Image {
  width: 7px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 202, 570);
  transform: matrix(1, 0, 0, 1, 202, 570);
}

#kihkcvf9Image {
  width: 7px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 202, 601);
  transform: matrix(1, 0, 0, 1, 202, 601);
}

#co-text-button_8fb68096 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 638.25, 26.5);
  transform: matrix(1, 0, 0, 1, 638.25, 26.5);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_8fb68096 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_8fb68096 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_33e5ed13 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_17/c59c17c5.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_33e5ed13 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.75, 312.5);
  transform: matrix(1, 0, 0, 1, -123.75, 312.5);
  opacity: 0;
}

#co-text_29a7ff6b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_0d86aad9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  z-index: 2;
  width: 20px;
  height: 20px;
}

#co-text_0fa786bb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 390);
  transform: matrix(1, 0, 0, 1, 170, 390);
  z-index: 3;
  width: 690px;
  height: 40px;
}

#co-popup_33e5ed13 > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.67, 310.67);
  transform: matrix(1, 0, 0, 1, -122.67, 310.67);
  opacity: 0;
  z-index: 1;
}

#co-image_2cdc5cf8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 849.6, 313.6);
  transform: matrix(1, 0, 0, 1, 849.6, 313.6);
  z-index: 0;
  width: 48px;
  height: 47px;
}

#co-popup_33e5ed13 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -125.45, 310.91);
  transform: matrix(1, 0, 0, 1, -125.45, 310.91);
  opacity: 0;
}

#co-container_918b6247 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 727);
  transform: matrix(1, 0, 0, 1, 55, 727);
  z-index: 3;
  width: 968px;
  height: 40px;
}

#co-text_f0ceff3d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0.4, 0);
  transform: matrix(1, 0, 0, 1, 0.4, 0);
  z-index: 1;
  width: 94px;
  height: 40px;
  opacity: 0;
}

#co-text_dd371b09 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 94, 1);
  transform: matrix(1, 0, 0, 1, 94, 1);
  z-index: 2;
  width: 100px;
  height: 40px;
  opacity: 0;
}

#co-text_4bfdb23b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 191.6, 0);
  transform: matrix(1, 0, 0, 1, 191.6, 0);
  z-index: 3;
  width: 98px;
  height: 40px;
  opacity: 0;
}

#co-text_340918c1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 287.6, 0);
  transform: matrix(1, 0, 0, 1, 287.6, 0);
  z-index: 4;
  width: 100px;
  height: 40px;
  opacity: 0;
}

#co-text_c119a347 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 385.6, -1);
  transform: matrix(1, 0, 0, 1, 385.6, -1);
  z-index: 5;
  width: 97px;
  height: 41px;
  opacity: 0;
}

#co-text_9dc9afa3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 482.8, 1);
  transform: matrix(1, 0, 0, 1, 482.8, 1);
  z-index: 6;
  width: 100px;
  height: 39px;
  opacity: 0;
}

#co-text_8b39b1c2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 581.4, -2);
  transform: matrix(1, 0, 0, 1, 581.4, -2);
  z-index: 7;
  width: 98px;
  height: 42px;
  opacity: 0;
}

#co-text_cfe76c6d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 775.2, 1);
  transform: matrix(1, 0, 0, 1, 775.2, 1);
  z-index: 8;
  width: 97px;
  height: 39px;
  opacity: 0;
}

#co-text_59050b6b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 871, 1);
  transform: matrix(1, 0, 0, 1, 871, 1);
  z-index: 9;
  width: 96px;
  height: 39px;
  opacity: 0;
}

#kihkcvfkText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_0fa786bb > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}