#kkocu6q3Image {
  width: 129px;
  height: 51px;
  -webkit-transform: matrix(1, 0, 0, 1, 844, 0);
  transform: matrix(1, 0, 0, 1, 844, 0);
}

#kkocu6q4Image {
  width: 52px;
  height: 51px;
  -webkit-transform: matrix(1, 0, 0, 1, 972, 0);
  transform: matrix(1, 0, 0, 1, 972, 0);
}

#kkocu6q5Image {
  width: 79px;
  height: 35px;
  -webkit-transform: matrix(1, 0, 0, 1, 870, 6);
  transform: matrix(1, 0, 0, 1, 870, 6);
}

#kkocu6q6Image {
  width: 68px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 950, 154);
  transform: matrix(1, 0, 0, 1, 950, 154);
}

#kkocu6q7Image {
  width: 76px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 946, 206);
  transform: matrix(1, 0, 0, 1, 946, 206);
}

#kkocu6q8Image {
  width: 75px;
  height: 117px;
  -webkit-transform: matrix(1, 0, 0, 1, 241, 325);
  transform: matrix(1, 0, 0, 1, 241, 325);
}

#kkocu6q9Image {
  width: 40px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 202, 421);
  transform: matrix(1, 0, 0, 1, 202, 421);
}

#kkocu6qaImage {
  width: 169px;
  height: 170px;
  -webkit-transform: matrix(1, 0, 0, 1, 264, 245);
  transform: matrix(1, 0, 0, 1, 264, 245);
}

#kkocu6qbImage {
  width: 109px;
  height: 223px;
  -webkit-transform: matrix(1, 0, 0, 1, 744, 319);
  transform: matrix(1, 0, 0, 1, 744, 319);
}

#kkocu6qcImage {
  width: 102px;
  height: 150px;
  -webkit-transform: matrix(1, 0, 0, 1, 751, 343);
  transform: matrix(1, 0, 0, 1, 751, 343);
}

#kkocu6qdImage {
  width: 94px;
  height: 116px;
  -webkit-transform: matrix(1, 0, 0, 1, 758, 327);
  transform: matrix(1, 0, 0, 1, 758, 327);
}

#kkocu6qeImage {
  width: 116px;
  height: 272px;
  -webkit-transform: matrix(1, 0, 0, 1, 737, 322);
  transform: matrix(1, 0, 0, 1, 737, 322);
}

#kkocu6qfImage {
  width: 36px;
  height: 18px;
  -webkit-transform: matrix(1, 0, 0, 1, 852, 491);
  transform: matrix(1, 0, 0, 1, 852, 491);
}

#kkocu6qgImage {
  width: 69px;
  height: 118px;
  -webkit-transform: matrix(1, 0, 0, 1, 625, 324);
  transform: matrix(1, 0, 0, 1, 625, 324);
}

#kkocu6qhImage {
  width: 36px;
  height: 36px;
  -webkit-transform: matrix(1, 0, 0, 1, 853, 523);
  transform: matrix(1, 0, 0, 1, 853, 523);
}

#kkocu6qiImage {
  width: 40px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 850, 420);
  transform: matrix(1, 0, 0, 1, 850, 420);
}

#kkocu6qjImage {
  width: 40px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 850, 471);
  transform: matrix(1, 0, 0, 1, 850, 471);
}

#kkocu6qkImage {
  width: 40px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 850, 521);
  transform: matrix(1, 0, 0, 1, 850, 521);
}

#kkocu6qlImage {
  width: 36px;
  height: 36px;
  -webkit-transform: matrix(1, 0, 0, 1, 853, 574);
  transform: matrix(1, 0, 0, 1, 853, 574);
}

#kkocu6qmImage {
  width: 40px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 850, 571);
  transform: matrix(1, 0, 0, 1, 850, 571);
}

#kkocu6qnImage {
  width: 122px;
  height: 307px;
  -webkit-transform: matrix(1, 0, 0, 1, 730, 337);
  transform: matrix(1, 0, 0, 1, 730, 337);
}

#kkocu6qoImage {
  width: 36px;
  height: 36px;
  -webkit-transform: matrix(1, 0, 0, 1, 853, 624);
  transform: matrix(1, 0, 0, 1, 853, 624);
}

#kkocu6qpImage {
  width: 40px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 850, 621);
  transform: matrix(1, 0, 0, 1, 850, 621);
}

#kkocu6qqImage {
  width: 169px;
  height: 170px;
  -webkit-transform: matrix(1, 0, 0, 1, 642, 245);
  transform: matrix(1, 0, 0, 1, 642, 245);
}

#kkocu6qrImage {
  width: 41px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 586, 419);
  transform: matrix(1, 0, 0, 1, 586, 419);
}

#kkocu6quImage {
  width: 25px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 366, 630);
  transform: matrix(1, 0, 0, 1, 366, 630);
}

#kkocu6qvImage {
  width: 22px;
  height: 11px;
  -webkit-transform: matrix(1, 0, 0, 1, 217, 642);
  transform: matrix(1, 0, 0, 1, 217, 642);
}

#kkocu6qwImage {
  width: 25px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 216, 630);
  transform: matrix(1, 0, 0, 1, 216, 630);
}

#kkocu6qxImage {
  width: 22px;
  height: 22px;
  -webkit-transform: matrix(1, 0, 0, 1, 484, 632);
  transform: matrix(1, 0, 0, 1, 484, 632);
}

#kkocu6qyImage {
  width: 25px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 482, 630);
  transform: matrix(1, 0, 0, 1, 482, 630);
}

#kkocu6qzImage {
  width: 25px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 105, 631);
  transform: matrix(1, 0, 0, 1, 105, 631);
}

#kkocu6r0Image {
  width: 192px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 243, 727);
  transform: matrix(1, 0, 0, 1, 243, 727);
}

#kkocu6r1Image {
  width: 191px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kkocu6r2Image {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kkocu6r3Image {
  width: 69px;
  height: 768px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#kkocu6r4Image {
  width: 54px;
  height: 768px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#kkocu6r5Image {
  width: 54px;
  height: 768px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-popup_5fa4077e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_p194/6047295f.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_5fa4077e>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -44, 48.8);
  transform: matrix(1, 0, 0, 1, -44, 48.8);
  opacity: 0;
}

#co-text_3167e72f {
  top: -21px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 80.4, 649.4);
  transform: matrix(1, 0, 0, 1, 80.4, 649.4);
  z-index: 1;
  width: 274px;
  height: 18px;
  opacity: 0;
background: red;}

#co-text_84e2b9cb {
  top: -20px;
  left: 149px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 210.8, 647.6);
  transform: matrix(1, 0, 0, 1, 210.8, 647.6);
  z-index: 2;
  width: 298px;
  height: 19px;
  opacity: 0;
background: red;}

#co-text_e49f7897 {
  top: -21px;
  left: 337px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 324.4, 646.6);
  transform: matrix(1, 0, 0, 1, 324.4, 646.6);
  z-index: 3;
  width: 261px;
  height: 20px;
  opacity: 0;
background: yellow;}

#co-text_d39a12dd {
  top: -5px;
  left: -282px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 459.8, 648.6);
  transform: matrix(1, 0, 0, 1, 459.8, 648.6);
  z-index: 4;
  width: 264px;
  height: 18px;
  opacity: 0;
background: yellow;}

#co-text_ea4cc3e3 {
  top: -3px;
  left: -136px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 581.2, 648.6);
  transform: matrix(1, 0, 0, 1, 581.2, 648.6);
  z-index: 5;
  width: 389px;
  height: 18px;
  opacity: 0;
background: rebeccapurple;}

#co-text_291386ba {
  top: 11px;
  left: -625px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 706.6, 647.6);
  transform: matrix(1, 0, 0, 1, 706.6, 647.6);
  z-index: 6;
  width: 236px;
  height: 20px;
  opacity: 0;
background: rebeccapurple;}

#co-text_619959ca {
  top: 10px;
  left: -476px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 800.2, 650.4);
  transform: matrix(1, 0, 0, 1, 800.2, 650.4);
  z-index: 7;
  width: 298px;
  height: 17px;
  opacity: 0;
background: red;}

#co-text_a29fc3a0 {
  top: -5px;
  left: 544px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 80.4, 665.8);
  transform: matrix(1, 0, 0, 1, 80.4, 665.8);
  z-index: 8;
  width: 312px;
  height: 17px;
  opacity: 0;
background: yellow;}

#co-text_97b85953 {
  top: 9px;
  left: -92px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 195.6, 666.2);
  transform: matrix(1, 0, 0, 1, 195.6, 666.2);
  z-index: 9;
  width: 296px;
  height: 14px;
  opacity: 0;
background: red;}

#co-text_730d77db {
  top: 8px;
  left: 43px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 367.6, 667.2);
  transform: matrix(1, 0, 0, 1, 367.6, 667.2);
  z-index: 10;
  width: 287px;
  height: 13px;
  opacity: 0;
background: yellow;}

#co-text_694fab66 {
  top: 9px;
  left: 45px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 663.6, 666.2);
  transform: matrix(1, 0, 0, 1, 663.6, 666.2);
  z-index: 11;
  width: 218px;
  height: 14px;
  opacity: 0;
background: red;}

#co-text_8c673d33 {
  top: 21px;
  left: -630px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 814, 667);
  transform: matrix(1, 0, 0, 1, 814, 667);
  z-index: 12;
  width: 335px;
  height: 14px;
  opacity: 0;
background: yellow;}

#co-text_723aa240 {
  top: 6px;
  left: 416px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110.8, 681.4);
  transform: matrix(1, 0, 0, 1, 110.8, 681.4);
  z-index: 13;
  width: 229px;
  height: 18px;
  opacity: 0;
background: rebeccapurple;}

#co-text_cbf27ca8 {
  top: 22px;
  left: -135px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 219.6, 681.2);
  transform: matrix(1, 0, 0, 1, 219.6, 681.2);
  z-index: 14;
  width: 244px;
  height: 19px;
  opacity: 0;
background: red;}

#co-text_665d779d {
  top: 22px;
  left: -60px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 388.4, 681.2);
  transform: matrix(1, 0, 0, 1, 388.4, 681.2);
  z-index: 15;
  width: 267px;
  height: 19px;
  opacity: 0;
background: yellow;}

#co-text_de9ad6a5 {
  top: 23px;
  left: -84px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 691.2, 681.8);
  transform: matrix(1, 0, 0, 1, 691.2, 681.8);
  z-index: 16;
  width: 353px;
  height: 16px;
  opacity: 0;
background: red;}

#co-text-button_516b8247 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 467.8, 89.8);
  transform: matrix(1, 0, 0, 1, 467.8, 89.8);
  z-index: 2;
  width: 64px;
  height: 41px;
  opacity: 0;
}

#co-text-button_5261b729 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 454, 167.6);
  transform: matrix(1, 0, 0, 1, 454, 167.6);
  z-index: 3;
  width: 36px;
  height: 34px;
  opacity: 0;
}

#co-popup_24ace0cb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_p194/b3985959.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_24ace0cb>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.2, 287.2);
  transform: matrix(1, 0, 0, 1, -123.2, 287.2);
  opacity: 0;
}

#co-text_c66a0406 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 322);
  transform: matrix(1, 0, 0, 1, 170, 322);
  z-index: 1;
  width: 191px;
  height: 20px;
}

#co-text_78cae103 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 359);
  transform: matrix(1, 0, 0, 1, 170, 359);
  z-index: 2;
  width: 547px;
  height: 21px;
}

#co-text_2bad5552 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 387);
  transform: matrix(1, 0, 0, 1, 170, 387);
  z-index: 3;
  width: 561px;
  height: 22px;
}

#co-text_93447288 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 417);
  transform: matrix(1, 0, 0, 1, 170, 417);
  z-index: 4;
  width: 470px;
  height: 21px;
}

#co-popup_5fa4077e>co-button:nth-child(17)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -45, 49);
  transform: matrix(1, 0, 0, 1, -45, 49);
  opacity: 0;
}

#co-popup_24ace0cb>co-button:nth-child(5)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.8, 287.2);
  transform: matrix(1, 0, 0, 1, -120.8, 287.2);
  opacity: 0;
}

#pf1>div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-text-button_1c1c4748 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 243.37, 726.28);
  transform: matrix(1, 0, 0, 1, 243.37, 726.28);
  z-index: 4;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 191px;
  height: 41px;
}

#co-text-button_1c1c4748>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_1c1c4748>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-popup_1c8f2327 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 10002;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_p194/9dd99345.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_1c8f2327>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.27, 89.09);
  transform: matrix(1, 0, 0, 1, -77.27, 89.09);
  opacity: 0;
}

#co-video_bba12d98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 153.37, 195.84);
  transform: matrix(1, 0, 0, 1, 153.37, 195.84);
  z-index: 16;
  width: 720px;
  height: 406px;
}

co-video.default .init[co-video]::after {
  border-top: 10px solid transparent;
  border-left: 40px solid #fff;
  border-bottom: 10px solid transparent;
}

co-video.default .init[co-video]::before {
  background: url("../media/images/Brintellix_p194/btn_play.png") no-repeat;
  width: 105px;
  height: 105px;
  border: 0;
}

co-video.default .video-controls[co-video],
.show-controls:not(.init)[co-video] .video-controls[co-video] {
  background: url("../media/images/Brintellix_p194/video/controlbar.png") repeat-x;
  height: 44px;
  left: 0;
  right: 0;
  margin: auto;
}

co-video.default .video-player:not(.playing)[co-video] .play-pause[co-video]::before {
  border-left: 15px solid #fff;
}

.video-player:not(.playing)[co-video] .play-pause[co-video]::before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#co-popup_1c8f2327 > co-button:nth-child(2) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78.18, 88.18);
  transform: matrix(1, 0, 0, 1, -78.18, 88.18);
  opacity: 0;
}

#co-text_3167e72f > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}
#co-text_694fab6600{position: absolute;left: 85px;top: 688px;width: 95px;height: 16px;opacity: 0;}
#co-text_cbf27ca800{position: absolute;left: 762px;top: 688px;width: 161px;height: 16px;opacity: 0;}
#co-popup_5fa4077e co-button.close-button{right: 93px;top: 47px;opacity: 0;}