#kihkcfpzImage {
  width: 884px;
  height: 203px;
  -webkit-transform: matrix(1, 0, 0, 1, 104, 226);
  transform: matrix(1, 0, 0, 1, 104, 226);
}

#kihkcfq0Image {
  width: 278px;
  height: 75px;
  -webkit-transform: matrix(1, 0, 0, 1, 406, 544);
  transform: matrix(1, 0, 0, 1, 406, 544);
}

#kihkcfq2Image {
  width: 279px;
  height: 75px;
  -webkit-transform: matrix(1, 0, 0, 1, 103, 544);
  transform: matrix(1, 0, 0, 1, 103, 544);
}

#kihkcfq4Image {
  width: 278px;
  height: 75px;
  -webkit-transform: matrix(1, 0, 0, 1, 708, 544);
  transform: matrix(1, 0, 0, 1, 708, 544);
}

#kihkcfq6Image {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 727);
  transform: matrix(1, 0, 0, 1, 54, 727);
}

#kihkcfq7Image {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 133, 727);
  transform: matrix(1, 0, 0, 1, 133, 727);
}

#kihkcfq8Image {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 661, 727);
  transform: matrix(1, 0, 0, 1, 661, 727);
}

#kihkcfq9Image {
  width: 100px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 780, 727);
  transform: matrix(1, 0, 0, 1, 780, 727);
}

#kihkcfqaImage {
  width: 146px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 878, 727);
  transform: matrix(1, 0, 0, 1, 878, 727);
}

#kihkcfqbImage {
  width: 147px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 331, 727);
  transform: matrix(1, 0, 0, 1, 331, 727);
}

#kihkcfqcImage {
  width: 186px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 727);
  transform: matrix(1, 0, 0, 1, 477, 727);
}

#kihkcfqdImage {
  width: 80px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 253, 728);
  transform: matrix(1, 0, 0, 1, 253, 728);
}

#kihkcfqeImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 252, 727);
  transform: matrix(1, 0, 0, 1, 252, 727);
}

#co-popup_63bd8842 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_4/e0a1133f.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_63bd8842 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.8, 310.4);
  transform: matrix(1, 0, 0, 1, -120.8, 310.4);
  opacity: 0;
}

#co-text_be94b2e6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 358.8);
  transform: matrix(1, 0, 0, 1, 150, 358.8);
  z-index: 1;
  width: 265px;
  height: 25px;
}

#co-text_be94b2e6 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_1753a4e4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 166.8, 394.8);
  transform: matrix(1, 0, 0, 1, 166.8, 394.8);
  z-index: 2;
  width: 380px;
  height: 25px;
}

#co-text_1753a4e4 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_612257f4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 312.4, 160.8);
  transform: matrix(1, 0, 0, 1, 312.4, 160.8);
  z-index: 2;
  width: 41px;
  height: 28px;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
}

#co-text-button_e2c5c393 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 972.4, 473.6);
  transform: matrix(1, 0, 0, 1, 972.4, 473.6);
  z-index: 3;
  width: 35px;
  height: 38px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
}

#co-text_e9a5f0f4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 394.8);
  transform: matrix(1, 0, 0, 1, 150, 394.8);
  z-index: 3;
  width: 28px;
  height: 24px;
}

#co-popup_63bd8842 > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 311.25);
  transform: matrix(1, 0, 0, 1, -121.25, 311.25);
  opacity: 0;
  z-index: 1;
}

#co-image_262338c1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 853.6, 314.4);
  transform: matrix(1, 0, 0, 1, 853.6, 314.4);
  z-index: 0;
  width: 47px;
  height: 47px;
}

#co-popup_63bd8842 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.82, 311.82);
  transform: matrix(1, 0, 0, 1, -121.82, 311.82);
  opacity: 0;
}

#co-container_44bdb47b {
  top: 1px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 56, 727);
  transform: matrix(1, 0, 0, 1, 56, 727);
  z-index: 4;
  width: 967px;
  height: 41px;
}

#co-text_ff4784cf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -0.4, 2);
  transform: matrix(1, 0, 0, 1, -0.4, 2);
  z-index: 1;
  width: 77px;
  height: 38px;
  opacity: 0;
}

#co-text_95591640 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 77.4, 1);
  transform: matrix(1, 0, 0, 1, 77.4, 1);
  z-index: 2;
  width: 119px;
  height: 40px;
  opacity: 0;
}

#co-text_5f129353 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 274.8, 3);
  transform: matrix(1, 0, 0, 1, 274.8, 3);
  z-index: 3;
  width: 147px;
  height: 37px;
  opacity: 0;
}

#co-text_d1afd572 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 421.8, 1);
  transform: matrix(1, 0, 0, 1, 421.8, 1);
  z-index: 4;
  width: 184px;
  height: 39px;
  opacity: 0;
}

#co-text_84af13fb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 604.6, -1.2);
  transform: matrix(1, 0, 0, 1, 604.6, -1.2);
  z-index: 5;
  width: 122px;
  height: 42px;
  opacity: 0;
}

#co-text_b2427c4a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 724.4, 1);
  transform: matrix(1, 0, 0, 1, 724.4, 1);
  z-index: 6;
  width: 99px;
  height: 40px;
  opacity: 0;
}

#co-text_0325898f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 823, 1);
  transform: matrix(1, 0, 0, 1, 823, 1);
  z-index: 7;
  width: 144px;
  height: 39px;
  opacity: 0;
}

#kihkcfqjText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kihkcfqlText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kihkcfqiText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_bb90cb72 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 103.25, 544);
  transform: matrix(1, 0, 0, 1, 103.25, 544);
  z-index: 5;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 278px;
  height: 75px;
}

#co-text-button_bb90cb72 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_bb90cb72 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_3c3b4dc2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 405.75, 545.25);
  transform: matrix(1, 0, 0, 1, 405.75, 545.25);
  z-index: 6;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 278px;
  height: 73px;
}

#co-text-button_3c3b4dc2 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_3c3b4dc2 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_3586dcdc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 708.25, 544);
  transform: matrix(1, 0, 0, 1, 708.25, 544);
  z-index: 7;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 278px;
  height: 76px;
}

#co-text-button_3586dcdc > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_3586dcdc > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}