#kj8tw7agImage {
  width: 75px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 948, 134);
  transform: matrix(1, 0, 0, 1, 948, 134);
}

#kj8tw7ahImage {
  width: 743px;
  height: 320px;
  -webkit-transform: matrix(1, 0, 0, 1, 122, 173);
  transform: matrix(1, 0, 0, 1, 122, 173);
}

#kj8tw7aiImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tw7ajImage {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kj8tw7akImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 377, 727);
  transform: matrix(1, 0, 0, 1, 377, 727);
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
}

#kj8tw7alImage {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 704);
  transform: matrix(1, 0, 0, 1, 54, 704);
}

#kj8tw7amImage {
  width: 114px;
  height: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 392, 705);
  transform: matrix(1, 0, 0, 1, 392, 705);
}

#kj8tw7anImage {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 392, 704);
  transform: matrix(1, 0, 0, 1, 392, 704);
}

#kj8tw7aoImage {
  width: 114px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 505, 704);
  transform: matrix(1, 0, 0, 1, 505, 704);
}

#kj8tw7apImage {
  width: 114px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 167, 704);
  transform: matrix(1, 0, 0, 1, 167, 704);
}

#kj8tw7aqImage {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 279, 704);
  transform: matrix(1, 0, 0, 1, 279, 704);
}

#co-text_51b6d1d6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 858.8, 49.8);
  transform: matrix(1, 0, 0, 1, 858.8, 49.8);
  z-index: 1;
  width: 54px;
  height: 46px;
  opacity: 0;
}

#kj8tw7awText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -18.4, 0);
  transform: matrix(0, -0.5, 0.5, 0, -18.4, 0);
}

#co-popup_be77bf1b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_42/34945130.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_25ecef5a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 349.2);
  transform: matrix(1, 0, 0, 1, 170, 349.2);
  z-index: 1;
  width: 153px;
  height: 34px;
}

#co-text_31beba4b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 385.2);
  transform: matrix(1, 0, 0, 1, 170, 385.2);
  z-index: 2;
  width: 460px;
  height: 25px;
}

#co-popup_be77bf1b > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.4, 309.6);
  transform: matrix(1, 0, 0, 1, -122.4, 309.6);
  opacity: 0;
}

#co-popup_be77bf1b > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122, 309);
  transform: matrix(1, 0, 0, 1, -122, 309);
  opacity: 0;
}

#co-container_56f8fbdb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55.6, 703.01);
  transform: matrix(1, 0, 0, 1, 55.6, 703.01);
  z-index: 2;
  width: 567px;
  height: 65px;
}

#co-text_3cb55087 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -0.4, -19);
  transform: matrix(1, 0, 0, 1, -0.4, -19);
  z-index: 1;
  width: 111px;
  height: 45px;
  opacity: 0;
}

#co-text_7426ccd0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.6, -17.2);
  transform: matrix(1, 0, 0, 1, 111.6, -17.2);
  z-index: 2;
  width: 116px;
  height: 45px;
  opacity: 0;
}

#co-text_2db801df {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 227.6, -18);
  transform: matrix(1, 0, 0, 1, 227.6, -18);
  z-index: 3;
  width: 112px;
  height: 45px;
  opacity: 0;
}

#co-text_2a2ebd24 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 450.8, -18.2);
  transform: matrix(1, 0, 0, 1, 450.8, -18.2);
  z-index: 4;
  width: 115px;
  height: 45px;
  opacity: 0;
}

#co-text_49cad2d8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 161.2, 26);
  transform: matrix(1, 0, 0, 1, 161.2, 26);
  z-index: 5;
  width: 164px;
  height: 39px;
  opacity: 0;
}

#kj8tw7avText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 2.4, -52);
  transform: matrix(0.5, 0, 0, 0.5, 2.4, -52);
}

#co-text_162cda5b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 430.8, 743);
  transform: matrix(1, 0, 0, 1, 430.8, 743);
  z-index: 1;
  width: 70px;
  height: 14px;
}

#co-text_8db34e46 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 323, 27);
  transform: matrix(1, 0, 0, 1, 323, 27);
  z-index: 6;
  width: 162px;
  height: 36px;
  opacity: 0;
}