#kihkckuzImage {
  width: 317px;
  height: 51px;
  -webkit-transform: matrix(1, 0, 0, 1, 390, 578);
  transform: matrix(1, 0, 0, 1, 390, 578);
}

#kihkckv1Image {
  width: 882px;
  height: 379px;
  -webkit-transform: matrix(1, 0, 0, 1, 100, 155);
  transform: matrix(1, 0, 0, 1, 100, 155);
}

#kihkckv2Image {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 727);
  transform: matrix(1, 0, 0, 1, 54, 727);
}

#kihkckv3Image {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 252, 727);
  transform: matrix(1, 0, 0, 1, 252, 727);
}

#kihkckv4Image {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 133, 727);
  transform: matrix(1, 0, 0, 1, 133, 727);
}

#kihkckv5Image {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 661, 727);
  transform: matrix(1, 0, 0, 1, 661, 727);
}

#kihkckv6Image {
  width: 146px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 878, 727);
  transform: matrix(1, 0, 0, 1, 878, 727);
}

#kihkckv7Image {
  width: 147px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 331, 727);
  transform: matrix(1, 0, 0, 1, 331, 727);
}

#kihkckv8Image {
  width: 186px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 727);
  transform: matrix(1, 0, 0, 1, 477, 727);
}

#kihkckv9Image {
  width: 99px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 780, 728);
  transform: matrix(1, 0, 0, 1, 780, 728);
}

#kihkckvaImage {
  width: 316px;
  height: 50px;
  -webkit-transform: matrix(1, 0, 0, 1, 391, 629);
  transform: matrix(1, 0, 0, 1, 391, 629);
}

#co-popup_c30b5137 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_8/43645e22.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_c30b5137 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 281.6);
  transform: matrix(1, 0, 0, 1, -121.6, 281.6);
  opacity: 0;
}

#co-popup_c30b513700 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_8/pu1.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_c30b513700 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 281.6);
  transform: matrix(1, 0, 0, 1, -121.6, 281.6);
  opacity: 0;
}
#co-popup_c30b513700 co-button{position: absolute;right: 101px;top: 51px;opacity: 0;}
#co-text_7a434a96 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 316.4);
  transform: matrix(1, 0, 0, 1, 150, 316.4);
  z-index: 1;
  width: 141px;
  height: 34px;
}

#co-text_7a434a96 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b8b66bf0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 166, 425.6);
  transform: matrix(1, 0, 0, 1, 166, 425.6);
  z-index: 2;
  width: 407px;
  height: 25px;
}

#co-text_b8b66bf0 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_3b7149a8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 499, 48);
  transform: matrix(1, 0, 0, 1, 499, 48);
  z-index: 2;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
  width: 45px;
  height: 42px;
}

#co-text-button_5525853b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 623.4, 305.6);
  transform: matrix(1, 0, 0, 1, 623.4, 305.6);
  z-index: 3;
  width: 30px;
  height: 24px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
}

#co-text-button_ddceb3f7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 603.8, 408.8);
  transform: matrix(1, 0, 0, 1, 603.8, 408.8);
  z-index: 4;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 37px;
  height: 37px;
}

#co-text_52ff3e01 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 167.6, 352.4);
  transform: matrix(1, 0, 0, 1, 167.6, 352.4);
  z-index: 3;
  width: 410px;
  height: 26px;
}

#co-text_b77c8849 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 167.6, 378.8);
  transform: matrix(1, 0, 0, 1, 167.6, 378.8);
  z-index: 4;
  width: 644px;
  height: 41px;
}

#co-text_0dd6dec9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 352.4);
  transform: matrix(1, 0, 0, 1, 150, 352.4);
  z-index: 5;
  width: 22px;
  height: 24px;
}

#co-text_b77c8849 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_be98359b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 378.8);
  transform: matrix(1, 0, 0, 1, 150, 378.8);
  z-index: 6;
  width: 21px;
  height: 22px;
}

#co-text_6038ca2e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 426);
  transform: matrix(1, 0, 0, 1, 150, 426);
  z-index: 7;
  width: 25px;
  height: 23px;
}

#co-popup_c30b5137 > co-button:nth-child(8) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 281.25);
  transform: matrix(1, 0, 0, 1, -122.5, 281.25);
  opacity: 0;
  z-index: 1;
}

#co-image_de586e87 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 856, 281.6);
  transform: matrix(1, 0, 0, 1, 856, 281.6);
  z-index: 0;
  width: 44px;
  height: 47px;
}

#kihkckvsText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 7.28);
  transform: matrix(0.5, 0, 0, 0.5, 0, 7.28);
}

#co-popup_c30b5137 > co-button:nth-child(9) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 280.91);
  transform: matrix(1, 0, 0, 1, -120, 280.91);
  opacity: 0;
}

#co-container_1f2e6e79 {
  top: 1px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 56, 727);
  transform: matrix(1, 0, 0, 1, 56, 727);
  z-index: 5;
  width: 968px;
  height: 40px;
}

#co-text_f3a70cdf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -1.2, 0);
  transform: matrix(1, 0, 0, 1, -1.2, 0);
  z-index: 1;
  width: 76px;
  height: 40px;
  opacity: 0;
}

#co-text_ab96dc92 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 75.6, 1);
  transform: matrix(1, 0, 0, 1, 75.6, 1);
  z-index: 2;
  width: 122px;
  height: 39px;
  opacity: 0;
}

#co-text_885f700a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 194.8, 3);
  transform: matrix(1, 0, 0, 1, 194.8, 3);
  z-index: 3;
  width: 81px;
  height: 36px;
  opacity: 0;
}

#co-text_c1fbecb4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 274.8, 1);
  transform: matrix(1, 0, 0, 1, 274.8, 1);
  z-index: 4;
  width: 147px;
  height: 39px;
  opacity: 0;
}

#co-text_a5a2a852 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 419.8, 1);
  transform: matrix(1, 0, 0, 1, 419.8, 1);
  z-index: 5;
  width: 186px;
  height: 40px;
  opacity: 0;
}

#co-text_ac2012c9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 605.2, 2);
  transform: matrix(1, 0, 0, 1, 605.2, 2);
  z-index: 6;
  width: 119px;
  height: 38px;
  opacity: 0;
}

#co-text_dac03da0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 823, 0);
  transform: matrix(1, 0, 0, 1, 823, 0);
  z-index: 7;
  width: 144px;
  height: 40px;
  opacity: 0;
}

#co-text-button_5525853b > co-button:nth-child(1) > co-text:nth-child(1) > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_944c43df {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 391.25, 629.75);
  transform: matrix(1, 0, 0, 1, 391.25, 629.75);
  z-index: 6;
  width: 316px;
  height: 47px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_944c43df > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_944c43df > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#kihkckvxText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 7, 47);
  transform: matrix(0.5, 0, 0, 0.5, 7, 47);
}

#co-text_fb118e2f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 389.91, 581.27);
  transform: matrix(1, 0, 0, 1, 389.91, 581.27);
  z-index: 8;
  width: 320px;
  height: 45px;
}
.co-popup_c30b513700{}
.pdf_link{position: absolute;left: 101px;bottom: 66px;width: 401px;height: 30px;}