#kj8tvz2qImage {
  width: 58px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 955, 175);
  transform: matrix(1, 0, 0, 1, 955, 175);
  z-index: 1;
}

#kj8tvz2rImage {
  width: 38px;
  height: 38px;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 965.00, 132.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 965.00, 132.00) translate3d(0,0,0);
}

#kj8tvz2sImage {
  width: 900px;
  height: 480px;
  -webkit-transform: matrix(1, 0, 0, 1, 101.2, 132.6);
  transform: matrix(1, 0, 0, 1, 101.2, 132.6);
}

#co-popup_2445cf28 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_36/c6156847.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_2445cf28 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 81.6);
  transform: matrix(1, 0, 0, 1, -76, 81.6);
  opacity: 0;
}

#co-popup_61174057 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_36/1a956f36.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_0a25d83a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 337.2);
  transform: matrix(1, 0, 0, 1, 170, 337.2);
  z-index: 1;
  width: 173px;
  height: 30px;
}

#co-text_f7803abb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 370.8);
  transform: matrix(1, 0, 0, 1, 170, 370.8);
  z-index: 2;
  width: 425px;
  height: 26px;
line-height: 1.4 !important;}

#co-popup_61174057 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.2, 301.6);
  transform: matrix(1, 0, 0, 1, -123.2, 301.6);
  opacity: 0;
}

#co-text_4cb7d1f3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 788.4, 547.6);
  transform: matrix(1, 0, 0, 1, 788.4, 547.6);
  z-index: 3;
  width: 39px;
  height: 35px;
  opacity: 0;
}

#co-text_8bd97e29 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 726.4, 47.6);
  transform: matrix(1, 0, 0, 1, 726.4, 47.6);
  z-index: 4;
  width: 54px;
  height: 41px;
  opacity: 0;
}

#co-text_07ae224c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 506, 612.2);
  transform: matrix(1, 0, 0, 1, 506, 612.2);
  z-index: 5;
  width: 28px;
  height: 28px;
  opacity: 0;
}

#co-text_13c598aa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 822.8, 610.4);
  transform: matrix(1, 0, 0, 1, 822.8, 610.4);
  z-index: 6;
  width: 36px;
  height: 25px;
  opacity: 0;
}

#co-popup_61174057 > co-button:nth-child(4) > co-container:nth-child(1) {
  width: 50px;
  height: 50px;
  -webkit-transform: matrix(1, 0, 0, 1, -124.8, 301.2);
  transform: matrix(1, 0, 0, 1, -124.8, 301.2);
  opacity: 0;
}

#co-text_05852d9e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 162, 131.64);
  transform: matrix(1, 0, 0, 1, 162, 131.64);
  z-index: 1;
  width: 740px;
  height: 34px;
}

#co-text_209b5c23 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.004, -1, 1, -0.004, -26.06, 364.45);
  transform: matrix(-0.004, -1, 1, -0.004, -26.06, 364.45);
  z-index: 2;
  width: 304px;
  height: 40px;
}

#co-text_fe31d59b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 166.48, 182.36);
  transform: matrix(1, 0, 0, 1, 166.48, 182.36);
  z-index: 3;
  width: 150px;
  height: 43px;
}

#co-text_876f9c81 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 306.77, 182.36);
  transform: matrix(1, 0, 0, 1, 306.77, 182.36);
  z-index: 4;
  width: 114px;
  height: 51px;
}

#co-text_a04f947f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 409.76, 185.34);
  transform: matrix(1, 0, 0, 1, 409.76, 185.34);
  z-index: 5;
  width: 150px;
  height: 49px;
}

#co-text_346286ad {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 527.67, 182.36);
  transform: matrix(1, 0, 0, 1, 527.67, 182.36);
  z-index: 6;
  width: 164px;
  height: 42px;
}

#co-text_a443ec2b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 656.03, 185.34);
  transform: matrix(1, 0, 0, 1, 656.03, 185.34);
  z-index: 7;
  width: 152px;
  height: 45px;
}

#co-text_91e7fdb3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 783.72, 182.36);
  transform: matrix(1, 0, 0, 1, 783.72, 182.36);
  z-index: 8;
  width: 134px;
  height: 45px;
}

#co-text_51d6f949 {
  top: 71px;
  left: 20px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 632.15, 533.1);
  transform: matrix(1, 0, 0, 1, 632.15, 533.1);
  z-index: 9;
  width: 102px;
  height: 25px;
}

#co-text_cf271de9 {
  top: 71px;
  left: 4px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 751.56, 533.1);
  transform: matrix(1, 0, 0, 1, 751.56, 533.1);
  z-index: 10;
  width: 80px;
  height: 22px;
}

#co-text_3abdc745 {
  top: 71px;
  left: -9px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 860.13, 533.1);
  transform: matrix(1, 0, 0, 1, 860.13, 533.1);
  z-index: 11;
  width: 74px;
  height: 25px;
}

#co-popup_2445cf28 > co-button:nth-child(12) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78, 84);
  transform: matrix(1, 0, 0, 1, -78, 84);
  opacity: 0;
}

#kj8tvz3gText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -15.2, 0);
  transform: matrix(0, -0.5, 0.5, 0, -15.2, 0);
}

#kj8tvz3fText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -16.8, 0);
  transform: matrix(0, -0.5, 0.5, 0, -16.8, 0);
}

#kj8tvz3iText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 3.2, 5.6);
  transform: matrix(0.5, 0, 0, 0.5, 3.2, 5.6);
}

#kj8tvz3vText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 3.2, 5.6);
  transform: matrix(0.5, 0, 0, 0.5, 3.2, 5.6);
}

#kj8tvz3hText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2.4, 5.6);
  transform: matrix(0.5, 0, 0, 0.5, -2.4, 5.6);
}

#kj8tvz3cText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

#co-container_530a1b9a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55.01, 708.01);
  transform: matrix(1, 0, 0, 1, 55.01, 708.01);
  z-index: 7;
  width: 969px;
  height: 60px;
}

#co-text_c060cbf8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 103.55, 20.91);
  transform: matrix(1, 0, 0, 1, 103.55, 20.91);
  z-index: 2;
  width: 155px;
  height: 40px;
  opacity: 0;
}

#co-text_f829d968 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 256.64, 20.81);
  transform: matrix(1, 0, 0, 1, 256.64, 20.81);
  z-index: 3;
  width: 119px;
  height: 40px;
  opacity: 0;
}

#kj8tvz3eText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kj8tvz34Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_b14a58e9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 832, 231.5);
  transform: matrix(1, 0, 0, 1, 832, 231.5);
  z-index: 8;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 171px;
  height: 168px;
}

#co-text-button_b14a58e9 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_b14a58e9 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_61174057 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.82, 300);
  transform: matrix(1, 0, 0, 1, -121.82, 300);
  opacity: 0;
}

#kj8tvz3xText {
  display: none;
}

#kj8tvz3xText * {
  display: none;
}

#co-text_49a4cbaa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55.6, 729);
  transform: matrix(1, 0, 0, 1, 55.6, 729);
  z-index: 1;
  width: 472px;
  height: 39px;
}
#co-popup_2445cf28 co-button{
  position: absolute;
right: 127px;top: 84px;opacity: 0;}
.btnRef1{position: absolute;left: 364px;top: 46px;width: 50px;height: 50px;}