#kj8tw614Image {
  width: 689px;
  height: 286px;
  -webkit-transform: matrix(1, 0, 0, 1, 131, 181);
  transform: matrix(1, 0, 0, 1, 131, 181);
}

#kj8tw615Image {
  width: 64px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 952, 135);
  transform: matrix(1, 0, 0, 1, 952, 135);
}

#kj8tw616Image {
  width: 6px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 97, 514);
  transform: matrix(1, 0, 0, 1, 97, 514);
}

#kj8tw617Image {
  width: 6px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 97, 585);
  transform: matrix(1, 0, 0, 1, 97, 585);
}

#co-text_b600567a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 720, 48.4);
  transform: matrix(1, 0, 0, 1, 720, 48.4);
  z-index: 1;
  width: 57px;
  height: 42px;
  opacity: 0;
}

#co-popup_b9273a64 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_41Copy2/8e9e6e4b.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_cd0433df {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 347.6);
  transform: matrix(1, 0, 0, 1, 170, 347.6);
  z-index: 1;
  width: 154px;
  height: 27px;
}

#co-text_8541f8bb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 382);
  transform: matrix(1, 0, 0, 1, 170, 382);
  z-index: 2;
  width: 446px;
  height: 31px;
}

#co-popup_b9273a64 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 310.4);
  transform: matrix(1, 0, 0, 1, -121.6, 310.4);
  opacity: 0;
}

#co-popup_b9273a64 > co-button:nth-child(3) > co-container:nth-child(1) {
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 1, -122, 309);
  transform: matrix(1, 0, 0, 1, -122, 309);
}

#kj8tw61nText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -13.6, 0);
  transform: matrix(0, -0.5, 0.5, 0, -13.6, 0);
}

#kj8tw61oText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 3.2);
  transform: matrix(0.5, 0, 0, 0.5, 0, 3.2);
}

#kj8tw61uText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 4.8);
  transform: matrix(0.5, 0, 0, 0.5, 0, 4.8);
}

#kj8tw61vText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 1.6);
  transform: matrix(0.5, 0, 0, 0.5, 0, 1.6);
}

#co-container_4835c885 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 703);
  transform: matrix(1, 0, 0, 1, 55, 703);
  z-index: 2;
  width: 644px;
  height: 65px;
}

#co-text_7efb3732 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 239.8, 23.8);
  transform: matrix(1, 0, 0, 1, 239.8, 23.8);
  z-index: 2;
  width: 139px;
  height: 41px;
  opacity: 0;
}

#co-text_b2a1ded3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 104, -9);
  transform: matrix(1, 0, 0, 1, 104, -9);
  z-index: 3;
  width: 141px;
  height: 36px;
  opacity: 0;
}

#co-text_511a87cd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 241.8, -8.2);
  transform: matrix(1, 0, 0, 1, 241.8, -8.2);
  z-index: 4;
  width: 137px;
  height: 35px;
  opacity: 0;
}

#co-text_ec63f2b2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0.8, 23);
  transform: matrix(1, 0, 0, 1, 0.8, 23);
  z-index: 6;
  width: 105px;
  height: 41px;
  opacity: 0;
}

#kj8tw61jText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -0.8, 0);
  transform: matrix(0.5, 0, 0, 0.5, -0.8, 0);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_d68035bb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 730);
  transform: matrix(1, 0, 0, 1, 53, 730);
  z-index: 1;
  width: 533px;
  height: 38px;
}

#co-text_dc1b48c5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 159, 706);
  transform: matrix(1, 0, 0, 1, 159, 706);
  z-index: 2;
  width: 479px;
  height: 25px;
}