#kihkcu67Image {
  width: 460px;
  height: 555px;
  -webkit-transform: matrix(1, 0, 0, 1, 512, 128);
  transform: matrix(1, 0, 0, 1, 512, 128);
}

#kihkcu68Image {
  width: 2px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
overflow: visible;z-index: 9;}

#kihkcu69Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
overflow: visible;}

#kihkcu6aImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 727);
  transform: matrix(1, 0, 0, 1, 150, 727);
}

#kihkcu6bImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 247, 727);
  transform: matrix(1, 0, 0, 1, 247, 727);
}

#kihkcu6cImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 344, 727);
  transform: matrix(1, 0, 0, 1, 344, 727);
}

#kihkcu6dImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 441, 727);
  transform: matrix(1, 0, 0, 1, 441, 727);
}

#kihkcu6eImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kihkcu6fImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 732, 727);
  transform: matrix(1, 0, 0, 1, 732, 727);
}

#kihkcu6gImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 829, 727);
  transform: matrix(1, 0, 0, 1, 829, 727);
}

#kihkcu6hImage {
  width: 98px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 926, 727);
  transform: matrix(1, 0, 0, 1, 926, 727);
overflow: visible;}

#kihkcu6iImage {
  width: 98px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 636, 728);
  transform: matrix(1, 0, 0, 1, 636, 728);
}

#kihkcu6jImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 635, 727);
  transform: matrix(1, 0, 0, 1, 635, 727);
}

#kihkcu6lImage {
  width: 54px;
  height: 768px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-text-button_c3162bf8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 712, 26.5);
  transform: matrix(1, 0, 0, 1, 712, 26.5);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_c3162bf8 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_c3162bf8 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_3e7c54bc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 323.25, 180.25);
  transform: matrix(1, 0, 0, 1, 323.25, 180.25);
  z-index: 3;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_3e7c54bc > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_3e7c54bc > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_360f59c8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 217, 340.25);
  transform: matrix(1, 0, 0, 1, 217, 340.25);
  z-index: 4;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_360f59c8 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_360f59c8 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_697d25f0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 265.75, 466.5);
  transform: matrix(1, 0, 0, 1, 265.75, 466.5);
  z-index: 5;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_697d25f0 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_697d25f0 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_bec38d6a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 799.5, 162.75);
  transform: matrix(1, 0, 0, 1, 799.5, 162.75);
  z-index: 6;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_bec38d6a > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_bec38d6a > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_9fda6224 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 328.25, 545.25);
  transform: matrix(1, 0, 0, 1, 328.25, 545.25);
  z-index: 7;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_9fda6224 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_9fda6224 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_811d57ef {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_16/820b5c56.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_811d57ef > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 311.25);
  transform: matrix(1, 0, 0, 1, -122.5, 311.25);
  opacity: 0;
}

#co-text_48771321 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 344.8);
  transform: matrix(1, 0, 0, 1, 150, 344.8);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_97c0369e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 376.4);
  transform: matrix(1, 0, 0, 1, 150, 376.4);
  z-index: 2;
  width: 20px;
  height: 60px;
}

#co-text_029edc59 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 374.8);
  transform: matrix(1, 0, 0, 1, 170, 374.8);
  z-index: 3;
  width: 400px;
  height: 60px;
}

#co-popup_811d57ef > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.67, 309.33);
  transform: matrix(1, 0, 0, 1, -122.67, 309.33);
  opacity: 0;
  z-index: 1;
}

#co-image_71e35a47 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 850.4, 312.2);
  transform: matrix(1, 0, 0, 1, 850.4, 312.2);
  z-index: 0;
  width: 48px;
  height: 50px;
}

#co-popup_811d57ef > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.64, 310.91);
  transform: matrix(1, 0, 0, 1, -123.64, 310.91);
  opacity: 0;
}

#kihkcu6zText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -5.46);
  transform: matrix(0.5, 0, 0, 0.5, 0, -5.46);
}

#kihkcu71Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -5.46);
  transform: matrix(0.5, 0, 0, 0.5, 0, -5.46);
}

#kihkcu73Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -4.55);
  transform: matrix(0.5, 0, 0, 0.5, 0, -4.55);
}

#co-text_3bdf58f6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 163.5, 376);
  transform: matrix(1, 0, 0, 1, 163.5, 376);
  z-index: 4;
  width: 700px;
  height: 20px;
}

#co-text_c4de5b9b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 397.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 397.00) translate3d(0,0,0);
  z-index: 5;
  width: 700px;
  height: 20px;
}

#co-popup_811d57ef > co-button:nth-child(7) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.75, 312.5);
  transform: matrix(1, 0, 0, 1, -123.75, 312.5);
  opacity: 0;
}

#co-container_eaa92eec {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 727);
  transform: matrix(1, 0, 0, 1, 55, 727);
  z-index: 8;
  width: 967px;
  height: 40px;
}

#co-text_5f6d2d0b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 1.2, 1);
  transform: matrix(1, 0, 0, 1, 1.2, 1);
  z-index: 1;
  width: 96px;
  height: 40px;
  opacity: 0;
}

#co-text_10376da7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 95.6, 2);
  transform: matrix(1, 0, 0, 1, 95.6, 2);
  z-index: 2;
  width: 97px;
  height: 38px;
  opacity: 0;
}

#co-text_ed914c67 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 192.4, 0);
  transform: matrix(1, 0, 0, 1, 192.4, 0);
  z-index: 3;
  width: 97px;
  height: 40px;
  opacity: 0;
}

#co-text_bcd9f45b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 288.4, 0);
  transform: matrix(1, 0, 0, 1, 288.4, 0);
  z-index: 4;
  width: 99px;
  height: 40px;
  opacity: 0;
}

#co-text_cc2e9e2a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 386, 2);
  transform: matrix(1, 0, 0, 1, 386, 2);
  z-index: 5;
  width: 100px;
  height: 38px;
  opacity: 0;
}

#co-text_cc260ffc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 485, 2);
  transform: matrix(1, 0, 0, 1, 485, 2);
  z-index: 6;
  width: 96px;
  height: 38px;
  opacity: 0;
}

#co-text_994285a1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 677.6, 1);
  transform: matrix(1, 0, 0, 1, 677.6, 1);
  z-index: 7;
  width: 97px;
  height: 39px;
  opacity: 0;
}

#co-text_25ab4c52 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 776, 5);
  transform: matrix(1, 0, 0, 1, 776, 5);
  z-index: 8;
  width: 97px;
  height: 36px;
  opacity: 0;
}

#co-text_ceaf4a30 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 871, 3);
  transform: matrix(1, 0, 0, 1, 871, 3);
  z-index: 9;
  width: 97px;
  height: 37px;
  opacity: 0;
}

#co-text_3bdf58f6 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}