#kja6iryyImage {
  width: 829px;
  height: 49px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 612);
  transform: matrix(1, 0, 0, 1, 107, 612);
}

#kja6irz0Image {
  width: 75px;
  height: 49px;
  -webkit-transform: matrix(1, 0, 0, 1, 898, 612.25);
  transform: matrix(1, 0, 0, 1, 898, 612.25);
}

#kja6irz1Image {
  width: 853px;
  height: 169px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 108);
  transform: matrix(1, 0, 0, 1, 107, 108);
}

#kja6irz4Image {
  width: 1px;
  height: 126px;
  -webkit-transform: matrix(1, 0, 0, 1, 537, 130);
  transform: matrix(1, 0, 0, 1, 537, 130);
}

#kja6irz5Image {
  width: 222px;
  height: 222px;
  -webkit-transform: matrix(1, 0, 0, 1, 697, 358);
  transform: matrix(1, 0, 0, 1, 697, 358);
}

#kja6irz6Image {
  width: 222px;
  height: 222px;
  -webkit-transform: matrix(1, 0, 0, 1, 423, 358);
  transform: matrix(1, 0, 0, 1, 423, 358);
}

#kja6irz7Image {
  width: 222px;
  height: 222px;
  -webkit-transform: matrix(1, 0, 0, 1, 151.22, 358);
  transform: matrix(1, 0, 0, 1, 151.22, 358);
}

#kja6irz8Image {
  width: 191px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kja6irz9Image {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kja6irzdText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kja6irzyText,
#kja6iryyImage {
  display: none;
}

#kja6irzyText {
  width: 1603px;
  height: 91px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -170, -15);
  transform: matrix(0.5, 0, 0, 0.5, -170, -15);
}

#co-text-button_8c781490 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 727);
  transform: matrix(1, 0, 0, 1, 55, 727);
  z-index: 2;
  width: 185px;
  height: 37px;
  opacity: 0;
}

#kja6irzgText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}