#kihkczi5Image {
  width: 2px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kihkczi6Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
overflow: visible;}

#kihkczi7Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 727);
  transform: matrix(1, 0, 0, 1, 150, 727);
}

#kihkczi8Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 247, 727);
  transform: matrix(1, 0, 0, 1, 247, 727);
}

#kihkczi9Image {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 344, 727);
  transform: matrix(1, 0, 0, 1, 344, 727);
}

#kihkcziaImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 441, 727);
  transform: matrix(1, 0, 0, 1, 441, 727);
}

#kihkczibImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kihkczicImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 635, 727);
  transform: matrix(1, 0, 0, 1, 635, 727);
}

#kihkczidImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 732, 727);
  transform: matrix(1, 0, 0, 1, 732, 727);
}

#kihkczieImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 829, 727);
  transform: matrix(1, 0, 0, 1, 829, 727);
}

#kihkczifImage {
  width: 97px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 927, 728);
  transform: matrix(1, 0, 0, 1, 927, 728);
overflow: visible;}

#kihkczigImage {
  width: 98px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 926, 727);
  transform: matrix(1, 0, 0, 1, 926, 727);
}

#kihkczihImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 321, 388.25);
  transform: matrix(1, 0, 0, 1, 321, 388.25);
}

#kihkcziiImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 321, 407.25);
  transform: matrix(1, 0, 0, 1, 321, 407.25);
}

#kihkczijImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 449, 389.5);
  transform: matrix(1, 0, 0, 1, 449, 389.5);
}

#kihkczikImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 449, 426.25);
  transform: matrix(1, 0, 0, 1, 449, 426.25);
}

#kihkczilImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 564, 389.5);
  transform: matrix(1, 0, 0, 1, 564, 389.5);
}

#kihkczimImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 388.25);
  transform: matrix(1, 0, 0, 1, 702, 388.25);
}

#kihkczinImage {
  width: 6px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 389.5);
  transform: matrix(1, 0, 0, 1, 835, 389.5);
}

#kihkczioImage {
  width: 6px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 426.25);
  transform: matrix(1, 0, 0, 1, 835, 426.25);
}

#kihkczipImage {
  width: 6px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 464.5);
  transform: matrix(1, 0, 0, 1, 835, 464.5);
}

#kihkcziqImage {
  width: 6px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 503.5);
  transform: matrix(1, 0, 0, 1, 835, 503.5);
}

#kihkczirImage {
  width: 6px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 540.5);
  transform: matrix(1, 0, 0, 1, 835, 540.5);
}

#kihkczisImage {
  width: 6px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 578.5);
  transform: matrix(1, 0, 0, 1, 835, 578.5);
}

#kihkczitImage {
  width: 6px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 615.25);
  transform: matrix(1, 0, 0, 1, 835, 615.25);
}

#kihkcziuImage {
  width: 6px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 637.5);
  transform: matrix(1, 0, 0, 1, 835, 637.5);
}

#kihkczivImage {
  width: 5px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 409.25);
  transform: matrix(1, 0, 0, 1, 702, 409.25);
}

#kihkcziwImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 429);
  transform: matrix(1, 0, 0, 1, 702, 429);
}

#kihkczixImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 450);
  transform: matrix(1, 0, 0, 1, 702, 450);
}

#kihkcziyImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 491.75);
  transform: matrix(1, 0, 0, 1, 702, 491.75);
}

#kihkczizImage {
  width: 5px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 511.75);
  transform: matrix(1, 0, 0, 1, 702, 511.75);
}

#kihkczj0Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 552);
  transform: matrix(1, 0, 0, 1, 702, 552);
}

#kihkczj1Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 573);
  transform: matrix(1, 0, 0, 1, 702, 573);
}

#kihkczj2Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 617.25);
  transform: matrix(1, 0, 0, 1, 702, 617.25);
}

#kihkczj3Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 702, 657.75);
  transform: matrix(1, 0, 0, 1, 702, 657.75);
}

#kihkczj4Image {
  width: 5px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 564, 409.25);
  transform: matrix(1, 0, 0, 1, 564, 409.25);
}

#kihkczj5Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 564, 470.75);
  transform: matrix(1, 0, 0, 1, 564, 470.75);
}

#kihkczj6Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 564, 491.5);
  transform: matrix(1, 0, 0, 1, 564, 491.5);
}

#kihkczj7Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 564, 552.75);
  transform: matrix(1, 0, 0, 1, 564, 552.75);
}

#kihkczj8Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 564, 575);
  transform: matrix(1, 0, 0, 1, 564, 575);
}

#kihkczj9Image {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 321, 426);
  transform: matrix(1, 0, 0, 1, 321, 426);
}

#kihkczjaImage {
  width: 5px;
  height: 5px;
  -webkit-transform: matrix(1, 0, 0, 1, 321, 445);
  transform: matrix(1, 0, 0, 1, 321, 445);
}

#co-text-button_a227ca49 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 740.75, 30.25);
  transform: matrix(1, 0, 0, 1, 740.75, 30.25);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_a227ca49 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_a227ca49 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_1290e04e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_19/024dd2e1.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_1290e04e > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.75, 311.25);
  transform: matrix(1, 0, 0, 1, -123.75, 311.25);
  opacity: 0;
}

#co-text_fb3d664b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_1c047345 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  z-index: 2;
  width: 20px;
  height: 20px;
}

#co-text_401bc270 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 170.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 170.00, 390.00) translate3d(0,0,0);
  z-index: 3;
  width: 550px;
  height: 20px;
}

#co-popup_1290e04e > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.66, 310.68);
  transform: matrix(1, 0, 0, 1, -122.66, 310.68);
  opacity: 0;
  z-index: 1;
}

#kihkczjyText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 6.25);
  transform: matrix(0.5, 0, 0, 0.5, 0, 6.25);
}

#kihkczjxText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 3.75);
  transform: matrix(0.5, 0, 0, 0.5, 0, 3.75);
}

#kihkczjwText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 6.25);
  transform: matrix(0.5, 0, 0, 0.5, 0, 6.25);
}

#kihkczjvText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 6.25);
  transform: matrix(0.5, 0, 0, 0.5, 0, 6.25);
}

#kihkczjuText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 6.25);
  transform: matrix(0.5, 0, 0, 0.5, 0, 6.25);
}

#co-image_8b12823a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 102.4, 169.4);
  transform: matrix(1, 0, 0, 1, 102.4, 169.4);
  z-index: 0;
  width: 876px;
  height: 533px;
}

#pf13 {
  z-index: 1;
}

#co-image_fc65b32b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 852.00, 314.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 852.00, 314.00) translate3d(0,0,0);
  z-index: 0;
  width: 47px;
  height: 47px;
}

#co-popup_1290e04e > co-button:nth-child(5) > co-container:nth-child(1) {
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 1, -123.64, 311.82);
  transform: matrix(1, 0, 0, 1, -123.64, 311.82);
}

#co-container_d0547cc4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 726);
  transform: matrix(1, 0, 0, 1, 55, 726);
  z-index: 3;
  width: 969px;
  height: 42px;
}

#co-text_384e1a78 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -1, 1);
  transform: matrix(1, 0, 0, 1, -1, 1);
  z-index: 1;
  width: 95px;
  height: 40px;
  opacity: 0;
}

#co-text_1393aa18 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 93.4, -1);
  transform: matrix(1, 0, 0, 1, 93.4, -1);
  z-index: 2;
  width: 102px;
  height: 42px;
  opacity: 0;
}

#co-text_f86106c5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 191.8, 0);
  transform: matrix(1, 0, 0, 1, 191.8, 0);
  z-index: 3;
  width: 96px;
  height: 41px;
  opacity: 0;
}

#co-text_3b9c224e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 288.6, 1);
  transform: matrix(1, 0, 0, 1, 288.6, 1);
  z-index: 4;
  width: 98px;
  height: 40px;
  opacity: 0;
}

#co-text_d61f25f1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 386.2, 2);
  transform: matrix(1, 0, 0, 1, 386.2, 2);
  z-index: 5;
  width: 99px;
  height: 39px;
  opacity: 0;
}

#co-text_85a7ec4a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 484.4, 3);
  transform: matrix(1, 0, 0, 1, 484.4, 3);
  z-index: 6;
  width: 96px;
  height: 38px;
  opacity: 0;
}

#co-text_cda82b64 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 580, 0);
  transform: matrix(1, 0, 0, 1, 580, 0);
  z-index: 7;
  width: 98px;
  height: 41px;
  opacity: 0;
}

#co-text_8318a9fc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 677.6, 2);
  transform: matrix(1, 0, 0, 1, 677.6, 2);
  z-index: 8;
  width: 98px;
  height: 39px;
  opacity: 0;
}

#co-text_cdf4ccd8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 775.8, 2);
  transform: matrix(1, 0, 0, 1, 775.8, 2);
  z-index: 9;
  width: 96px;
  height: 40px;
  opacity: 0;
}