#kihkd49xImage {
  width: 793px;
  height: 417px;
  -webkit-transform: matrix(1, 0, 0, 1, 124, 248);
  transform: matrix(1, 0, 0, 1, 124, 248);
}

#kihkd49yImage {
  width: 57px;
  height: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 955, 127);
  transform: matrix(1, 0, 0, 1, 955, 127);
}

#co-text-button_2ad275ad {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 430.33, 47.67);
  transform: matrix(1, 0, 0, 1, 430.33, 47.67);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_2ad275ad > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_2ad275ad > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_3a358323 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 756.99, 114.33);
  transform: matrix(1, 0, 0, 1, 756.99, 114.33);
  z-index: 3;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_3a358323 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_3a358323 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#pf17 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-text-button_936459bc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 683.67, 181);
  transform: matrix(1, 0, 0, 1, 683.67, 181);
  z-index: 4;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_936459bc > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_936459bc > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_950e7e5e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_23/495244d1.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_950e7e5e > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.67, 309.33);
  transform: matrix(1, 0, 0, 1, -122.67, 309.33);
  opacity: 0;
}

#co-text_daec664d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_940c3616 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  z-index: 2;
  width: 20px;
  height: 20px;
}

#co-text_b2302507 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 170.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 170.00, 390.00) translate3d(0,0,0);
  z-index: 3;
  width: 500px;
  height: 20px;
}

#co-popup_950e7e5e > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122, 314);
  transform: matrix(1, 0, 0, 1, -122, 314);
  opacity: 0;
  z-index: 1;
}

#kihkd4afText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -12.5, 0);
  transform: matrix(0, -0.5, 0.5, 0, -12.5, 0);
}

#co-image_93e755ac {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 958.35, 130);
  transform: matrix(1, 0, 0, 1, 958.35, 130);
  z-index: 0;
  width: 55px;
  height: 41px;
}

#co-image_f84a64b1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 850.4, 311.8);
  transform: matrix(1, 0, 0, 1, 850.4, 311.8);
  z-index: 0;
  width: 51px;
  height: 48px;
}

#co-popup_950e7e5e > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -122.00, 311.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -122.00, 311.00) translate3d(0,0,0);
  opacity: 0;
}

#co-container_eb47cefd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 726);
  transform: matrix(1, 0, 0, 1, 54, 726);
  z-index: 5;
  width: 970px;
  height: 41px;
}

#co-text_98bd6b83 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 1.4, -2);
  transform: matrix(1, 0, 0, 1, 1.4, -2);
  z-index: 1;
  width: 102px;
  height: 43px;
  opacity: 0;
}

#co-text_4f30b26e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 100.8, 0);
  transform: matrix(1, 0, 0, 1, 100.8, 0);
  z-index: 2;
  width: 150px;
  height: 42px;
  opacity: 0;
}

#co-text_5c0c6987 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 249.8, 1);
  transform: matrix(1, 0, 0, 1, 249.8, 1);
  z-index: 3;
  width: 100px;
  height: 40px;
  opacity: 0;
}

#co-text_088c5992 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 497, 0);
  transform: matrix(1, 0, 0, 1, 497, 0);
  z-index: 4;
  width: 101px;
  height: 41px;
  opacity: 0;
}

#co-text_82f157f9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 597, -2);
  transform: matrix(1, 0, 0, 1, 597, -2);
  z-index: 5;
  width: 98px;
  height: 43px;
  opacity: 0;
}

#co-text_d2e3428f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 693, -2);
  transform: matrix(1, 0, 0, 1, 693, -2);
  z-index: 6;
  width: 119px;
  height: 43px;
  opacity: 0;
}

#kihkd4aaText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_24e967a6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 55.00, 726.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 55.00, 726.00) translate3d(0,0,0);
  z-index: 1;
  width: 970px;
  height: 62px;
}

#co-text_057675be {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 811, 1);
  transform: matrix(1, 0, 0, 1, 811, 1);
  z-index: 7;
  width: 159px;
  height: 41px;
  opacity: 0;
}