#kj8tvungImage {
  z-index: 13;
  width: 64px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 92, 569);
  transform: matrix(1, 0, 0, 1, 92, 569);
}

#kj8tvunhImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kj8tvuniImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 727);
  transform: matrix(1, 0, 0, 1, 376, 727);
}

#kj8tvunjImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kj8tvunmImage {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 728);
  transform: matrix(1, 0, 0, 1, 215, 728);
}

#kj8tvunnImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tvunoImage {
  width: 164px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 704);
  transform: matrix(1, 0, 0, 1, 215, 704);
}

#kj8tvunpImage {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 377, 704);
  transform: matrix(1, 0, 0, 1, 377, 704);
}

#kj8tvunqImage {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 704);
  transform: matrix(1, 0, 0, 1, 538, 704);
}

#kj8tvunrImage {
  width: 162px;
  height: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 705);
  transform: matrix(1, 0, 0, 1, 538, 705);
}

#kj8tvunsImage {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 704);
  transform: matrix(1, 0, 0, 1, 538, 704);
}

#co-popup_5147c502 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_33/ad1cd925.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_72c1a105 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 105.2);
  transform: matrix(1, 0, 0, 1, 110, 105.2);
  z-index: 1;
  width: 632px;
  height: 36px;
}

#co-text_f712f7d3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 149.2);
  transform: matrix(1, 0, 0, 1, 110, 149.2);
  z-index: 2;
  width: 821px;
  height: 123px;
}

#co-text_9c852ad6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 142.8, 322);
  transform: matrix(1, 0, 0, 1, 142.8, 322);
  z-index: 3;
  width: 101px;
  height: 44px;
}

#co-text_a30bfbe8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 291.6, 322);
  transform: matrix(1, 0, 0, 1, 291.6, 322);
  z-index: 4;
  width: 122px;
  height: 50px;
}

#co-text_39f516c4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 626.4, 333.2);
  transform: matrix(1, 0, 0, 1, 626.4, 333.2);
  z-index: 5;
  width: 91px;
  height: 25px;
}

#co-text_bef4eb97 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 451.6, 322);
  transform: matrix(1, 0, 0, 1, 451.6, 322);
  z-index: 6;
  width: 122px;
  height: 50px;
}

#co-text_3ffd5783 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 766, 322.8);
  transform: matrix(1, 0, 0, 1, 766, 322.8);
  z-index: 7;
  width: 136px;
  height: 51px;
}

#co-text_607ebff8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 129.2, 410.8);
  transform: matrix(1, 0, 0, 1, 129.2, 410.8);
  z-index: 8;
  width: 120px;
  height: 50px;
}

#co-text_1c92a189 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 298.8, 410);
  transform: matrix(1, 0, 0, 1, 298.8, 410);
  z-index: 9;
  width: 98px;
  height: 44px;
}

#co-text_1334df04 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 445.4, 410);
  transform: matrix(1, 0, 0, 1, 445.4, 410);
  z-index: 10;
  width: 134px;
  height: 50px;
}

#co-text_92219c9f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 622, 410);
  transform: matrix(1, 0, 0, 1, 622, 410);
  z-index: 11;
  width: 106px;
  height: 47px;
}

#co-text_32b551bb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 774.6, 410);
  transform: matrix(1, 0, 0, 1, 774.6, 410);
  z-index: 12;
  width: 120px;
  height: 44px;
}

#co-text_3e7550fc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 631.6);
  transform: matrix(1, 0, 0, 1, 110, 631.6);
  z-index: 13;
  width: 472px;
  height: 20px;
}

#co-popup_5147c502 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 83.2);
  transform: matrix(1, 0, 0, 1, -76, 83.2);
  opacity: 0;
}

#co-popup_ce30ca5f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_33/64bc873e.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_ce30ca5f > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 83.2);
  transform: matrix(1, 0, 0, 1, -76.8, 83.2);
  opacity: 0;
}

#co-popup_d7cff4c1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10002;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_33/93c6e51c.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_35924d9b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10003;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_33/3ed9e6d3.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_35924d9b > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.6, 82.4);
  transform: matrix(1, 0, 0, 1, -77.6, 82.4);
  opacity: 0;
}

#co-popup_d7cff4c1 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 83.2);
  transform: matrix(1, 0, 0, 1, -76, 83.2);
  opacity: 0;
}

#co-popup_98705f43 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10004;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_33/702b1c3b.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_98705f43 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 86.4);
  transform: matrix(1, 0, 0, 1, -76.8, 86.4);
  opacity: 0;
}

#co-popup_6ed52498 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10005;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_33/08ec1381.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_7f8ef396 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 345.2);
  transform: matrix(1, 0, 0, 1, 170, 345.2);
  z-index: 1;
  width: 166px;
  height: 27px;
}

#co-text_f4d35149 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 378);
  transform: matrix(1, 0, 0, 1, 170, 378);
  z-index: 2;
  width: 567px;
  height: 27px;
}

#co-popup_6ed52498 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.8, 308.8);
  transform: matrix(1, 0, 0, 1, -120.8, 308.8);
  opacity: 0;
}

#co-text_3d9b6935 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 626.6, 50.8);
  transform: matrix(1, 0, 0, 1, 626.6, 50.8);
  z-index: 6;
  opacity: 0;
  width: 39px;
  height: 36px;
}
#co-text_3d9b6935_2 {
  top: 212px;
  left: -298px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 626.6, 50.8);
  transform: matrix(1, 0, 0, 1, 626.6, 50.8);
  z-index: 10;
  opacity: 0;
  width: 47px;
  height: 47px;
  
}
#co-text_3d9b6935_3 {
  top: 347px;
  left: -407px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 626.6, 50.8);
  transform: matrix(1, 0, 0, 1, 626.6, 50.8);
  z-index: 9;
  opacity: 0;
  width: 45px;
  height: 46px;
  
}

#co-popup_6ed52498 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.39, 308.2);
  transform: matrix(1, 0, 0, 1, -122.39, 308.2);
  opacity: 0;
}

#co-text_2439ed8a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.26, 107.74);
  transform: matrix(1, 0, 0, 1, 111.26, 107.74);
  z-index: 1;
  width: 458px;
  height: 43px;
}

#co-text_ebd32f35 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.26, 156.99);
  transform: matrix(1, 0, 0, 1, 111.26, 156.99);
  z-index: 2;
  width: 823px;
  height: 107px;
}

#co-text_57795d28 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 138.12, 295.8);
  transform: matrix(1, 0, 0, 1, 138.12, 295.8);
  z-index: 3;
  width: 146px;
  height: 49px;
}

#co-text_ba50b6ab {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 326.18, 295.8);
  transform: matrix(1, 0, 0, 1, 326.18, 295.8);
  z-index: 4;
  width: 162px;
  height: 49px;
}

#co-text_d6b22157 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 520.21, 295.78);
  transform: matrix(1, 0, 0, 1, 520.21, 295.78);
  z-index: 5;
  width: 171px;
  height: 62px;
}

#co-text_ac0ccce1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 719.86, 293.78);
  transform: matrix(1, 0, 0, 1, 719.86, 293.78);
  z-index: 6;
  width: 171px;
  height: 53px;
}

#co-text_9ab8a45c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 114.23, 406.25);
  transform: matrix(1, 0, 0, 1, 114.23, 406.25);
  z-index: 7;
  width: 185px;
  height: 54px;
}

#co-text_f9c65d7c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 308.26, 407.73);
  transform: matrix(1, 0, 0, 1, 308.26, 407.73);
  z-index: 8;
  width: 107px;
  height: 45px;
}

#co-text_fa4412e9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 415.74, 407.74);
  transform: matrix(1, 0, 0, 1, 415.74, 407.74);
  z-index: 9;
  width: 132px;
  height: 43px;
}

#co-text_2c8f87d6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 544.09, 407.74);
  transform: matrix(1, 0, 0, 1, 544.09, 407.74);
  z-index: 10;
  width: 108px;
  height: 40px;
}

#co-text_4466f7e0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 660.5, 409.22);
  transform: matrix(1, 0, 0, 1, 660.5, 409.22);
  z-index: 11;
  width: 117px;
  height: 41px;
}

#co-text_3730099d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 786.84, 407.74);
  transform: matrix(1, 0, 0, 1, 786.84, 407.74);
  z-index: 12;
  width: 110px;
  height: 57px;
}

#co-text_670ddc9e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 126.17, 488.3);
  transform: matrix(1, 0, 0, 1, 126.17, 488.3);
  z-index: 13;
  width: 159px;
  height: 42px;
}

#co-text_68976b85 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 105.28, 549.5);
  transform: matrix(1, 0, 0, 1, 105.28, 549.5);
  z-index: 14;
  width: 201px;
  height: 58px;
}

#co-text_8efcb569 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 114.24, 640.56);
  transform: matrix(1, 0, 0, 1, 114.24, 640.56);
  z-index: 15;
  width: 304px;
  height: 23px;
}

#co-text_67666186 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.24, 106.24);
  transform: matrix(1, 0, 0, 1, 111.24, 106.24);
  z-index: 1;
  width: 469px;
  height: 43px;
}

#co-text_e2ff0d89 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111, 155.5);
  transform: matrix(1, 0, 0, 1, 111, 155.5);
  z-index: 2;
  width: 787px;
  height: 62px;
}

#co-text_ab21fe03 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 151.56, 307.71);
  transform: matrix(1, 0, 0, 1, 151.56, 307.71);
  z-index: 3;
  width: 168px;
  height: 49px;
}

#co-text_e84d1419 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 713.71, 306.75);
  transform: matrix(1, 0, 0, 1, 713.71, 306.75);
  z-index: 4;
  width: 137px;
  height: 64px;
}

#co-text_3d79a21d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 536.63, 306.69);
  transform: matrix(1, 0, 0, 1, 536.63, 306.69);
  z-index: 5;
  width: 128px;
  height: 28px;
}

#co-text_55b29dcc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 343.57, 308.24);
  transform: matrix(1, 0, 0, 1, 343.57, 308.24);
  z-index: 6;
  width: 149px;
  height: 49px;
}

#co-text_6b38a256 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 632);
  transform: matrix(1, 0, 0, 1, 115, 632);
  z-index: 7;
  width: 293px;
  height: 21px;
}

#co-text_091b376f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112, 114);
  transform: matrix(1, 0, 0, 1, 112, 114);
  z-index: 1;
  width: 613px;
  height: 63px;
}

#co-text_57ad6f3b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111, 175);
  transform: matrix(1, 0, 0, 1, 111, 175);
  z-index: 2;
  width: 772px;
  height: 83px;
}

#co-text_5833f821 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 632);
  transform: matrix(1, 0, 0, 1, 115, 632);
  z-index: 3;
  width: 368px;
  height: 27px;
}

#co-text_1c1e3b1c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 143, 402);
  transform: matrix(1, 0, 0, 1, 143, 402);
  z-index: 4;
  width: 217px;
  height: 29px;
}

#co-text_a99d4d7f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 450, 401);
  transform: matrix(1, 0, 0, 1, 450, 401);
  z-index: 5;
  width: 117px;
  height: 23px;
}

#co-text_3832e8b2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 669, 402);
  transform: matrix(1, 0, 0, 1, 669, 402);
  z-index: 6;
  width: 201px;
  height: 36px;
}

#co-text_02b004b7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 233, 570);
  transform: matrix(1, 0, 0, 1, 233, 570);
  z-index: 7;
}

#co-text_ddf025fd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 537, 572);
  transform: matrix(1, 0, 0, 1, 537, 572);
  z-index: 8;
  width: 199px;
  height: 33px;
}

#co-text_3ff491aa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111, 110);
  transform: matrix(1, 0, 0, 1, 111, 110);
  z-index: 1;
  width: 374px;
  height: 39px;
}

#co-text_d86c3622 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112, 155);
  transform: matrix(1, 0, 0, 1, 112, 155);
  z-index: 2;
  width: 770px;
  height: 43px;
}

#co-text_9b61d7fb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 404, 221);
  transform: matrix(1, 0, 0, 1, 404, 221);
  z-index: 3;
  width: 416px;
  height: 28px;
}

#co-text_ae2debc2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 375, 383);
  transform: matrix(1, 0, 0, 1, 375, 383);
  z-index: 4;
  width: 451px;
  height: 38px;
}

#co-text_5eeda9a4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 357, 525);
  transform: matrix(1, 0, 0, 1, 357, 525);
  z-index: 5;
  width: 499px;
  height: 26px;
}

#co-text_44b90a16 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 289, 255);
  transform: matrix(1, 0, 0, 1, 289, 255);
  z-index: 6;
  width: 71px;
  height: 20px;
}

#co-text_4547c952 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 289, 417);
  transform: matrix(1, 0, 0, 1, 289, 417);
  z-index: 7;
  width: 68px;
  height: 21px;
}

#co-text_9dae607f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 290, 558);
  transform: matrix(1, 0, 0, 1, 290, 558);
  z-index: 8;
  width: 74px;
  height: 20px;
}

#co-text_dc208e7a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 831, 255);
  transform: matrix(1, 0, 0, 1, 831, 255);
  z-index: 9;
  width: 78px;
  height: 21px;
}

#co-text_3955b2b5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 831, 418);
  transform: matrix(1, 0, 0, 1, 831, 418);
  z-index: 10;
  width: 72px;
  height: 21px;
}

#co-text_f1e4ba25 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 831, 559);
  transform: matrix(1, 0, 0, 1, 831, 559);
  z-index: 11;
  width: 66px;
  height: 23px;
}

#co-text_42e3ae94 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 326, 303);
  transform: matrix(1, 0, 0, 1, 326, 303);
  z-index: 12;
  width: 579px;
  height: 34px;
}

#co-text_5a4cb1c1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 383, 252);
  transform: matrix(1, 0, 0, 1, 383, 252);
  z-index: 13;
  width: 66px;
  height: 19px;
}

#co-text_3a58ddd8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 379, 416);
  transform: matrix(1, 0, 0, 1, 379, 416);
  z-index: 14;
  width: 74px;
  height: 24px;
}

#co-text_648a84c7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 384, 556);
  transform: matrix(1, 0, 0, 1, 384, 556);
  z-index: 15;
  width: 66px;
  height: 19px;
}

#co-text_04c35e8c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 535, 253);
  transform: matrix(1, 0, 0, 1, 535, 253);
  z-index: 16;
  width: 104px;
  height: 20px;
}

#co-text_de417d22 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 535, 416);
  transform: matrix(1, 0, 0, 1, 535, 416);
  z-index: 17;
  width: 106px;
  height: 23px;
}

#co-text_1e1f5ede {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 536, 557);
  transform: matrix(1, 0, 0, 1, 536, 557);
  z-index: 18;
  width: 102px;
  height: 24px;
}

#co-text_00ae12e9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 649, 253);
  transform: matrix(1, 0, 0, 1, 649, 253);
  z-index: 19;
  width: 219px;
  height: 340px;
}

#co-text_00ae12e9 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_2e24d308 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 119, 272);
  transform: matrix(1, 0, 0, 1, 119, 272);
  z-index: 20;
  width: 151px;
  height: 26px;
}

#co-text_e5c197e4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 131, 420);
  transform: matrix(1, 0, 0, 1, 131, 420);
  z-index: 21;
  width: 132px;
  height: 26px;
}

#co-text_3ca5c04f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 539);
  transform: matrix(1, 0, 0, 1, 110, 539);
  z-index: 22;
  width: 171px;
  height: 55px;
}

#co-text_63e56474 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 113, 636);
  transform: matrix(1, 0, 0, 1, 113, 636);
  z-index: 23;
  width: 364px;
  height: 21px;
}

#co-popup_98705f43 > co-button:nth-child(24) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.12, 84.33);
  transform: matrix(1, 0, 0, 1, -76.12, 84.33);
  opacity: 0;
}

#co-popup_35924d9b > co-button:nth-child(9) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.61, 85.82);
  transform: matrix(1, 0, 0, 1, -77.61, 85.82);
  opacity: 0;
}

#co-popup_d7cff4c1 > co-button:nth-child(8) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.12, 84.33);
  transform: matrix(1, 0, 0, 1, -76.12, 84.33);
  opacity: 0;
}

#co-popup_ce30ca5f > co-button:nth-child(16) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.61, 84.33);
  transform: matrix(1, 0, 0, 1, -77.61, 84.33);
  opacity: 0;
}

#co-popup_5147c502 > co-button:nth-child(14) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.61, 85.37);
  transform: matrix(1, 0, 0, 1, -77.61, 85.37);
  opacity: 0;
}

#pf5 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-text_57ba80aa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 123.6, 338.8);
  transform: matrix(1, 0, 0, 1, 123.6, 338.8);
  z-index: 9;
  width: 276px;
  height: 105px;
}

#co-text_286d1dba {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 124.4, 207.6);
  transform: matrix(1, 0, 0, 1, 124.4, 207.6);
  z-index: 10;
  width: 288px;
  height: 100px;
}

#co-image_4a1ba05f {
  top: 0px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 88.8, 568.8);
  transform: matrix(1, 0, 0, 1, 88.8, 568.8);
  z-index: 13;
  width: 71px;
  height: 39px;
  display: none;
}

#co-container_b36d3ba7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 102, 166);
  transform: matrix(1, 0, 0, 1, 102, 166);
  z-index: 12;
  width: 896px;
  height: 468px;
  transition: all .5s ease;
}

#co-text_99e8b06b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 72.4, 5.6);
  transform: matrix(1, 0, 0, 1, 72.4, 5.6);
  z-index: 1;
  width: 52px;
  height: 16px;
}

#co-text_ea830fce {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 290.8, 6.4);
  transform: matrix(1, 0, 0, 1, 290.8, 6.4);
  z-index: 2;
  width: 183px;
  height: 20px;
}

#co-text_ac47e5ab {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 643.6, 6.4);
  transform: matrix(1, 0, 0, 1, 643.6, 6.4);
  z-index: 3;
  width: 200px;
  height: 20px;
}

#co-text_a01ab95b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 401.6);
  transform: matrix(1, 0, 0, 1, 54, 401.6);
  z-index: 4;
  width: 474px;
  height: 73px;
}

#co-text_22259e71 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 590, 421.6);
  transform: matrix(1, 0, 0, 1, 590, 421.6);
  z-index: 5;
  width: 97px;
  height: 39px;
}

#co-text_c025b721 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 758, 421.6);
  transform: matrix(1, 0, 0, 1, 758, 421.6);
  z-index: 6;
  width: 129px;
  height: 37px;
}

#co-image_b053c7a5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0.6, 24.4);
  transform: matrix(1, 0, 0, 1, 0.6, 24.4);
  z-index: 8;
  width: 897px;
  height: 419px;
}

#co-text_e8754e25 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 75.6, 56);
  transform: matrix(1, 0, 0, 1, 75.6, 56);
  z-index: 9;
  width: 232px;
  height: 26px;
}

#co-text_55868fb0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 504.4, 55.2);
  transform: matrix(1, 0, 0, 1, 504.4, 55.2);
  z-index: 10;
  width: 114px;
  height: 24px;
}

#co-text_b41301be {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 762.8, 55.6);
  transform: matrix(1, 0, 0, 1, 762.8, 55.6);
  z-index: 11;
  width: 123px;
  height: 20px;
}

#co-text_53d26514 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 35.6, 107.2);
  transform: matrix(1, 0, 0, 1, 35.6, 107.2);
  z-index: 12;
  width: 120px;
  height: 36px;
}

#co-text_15f376eb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 191.6, 106.4);
  transform: matrix(1, 0, 0, 1, 191.6, 106.4);
  z-index: 13;
  width: 178px;
  height: 34px;
}

#co-text_ffeb7220 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 378, 100);
  transform: matrix(1, 0, 0, 1, 378, 100);
  z-index: 14;
  width: 185px;
  height: 51px;
}

#co-text_fa4201cb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 566, 106.4);
  transform: matrix(1, 0, 0, 1, 566, 106.4);
  z-index: 15;
  width: 181px;
  height: 41px;
}

#co-text_5090b9ea {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 758.2, 99.8);
  transform: matrix(1, 0, 0, 1, 758.2, 99.8);
  z-index: 16;
  width: 128px;
  height: 51px;
}

#co-text_1309552d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 30.8, 307.2);
  transform: matrix(1, 0, 0, 1, 30.8, 307.2);
  z-index: 21;
  width: 888px;
  height: 28px;
}

#co-text_4d46016f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 42, 203.2);
  transform: matrix(1, 0, 0, 1, 42, 203.2);
  z-index: 22;
  width: 808px;
  height: 28px;
}

#co-text_4d46016f > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_1309552d > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

.wrap_content {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 997px;
  height: 768px;
}

#co-container_70ae95a3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 702);
  transform: matrix(1, 0, 0, 1, 53, 702);
  z-index: 14;
  width: 971px;
  height: 66px;
}

#co-text_c14ddb07 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 326, -13);
  transform: matrix(1, 0, 0, 1, 326, -13);
  z-index: 1;
  width: 160px;
  height: 41px;
  opacity: 0;
}

#co-text_546df1f3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 164, -16);
  transform: matrix(1, 0, 0, 1, 164, -16);
  z-index: 2;
  width: 161px;
  height: 44px;
  opacity: 0;
}

#co-text_6e0b1b82 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 2, 26);
  transform: matrix(1, 0, 0, 1, 2, 26);
  z-index: 3;
  width: 161px;
  height: 40px;
  opacity: 0;
}

#co-text_fb3a9c5a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 324, 26);
  transform: matrix(1, 0, 0, 1, 324, 26);
  z-index: 4;
  width: 166px;
  height: 38px;
  opacity: 0;
}

#co-text_0797fedb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 487, 26);
  transform: matrix(1, 0, 0, 1, 487, 26);
  z-index: 5;
  width: 161px;
  height: 40px;
  opacity: 0;
}

#co-text_99a9a7a6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.6, 206.8);
  transform: matrix(1, 0, 0, 1, 111.6, 206.8);
  z-index: 9;
  width: 20px;
  height: 24px;
}

#co-text_f8390a94 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110.8, 337.2);
  transform: matrix(1, 0, 0, 1, 110.8, 337.2);
  z-index: 9;
  width: 27px;
  height: 21px;
}

#co-text_c7e8f23a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 11.6, 180.8);
  transform: matrix(1, 0, 0, 1, 11.6, 180.8);
  z-index: 23;
  width: 164px;
  height: 60px;
  opacity: 0;
}

#co-text_72dc3347 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 198.8, 182.6);
  transform: matrix(1, 0, 0, 1, 198.8, 182.6);
  z-index: 24;
  width: 166px;
  height: 58px;
  opacity: 0;
}

#co-text_dcea3b5b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 387.4, 182.8);
  transform: matrix(1, 0, 0, 1, 387.4, 182.8);
  z-index: 25;
  width: 164px;
  height: 57px;
  opacity: 0;
}

#co-text_c356e3c8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 576.4, 182.4);
  transform: matrix(1, 0, 0, 1, 576.4, 182.4);
  z-index: 26;
  width: 163px;
  height: 57px;
  opacity: 0;
}

#co-text_376ad633 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 759.6, 182.6);
  transform: matrix(1, 0, 0, 1, 759.6, 182.6);
  z-index: 27;
  width: 128px;
  height: 58px;
  opacity: 0;
}

#co-text_fb9909df {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 74, 741);
  transform: matrix(1, 0, 0, 1, 74, 741);
  z-index: 1;
  width: 622px;
  height: 27px;
}