#kj8tw3bxImage {
  width: 876px;
  height: 536px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 142);
  transform: matrix(1, 0, 0, 1, 107, 142);
}

#kj8tw3bzImage {
  width: 94px;
  height: 30px;
  -webkit-transform: matrix(1, 0, 0, 1, 857, 300);
  transform: matrix(1, 0, 0, 1, 857, 300);
}

#kj8tw3c0Image {
  width: 731px;
  height: 284px;
  -webkit-transform: matrix(1, 0, 0, 1, 222.2, 312);
  transform: matrix(1, 0, 0, 1, 222.2, 312);
}

#kj8tw3c1Image {
  width: 72px;
  height: 37px;
  -webkit-transform: matrix(1, 0, 0, 1, 901, 235);
  transform: matrix(1, 0, 0, 1, 901, 235);
  z-index: 5;
}

#kj8tw3c3Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tw3c4Image {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kj8tw3c5Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 379.4, 727);
  transform: matrix(1, 0, 0, 1, 379.4, 727);
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
left: -3px;}

#kj8tw3c6Image {
  width: 114px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 167, 704);
  transform: matrix(1, 0, 0, 1, 167, 704);
}

#kj8tw3c7Image {
  width: 114px;
  height: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 705);
  transform: matrix(1, 0, 0, 1, 54, 705);
}

#kj8tw3c8Image {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 704);
  transform: matrix(1, 0, 0, 1, 54, 704);
}

#kj8tw3c9Image {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 279, 704);
  transform: matrix(1, 0, 0, 1, 279, 704);
}

#kj8tw3caImage {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 392, 704);
  transform: matrix(1, 0, 0, 1, 392, 704);
}

#kj8tw3cbImage {
  width: 114px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 505, 704);
  transform: matrix(1, 0, 0, 1, 505, 704);
}

#pfb>div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-text_b2e84152 {
  top: 0;
  left: 1px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 107.6, 142.8);
  transform: matrix(1, 0, 0, 1, 107.6, 142.8);
  z-index: 1;
  width: 436px;
  height: 68px;
}

#co-text_b2e84152>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kj8tw3cfText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

#co-text_aa89f099 {
  top: 1px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 546, 141.8);
  transform: matrix(1, 0, 0, 1, 546, 141.8);
  z-index: 2;
  width: 435px;
  height: 68px;
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
  z-index: 3;
}

#co-container_420533be {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 142, 229);
  transform: matrix(1, 0, 0, 1, 142, 229);
  z-index: 3;
  width: 823px;
  height: 376px;
  opacity: 1;
  display: none;
}

#co-image_76e5d5fa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 82.4, 18);
  transform: matrix(1, 0, 0, 1, 82.4, 18);
  z-index: 1;
  width: 734px;
  height: 374px;
}

#co-popup_a5c7e101 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_39/28b23256.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_bcfe10be {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 349.2);
  transform: matrix(1, 0, 0, 1, 170, 349.2);
  z-index: 1;
  width: 159px;
  height: 30px;
}

#co-text_a10b2125 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 380.4);
  transform: matrix(1, 0, 0, 1, 170, 380.4);
  z-index: 2;
  width: 458px;
  height: 25px;
}

#co-popup_a5c7e101>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.8, 308.8);
  transform: matrix(1, 0, 0, 1, -120.8, 308.8);
  opacity: 0;
}

#co-text_5bebc9c5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 856, 50);
  transform: matrix(1, 0, 0, 1, 856, 50);
  z-index: 4;
  width: 53px;
  height: 44px;
  opacity: 0;
}

#co-text_5bebc9c5_2 {
  top: 507px;
  left: 20px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 856, 50);
  transform: matrix(1, 0, 0, 1, 856, 50);
  z-index: 4;
  width: 53px;
  height: 44px;
  opacity: 0;
}

/*custom*/

.tab_title {
  background: #e4eff1;
}

.tab_title span {
  font-family: "3_CCMVBT+AvenirNextLTPro-Demi";
  color: rgb(84, 122, 129);
}

.tab_title.act {
  background: #ffffff !important;
}

.tab_title.act span {
  font-family: "1_CWOXIJ+AvenirNextLTPro-Bold" !important;
  color: rgb(232, 87, 0) !important;
  position: relative;
  top: -1px;
}

.tab_content2 {
  display: none;
}

#co-popup_a5c7e101>co-button:nth-child(3)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123, 310);
  transform: matrix(1, 0, 0, 1, -123, 310);
  opacity: 0;
}

#co-container_bbb5ac42 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 56, 703.8);
  transform: matrix(1, 0, 0, 1, 56, 703.8);
  z-index: 5;
  width: 569px;
  height: 64px;
}

#co-text_9cba3cac {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.6, -18.4);
  transform: matrix(1, 0, 0, 1, 112.6, -18.4);
  z-index: 1;
  width: 113px;
  height: 45px;
  opacity: 0;
}

#co-text_1db4df22 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 223.8, -17.6);
  transform: matrix(1, 0, 0, 1, 223.8, -17.6);
  z-index: 2;
  width: 114px;
  height: 45px;
  opacity: 0;
}

#co-text_880f18a3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 338.2, -19.2);
  transform: matrix(1, 0, 0, 1, 338.2, -19.2);
  z-index: 3;
  width: 112px;
  height: 45px;
  opacity: 0;
}

#co-text_d823ac81 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 451, -17.6);
  transform: matrix(1, 0, 0, 1, 451, -17.6);
  z-index: 4;
  width: 114px;
  height: 45px;
  opacity: 0;
}

#co-text_d3cdd4f1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 161.4, 26);
  transform: matrix(1, 0, 0, 1, 161.4, 26);
  z-index: 5;
  width: 162px;
  height: 37px;
  opacity: 0;
}

#co-text-button_7276a2d9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 848.25, 292);
  transform: matrix(1, 0, 0, 1, 848.25, 292);
  z-index: 6;
  width: 112px;
  height: 46px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_7276a2d9>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_7276a2d9>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#kj8tw3cnText {
  height: 60px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -9.1);
  transform: matrix(0.5, 0, 0, 0.5, 0, -9.1);
}

#kj8tw3coText {
  height: 60px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -8.19);
  transform: matrix(0.5, 0, 0, 0.5, 0, -8.19);
}

#kj8tw3cpText {
  height: 60px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -7.28);
  transform: matrix(0.5, 0, 0, 0.5, 0, -7.28);
}

#co-text_820d0607 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 433.2, 742.6);
  transform: matrix(1, 0, 0, 1, 433.2, 742.6);
  z-index: 1;
  width: 64px;
  height: 16px;
}

#co-text_2e0fd709 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 323.6, 26.2);
  transform: matrix(1, 0, 0, 1, 323.6, 26.2);
  z-index: 7;
  width: 161px;
  height: 38px;
  opacity: 0;
}