#kj8twevdImage {
  width: 156px;
  height: 156px;
  -webkit-transform: matrix(1, 0, 0, 1, 844, 323);
  transform: matrix(1, 0, 0, 1, 844, 323);
}

#kj8tweveImage {
  width: 71px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 948, 183);
  transform: matrix(1, 0, 0, 1, 948, 183);
}

#kj8twevfImage {
  width: 67px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 950, 233);
  transform: matrix(1, 0, 0, 1, 950, 233);
}

#kj8twevhImage {
  width: 169px;
  height: 170px;
  -webkit-transform: matrix(1, 0, 0, 1, 838, 316);
  transform: matrix(1, 0, 0, 1, 838, 316);
}

#pf14 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-container_f072f3f4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 97, 128);
  transform: matrix(1, 0, 0, 1, 97, 128);
  z-index: 2;
  width: 755px;
  height: 522px;
}

#co-container_6cca4ba1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 2);
  transform: matrix(1, 0, 0, 1, 0, 2);
  z-index: 2;
  width: 751px;
  height: 616px;
}

#co-image_2f5a5e70 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 25.6, 38.4);
  transform: matrix(1, 0, 0, 1, 25.6, 38.4);
  z-index: 1;
  width: 708px;
  height: 366px;
}

#co-text_bf00d915 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 160.4, 6);
  transform: matrix(1, 0, 0, 1, 160.4, 6);
  z-index: 2;
  width: 459px;
  height: 34px;
}

#co-text_8c735711 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 326.8, 380.4);
  transform: matrix(1, 0, 0, 1, 326.8, 380.4);
  z-index: 3;
  width: 137px;
  height: 24px;
}

#co-text_1180bb07 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.003, -1, 1, 0.003, -102.8, 196.4);
  transform: matrix(0.003, -1, 1, 0.003, -102.8, 196.4);
  z-index: 4;
  width: 233px;
  height: 21px;
}

#co-text_71b0f616 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 399.6, 184.4);
  transform: matrix(1, 0, 0, 1, 399.6, 184.4);
  z-index: 5;
  width: 77px;
  height: 42px;
}

#co-text_46056c5f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 671.6, 352.4);
  transform: matrix(1, 0, 0, 1, 671.6, 352.4);
  z-index: 6;
  width: 89px;
  height: 40px;
}

#co-text_47516be5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 63.6, 414);
  transform: matrix(1, 0, 0, 1, 63.6, 414);
  z-index: 7;
  width: 375px;
  height: 23px;
}

#co-text_3be92938 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 500.4, 414);
  transform: matrix(1, 0, 0, 1, 500.4, 414);
  z-index: 8;
  width: 239px;
  height: 30px;
}

#co-text_4bf08d1e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 7.2, 600);
  transform: matrix(1, 0, 0, 1, 7.2, 600);
  z-index: 9;
  width: 764px;
  height: 271px;
}

#co-popup_8ec1ec62 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_48/f5d423c9.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_7e0c33f9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 852.4, 181.2);
  transform: matrix(1, 0, 0, 1, 852.4, 181.2);
  z-index: 1;
  width: 78px;
  height: 19px;
}

#co-text_68aaa877 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 103, 107.6);
  transform: matrix(1, 0, 0, 1, 103, 107.6);
  z-index: 2;
  width: 787px;
  height: 47px;
}

#co-text_637f6c98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 153.2, 221);
  transform: matrix(1, 0, 0, 1, 153.2, 221);
  z-index: 3;
  width: 376px;
  height: 25px;
}

#co-text_5403737f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 614, 221.2);
  transform: matrix(1, 0, 0, 1, 614, 221.2);
  z-index: 4;
  width: 299px;
  height: 27px;
}

#co-text_fd79b84a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.001, -1, 1, 0.001, 50, 361.2);
  transform: matrix(0.001, -1, 1, 0.001, 50, 361.2);
  z-index: 5;
  width: 135px;
  height: 19px;
}

#co-text_7beea76c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.004, -1, 1, 0.004, 474.8, 352.4);
  transform: matrix(0.004, -1, 1, 0.004, 474.8, 352.4);
  z-index: 6;
  width: 149px;
  height: 22px;
}

#co-text_e9caecc2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 174.8, 519.6);
  transform: matrix(1, 0, 0, 1, 174.8, 519.6);
  z-index: 7;
  width: 208px;
  height: 24px;
}

#co-text_b3415df7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 174.8, 537.2);
  transform: matrix(1, 0, 0, 1, 174.8, 537.2);
  z-index: 8;
  width: 356px;
  height: 23px;
}

#co-text_5d7822b2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 97.2, 590.8);
  transform: matrix(1, 0, 0, 1, 97.2, 590.8);
  z-index: 9;
  width: 859px;
  height: 86px;
}

#co-text_dc3775c7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 411.6, 270.8);
  transform: matrix(1, 0, 0, 1, 411.6, 270.8);
  z-index: 10;
  width: 51px;
  height: 21px;
}

#co-text_d088d0aa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 842, 271.6);
  transform: matrix(1, 0, 0, 1, 842, 271.6);
  z-index: 11;
  width: 53px;
  height: 20px;
}

#co-image_74cde4bd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 459.2, 264.8);
  transform: matrix(1, 0, 0, 1, 459.2, 264.8);
  z-index: 12;
  width: 37px;
  height: 36px;
}

#co-image_8fd38e8a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 892, 264);
  transform: matrix(1, 0, 0, 1, 892, 264);
  z-index: 13;
  width: 37px;
  height: 37px;
}

#co-popup_8ec1ec62 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 85.6);
  transform: matrix(1, 0, 0, 1, -76, 85.6);
  opacity: 0;
}

#co-popup_5280ef0e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_48/bbef0d7a.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_6dce7f57 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 258.8, 118.8);
  transform: matrix(1, 0, 0, 1, 258.8, 118.8);
  z-index: 1;
  width: 528px;
  height: 36px;
}

#co-text_620c1716 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.005, -1, 1, -0.005, 90.4, 340.6);
  transform: matrix(-0.005, -1, 1, -0.005, 90.4, 340.6);
  z-index: 2;
  width: 178px;
  height: 25px;
}

#co-text_f8fc7827 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 350.8, 563.6);
  transform: matrix(1, 0, 0, 1, 350.8, 563.6);
  z-index: 3;
  width: 75px;
  height: 22px;
}

#co-text_ac794409 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 632.4, 562.8);
  transform: matrix(1, 0, 0, 1, 632.4, 562.8);
  z-index: 4;
  width: 94px;
  height: 24px;
}

#co-text_fd74eedb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 501.2, 597.2);
  transform: matrix(1, 0, 0, 1, 501.2, 597.2);
  z-index: 5;
  width: 389px;
  height: 24px;
}

#co-popup_5280ef0e > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 85.6);
  transform: matrix(1, 0, 0, 1, -76.8, 85.6);
  opacity: 0;
}

#co-popup_a2d01db9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_48/f588b622.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_ebe5db3a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 305.2, 123.6);
  transform: matrix(1, 0, 0, 1, 305.2, 123.6);
  z-index: 1;
  width: 436px;
  height: 37px;
}

#co-text_c63ff696 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.004, -1, 1, -0.004, 86.8, 336.4);
  transform: matrix(-0.004, -1, 1, -0.004, 86.8, 336.4);
  z-index: 2;
  width: 186px;
  height: 22px;
}

#co-text_1c821328 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 343.6, 566.8);
  transform: matrix(1, 0, 0, 1, 343.6, 566.8);
  z-index: 3;
  width: 60px;
  height: 20px;
}

#co-text_35c07867 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 632.4, 566.8);
  transform: matrix(1, 0, 0, 1, 632.4, 566.8);
  z-index: 4;
  width: 80px;
  height: 24px;
}

#co-popup_a2d01db9 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 86.4);
  transform: matrix(1, 0, 0, 1, -76.8, 86.4);
  opacity: 0;
}

#co-popup_0a2f0925 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_48/a203e08c.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_0a2f0925 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 82.4);
  transform: matrix(1, 0, 0, 1, -76, 82.4);
  opacity: 0;
}

#co-text_298e1f90 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 113.2, 107.6);
  transform: matrix(1, 0, 0, 1, 113.2, 107.6);
  z-index: 1;
  width: 265px;
  height: 33px;
}

#co-text_94b82515 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.006, -1, 1, -0.006, -6.8, 338);
  transform: matrix(-0.006, -1, 1, -0.006, -6.8, 338);
  z-index: 2;
  width: 257px;
  height: 37px;
}

#co-text_6751533b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 489.2, 518.8);
  transform: matrix(1, 0, 0, 1, 489.2, 518.8);
  z-index: 3;
  width: 63px;
  height: 23px;
}

#co-text_fa6e825c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 437.2, 198.8);
  transform: matrix(1, 0, 0, 1, 437.2, 198.8);
  z-index: 4;
  width: 221px;
  height: 52px;
}

#co-text_bc5f8f06 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 410, 327.6);
  transform: matrix(1, 0, 0, 1, 410, 327.6);
  z-index: 5;
  width: 120px;
  height: 54px;
}

#co-text_5d8794a0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 258, 438.8);
  transform: matrix(1, 0, 0, 1, 258, 438.8);
  z-index: 6;
  width: 89px;
  height: 26px;
}

#co-text_a9dfd7fe {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 485.2, 434);
  transform: matrix(1, 0, 0, 1, 485.2, 434);
  z-index: 7;
  width: 112px;
  height: 19px;
}

#co-text_199b0854 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 605.2, 388.4);
  transform: matrix(1, 0, 0, 1, 605.2, 388.4);
  z-index: 8;
  width: 106px;
  height: 29px;
}

#co-text_f97def39 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 642, 282.8);
  transform: matrix(1, 0, 0, 1, 642, 282.8);
  z-index: 9;
  width: 104px;
  height: 24px;
}

#co-text_8aae5ba2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 98.8, 553.2);
  transform: matrix(1, 0, 0, 1, 98.8, 553.2);
  z-index: 10;
  width: 839px;
  height: 121px;
}

#co-image_452be647 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 489.6, 661);
  transform: matrix(1, 0, 0, 1, 489.6, 661);
  z-index: 3;
  width: 28px;
  height: 29px;
}

#kj8twevsText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_17ff640b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10002;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_48/6fbcfd12.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_3bb5c10e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 347.6);
  transform: matrix(1, 0, 0, 1, 170, 347.6);
  z-index: 1;
  width: 155px;
  height: 28px;
}

#co-text_d3068728 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 382);
  transform: matrix(1, 0, 0, 1, 170, 382);
  z-index: 2;
  width: 552px;
  height: 38px;
}

#co-popup_17ff640b > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 310.4);
  transform: matrix(1, 0, 0, 1, -121.6, 310.4);
  opacity: 0;
}

#co-text_61025aa7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 742.8, 50.2);
  transform: matrix(1, 0, 0, 1, 742.8, 50.2);
  z-index: 6;
  width: 46px;
  height: 37px;
  opacity: 0;
}

#co-text_77bb5e91 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 665.6, 124.2);
  transform: matrix(1, 0, 0, 1, 665.6, 124.2);
  z-index: 7;
  opacity: 0;
  width: 40px;
  height: 38px;
}

.scroll_wrap {
  overflow: hidden;
}

.scroll_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 342px;
  transition: all .5s ease;
}

.go_down_btn {
  -webkit-transition: all .3s ease;
}

#co-container_6cca4ba1.up {
  -webkit-transform: matrix(1, 0, 0, 1, 8, -610);
  transform: matrix(1, 0, 0, 1, 8, -610);
}

#co-image_452be647.up {
  -webkit-transform: matrix(1, 0, 0, 1, 491, 674) rotate(180deg);
  transform: matrix(1, 0, 0, 1, 491, 674) rotate(180deg);
}

#co-popup_8ec1ec62 > co-button:nth-child(16) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 85);
  transform: matrix(1, 0, 0, 1, -76, 85);
  opacity: 0;
}

#co-popup_5280ef0e > co-button:nth-child(6) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77, 85);
  transform: matrix(1, 0, 0, 1, -77, 85);
  opacity: 0;
}

#co-popup_a2d01db9 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77, 85);
  transform: matrix(1, 0, 0, 1, -77, 85);
  opacity: 0;
}

#co-popup_0a2f0925 > co-button:nth-child(11) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77, 84);
  transform: matrix(1, 0, 0, 1, -77, 84);
  opacity: 0;
}

#co-image_33ba3407 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 951, 134.4);
  transform: matrix(1, 0, 0, 1, 951, 134.4);
  z-index: 8;
  width: 64px;
  height: 38px;
}

#co-text_91e7dc29 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 91.6, 640);
  transform: matrix(1, 0, 0, 1, 91.6, 640);
  z-index: 14;
  width: 397px;
  height: 20px;
  opacity: 0;
}

#co-text_38ce4d5c {
  top: 0;
  left: 37px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 459.6, 638.6);
  transform: matrix(1, 0, 0, 1, 459.6, 638.6);
  z-index: 15;
  width: 312px;
  height: 24px;
  opacity: 0;
}

#co-text_7fb18f4a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 95.6, 639);
  transform: matrix(1, 0, 0, 1, 95.6, 639);
  z-index: 11;
  opacity: 0;
  width: 810px;
  height: 31px;
}

#co-popup_0a2f0925 > co-button:nth-child(12) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  opacity: 0;
}

#co-popup_17ff640b > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -128.25, 302.25);
  transform: matrix(1, 0, 0, 1, -128.25, 302.25);
  opacity: 0;
  width: 65px;
  height: 60px;
}

#co-container_363eda06 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 56.01, 726.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 56.01, 726.00) translate3d(0,0,0);
  z-index: 9;
  width: 968px;
  height: 40px;
}

#co-text_2fe6d017 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -1.2, 1);
  transform: matrix(1, 0, 0, 1, -1.2, 1);
  z-index: 1;
  width: 105px;
  height: 40px;
  opacity: 0;
}

#co-text_b76f473a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 100, -1);
  transform: matrix(1, 0, 0, 1, 100, -1);
  z-index: 2;
  width: 150px;
  height: 41px;
  opacity: 0;
}

#co-text_0a76cdd5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 248.4, -1);
  transform: matrix(1, 0, 0, 1, 248.4, -1);
  z-index: 3;
  width: 99px;
  height: 41px;
  opacity: 0;
}

#co-text_836928f3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 344.4, 0);
  transform: matrix(1, 0, 0, 1, 344.4, 0);
  z-index: 4;
  width: 153px;
  height: 41px;
  opacity: 0;
}

#co-text_967f58fc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 496.6, -0.2);
  transform: matrix(1, 0, 0, 1, 496.6, -0.2);
  z-index: 5;
  width: 99px;
  height: 41px;
  opacity: 0;
}

#co-text_e6977a3c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 596.61, -1);
  transform: matrix(1, 0, 0, 1, 596.61, -1);
  z-index: 6;
  width: 100px;
  height: 41px;
  opacity: 0;
}

#co-text_d3068728 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_8ec1ec62 > co-button:nth-child(18) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.6, 84);
  transform: matrix(1, 0, 0, 1, -77.6, 84);
  opacity: 0;
}

#co-text-button_38554c2c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 844.5, 174);
  transform: matrix(1, 0, 0, 1, 844.5, 174);
  z-index: 16;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 95px;
  height: 30px;
}

#co-text-button_38554c2c > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_38554c2c > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_8ec1ec62 > co-button:nth-child(19) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -75, 83.75);
  transform: matrix(1, 0, 0, 1, -75, 83.75);
  opacity: 0;
}

#co-text_0f3daf22 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 56.20, 726.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 56.20, 726.00) translate3d(0,0,0);
  z-index: 1;
  width: 971px;
  height: 42px;
}

#co-text_60c51885 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 693, 0);
  transform: matrix(1, 0, 0, 1, 693, 0);
  z-index: 7;
  width: 119px;
  height: 41px;
  opacity: 0;
}