#l1liv0xvImage {
  width: 888px;
  height: 260px;
  -webkit-transform: matrix(1, 0, 0, 1, 96, 286);
  transform: matrix(1, 0, 0, 1, 96, 286);
}

#l1liv0ycImage {
  width: 38px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 962, 95);
  transform: matrix(1, 0, 0, 1, 962, 95);
}

#l1liv0yyText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -0.91, 0);
  transform: matrix(0.5, 0, 0, 0.5, -0.91, 0);
}

#pf7 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#l1liv0ydImage {
  display: none;
}

#l1liv0ydImage * {
  display: none;
}

#l1liv0ybImage {
  display: none;
}

#l1liv0ybImage * {
  display: none;
}

#l1liv0yaImage {
  display: none;
}

#l1liv0yaImage * {
  display: none;
}

#l1liv0y9Image {
  display: none;
}

#l1liv0y9Image * {
  display: none;
}

#l1liv0y8Image {
  display: none;
}

#l1liv0y8Image * {
  display: none;
}

#l1liv0y7Image {
  display: none;
}

#l1liv0y7Image * {
  display: none;
}

#l1liv0y6Image {
  display: none;
}

#l1liv0y6Image * {
  display: none;
}

#l1liv0y5Image {
  display: none;
}

#l1liv0y5Image * {
  display: none;
}

#l1liv0y4Image {
  display: none;
}

#l1liv0y4Image * {
  display: none;
}

#l1liv0y3Image {
  display: none;
}

#l1liv0y3Image * {
  display: none;
}

#l1liv0y2Image {
  display: none;
}

#l1liv0y2Image * {
  display: none;
}

#l1liv0y1Image {
  display: none;
}

#l1liv0y1Image * {
  display: none;
}

#l1liv0y0Image {
  display: none;
}

#l1liv0y0Image * {
  display: none;
}

#l1liv0xzImage {
  display: none;
}

#l1liv0xzImage * {
  display: none;
}

#l1liv0xyImage {
  display: none;
}

#l1liv0xyImage * {
  display: none;
}

#l1liv0xxImage {
  display: none;
}

#l1liv0xxImage * {
  display: none;
}

#l1liv0xwImage {
  display: none;
}

#l1liv0xwImage * {
  display: none;
}

#l1liv0xtImage {
  display: none;
}

#l1liv0xtImage * {
  display: none;
}

#co-text_800ae87b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 128, 366);
  transform: matrix(1, 0, 0, 1, 128, 366);
  z-index: 1;
  width: 198px;
  height: 141px;
}

#l1liv0ykText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -12);
  transform: matrix(0.5, 0, 0, 0.5, 0, -12);
}

#co-text_3f880544 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 528, 305);
  transform: matrix(1, 0, 0, 1, 528, 305);
  z-index: 2;
  width: 360px;
  height: 72px;
}

#co-text_c9dae71e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 504, 407);
  transform: matrix(1, 0, 0, 1, 504, 407);
  z-index: 3;
  width: 37px;
  height: 29px;
}

#co-text_bbd3a196 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 578, 407);
  transform: matrix(1, 0, 0, 1, 578, 407);
  z-index: 4;
  width: 126px;
  height: 25px;
}

#co-popup_d754cec0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_NewAss_7/4def1841.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_d754cec0 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -118.75, 281.25);
  transform: matrix(1, 0, 0, 1, -118.75, 281.25);
  opacity: 0;
}

#co-text_13b82080 {
  top: -9px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 350.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 350.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 20px;
}

#co-text_27b69c90 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 380.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 380.00) translate3d(0,0,0);
  z-index: 2;
  width: 490px;
  height: 27px;
}

#co-text-button_63792e61 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 247, 42.75);
  transform: matrix(1, 0, 0, 1, 247, 42.75);
  z-index: 5;
  width: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_63792e61 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_63792e61 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_d754cec0 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 281.25);
  transform: matrix(1, 0, 0, 1, -121.25, 281.25);
  opacity: 0;
}

#l1liv0yxText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -4, 0);
  transform: matrix(0.5, 0, 0, 0.5, -4, 0);
}