#kihkcjrlImage {
  width: 390px;
  height: 384px;
  -webkit-transform: matrix(1, 0, 0, 1, 104, 220);
  transform: matrix(1, 0, 0, 1, 104, 220);
}

#kihkcjrmImage {
  width: 390px;
  height: 384px;
  -webkit-transform: matrix(1, 0, 0, 1, 546, 220);
  transform: matrix(1, 0, 0, 1, 546, 220);
}

#kihkcjrnImage {
  width: 36px;
  height: 37px;
  -webkit-transform: matrix(1, 0, 0, 1, 325, 635);
  transform: matrix(1, 0, 0, 1, 325, 635);
}

#kihkcjroImage {
  width: 37px;
  height: 37px;
  -webkit-transform: matrix(1, 0, 0, 1, 588, 635);
  transform: matrix(1, 0, 0, 1, 588, 635);
}

#kihkcjrpImage {
  width: 154px;
  height: 155px;
  -webkit-transform: matrix(1, 0, 0, 1, 222, 141);
  transform: matrix(1, 0, 0, 1, 222, 141);
}

#kihkcjrqImage {
  width: 155px;
  height: 155px;
  -webkit-transform: matrix(1, 0, 0, 1, 664, 142);
  transform: matrix(1, 0, 0, 1, 664, 142);
}

#kihkcjrrImage {
  width: 7px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 141, 457);
  transform: matrix(1, 0, 0, 1, 141, 457);
}

#kihkcjrsImage {
  width: 6px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 586, 457);
  transform: matrix(1, 0, 0, 1, 586, 457);
}

#kihkcjrtImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 727);
  transform: matrix(1, 0, 0, 1, 54, 727);
}

#kihkcjruImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 252, 727);
  transform: matrix(1, 0, 0, 1, 252, 727);
}

#kihkcjrvImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 133, 727);
  transform: matrix(1, 0, 0, 1, 133, 727);
}

#kihkcjrwImage {
  width: 100px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 780, 727);
  transform: matrix(1, 0, 0, 1, 780, 727);
}

#kihkcjrxImage {
  width: 146px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 878, 727);
  transform: matrix(1, 0, 0, 1, 878, 727);
}

#kihkcjryImage {
  width: 147px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 331, 727);
  transform: matrix(1, 0, 0, 1, 331, 727);
}

#kihkcjrzImage {
  width: 186px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 727);
  transform: matrix(1, 0, 0, 1, 477, 727);
}

#kihkcjs0Image {
  width: 119px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 662, 728);
  transform: matrix(1, 0, 0, 1, 662, 728);
}

#kihkcjs1Image {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 661, 727);
  transform: matrix(1, 0, 0, 1, 661, 727);
}

#co-popup_6e241043 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_7/2d95cf7c.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_6e241043 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 307.2);
  transform: matrix(1, 0, 0, 1, -121.6, 307.2);
  opacity: 0;
}

#co-text_ab769aa1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 345.2);
  transform: matrix(1, 0, 0, 1, 150, 345.2);
  z-index: 1;
  width: 154px;
  height: 29px;
}

#co-text_ab769aa1 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_8e3abde3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 166.8, 379.6);
  transform: matrix(1, 0, 0, 1, 166.8, 379.6);
  z-index: 2;
  width: 452px;
  height: 24px;
}

#co-text_8e3abde3 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_dcc5938c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 181, 375.8);
  transform: matrix(1, 0, 0, 1, 181, 375.8);
  z-index: 2;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 37px;
  height: 40px;
}

#co-text-button_312a956d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 355.2, 505);
  transform: matrix(1, 0, 0, 1, 355.2, 505);
  z-index: 3;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
  width: 38px;
  height: 36px;
}

#kihkcjs8Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

#co-text-button_312a956d > co-button:nth-child(1) > co-text:nth-child(1) > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_ea7b4074 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 785, 377);
  transform: matrix(1, 0, 0, 1, 785, 377);
  z-index: 4;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
  width: 38px;
  height: 36px;
}

#co-text-button_20016ddb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 693.4, 530.4);
  transform: matrix(1, 0, 0, 1, 693.4, 530.4);
  z-index: 5;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 37px;
  height: 36px;
}

#co-popup_d8102487 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_7/153ec924.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_d8102487 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 82.4);
  transform: matrix(1, 0, 0, 1, -76, 82.4);
  opacity: 0;
}

#co-text_2cd29848 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 103.6);
  transform: matrix(1, 0, 0, 1, 112.4, 103.6);
  z-index: 1;
  width: 797px;
  height: 39px;
}

#co-text_2cd29848 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_95bdc7dd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130.8, 166.8);
  transform: matrix(1, 0, 0, 1, 130.8, 166.8);
  z-index: 2;
  width: 108px;
  height: 30px;
}

#co-text_95bdc7dd > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b3d53664 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 333.2, 166);
  transform: matrix(1, 0, 0, 1, 333.2, 166);
  z-index: 3;
  width: 112px;
  height: 40px;
}

#co-text_b3d53664 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_231b5c34 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 654, 165.2);
  transform: matrix(1, 0, 0, 1, 654, 165.2);
  z-index: 4;
  width: 129px;
  height: 28px;
}

#co-text_231b5c34 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_cc842ebf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130, 213.2);
  transform: matrix(1, 0, 0, 1, 130, 213.2);
  z-index: 5;
  width: 96px;
  height: 41px;
}

#co-text_cc842ebf > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_eb386a81 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130, 276.4);
  transform: matrix(1, 0, 0, 1, 130, 276.4);
  z-index: 6;
  width: 73px;
  height: 31px;
}

#co-text_eb386a81 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_979bc7da {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130, 356.4);
  transform: matrix(1, 0, 0, 1, 130, 356.4);
  z-index: 7;
  width: 80px;
  height: 36px;
}

#co-text_979bc7da > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_dea7213b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130, 429.2);
  transform: matrix(1, 0, 0, 1, 130, 429.2);
  z-index: 8;
  width: 81px;
  height: 33px;
}

#co-text_dea7213b > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_7d6a298f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130, 486.8);
  transform: matrix(1, 0, 0, 1, 130, 486.8);
  z-index: 9;
  width: 76px;
  height: 29px;
}

#co-text_7d6a298f > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_d9f07ada {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130, 534.8);
  transform: matrix(1, 0, 0, 1, 130, 534.8);
  z-index: 10;
  width: 121px;
  height: 48px;
}

#co-text_d9f07ada > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_a72c0c6e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 272.4, 213.2);
  transform: matrix(1, 0, 0, 1, 272.4, 213.2);
  z-index: 11;
  width: 240px;
  height: 52px;
}

#co-text_a72c0c6e > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_15fd4bf6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 272.4, 278);
  transform: matrix(1, 0, 0, 1, 272.4, 278);
  z-index: 12;
  width: 200px;
  height: 51px;
}

#co-text_15fd4bf6 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b307e77a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 271.6, 355.6);
  transform: matrix(1, 0, 0, 1, 271.6, 355.6);
  z-index: 13;
  width: 208px;
  height: 65px;
}

#co-text_b307e77a > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_4e2e2587 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 271.6, 427.6);
  transform: matrix(1, 0, 0, 1, 271.6, 427.6);
  z-index: 14;
  width: 217px;
  height: 44px;
}

#co-text_4e2e2587 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_9058f4fd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 272.4, 488.4);
  transform: matrix(1, 0, 0, 1, 272.4, 488.4);
  z-index: 15;
  width: 244px;
  height: 56px;
}

#co-text_9058f4fd > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_db25d663 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 272.4, 535.6);
  transform: matrix(1, 0, 0, 1, 272.4, 535.6);
  z-index: 16;
  width: 152px;
  height: 35px;
}

#co-text_db25d663 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_03454cf7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 213.20) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 213.20) translate3d(0,0,0);
  z-index: 17;
  width: 386px;
  height: 71px;
}

#co-text_03454cf7 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_e53ebde5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 274.80) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 274.80) translate3d(0,0,0);
  z-index: 18;
  width: 360px;
  height: 82px;
}

#co-text_e53ebde5 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b2718ce1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 353.20) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 353.20) translate3d(0,0,0);
  z-index: 19;
  width: 394px;
  height: 77px;
}

#co-text_b2718ce1 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_453f4b10 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 427.60) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 427.60) translate3d(0,0,0);
  z-index: 20;
  width: 378px;
  height: 68px;
}

#co-text_453f4b10 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_1b8eb625 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 488.40) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 488.40) translate3d(0,0,0);
  z-index: 21;
  width: 377px;
  height: 52px;
}

#co-text_1b8eb625 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_da6c5376 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 535.60) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 520.00, 535.60) translate3d(0,0,0);
  z-index: 22;
  width: 280px;
  height: 36px;
}

#co-text_da6c5376 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_86fa4a7d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 587.8);
  transform: matrix(1, 0, 0, 1, 110, 587.8);
  z-index: 23;
  width: 805px;
  height: 40px;
}

#co-text_86fa4a7d > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_2dad98cc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 618);
  transform: matrix(1, 0, 0, 1, 110, 618);
  z-index: 24;
  width: 829px;
  height: 67px;
}

#co-text_2dad98cc > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_8f8cba80 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10002;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_7/d29ea794.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_8f8cba80 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.6, 82.4);
  transform: matrix(1, 0, 0, 1, -77.6, 82.4);
  opacity: 0;
}

#co-text_4f7a8209 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 99.6, 100.4);
  transform: matrix(1, 0, 0, 1, 99.6, 100.4);
  z-index: 1;
  width: 765px;
  height: 73px;
}

#co-text_4f7a8209 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_2f2fd194 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 99.6, 169.2);
  transform: matrix(1, 0, 0, 1, 99.6, 169.2);
  z-index: 2;
  width: 755px;
  height: 52px;
}

#co-text_2f2fd194 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b7363d1c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 290.8, 226.8);
  transform: matrix(1, 0, 0, 1, 290.8, 226.8);
  z-index: 3;
  width: 403px;
  height: 60px;
}

#co-text_b7363d1c > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_1913cd98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.007, -1, 1, -0.007, 62.4, 405.8);
  transform: matrix(-0.007, -1, 1, -0.007, 62.4, 405.8);
  z-index: 4;
  width: 176px;
  height: 23px;
}

#co-text_1913cd98 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_61b589ea {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 210.8, 578.8);
  transform: matrix(1, 0, 0, 1, 210.8, 578.8);
  z-index: 5;
  width: 143px;
  height: 44px;
}

#co-text_61b589ea > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_0752f897 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 380.4, 578);
  transform: matrix(1, 0, 0, 1, 380.4, 578);
  z-index: 6;
  width: 114px;
  height: 32px;
}

#co-text_0752f897 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_9672ef6a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 542, 578.8);
  transform: matrix(1, 0, 0, 1, 542, 578.8);
  z-index: 7;
  width: 98px;
  height: 42px;
}

#co-text_9672ef6a > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_51682c15 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 710.4, 578);
  transform: matrix(1, 0, 0, 1, 710.4, 578);
  z-index: 8;
  width: 74px;
  height: 28px;
}

#co-text_51682c15 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_fdf59969 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110.8, 630);
  transform: matrix(1, 0, 0, 1, 110.8, 630);
  z-index: 9;
  width: 820px;
  height: 44px;
}

#co-text_fdf59969 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_9ae265f2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 310.2, 624.4);
  transform: matrix(1, 0, 0, 1, 310.2, 624.4);
  z-index: 6;
  width: 64px;
  height: 62px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
}

#co-text-button_e97b81ad {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 575, 625);
  transform: matrix(1, 0, 0, 1, 575, 625);
  z-index: 7;
  width: 62px;
  height: 60px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
}

#co-text-button_e97b81ad > co-button:nth-child(1) > co-text:nth-child(1) > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_fdafba22 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 379.6);
  transform: matrix(1, 0, 0, 1, 150, 379.6);
  z-index: 3;
  width: 33px;
  height: 25px;
}

#co-popup_6e241043 > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 306.25);
  transform: matrix(1, 0, 0, 1, -122.5, 306.25);
  opacity: 0;
  z-index: 1;
}

#co-popup_d8102487 > co-button:nth-child(25) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.5, 82.5);
  transform: matrix(1, 0, 0, 1, -77.5, 82.5);
  opacity: 0;
  z-index: 1;
}

#co-popup_8f8cba80 > co-button:nth-child(10) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -75, 83.75);
  transform: matrix(1, 0, 0, 1, -75, 83.75);
  opacity: 0;
  z-index: 1;
}

#co-image_8876b13c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 852.8, 309.2);
  transform: matrix(1, 0, 0, 1, 852.8, 309.2);
  z-index: 0;
  width: 46px;
  height: 47px;
}

#co-image_fc578183 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 902.4, 84.8);
  transform: matrix(1, 0, 0, 1, 902.4, 84.8);
  z-index: 0;
  width: 44px;
  height: 45px;
}

#co-image_b74ae4e2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 902.4, 85.8);
  transform: matrix(1, 0, 0, 1, 902.4, 85.8);
  z-index: 0;
  width: 42px;
  height: 45px;
}

#co-image_f742090b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 156, 274.4);
  transform: matrix(1, 0, 0, 1, 156, 274.4);
  z-index: 10;
  width: 714px;
  height: 355px;
}

#co-popup_8f8cba80 > co-button:nth-child(12) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -75.00, 83.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -75.00, 83.00) translate3d(0,0,0);
  opacity: 0;
}

#co-popup_6e241043 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.82, 308.18);
  transform: matrix(1, 0, 0, 1, -121.82, 308.18);
  opacity: 0;
}

#co-popup_d8102487 > co-button:nth-child(26) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -74.55, 81.82);
  transform: matrix(1, 0, 0, 1, -74.55, 81.82);
  opacity: 0;
}

#co-text_637b9806 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 104.4, 616.2);
  transform: matrix(1, 0, 0, 1, 104.4, 616.2);
  z-index: 25;
  width: 692px;
  height: 17px;
  opacity: 0;
}

#co-text_d21a2394 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 794, 611.6);
  transform: matrix(1, 0, 0, 1, 794, 611.6);
  z-index: 26;
  opacity: 0;
  width: 128px;
  height: 21px;
}

#co-text_9a8d9291 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 108.4, 629.8);
  transform: matrix(1, 0, 0, 1, 108.4, 629.8);
  z-index: 27;
  width: 217px;
  height: 18px;
  opacity: 0;
}

#co-text_b5265000 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 322.8, 631.6);
  transform: matrix(1, 0, 0, 1, 322.8, 631.6);
  z-index: 28;
  width: 283px;
  height: 15px;
  opacity: 0;
}

#co-text_167f0a26 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 602, 630);
  transform: matrix(1, 0, 0, 1, 602, 630);
  z-index: 30;
  width: 284px;
  height: 17px;
  opacity: 0;
}

#co-container_57b4d3d4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 57, 728);
  transform: matrix(1, 0, 0, 1, 57, 728);
  z-index: 8;
  width: 966px;
  height: 39px;
}

#co-text_c57eaf1e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -1.4, 0);
  transform: matrix(1, 0, 0, 1, -1.4, 0);
  z-index: 1;
  width: 76px;
  height: 39px;
  opacity: 0;
}

#co-text_4081d039 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 75.4, -1);
  transform: matrix(1, 0, 0, 1, 75.4, -1);
  z-index: 2;
  width: 123px;
  height: 40px;
  opacity: 0;
}

#co-text_46eda760 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 195.4, 0);
  transform: matrix(1, 0, 0, 1, 195.4, 0);
  z-index: 3;
  width: 81px;
  height: 40px;
  opacity: 0;
}

#co-text_8eadde38 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 274.6, -1);
  transform: matrix(1, 0, 0, 1, 274.6, -1);
  z-index: 4;
  width: 146px;
  height: 40px;
  opacity: 0;
}

#co-text_4f0cc850 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 419.6, -2);
  transform: matrix(1, 0, 0, 1, 419.6, -2);
  z-index: 5;
  width: 186px;
  height: 41px;
  opacity: 0;
}

#co-text_aeaebf4f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 724.2, 0);
  transform: matrix(1, 0, 0, 1, 724.2, 0);
  z-index: 6;
  width: 98px;
  height: 38px;
  opacity: 0;
}

#co-text_cf2f9c7a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 822, 1);
  transform: matrix(1, 0, 0, 1, 822, 1);
  z-index: 7;
  width: 144px;
  height: 38px;
  opacity: 0;
}

#kihkcjs6Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kihkcjsbText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kihkcjs9Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_d8102487 > co-button:nth-child(33) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -74.4, 82.4);
  transform: matrix(1, 0, 0, 1, -74.4, 82.4);
  opacity: 0;
}

#kihkcjs7Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_d8102487 > co-button:nth-child(31) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -73.6, 83.2);
  transform: matrix(1, 0, 0, 1, -73.6, 83.2);
  opacity: 0;
}