#kj8tw0gvImage {
  width: 898px;
  height: 431px;
  -webkit-transform: matrix(1, 0, 0, 1, 102.4, 157.8);
  transform: matrix(1, 0, 0, 1, 102.4, 157.8);
}

#kj8tw0gwImage {
  width: 38px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 966.2, 175.8);
  transform: matrix(1, 0, 0, 1, 966.2, 175.8);
}

#kj8tw0gxImage {
  width: 38px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 966.4, 128.4);
  transform: matrix(1, 0, 0, 1, 966.4, 128.4);
}

#kj8tw0h0Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kj8tw0h1Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tw0h2Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 727);
  transform: matrix(1, 0, 0, 1, 376, 727);
}

#kj8tw0h3Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#co-text_86a911fa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 815.8, 52.4);
  transform: matrix(1, 0, 0, 1, 815.8, 52.4);
  z-index: 1;
  width: 45px;
  height: 39px;
  opacity: 0;
}

#co-text_6e9bf053 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 552, 568);
  transform: matrix(1, 0, 0, 1, 552, 568);
  z-index: 2;
  width: 37px;
  height: 39px;
  opacity: 0;
}

#co-popup_4006cd19 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_37/a8cb2fd0.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_4006cd19 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  opacity: 0;
}

#co-popup_776d4afd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_37/1109790b.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_f9d3306d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 349.2);
  transform: matrix(1, 0, 0, 1, 170, 349.2);
  z-index: 1;
  width: 165px;
  height: 30px;
}

#co-text_1372d7b1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 382);
  transform: matrix(1, 0, 0, 1, 170, 382);
  z-index: 2;
  width: 440px;
  height: 32px;
}

#co-popup_776d4afd > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 309.6);
  transform: matrix(1, 0, 0, 1, -121.6, 309.6);
  opacity: 0;
}

#co-popup_776d4afd > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.9, 308.36);
  transform: matrix(1, 0, 0, 1, -120.9, 308.36);
  opacity: 0;
}

#pf9 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-text_27af4b6a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 229.16, 128.62);
  transform: matrix(1, 0, 0, 1, 229.16, 128.62);
  z-index: 1;
  width: 580px;
  height: 43px;
}

#co-text_593ba078 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.002, -1, 1, 0.002, -30.54, 319.67);
  transform: matrix(0.002, -1, 1, 0.002, -30.54, 319.67);
  z-index: 2;
  width: 311px;
  height: 36px;
}

#co-text_4f722011 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 175.44, 521.16);
  transform: matrix(1, 0, 0, 1, 175.44, 521.16);
  z-index: 3;
  width: 159px;
  height: 51px;
}

#co-text_73caad63 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 321.7, 521.16);
  transform: matrix(1, 0, 0, 1, 321.7, 521.16);
  z-index: 4;
  width: 216px;
  height: 46px;
}

#co-text_8c0a4afa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 533.64, 521.17);
  transform: matrix(1, 0, 0, 1, 533.64, 521.17);
  z-index: 5;
  width: 173px;
  height: 65px;
}

#co-text_764e099c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 694.82, 521.16);
  transform: matrix(1, 0, 0, 1, 694.82, 521.16);
  z-index: 6;
  width: 202px;
  height: 49px;
}

#co-text_ab9df8e5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 724.65, 589.82);
  transform: matrix(1, 0, 0, 1, 724.65, 589.82);
  z-index: 7;
  width: 105px;
  height: 27px;
}

#co-text_854fdb29 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 844.09, 589.82);
  transform: matrix(1, 0, 0, 1, 844.09, 589.82);
  z-index: 8;
  width: 83px;
  height: 25px;
}

#co-popup_4006cd19 > co-button:nth-child(9) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 82);
  transform: matrix(1, 0, 0, 1, -76, 82);
  opacity: 0;
}

#kj8tw0hjText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -0.8, 8);
  transform: matrix(0.5, 0, 0, 0.5, -0.8, 8);
}

#kj8tw0hlText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -11.2, 0);
  transform: matrix(0, -0.5, 0.5, 0, -11.2, 0);
}

#co-container_fb52e2d6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 726);
  transform: matrix(1, 0, 0, 1, 55, 726);
  z-index: 3;
  width: 969px;
  height: 42px;
}

#co-text_2edf8e8a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 1, 0);
  transform: matrix(1, 0, 0, 1, 1, 0);
  z-index: 1;
  width: 162px;
  height: 42px;
  opacity: 0;
}

#co-text_65d5284a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 162, 2);
  transform: matrix(1, 0, 0, 1, 162, 2);
  z-index: 2;
  width: 164px;
  height: 40px;
  opacity: 0;
}

#co-text_0980c14a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 323, 1);
  transform: matrix(1, 0, 0, 1, 323, 1);
  z-index: 3;
  width: 164px;
  height: 41px;
  opacity: 0;
}

#co-text_06eabc58 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 486.4, 2);
  transform: matrix(1, 0, 0, 1, 486.4, 2);
  z-index: 5;
  width: 163px;
  height: 40px;
  opacity: 0;
}

#kj8tw0h9Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kj8tw0h5Image {
  width: 164px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 377.4, 728.01);
  transform: matrix(1, 0, 0, 1, 377.4, 728.01);
}

#kj8tw0hxText {
  display: none;
}

#kj8tw0hxText * {
  display: none;
}

#co-text_4a9d4995 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 74.8, 741.2);
  transform: matrix(1, 0, 0, 1, 74.8, 741.2);
  z-index: 1;
  width: 619px;
  height: 16px;
}