#kihkcdj1Image {
  width: 202px;
  height: 201px;
  -webkit-transform: matrix(1, 0, 0, 1, 787, 229);
  transform: matrix(1, 0, 0, 1, 787, 229);
}

#kihkcdj2Image {
  width: 202px;
  height: 149px;
  -webkit-transform: matrix(1, 0, 0, 1, 787, 491);
  transform: matrix(1, 0, 0, 1, 787, 491);
}

#kihkcdj3Image {
  width: 192px;
  height: 155px;
  -webkit-transform: matrix(1, 0, 0, 1, 104, 357);
  transform: matrix(1, 0, 0, 1, 104, 357);
}

#kihkcdj4Image {
  width: 192px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 104, 514);
  transform: matrix(1, 0, 0, 1, 104, 514);
}

#kihkcdj6Image {
  width: 202px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 787, 643);
  transform: matrix(1, 0, 0, 1, 787, 643);
}

#kihkcdj8Image {
  width: 202px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 787, 434);
  transform: matrix(1, 0, 0, 1, 787, 434);
}

#kihkcdjaImage {
  width: 437px;
  height: 436px;
  -webkit-transform: matrix(1, 0, 0, 1, 322, 230);
  transform: matrix(1, 0, 0, 1, 322, 230);
}

#kihkcdjbImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 252, 727);
  transform: matrix(1, 0, 0, 1, 252, 727);
}

#kihkcdjcImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 133, 727);
  transform: matrix(1, 0, 0, 1, 133, 727);
}

#kihkcdjdImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 661, 727);
  transform: matrix(1, 0, 0, 1, 661, 727);
}

#kihkcdjeImage {
  width: 100px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 780, 727);
  transform: matrix(1, 0, 0, 1, 780, 727);
}

#kihkcdjfImage {
  width: 146px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 878, 727);
  transform: matrix(1, 0, 0, 1, 878, 727);
}

#kihkcdjgImage {
  width: 147px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 331, 727);
  transform: matrix(1, 0, 0, 1, 331, 727);
}

#kihkcdjhImage {
  width: 186px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 727);
  transform: matrix(1, 0, 0, 1, 477, 727);
}

#kihkcdjiImage {
  width: 80px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kihkcdjjImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 727);
  transform: matrix(1, 0, 0, 1, 54, 727);
}

#co-text-button_19691288 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 374.4, 81.6);
  transform: matrix(1, 0, 0, 1, 374.4, 81.6);
  z-index: 2;
  width: 46px;
  height: 31px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
}

#kihkcdjqText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_19691288 > co-button:nth-child(1) > co-text:nth-child(1) {
  opacity: 0;
}

#pf2 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-popup_e5790e62 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_2/267658b3.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_e5790e62 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 224);
  transform: matrix(1, 0, 0, 1, -121.6, 224);
  opacity: 0;
}

#co-text_713424b8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 241.6);
  transform: matrix(1, 0, 0, 1, 150, 241.6);
  z-index: 1;
  width: 198px;
  height: 25px;
}

#co-text_713424b8 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kihkcdjrText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_9fef8c9c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 280.6);
  transform: matrix(1, 0, 0, 1, 170, 280.6);
  z-index: 2;
  width: 697px;
  height: 42px;
}

#co-text_9fef8c9c > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_e5790e62 > co-button:nth-child(2) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 224);
  transform: matrix(1, 0, 0, 1, -121.6, 224);
  opacity: 0;
}

#co-popup_e5790e62 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.4, 224);
  transform: matrix(1, 0, 0, 1, -122.4, 224);
  opacity: 0;
}

#co-text-button_7506371c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 558, 349.4);
  transform: matrix(1, 0, 0, 1, 558, 349.4);
  z-index: 3;
  width: 28px;
  height: 30px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
}

#co-text-button_7506371c > co-button:nth-child(1) > co-text:nth-child(1) > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_53aef3a3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 490.6, 476.2);
  transform: matrix(1, 0, 0, 1, 490.6, 476.2);
  z-index: 4;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
  width: 26px;
  height: 26px;
}

#co-text-button_ab220549 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 655.2, 478);
  transform: matrix(1, 0, 0, 1, 655.2, 478);
  z-index: 5;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 34px;
  height: 25px;
}

#co-text-button_e7ebdba0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 769, 159.4);
  transform: matrix(1, 0, 0, 1, 769, 159.4);
  z-index: 6;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 46px;
  height: 26px;
}

#co-text_bbdcc1e9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 322.8);
  transform: matrix(1, 0, 0, 1, 170, 322.8);
  z-index: 3;
  width: 637px;
  height: 79px;
}

#co-text_34b20fdc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 395.6);
  transform: matrix(1, 0, 0, 1, 170, 395.6);
  z-index: 4;
  width: 723px;
  height: 49px;
}

#co-text_86552417 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 438.8);
  transform: matrix(1, 0, 0, 1, 170, 438.8);
  z-index: 5;
  width: 565px;
  height: 79px;
}

#co-text_ed1292fb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 282);
  transform: matrix(1, 0, 0, 1, 150, 282);
  z-index: 6;
  width: 31px;
  height: 24px;
}

#co-text_1dd1b849 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 326.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 326.00) translate3d(0,0,0);
  z-index: 7;
  width: 24px;
  height: 20px;
}

#co-text_38397910 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 350);
  transform: matrix(1, 0, 0, 1, 150, 350);
  z-index: 8;
  width: 34px;
  height: 23px;
}

#co-text_3de0f52a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 374);
  transform: matrix(1, 0, 0, 1, 150, 374);
  z-index: 9;
  width: 34px;
  height: 25px;
}

#co-text_dfa6fb20 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 396.4);
  transform: matrix(1, 0, 0, 1, 150, 396.4);
  z-index: 10;
  width: 28px;
  height: 28px;
}

#co-text_0bf2ef98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 441.2);
  transform: matrix(1, 0, 0, 1, 150, 441.2);
  z-index: 11;
  width: 32px;
  height: 26px;
}

#co-text_3c206c49 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 466);
  transform: matrix(1, 0, 0, 1, 150, 466);
  z-index: 12;
  width: 28px;
  height: 23px;
}

#co-text_1558a9eb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 490.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 490.00) translate3d(0,0,0);
  z-index: 13;
  width: 40px;
  height: 27px;
}

#co-popup_e5790e62 > co-button:nth-child(14) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.49, 224.05);
  transform: matrix(1, 0, 0, 1, -122.49, 224.05);
  opacity: 0;
  z-index: 1;
}

#co-image_284e4448 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 852.8, 225.6);
  transform: matrix(1, 0, 0, 1, 852.8, 225.6);
  z-index: 0;
  width: 47px;
  height: 47px;
}

#co-popup_e5790e62 > co-button:nth-child(15) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.27, 225.45);
  transform: matrix(1, 0, 0, 1, -121.27, 225.45);
  opacity: 0;
}

#co-text_6b24485b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 166, 325);
  transform: matrix(1, 0, 0, 1, 166, 325);
  z-index: 14;
  width: 700px;
  height: 20px;
}

#co-text_ee11723a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 349.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 349.00) translate3d(0,0,0);
  z-index: 15;
  width: 700px;
  height: 20px;
}

#co-text_4e4833fb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 373.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 373.00) translate3d(0,0,0);
  z-index: 16;
  width: 700px;
  height: 20px;
}

#co-text_2dea818a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 441.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 441.00) translate3d(0,0,0);
  z-index: 17;
  width: 700px;
  height: 20px;
}

#co-text_539e52e5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 466.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 466.00) translate3d(0,0,0);
  z-index: 18;
  width: 700px;
  height: 20px;
}

#co-text_a6f5bec6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 489.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 489.00) translate3d(0,0,0);
  z-index: 19;
  width: 700px;
  height: 20px;
}

#co-popup_e5790e62 > co-button:nth-child(21) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -123.00, 223.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -123.00, 223.00) translate3d(0,0,0);
  opacity: 0;
}

#co-container_d145516d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 728);
  transform: matrix(1, 0, 0, 1, 55, 728);
  z-index: 5;
  width: 968px;
  height: 39px;
}

#co-text_403afb1e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 78.8, 1);
  transform: matrix(1, 0, 0, 1, 78.8, 1);
  z-index: 1;
  width: 119px;
  height: 38px;
  opacity: 0;
}

#co-text_b0dd4c2b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 199.6, 3);
  transform: matrix(1, 0, 0, 1, 199.6, 3);
  z-index: 2;
  width: 74px;
  height: 36px;
  opacity: 0;
}

#co-text_c7361356 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 275.6, 1);
  transform: matrix(1, 0, 0, 1, 275.6, 1);
  z-index: 3;
  width: 147px;
  height: 38px;
  opacity: 0;
}

#co-text_050c0620 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 421.8, 2);
  transform: matrix(1, 0, 0, 1, 421.8, 2);
  z-index: 4;
  width: 184px;
  height: 37px;
  opacity: 0;
}

#co-text_92ce279a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 607.8, 0);
  transform: matrix(1, 0, 0, 1, 607.8, 0);
  z-index: 5;
  width: 118px;
  height: 39px;
  opacity: 0;
}

#co-text_2a85e8d1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 726.4, 2);
  transform: matrix(1, 0, 0, 1, 726.4, 2);
  z-index: 6;
  width: 97px;
  height: 37px;
  opacity: 0;
}

#co-text_7bba6c24 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 822, 2);
  transform: matrix(1, 0, 0, 1, 822, 2);
  z-index: 7;
  width: 146px;
  height: 37px;
  opacity: 0;
}

#kihkcdk4Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_25e75ed7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 105.75, 515.25);
  transform: matrix(1, 0, 0, 1, 105.75, 515.25);
  z-index: 8;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 191px;
  height: 38px;
}

#co-text-button_25e75ed7 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_25e75ed7 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_45ee128b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 787, 432.75);
  transform: matrix(1, 0, 0, 1, 787, 432.75);
  z-index: 9;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 202px;
  height: 40px;
}

#co-text-button_45ee128b > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_45ee128b > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_760b0c26 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 788.25, 642.75);
  transform: matrix(1, 0, 0, 1, 788.25, 642.75);
  z-index: 10;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 201px;
  height: 40px;
}

#co-text-button_760b0c26 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_760b0c26 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_ab220549 > co-button:nth-child(1) > co-text:nth-child(1) > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_e7ebdba0 > co-button:nth-child(1) > co-text:nth-child(1) > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}