#kj8twkwiImage {
  width: 703px;
  height: 322px;
  -webkit-transform: matrix(1, 0, 0, 1, 156, 230);
  transform: matrix(1, 0, 0, 1, 156, 230);
}

#kj8twkwjImage {
  width: 7px;
  height: 6px;
  -webkit-transform: matrix(1, 0, 0, 1, 102, 620);
  transform: matrix(1, 0, 0, 1, 102, 620);
}

#kj8twkwkImage {
  width: 7px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 102, 574);
  transform: matrix(1, 0, 0, 1, 102, 574);
}

#co-popup_8551ab5e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_53/1655968b.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_8e825838 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 347.6);
  transform: matrix(1, 0, 0, 1, 170, 347.6);
  z-index: 1;
  width: 159px;
  height: 27px;
}

#co-text_b287e0c6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 382);
  transform: matrix(1, 0, 0, 1, 170, 382);
  z-index: 2;
  width: 425px;
  height: 35px;
}

#co-popup_8551ab5e > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.8, 309.6);
  transform: matrix(1, 0, 0, 1, -120.8, 309.6);
  opacity: 0;
}

#co-text_9bf4dcc7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 583.2, 72);
  transform: matrix(1, 0, 0, 1, 583.2, 72);
  z-index: 1;
  opacity: 0;
  width: 65px;
  height: 51px;
}

#co-text_fcc9d3c6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 544.8, 562.2);
  transform: matrix(1, 0, 0, 1, 544.8, 562.2);
  z-index: 2;
  opacity: 0;
  width: 49px;
  height: 49px;
}

#co-text_3cf9e6e5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 888.4, 615.8);
  transform: matrix(1, 0, 0, 1, 888.4, 615.8);
  z-index: 3;
  opacity: 0;
  width: 42px;
  height: 40px;
}

#co-popup_8551ab5e > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122, 310);
  transform: matrix(1, 0, 0, 1, -122, 310);
  opacity: 0;
}

#kj8twkwyText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -15, 0);
  transform: matrix(0, -0.5, 0.5, 0, -15, 0);
}

#kj8twkwzText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -9, 1);
  transform: matrix(0, -0.5, 0.5, 0, -9, 1);
}

#kj8twkxbText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -9, 0);
  transform: matrix(0.5, 0, 0, 0.5, -9, 0);
}

#kj8twkxcText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -9, 0);
  transform: matrix(0.5, 0, 0, 0.5, -9, 0);
}

#kj8twkxdText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -9, 0);
  transform: matrix(0.5, 0, 0, 0.5, -9, 0);
}

#co-container_ad9a5977 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 57, 703);
  transform: matrix(1, 0, 0, 1, 57, 703);
  z-index: 4;
  width: 967px;
  height: 65px;
}

#co-text_84b59c58 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -1, 25);
  transform: matrix(1, 0, 0, 1, -1, 25);
  z-index: 1;
  width: 105px;
  height: 40px;
  opacity: 0;
}

#co-text_f6957245 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 104, 25);
  transform: matrix(1, 0, 0, 1, 104, 25);
  z-index: 2;
  width: 140px;
  height: 40px;
  opacity: 0;
}

#co-text_d9de46b4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 379, -14);
  transform: matrix(1, 0, 0, 1, 379, -14);
  z-index: 4;
  width: 142px;
  height: 39px;
  opacity: 0;
}

#kj8twkxeText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kj8twkxaText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -9.1);
  transform: matrix(0.5, 0, 0, 0.5, 0, -9.1);
}

#co-text_41019eeb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 729);
  transform: matrix(1, 0, 0, 1, 55, 729);
  z-index: 1;
  width: 553px;
  height: 39px;
}

#co-text_c74b6ca5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 298, 705);
  transform: matrix(1, 0, 0, 1, 298, 705);
  z-index: 2;
  width: 306px;
  height: 24px;
}