#kj8tvw94Image {
  width: 905px;
  height: 374px;
  -webkit-transform: matrix(1, 0, 0, 1, 95.8, 193.8);
  transform: matrix(1, 0, 0, 1, 95.8, 193.8);
}

#kj8tvw95Image {
  width: 38px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 770, 220);
  transform: matrix(1, 0, 0, 1, 770, 220);
}

#kj8tvw96Image {
  width: 38px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 396, 220);
  transform: matrix(1, 0, 0, 1, 396, 220);
}

#co-text_0760e50f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 384.2, 210);
  transform: matrix(1, 0, 0, 1, 384.2, 210);
  z-index: 1;
  width: 62px;
  height: 57px;
  opacity: 0;
}

#co-text_483a7e76 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 760.2, 207.6);
  transform: matrix(1, 0, 0, 1, 760.2, 207.6);
  z-index: 2;
  width: 60px;
  height: 60px;
  opacity: 0;
}

#co-popup_6325589f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_34/145a9712.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_6325589f > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 84);
  transform: matrix(1, 0, 0, 1, -76.8, 84);
  opacity: 0;
}

#co-popup_e7bf38e7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_34/f188d99c.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_e7bf38e7 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 83.2);
  transform: matrix(1, 0, 0, 1, -76, 83.2);
  opacity: 0;
}

#co-text_216bebd4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 871.6, 50);
  transform: matrix(1, 0, 0, 1, 871.6, 50);
  z-index: 3;
  width: 54px;
  height: 39px;
  opacity: 0;
}

#co-text_5878a14d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 353.6, 582.6);
  transform: matrix(1, 0, 0, 1, 353.6, 582.6);
  z-index: 4;
  width: 45px;
  height: 37px;
  opacity: 0;
}

#co-popup_2718f7b6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10002;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_34/f6d72b7b.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_baaa8ad6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 346);
  transform: matrix(1, 0, 0, 1, 170, 346);
  z-index: 1;
  width: 156px;
  height: 34px;
}

#co-text_a99e981c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 381.2);
  transform: matrix(1, 0, 0, 1, 170, 381.2);
  z-index: 2;
  width: 320px;
  height: 31px;
}

#co-popup_2718f7b6 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.2, 308.8);
  transform: matrix(1, 0, 0, 1, -123.2, 308.8);
  opacity: 0;
}

#co-popup_2718f7b6 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.9, 309.4);
  transform: matrix(1, 0, 0, 1, -120.9, 309.4);
  opacity: 0;
}

#co-text_a2405063 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 235.13, 125.64);
  transform: matrix(1, 0, 0, 1, 235.13, 125.64);
  z-index: 1;
  width: 474px;
  height: 37px;
}

#co-text_5c36c3b0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.005, -1, 1, -0.005, 136.19, 342.15);
  transform: matrix(-0.005, -1, 1, -0.005, 136.19, 342.15);
  z-index: 2;
  width: 135px;
  height: 28px;
}

#co-text_965efb06 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 256.03, 567.44);
  transform: matrix(1, 0, 0, 1, 256.03, 567.44);
  z-index: 3;
  width: 144px;
  height: 30px;
}

#co-text_c755b10f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 364.99, 567.42);
  transform: matrix(1, 0, 0, 1, 364.99, 567.42);
  z-index: 4;
  width: 176px;
  height: 76px;
}

#co-text_5d0ca9ac {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 532.15, 567.43);
  transform: matrix(1, 0, 0, 1, 532.15, 567.43);
  z-index: 5;
  width: 150px;
  height: 79px;
}

#co-text_ea6e0ba3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 259.02, 118.18);
  transform: matrix(1, 0, 0, 1, 259.02, 118.18);
  z-index: 1;
  width: 385px;
  height: 60px;
}

#co-text_db741b5f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.003, -1, 1, -0.003, 69.46, 345.04);
  transform: matrix(-0.003, -1, 1, -0.003, 69.46, 345.04);
  z-index: 2;
  width: 280px;
  height: 31px;
}

#co-text_666dff49 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 263.07, 573.4);
  transform: matrix(1, 0, 0, 1, 263.07, 573.4);
  z-index: 3;
  width: 139px;
  height: 28px;
}

#co-text_05abae62 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 385.88, 571.91);
  transform: matrix(1, 0, 0, 1, 385.88, 571.91);
  z-index: 4;
  width: 162px;
  height: 73px;
}

#co-text_ccc6f649 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 544.09, 571.91);
  transform: matrix(1, 0, 0, 1, 544.09, 571.91);
  z-index: 5;
  width: 149px;
  height: 74px;
}

#co-text_ceecf9f5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 319.47, 702.79);
  transform: matrix(1, 0, 0, 1, 319.47, 702.79);
  z-index: 8;
  width: 351px;
  height: 23px;
}

#co-popup_6325589f > co-button:nth-child(6) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -75, 83);
  transform: matrix(1, 0, 0, 1, -75, 83);
  opacity: 0;
}

#co-popup_e7bf38e7 > co-button:nth-child(6) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78, 85);
  transform: matrix(1, 0, 0, 1, -78, 85);
  opacity: 0;
}

#kj8tvw9sText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -16, 0);
  transform: matrix(0, -0.5, 0.5, 0, -16, 0);
}

#kj8tvw9tText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -15.2, 0);
  transform: matrix(0, -0.5, 0.5, 0, -15.2, 0);
}

#kj8tvwa2Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -5.6, 0);
  transform: matrix(0.5, 0, 0, 0.5, -5.6, 0);
}

#kj8tvwaaText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -1.6, 0);
  transform: matrix(0.5, 0, 0, 0.5, -1.6, 0);
}

#kj8tvwa6Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -1.6, 0);
  transform: matrix(0.5, 0, 0, 0.5, -1.6, 0);
}

#kj8tvwafText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
  transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
}

#kj8tvwaeText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
  transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
}

#kj8tvwagText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
  transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
}

#kj8tvwahText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
  transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
}

#kj8tvwa8Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -1.6, 0);
  transform: matrix(0.5, 0, 0, 0.5, -1.6, 0);
}

#kj8tvwa7Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
  transform: matrix(0.5, 0, 0, 0.5, -2.4, 0);
}

#kj8tvwa3Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -4, 0);
  transform: matrix(0.5, 0, 0, 0.5, -4, 0);
}

#kj8tvwa4Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -4, 0);
  transform: matrix(0.5, 0, 0, 0.5, -4, 0);
}

#kj8tvwa5Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -3.2, 0);
  transform: matrix(0.5, 0, 0, 0.5, -3.2, 0);
}

#co-container_337d6ac5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 703.01);
  transform: matrix(1, 0, 0, 1, 54, 703.01);
  z-index: 9;
  width: 970px;
  height: 65px;
}

#co-text_2a1ab777 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 378.64, -15.73);
  transform: matrix(1, 0, 0, 1, 378.64, -15.73);
  z-index: 1;
  width: 113px;
  height: 39px;
  opacity: 0;
}

#co-text_c0c7f7c8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 2, 24);
  transform: matrix(1, 0, 0, 1, 2, 24);
  z-index: 2;
  width: 108px;
  height: 40px;
  opacity: 0;
}

#co-text_88952ebd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 109.36, 24);
  transform: matrix(1, 0, 0, 1, 109.36, 24);
  z-index: 3;
  width: 116px;
  height: 40px;
  opacity: 0;
}

#co-text_53daf857 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 224.18, 25);
  transform: matrix(1, 0, 0, 1, 224.18, 25);
  z-index: 4;
  width: 158px;
  height: 40px;
  opacity: 0;
}

#co-text_287a40a5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 487.18, -14.82);
  transform: matrix(1, 0, 0, 1, 487.18, -14.82);
  z-index: 6;
  width: 118px;
  height: 37px;
  opacity: 0;
}

#co-text-button_5b6b31d2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 834.5, 240.25);
  transform: matrix(1, 0, 0, 1, 834.5, 240.25);
  z-index: 10;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 163px;
  height: 166px;
}

#co-text-button_5b6b31d2 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_5b6b31d2 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text_483a7e76 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_49c26d98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 56.11, 726);
  transform: matrix(1, 0, 0, 1, 56.11, 726);
  z-index: 2;
  width: 656px;
  height: 42px;
}

#kj8tvw9jImage {
  display: none;
}

#kj8tvw9jImage * {
  display: none;
}

#kj8tvw9iImage {
  display: none;
}

#kj8tvw9iImage * {
  display: none;
}

#pf6 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-text_d1850202 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55.64, 726);
  transform: matrix(1, 0, 0, 1, 55.64, 726);
  z-index: 1;
  width: 566px;
  height: 41px;
}