.btn_ref{position: absolute;left: 887px;top: 608px;width: 50px;height: 50px;}
#kj8tvrncText {color: rgb(233,131,0) !important;}
#kj8tvrmmImage {
  width: 876px;
  height: 536px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 142);
  transform: matrix(1, 0, 0, 1, 107, 142);
}

#kj8tvrmnImage {
  width: 795px;
  height: 313px;
  -webkit-transform: matrix(1, 0, 0, 1, 146, 273.4);
  transform: matrix(1, 0, 0, 1, 146, 273.4);
}

#kj8tvrmrImage {
  width: 76px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 905, 234);
  transform: matrix(1, 0, 0, 1, 905, 234);
}

#kj8tvrmsImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kj8tvrmtImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 727);
  transform: matrix(1, 0, 0, 1, 376, 727);
}

#kj8tvrmuImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kj8tvrmxImage {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 728);
  transform: matrix(1, 0, 0, 1, 215, 728);
}

#kj8tvrmyImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tvrmzImage {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 704);
  transform: matrix(1, 0, 0, 1, 215, 704);
}

#kj8tvrn0Image {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 377, 704);
  transform: matrix(1, 0, 0, 1, 377, 704);
}

#kj8tvrn1Image {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 704);
  transform: matrix(1, 0, 0, 1, 538, 704);
}

#kj8tvrn2Image {
  width: 163px;
  height: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 705);
  transform: matrix(1, 0, 0, 1, 215, 705);
}

#co-text_3e438dcb {
  top: 1px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 109, 142);
  transform: matrix(1, 0, 0, 1, 109, 142);
  z-index: 1;
  width: 437px;
  height: 68px;
}

#co-text_39ed44de {
  top: -1px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 545, 144);
  transform: matrix(1, 0, 0, 1, 545, 144);
  z-index: 2;
  width: 436px;
  height: 68px;
  background-image: none;
}

#co-container_1a01cd40 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 218);
  transform: matrix(1, 0, 0, 1, 110, 218);
  z-index: 3;
  width: 870px;
  height: 459px;
  background-color: rgba(255, 255, 255, 1.0);
  background-image: none;
  opacity: 1;
}

#co-container_bb8fbbe8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 22, 78);
  transform: matrix(1, 0, 0, 1, 22, 78);
  z-index: 2;
  width: 847px;
  height: 342px;
}

#co-text_7e53834e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 25, 15);
  transform: matrix(1, 0, 0, 1, 25, 15);
  z-index: 3;
  width: 670px;
  height: 66px;
}

#co-text_7e53834e > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-image_a14b1012 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 806, 10);
  transform: matrix(1, 0, 0, 1, 806, 10);
  z-index: 4;
  width: 60px;
  height: 36px;
}

#co-text_fdc72f96 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 712, 16);
  transform: matrix(1, 0, 0, 1, 712, 16);
  z-index: 5;
  width: 102px;
  height: 24px;
}

#co-image_9d04f810 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 25.4, 33.8);
  transform: matrix(1, 0, 0, 1, 25.4, 33.8);
  z-index: 2;
  width: 788px;
  height: 291px;
}

#co-image_f0ba1743 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 421, 414.8);
  transform: matrix(1, 0, 0, 1, 421, 414.8);
  z-index: 6;
  width: 33px;
  height: 34px;
}

#co-text_2f8912e6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 2.00, 460.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 2.00, 460.00) translate3d(0,0,0);
  z-index: 4;
  width: 655px;
  height: 177px;
}

#co-container_fb628a2f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 1, 172);
  transform: matrix(1, 0, 0, 1, 1, 172);
  z-index: 5;
  width: 836px;
  height: 402px;
}

#co-text_c49a0821 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 197.2, -162.8);
  transform: matrix(1, 0, 0, 1, 197.2, -162.8);
  z-index: 1;
  width: 444px;
  height: 33px;
}

#co-text_4cb0f2e1 {
  top: 4px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 362, 311);
  transform: matrix(1, 0, 0, 1, 362, 311);
  z-index: 2;
  width: 118px;
  height: 26px;
}

#co-text_eb6c2ca7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 452.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 452.00) translate3d(0,0,0);
  z-index: 3;
  width: 829px;
  height: 165px;
}

#co-popup_0d11fdff {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_31/936ab53a.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_742c2042 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 342);
  transform: matrix(1, 0, 0, 1, 170, 342);
  z-index: 1;
  width: 178px;
  height: 32px;
}

#co-text_7cd0ab36 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 380);
  transform: matrix(1, 0, 0, 1, 170, 380);
  z-index: 2;
  width: 525px;
  height: 19px;
}

#co-text_4697ea29 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 401);
  transform: matrix(1, 0, 0, 1, 170, 401);
  z-index: 3;
  width: 501px;
  height: 31px;
}

#co-popup_0d11fdff > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 303);
  transform: matrix(1, 0, 0, 1, -120, 303);
  opacity: 0;
}

#co-text_ef8ff744 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 436, 51.51);
  transform: matrix(1, 0, 0, 1, 436, 51.51);
  z-index: 6;
  width: 59px;
  height: 41px;
  opacity: 0;
}

#co-text_efdde9f3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 610, -6);
  transform: matrix(1, 0, 0, 1, 610, -6);
  z-index: 4;
  width: 35px;
  height: 30px;
  opacity: 0;
}

#co-popup_0d11fdff > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -131.39, 292.49);
  transform: matrix(1, 0, 0, 1, -131.39, 292.49);
  opacity: 0;
  width: 68px;
  height: 67px;
}

#co-text_2f80fbf6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 83.51, 48.27);
  transform: matrix(1, 0, 0, 1, 83.51, 48.27);
  z-index: 7;
  opacity: 0;
  width: 35px;
  height: 25px;
}
#co-text_2f80fbf6_2 {
  top: 24px;
  left: 540px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 83.51, 48.27);
  transform: matrix(1, 0, 0, 1, 83.51, 48.27);
  z-index: 7;
  opacity: 0;
  width: 46px;
  height: 40px;
  
}

/*custom*/

.tab_title {
  background: #e4eff1;
}

.tab_title span {
  font-family: "3_CCMVBT+AvenirNextLTPro-Demi";
  color: rgb(84, 122, 129);
}

.tab_title.act {
  background: #ffffff;
}

.tab_title.act span {
  font-family: "1_CWOXIJ+AvenirNextLTPro-Bold" !important;
  color: rgb(232, 87, 0) !important;
  position: relative;
  top: -1px;
}

.tab_content2 {
  display: none;
}

.scroll_wrap {
  overflow: hidden;
}

.scroll_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 342px;
  transition: all .5s ease;
}

.scroll_content.up {
  top: -628px;
}

.go_down_btn {
  -webkit-transition: all .3s ease;
}

#co-image_f0ba1743.up {
  -webkit-transform: matrix(1, 0, 0, 1, 421, 426) rotate(180deg);
  transform: matrix(1, 0, 0, 1, 421, 426) rotate(180deg);
}

#co-text_70562e45 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0.002, -0.002, 1, 277.8, 709);
  transform: matrix(1, 0.002, -0.002, 1, 277.8, 709);
  z-index: 7;
  width: 45px;
  height: 17px;
  background-color: rgba(231,86,0,0);
  background-image: none;
}

#co-text_39ed44de > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#pf3 {
  opacity: 1;
}

#co-text_6675d91d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 411.6, 709.2);
  transform: matrix(1, 0, 0, 1, 411.6, 709.2);
  z-index: 8;
  width: 269px;
  height: 17px;
}

#co-text_6675d91d > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-container_57e45661 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 702);
  transform: matrix(1, 0, 0, 1, 54, 702);
  z-index: 9;
  width: 970px;
  height: 66px;
}

#co-text_74e94196 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 323, -19);
  transform: matrix(1, 0, 0, 1, 323, -19);
  z-index: 1;
  width: 162px;
  height: 49px;
  opacity: 0;
}

#co-text_52cdf636 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 484, -20);
  transform: matrix(1, 0, 0, 1, 484, -20);
  z-index: 2;
  width: 166px;
  height: 48px;
  opacity: 0;
}

#co-text_8d303bd5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 1, 26);
  transform: matrix(1, 0, 0, 1, 1, 26);
  z-index: 3;
  width: 163px;
  height: 40px;
  opacity: 0;
}

#co-text_7c5aec71 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 322, 26);
  transform: matrix(1, 0, 0, 1, 322, 26);
  z-index: 4;
  width: 164px;
  height: 38px;
  opacity: 0;
}

#co-text_634834f1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 484, 27);
  transform: matrix(1, 0, 0, 1, 484, 27);
  z-index: 5;
  width: 163px;
  height: 39px;
  opacity: 0;
}

#co-text_c456d49a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 322.4, 134.2);
  transform: matrix(1, 0, 0, 1, 322.4, 134.2);
  z-index: 5;
  width: 186px;
  height: 25px;
}

#co-text_c456d49a > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_63d2b5b7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.005, -1, 1, -0.005, -78.2, -23);
  transform: matrix(-0.005, -1, 1, -0.005, -78.2, -23);
  z-index: 6;
  width: 187px;
  height: 25px;
}

#co-text_e49ad0b0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 73, 741);
  transform: matrix(1, 0, 0, 1, 73, 741);
  z-index: 1;
  width: 621px;
  height: 16px;
}