#kja6j7vrImage {
  width: 877px;
  height: 348px;
  -webkit-transform: matrix(1, 0, 0, 1, 102, 227);
  transform: matrix(1, 0, 0, 1, 102, 227);
}

#kja6j7vsImage {
  width: 39px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 959, 96);
  transform: matrix(1, 0, 0, 1, 959, 96);
}

#co-text-button_c1912d78 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 468.25, 29);
  transform: matrix(1, 0, 0, 1, 468.25, 29);
  z-index: 2;
  width: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_c1912d78 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_c1912d78 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_00b8c590 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_86/9836e89e.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_00b8c590 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 311.25);
  transform: matrix(1, 0, 0, 1, -120, 311.25);
  opacity: 0;
}

#co-text_d369a28d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_9f6119f9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  z-index: 2;
  width: 480px;
  height: 20px;
}

#co-popup_00b8c590 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 310);
  transform: matrix(1, 0, 0, 1, -120, 310);
  opacity: 0;
}

#kja6j7waText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  height: 270px;
}

#co-text_9f6119f9 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}