#kja6ijjoImage {
  width: 171px;
  height: 171px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 267);
  transform: matrix(1, 0, 0, 1, 107, 267);
}

#kja6ijjpImage {
  width: 171px;
  height: 171px;
  -webkit-transform: matrix(1, 0, 0, 1, 749.8, 262);
  transform: matrix(1, 0, 0, 1, 749.8, 262);
}

#kja6ijjqImage {
  width: 38px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 964, 154);
  transform: matrix(1, 0, 0, 1, 964, 154);
}

#kja6ijjrImage {
  width: 171px;
  height: 171px;
  -webkit-transform: matrix(1, 0, 0, 1, 321, 267);
  transform: matrix(1, 0, 0, 1, 321, 267);
}

#kja6ijjsImage {
  width: 171px;
  height: 171px;
  -webkit-transform: matrix(1, 0, 0, 1, 535, 262);
  transform: matrix(1, 0, 0, 1, 535, 262);
}

#kja6ijjtImage {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kja6ijjuImage {
  width: 192px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 434, 727);
  transform: matrix(1, 0, 0, 1, 434, 727);
}

#kja6ijjvImage {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 623, 727);
  transform: matrix(1, 0, 0, 1, 623, 727);
}

#kja6ijjwImage {
  width: 192px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 243, 728);
  transform: matrix(1, 0, 0, 1, 243, 728);
}

#kja6ijjxImage {
  width: 192px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 243, 727);
  transform: matrix(1, 0, 0, 1, 243, 727);
}

#kja6ijk6Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -27.5, 0);
  transform: matrix(0.5, 0, 0, 0.5, -27.5, 0);
  width: 278px;
  height: 146px;
}

#kja6ijkdText {
  width: 300px;
  height: 152px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -36.25, 0);
  transform: matrix(0.5, 0, 0, 0.5, -36.25, 0);
}

#kja6ijkgText {
  height: 200px;
  width: 300px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -36.25, 7.5);
  transform: matrix(0.5, 0, 0, 0.5, -36.25, 7.5);
}

#kja6ijkkText {
  height: 200px;
  width: 300px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -46.25, 7.5);
  transform: matrix(0.5, 0, 0, 0.5, -46.25, 7.5);
}

#co-popup_c4fbe064 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_60/2c4c5507.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_c4fbe064 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.25, 87.5);
  transform: matrix(1, 0, 0, 1, -76.25, 87.5);
  opacity: 0;
}

#kja6ijkbText {
  height: 60px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -36.25, 0);
  transform: matrix(0.5, 0, 0, 0.5, -36.25, 0);
}

#co-text_b68b64fb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 122, 111.25);
  transform: matrix(1, 0, 0, 1, 122, 111.25);
  z-index: 1;
  width: 700px;
  height: 50px;
}

#co-container_1dddbb24 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 122, 169);
  transform: matrix(1, 0, 0, 1, 122, 169);
  z-index: 2;
  width: 777px;
  height: 340px;
}

#co-image_3db52a73 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 61.25, 0);
  transform: matrix(1, 0, 0, 1, 61.25, 0);
  z-index: 1;
  width: 628px;
  height: 332px;
}

#co-text_1db9804c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 31.50, 139.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 31.50, 139.00) translate3d(0,0,0);
  z-index: 2;
  width: 100px;
  height: 35px;
}

#co-text_b23c8811 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 357.75, 139);
  transform: matrix(1, 0, 0, 1, 357.75, 139);
  z-index: 3;
  width: 80px;
  height: 35px;
}

#co-text_44da0d7b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 699.00, 146.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 699.00, 146.00) translate3d(0,0,0);
  z-index: 4;
  width: 60px;
  height: 20px;
}

#co-text_c8592d5b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 699.00, 186.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 699.00, 186.00) translate3d(0,0,0);
  z-index: 5;
  width: 60px;
  height: 20px;
}

#co-text_15f8b1dc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 699.00, 226.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 699.00, 226.00) translate3d(0,0,0);
  z-index: 6;
  width: 60px;
  height: 20px;
}

#co-text_2c9349a8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 699.00, 266.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 699.00, 266.00) translate3d(0,0,0);
  z-index: 7;
  width: 60px;
  height: 20px;
}

#co-text_0f965183 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 699, 306.25);
  transform: matrix(1, 0, 0, 1, 699, 306.25);
  z-index: 8;
  width: 60px;
  height: 20px;
}

#co-text_ef22230f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 86.00, 302.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 86.00, 302.00) translate3d(0,0,0);
  z-index: 9;
  width: 60px;
  height: 20px;
}

#co-text_002725ea {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 175.25, 302);
  transform: matrix(1, 0, 0, 1, 175.25, 302);
  z-index: 10;
  width: 90px;
  height: 20px;
}

#co-text_996ec137 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 297.75, 302.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 297.75, 302.00) translate3d(0,0,0);
  z-index: 11;
  width: 60px;
  height: 20px;
}

#co-text_53503805 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 392.5, 302);
  transform: matrix(1, 0, 0, 1, 392.5, 302);
  z-index: 12;
  width: 80px;
  height: 20px;
}

#co-text_280f9da7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 122, 501.5);
  transform: matrix(1, 0, 0, 1, 122, 501.5);
  z-index: 3;
  width: 800px;
  height: 120px;
}

#co-text_0f77da0d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 122, 635.59);
  transform: matrix(1, 0, 0, 1, 122, 635.59);
  z-index: 4;
  height: 35px;
}

#co-popup_c4fbe064 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78.75, 87.5);
  transform: matrix(1, 0, 0, 1, -78.75, 87.5);
  opacity: 0;
}

#co-popup_d8bb77e7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_60/374aeea1.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_d8bb77e7 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 287.2);
  transform: matrix(1, 0, 0, 1, -121.6, 287.2);
  opacity: 0;
}

#co-text_d47d0337 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 314.8);
  transform: matrix(1, 0, 0, 1, 170, 314.8);
  z-index: 1;
  width: 185px;
  height: 25px;
}

#co-text_dfbbcb33 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 357);
  transform: matrix(1, 0, 0, 1, 170, 357);
  z-index: 2;
  width: 609px;
  height: 20px;
}

#co-text_28139d4b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 381.6);
  transform: matrix(1, 0, 0, 1, 170, 381.6);
  z-index: 3;
  width: 471px;
  height: 20px;
}

#co-text_9de9d32b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170.91, 404.8);
  transform: matrix(1, 0, 0, 1, 170.91, 404.8);
  z-index: 4;
  width: 549px;
  height: 21px;
}

#co-text_235d04d9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 431.6);
  transform: matrix(1, 0, 0, 1, 170, 431.6);
  z-index: 5;
  width: 432px;
  height: 20px;
}

#kja6ijk2Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  width: 1753px;
  height: 209px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

#co-text-button_d029fedd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 57, 727.75);
  transform: matrix(1, 0, 0, 1, 57, 727.75);
  z-index: 2;
  width: 190px;
  height: 40px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_d029fedd > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_d029fedd > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_4d210c98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 433.25, 728);
  transform: matrix(1, 0, 0, 1, 433.25, 728);
  z-index: 3;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 190px;
  height: 40px;
}

#co-text-button_4d210c98 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_4d210c98 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_8580c178 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 622, 727.75);
  transform: matrix(1, 0, 0, 1, 622, 727.75);
  z-index: 4;
  width: 190px;
  height: 40px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_8580c178 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_8580c178 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_18eec53c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 675.5, 44);
  transform: matrix(1, 0, 0, 1, 675.5, 44);
  z-index: 5;
  width: 62px;
  height: 52px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_18eec53c > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_18eec53c > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_d8bb77e7 > co-button:nth-child(6) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 287.5);
  transform: matrix(1, 0, 0, 1, -121.25, 287.5);
  opacity: 0;
}

#co-text_fc034c8e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 246.8, 643.89);
  transform: matrix(1, 0, 0, 1, 246.8, 643.89);
  z-index: 5;
  width: 162px;
  height: 20px;
  opacity: 0;
}

#co-text_a8ae8274 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 117.2, 644.69);
  transform: matrix(1, 0, 0, 1, 117.2, 644.69);
  z-index: 6;
  width: 133px;
  height: 19px;
  opacity: 0;
}

#co-popup_c4fbe064 > co-button:nth-child(7) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78.89, 91.11);
  transform: matrix(1, 0, 0, 1, -78.89, 91.11);
  opacity: 0;
}

#co-container_6d806a33 {
  -webkit-transform: matrix(1, 0, 0, 1, 170, -18);
  transform: matrix(1, 0, 0, 1, 170, -18);
}

#co-text_d5ea39ea {
  display: none;
}

#co-text_d5ea39ea * {
  display: none;
}

#co-textarea_b91a6231 {
  display: none;
}

#co-textarea_b91a6231 * {
  display: none;
}

#co-text_9de9d32b > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_28139d4b > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_dfbbcb33 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_235d04d9 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}
.sub_nav{
  position: absolute;
  left: 244px;
  top: 705px;
  width: 571px;
  height: 23px;background-image: url("../media/images/Brintellix_60/sub.png");
  background-size: 100%;
}
.nav1{position: absolute;left: 191px;top: 0;width: 189px;height: 100%;}
.nav2{position: absolute;left: 381px;top: 0;width: 190px;height: 100%;}
@media only screen and (min-width: 1180px) and (orientation: landscape) {
.nav{
    left: 161px;
}
}

@media only screen and (min-width: 1194px) and (orientation: landscape) {
.nav{
    left: 161px;
}
}
.btn_ref1{position: absolute;left: 200px;top: 347px;width: 50px;height: 50px;}
.btn_ref2{position: absolute;
    left: 411px;
    top: 351px;
    width: 50px;
    height: 50px;
    }
.btn_ref3{position: absolute;
    left: 626px;
    top: 365px;
    width: 50px;
    height: 50px;
    }
.btn_ref4{position: absolute;
    left: 839px;
    top: 365px;
    width: 50px;
    height: 50px;
    }