#kja6jc3sImage {
  width: 877px;
  height: 334px;
  -webkit-transform: matrix(1, 0, 0, 1, 102, 255);
  transform: matrix(1, 0, 0, 1, 102, 255);
}

#kja6jc3tImage {
  width: 40px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 959, 96);
  transform: matrix(1, 0, 0, 1, 959, 96);
}

#co-text-button_420377e5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 468.25, 29);
  transform: matrix(1, 0, 0, 1, 468.25, 29);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_420377e5 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_420377e5 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_90982c80 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_91/36b189e2.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_90982c80 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 310);
  transform: matrix(1, 0, 0, 1, -120, 310);
  opacity: 0;
}

#co-text_1bebf958 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 20px;
}

#co-text_d035bef5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  z-index: 2;
  width: 430px;
  height: 20px;
}

#co-popup_90982c80 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 308.75);
  transform: matrix(1, 0, 0, 1, -120, 308.75);
  opacity: 0;
}

#kja6jc41Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
  transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
}

#kja6jc42Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
  transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
}

#kja6jc43Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
  transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
}

#kja6jc44Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
  transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
}

#kja6jc45Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
  transform: matrix(0.5, 0, 0, 0.5, -3.75, 0);
}

#kja6jc46Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 6.25, 0);
  transform: matrix(0.5, 0, 0, 0.5, 6.25, 0);
}