#kj8tvxppImage {
  width: 875px;
  height: 418px;
  -webkit-transform: matrix(1, 0, 0, 1, 125.2, 208.4);
  transform: matrix(1, 0, 0, 1, 125.2, 208.4);
}

#co-text_51f9a5ff {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 814, 76.4);
  transform: matrix(1, 0, 0, 1, 814, 76.4);
  z-index: 1;
  width: 45px;
  height: 42px;
  opacity: 0;
}

#co-popup_d55282c8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_35/47933c9a.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_ca782d5c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 348.4);
  transform: matrix(1, 0, 0, 1, 170, 348.4);
  z-index: 1;
  width: 166px;
  height: 26px;
}

#co-text_426a3c11 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 381.2);
  transform: matrix(1, 0, 0, 1, 170, 381.2);
  z-index: 2;
  width: 480px;
  height: 23px;
}

#co-popup_d55282c8 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 310.4);
  transform: matrix(1, 0, 0, 1, -121.6, 310.4);
  opacity: 0;
}

#kj8tvxq6Text {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -12.8, 0);
  transform: matrix(0, -0.5, 0.5, 0, -12.8, 0);
}

#kj8tvxqiText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -16, 12);
  transform: matrix(0, -0.5, 0.5, 0, -16, 12);
}

#co-popup_d55282c8 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.39, 309.4);
  transform: matrix(1, 0, 0, 1, -122.39, 309.4);
  opacity: 0;
}

#kj8tvxqgText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

#kj8tvxqhText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -0.8);
  transform: matrix(0.5, 0, 0, 0.5, 0, -0.8);
}

#kj8tvxqjText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 8);
  transform: matrix(0.5, 0, 0, 0.5, 0, 8);
}

#kj8tvxqfText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 3.2);
  transform: matrix(0.5, 0, 0, 0.5, 0, 3.2);
}

#co-container_e884bd19 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 698.01);
  transform: matrix(1, 0, 0, 1, 55, 698.01);
  z-index: 2;
  width: 969px;
  height: 70px;
}

#co-text_5c4e523a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 262.09, -17);
  transform: matrix(1, 0, 0, 1, 262.09, -17);
  z-index: 1;
  width: 118px;
  height: 45px;
  opacity: 0;
}

#co-text_dea641b9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 1, 29);
  transform: matrix(1, 0, 0, 1, 1, 29);
  z-index: 2;
  width: 108px;
  height: 36px;
  opacity: 0;
}

#co-text_2b15940f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 108.18, 26);
  transform: matrix(1, 0, 0, 1, 108.18, 26);
  z-index: 3;
  width: 115px;
  height: 39px;
  opacity: 0;
}

#co-text_52850772 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 223, 27.91);
  transform: matrix(1, 0, 0, 1, 223, 27.91);
  z-index: 4;
  width: 155px;
  height: 38px;
  opacity: 0;
}

#co-text_1b7fe019 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 486, -11.28);
  transform: matrix(1, 0, 0, 1, 486, -11.28);
  z-index: 6;
  width: 121px;
  height: 39px;
  opacity: 0;
}

#kj8tvxq7Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#pf7 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-text_2d149314 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55.01, 725.01);
  transform: matrix(1, 0, 0, 1, 55.01, 725.01);
  z-index: 1;
  width: 857px;
  height: 42px;
}

#co-text_eb5f53b2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 318.36, 700.73);
  transform: matrix(1, 0, 0, 1, 318.36, 700.73);
  z-index: 2;
  width: 353px;
  height: 24px;
}