#kja6itwtImage {
  width: 873px;
  height: 301px;
  -webkit-transform: matrix(1, 0, 0, 1, 103, 236);
  transform: matrix(1, 0, 0, 1, 103, 236);
}

#kja6itwuImage {
  width: 39px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 959, 96);
  transform: matrix(1, 0, 0, 1, 959, 96);
}

#kja6itwwImage {
  width: 54px;
  height: 768px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-popup_e10804ff {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_70/819ed02b.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_e10804ff > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 310);
  transform: matrix(1, 0, 0, 1, -120, 310);
  opacity: 0;
}

#co-text_6c3e2721 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_ee17dbb7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 390.00) translate3d(0,0,0);
  z-index: 2;
  width: 460px;
  height: 20px;
}

#co-text-button_a9130679 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 404.5, 31.5);
  transform: matrix(1, 0, 0, 1, 404.5, 31.5);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_a9130679 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_a9130679 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_e10804ff > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 310);
  transform: matrix(1, 0, 0, 1, -120, 310);
  opacity: 0;
}

#kja6itwzText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_ee17dbb7 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}