#kihkcc41Image {width: 1023px;height: 312px;-webkit-transform: matrix(1, 0, 0, 1, 1, 191);transform: matrix(1, 0, 0, 1, 1, 191);}
#kihkcc45Text {word-wrap: break-word;-webkit-line-break: after-white-space;height: 95px;-webkit-transform: matrix(0.5, 0, 0, 0.5, 82.4, -12);transform: matrix(0.5, 0, 0, 0.5, 82.4, -12);}
#co-text_a700e7ba {-webkit-transform: matrix(1, 0, 0, 1, 0, 255);transform: matrix(1, 0, 0, 1, 0, 255);}
#co-text_c33b1f1f {-webkit-transform: matrix(1, 0, 0, 1, 0, 7.2);transform: matrix(1, 0, 0, 1, 0, 7.2);}
#co-text_d5657ca0 {height: 51px;}