#kja6iqujImage {
  width: 829px;
  height: 49px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 612);
  transform: matrix(1, 0, 0, 1, 107, 612);
}

#kja6iqukImage {
  width: 852px;
  height: 169px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 108);
  transform: matrix(1, 0, 0, 1, 107, 108);
}

#kja6iqunImage {
  width: 1px;
  height: 126px;
  -webkit-transform: matrix(1, 0, 0, 1, 537, 130);
  transform: matrix(1, 0, 0, 1, 537, 130);
}

#kja6iquoImage {
  width: 222px;
  height: 223px;
  -webkit-transform: matrix(1, 0, 0, 1, 697, 358);
  transform: matrix(1, 0, 0, 1, 697, 358);
}

#kja6iqupImage {
  width: 222px;
  height: 223px;
  -webkit-transform: matrix(1, 0, 0, 1, 423, 358);
  transform: matrix(1, 0, 0, 1, 423, 358);
}

#kja6iquqImage {
  width: 222px;
  height: 222px;
  -webkit-transform: matrix(1, 0, 0, 1, 149, 358);
  transform: matrix(1, 0, 0, 1, 149, 358);
}

#kja6iqusImage {
  width: 69px;
  height: 49px;
  -webkit-transform: matrix(1, 0, 0, 1, 903, 612.25);
  transform: matrix(1, 0, 0, 1, 903, 612.25);
}

#kja6iqutImage {
  width: 191px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kja6iquuImage {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kja6iqv5Text {
  width: 280px;
  height: 270px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -33.75, 0);
  transform: matrix(0.5, 0, 0, 0.5, -33.75, 0);
}

#kja6iqvbText {
  width: 330px;
  height: 320px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -43.75, 0);
  transform: matrix(0.5, 0, 0, 0.5, -43.75, 0);
}

#kja6iqviText {
  width: 280px;
  height: 230px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -17.5, 5);
  transform: matrix(0.5, 0, 0, 0.5, -17.5, 5);
}

#kja6iqvoText,
#kja6iqujImage {
  display: none;
}

#kja6iqvoText {
  width: 1600px;
  height: 93px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -100, -15);
  transform: matrix(0.5, 0, 0, 0.5, -100, -15);
}

#co-text-button_57a352bc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 52, 726);
  transform: matrix(1, 0, 0, 1, 52, 726);
  z-index: 2;
  width: 198px;
  height: 38px;
  opacity: 0;
}