#kihkch2bImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 727);
  transform: matrix(1, 0, 0, 1, 54, 727);
}

#kihkch2cImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 252, 727);
  transform: matrix(1, 0, 0, 1, 252, 727);
}

#kihkch2dImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 133, 727);
  transform: matrix(1, 0, 0, 1, 133, 727);
}

#kihkch2eImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 661, 727);
  transform: matrix(1, 0, 0, 1, 661, 727);
}

#kihkch2fImage {
  width: 100px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 780, 727);
  transform: matrix(1, 0, 0, 1, 780, 727);
}

#kihkch2gImage {
  width: 146px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 878, 727);
  transform: matrix(1, 0, 0, 1, 878, 727);
}

#kihkch2hImage {
  width: 186px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 727);
  transform: matrix(1, 0, 0, 1, 477, 727);
}

#kihkch2iImage {
  width: 146px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 332, 728);
  transform: matrix(1, 0, 0, 1, 332, 728);
}

#kihkch2jImage {
  width: 147px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 331, 727);
  transform: matrix(1, 0, 0, 1, 331, 727);
}

#co-container_2c97161d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 103.00, 162.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 103.00, 162.00) translate3d(0,0,0);
  z-index: 2;
  width: 885px;
  height: 512px;
  opacity: 1;
}

#co-image_bb839ae9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 1;
  width: 885px;
  height: 511px;
}

#co-image_8aa2b879 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 2;
  width: 176px;
  height: 48px;
  display: none;
}

.txtTab.active > span > div > span {
  color: #e85700 !important;
  font-family: '1_WUORLG+AvenirNextLTPro-Bold' !important;
  position: relative;
  top: -3px;
}

#co-image_b2b782fa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 177.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 177.00, 0.00) translate3d(0,0,0);
  z-index: 3;
  width: 176px;
  height: 48px;
}

#co-image_8a957228 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 355.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 355.00, 0.00) translate3d(0,0,0);
  z-index: 4;
  width: 176px;
  height: 48px;
}

#co-image_8aa53f1c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 532.25, 0);
  transform: matrix(1, 0, 0, 1, 532.25, 0);
  z-index: 5;
  width: 176px;
  height: 48px;
}

#co-image_91d5b722 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 709.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 709.00, 0.00) translate3d(0,0,0);
  z-index: 6;
  width: 176px;
  height: 48px;
}

#co-text_76673b60 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 13.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 13.00) translate3d(0,0,0);
  z-index: 7;
  width: 176px;
  height: 20px;
}

#co-text_42f597dc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 175.5, 13);
  transform: matrix(1, 0, 0, 1, 175.5, 13);
  z-index: 8;
  width: 176px;
  height: 20px;
}

#co-text_42f597dc > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_76858a41 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 355.5, 13);
  transform: matrix(1, 0, 0, 1, 355.5, 13);
  z-index: 9;
  width: 176px;
  height: 20px;
}

#co-text_97fceed1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 531.75, 13);
  transform: matrix(1, 0, 0, 1, 531.75, 13);
  z-index: 10;
  width: 176px;
  height: 20px;
}

#co-text_cbe811e9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 708, 13);
  transform: matrix(1, 0, 0, 1, 708, 13);
  z-index: 11;
  width: 176px;
  height: 20px;
}

#co-container_db68670e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  z-index: 12;
  width: 885px;
  height: 462px;
  opacity: 1;
}

#co-image_2a3665f2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 214.00, 92.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 214.00, 92.00) translate3d(0,0,0);
  z-index: 1;
  width: 459px;
  height: 246px;
}

#co-text_c4c37e65 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 33.00, 30.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 33.00, 30.00) translate3d(0,0,0);
  z-index: 2;
  width: 800px;
  height: 25px;
}

#co-text_d9f0a996 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 32.2, 389.8);
  transform: matrix(1, 0, 0, 1, 32.2, 389.8);
  z-index: 3;
  width: 800px;
}

#co-text_2af4e5f9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 273, 201);
  transform: matrix(1, 0, 0, 1, 273, 201);
  z-index: 4;
  width: 120px;
}

#co-text_08deaab9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 455.00, 180.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 455.00, 180.00) translate3d(0,0,0);
  z-index: 5;
  width: 200px;
  height: 120px;
}

#co-container_11f19fd5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  z-index: 13;
  width: 885px;
  height: 462px;
  display: none;
}

#co-image_991eead0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 214.00, 92.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 214.00, 92.00) translate3d(0,0,0);
  z-index: 1;
  width: 459px;
  height: 246px;
}

#co-text_7e4d88ff {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 33.00, 30.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 33.00, 30.00) translate3d(0,0,0);
  z-index: 2;
  width: 800px;
  height: 50px;
}

#co-text_56d7e47d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 33.00, 373.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 33.00, 373.00) translate3d(0,0,0);
  z-index: 3;
  width: 800px;
  height: 80px;
}

#co-text_a9acf251 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 273.00, 201.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 273.00, 201.00) translate3d(0,0,0);
  z-index: 4;
  width: 120px;
}

#co-text_ec045314 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 455.00, 180.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 455.00, 180.00) translate3d(0,0,0);
  z-index: 5;
  width: 200px;
  height: 120px;
}

#co-container_720bed1a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  z-index: 14;
  width: 885px;
  height: 462px;
  display: none;
}

#co-image_9eb6d33d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 214.00, 92.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 214.00, 92.00) translate3d(0,0,0);
  z-index: 1;
  width: 459px;
  height: 246px;
}

#co-text_bdea97e1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 33.00, 30.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 33.00, 30.00) translate3d(0,0,0);
  z-index: 2;
  width: 800px;
  height: 50px;
}

#co-text_9edda21d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 33, 389.8);
  transform: matrix(1, 0, 0, 1, 33, 389.8);
  z-index: 3;
  width: 800px;
}

#co-text_40e0ebbc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 273.00, 201.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 273.00, 201.00) translate3d(0,0,0);
  z-index: 4;
  width: 120px;
}

#co-text_6fd079fd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 449.25, 172.25);
  transform: matrix(1, 0, 0, 1, 449.25, 172.25);
  z-index: 5;
  width: 210px;
  height: 150px;
}

#co-container_7cb92960 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  z-index: 15;
  width: 885px;
  height: 462px;
  display: none;
}

#co-text_0064f91e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 30.00, 33.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 30.00, 33.00) translate3d(0,0,0);
  z-index: 1;
  width: 800px;
  height: 55px;
}

#co-text_cbf35c44 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 30, 390.55);
  transform: matrix(1, 0, 0, 1, 30, 390.55);
  z-index: 2;
  width: 800px;
}

#co-image_9901b85c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 74.25, 91);
  transform: matrix(1, 0, 0, 1, 74.25, 91);
  z-index: 3;
  width: 732px;
  height: 286px;
}

#co-text_61fcb8aa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.006, -1, 1, -0.006, -55.75, 187.25);
  transform: matrix(-0.006, -1, 1, -0.006, -55.75, 187.25);
  z-index: 4;
  width: 200px;
  height: 25px;
}

#co-text_f42cf5b6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 719.25, 103);
  transform: matrix(1, 0, 0, 1, 719.25, 103);
  z-index: 5;
  width: 80px;
  height: 30px;
}

#co-text_b119ac76 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 720.5, 211);
  transform: matrix(1, 0, 0, 1, 720.5, 211);
  z-index: 6;
  width: 80px;
  height: 30px;
}

#co-text_640dda53 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 200.5, 332.25);
  transform: matrix(1, 0, 0, 1, 200.5, 332.25);
  z-index: 7;
  width: 500px;
  height: 20px;
}

#co-text_b0eeb0df {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 271.00, 361.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 271.00, 361.00) translate3d(0,0,0);
  z-index: 8;
  width: 160px;
  height: 20px;
}

#co-text_c428344d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 481.75, 361);
  transform: matrix(1, 0, 0, 1, 481.75, 361);
  z-index: 9;
  width: 182px;
  height: 20px;
}

#co-container_4d1814a8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 47.00) translate3d(0,0,0);
  z-index: 16;
  width: 885px;
  height: 462px;
  display: none;
}

#co-image_9f7419d2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 43, 32.25);
  transform: matrix(1, 0, 0, 1, 43, 32.25);
  z-index: 1;
  width: 424px;
  height: 389px;
}

#co-text_382de699 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 488.00, 39.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 488.00, 39.00) translate3d(0,0,0);
  z-index: 2;
  height: 90px;
  width: 310px;
}

#co-text_1e7fe74d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 488, 182.25);
  transform: matrix(1, 0, 0, 1, 488, 182.25);
  z-index: 3;
  width: 371px;
  height: 87px;
}

#co-text_c74b5e5a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 488, 316.25);
  transform: matrix(1, 0, 0, 1, 488, 316.25);
  z-index: 4;
  width: 366px;
  height: 107px;
}

#co-text_b4e6f44e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55.5, 208.5);
  transform: matrix(1, 0, 0, 1, 55.5, 208.5);
  z-index: 5;
  width: 200px;
}

#co-popup_cdbd047a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_5/f0f96231.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_cdbd047a > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 245);
  transform: matrix(1, 0, 0, 1, -122.5, 245);
  opacity: 0;
}

#co-text_5efdd52e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 280.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 280.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_85b17cc4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 320.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 320.00) translate3d(0,0,0);
  z-index: 2;
  height: 180px;
  width: 20px;
}

#co-text_c7be1e3f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 319.32);
  transform: matrix(1, 0, 0, 1, 170, 319.32);
  z-index: 3;
  width: 692px;
  height: 162px;
}

#co-popup_cdbd047a > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123, 245);
  transform: matrix(1, 0, 0, 1, -123, 245);
  opacity: 0;
  z-index: 1;
}

#co-text-button_772a49d9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 758, 13.78);
  transform: matrix(1, 0, 0, 1, 758, 13.78);
  z-index: 6;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_772a49d9 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_772a49d9 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_c204e19d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 345.5, 33.5);
  transform: matrix(1, 0, 0, 1, 345.5, 33.5);
  z-index: 6;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_c204e19d > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_c204e19d > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_801e1096 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 253, 33.5);
  transform: matrix(1, 0, 0, 1, 253, 33.5);
  z-index: 6;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_801e1096 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_801e1096 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_cdc06ea9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 664.02, 16.34);
  transform: matrix(1, 0, 0, 1, 664.02, 16.34);
  z-index: 10;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_cdc06ea9 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_cdc06ea9 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_a07c29ef {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 749.25, 42.25);
  transform: matrix(1, 0, 0, 1, 749.25, 42.25);
  z-index: 11;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_a07c29ef > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_a07c29ef > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_f3134539 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 408, -135.25);
  transform: matrix(1, 0, 0, 1, 408, -135.25);
  z-index: 6;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_f3134539 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_f3134539 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_50fc66b9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 650.5, 82.25);
  transform: matrix(1, 0, 0, 1, 650.5, 82.25);
  z-index: 7;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_50fc66b9 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_50fc66b9 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_35cef93c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 771.75, 221);
  transform: matrix(1, 0, 0, 1, 771.75, 221);
  z-index: 8;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_35cef93c > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_35cef93c > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_9e7156fa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 560.5, 381);
  transform: matrix(1, 0, 0, 1, 560.5, 381);
  z-index: 9;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_9e7156fa > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_9e7156fa > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_6c6b8b72 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_5/973601cb.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_6c6b8b72 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.75, 280);
  transform: matrix(1, 0, 0, 1, -123.75, 280);
  opacity: 0;
}

#co-text_6460ca79 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 305);
  transform: matrix(1, 0, 0, 1, 150, 305);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_eab02cf4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 350);
  transform: matrix(1, 0, 0, 1, 150, 350);
  z-index: 2;
  width: 20px;
  height: 100px;
}

#co-text_bee11611 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 348.75);
  transform: matrix(1, 0, 0, 1, 170, 348.75);
  z-index: 3;
  width: 551px;
  height: 92px;
}

#co-text-button_fc404c1a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 410.5, -135.25);
  transform: matrix(1, 0, 0, 1, 410.5, -135.25);
  z-index: 12;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_fc404c1a > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_fc404c1a > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_c3eb5df1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 406.75, -136.5);
  transform: matrix(1, 0, 0, 1, 406.75, -136.5);
  z-index: 7;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_c3eb5df1 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_c3eb5df1 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_1e49482b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 408, -134);
  transform: matrix(1, 0, 0, 1, 408, -134);
  z-index: 7;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_1e49482b > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_1e49482b > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_5a0c13a0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 400.5, -136.5);
  transform: matrix(1, 0, 0, 1, 400.5, -136.5);
  z-index: 7;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_5a0c13a0 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_5a0c13a0 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_6c6b8b72 > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.75, 275);
  transform: matrix(1, 0, 0, 1, -123.75, 275);
  opacity: 0;
  z-index: 1;
}

#kihkch2xText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 1.25);
  transform: matrix(0.5, 0, 0, 0.5, 0, 1.25);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-image_8ee70904 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 852.8, 248);
  transform: matrix(1, 0, 0, 1, 852.8, 248);
  z-index: 0;
  width: 47px;
  height: 47px;
}

#co-image_58ce542f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 852, 278.4);
  transform: matrix(1, 0, 0, 1, 852, 278.4);
  z-index: 0;
  width: 47px;
  height: 47px;
}

#co-popup_cdbd047a > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.82, 246.37);
  transform: matrix(1, 0, 0, 1, -121.82, 246.37);
  opacity: 0;
}

#co-popup_6c6b8b72 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.64, 276.37);
  transform: matrix(1, 0, 0, 1, -123.64, 276.37);
  opacity: 0;
}

#co-text-button_d9854850 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 604.37, 233.28);
  transform: matrix(1, 0, 0, 1, 604.37, 233.28);
  z-index: 8;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 50px;
  height: 50px;
}

#co-text-button_d9854850 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_d9854850 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_4bb38a5c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 604.36, 237.82);
  transform: matrix(1, 0, 0, 1, 604.36, 237.82);
  z-index: 8;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_4bb38a5c > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_4bb38a5c > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_b4bba787 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 602.55, 261.46);
  transform: matrix(1, 0, 0, 1, 602.55, 261.46);
  z-index: 8;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 50px;
  height: 50px;
}

#co-text-button_b4bba787 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_b4bba787 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text_90bfb82d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 321.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 321.00) translate3d(0,0,0);
  z-index: 4;
  width: 700px;
  height: 20px;
}

#co-text_54ae1ae9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 343.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 343.00) translate3d(0,0,0);
  z-index: 5;
  width: 700px;
  height: 20px;
}

#co-text_7ecd03ae {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 365.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 365.00) translate3d(0,0,0);
  z-index: 6;
  width: 700px;
  height: 20px;
}

#co-text_7d9f37e2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 387.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 387.00) translate3d(0,0,0);
  z-index: 7;
  width: 700px;
  height: 40px;
}

#co-text_331973fd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 431.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 431.00) translate3d(0,0,0);
  z-index: 8;
  width: 700px;
  height: 20px;
}

#co-text_9c4949ba {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 453.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 453.00) translate3d(0,0,0);
  z-index: 9;
  width: 700px;
  height: 20px;
}

#co-text_7cc0008b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 351.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 351.00) translate3d(0,0,0);
  z-index: 4;
  width: 700px;
  height: 20px;
}

#co-text_24d568ac {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 371.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 371.00) translate3d(0,0,0);
  z-index: 5;
  height: 20px;
  width: 700px;
}

#co-text_d1587577 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 393.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 393.00) translate3d(0,0,0);
  z-index: 6;
  width: 700px;
  height: 20px;
}

#co-text_7a4d2728 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 416.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 416.00) translate3d(0,0,0);
  z-index: 7;
  width: 700px;
  height: 20px;
}

#co-popup_6c6b8b72 > co-button:nth-child(9) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -125, 276.25);
  transform: matrix(1, 0, 0, 1, -125, 276.25);
  opacity: 0;
}

#co-popup_cdbd047a > co-button:nth-child(11) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 245);
  transform: matrix(1, 0, 0, 1, -121.25, 245);
  opacity: 0;
}

#co-container_058bb53c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 727);
  transform: matrix(1, 0, 0, 1, 55, 727);
  z-index: 3;
  width: 969px;
  height: 40px;
}

#co-text_82296d31 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -0.2, 2);
  transform: matrix(1, 0, 0, 1, -0.2, 2);
  z-index: 1;
  width: 80px;
  height: 38px;
  opacity: 0;
}

#co-text_68959dce {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 78.2, 2);
  transform: matrix(1, 0, 0, 1, 78.2, 2);
  z-index: 2;
  width: 120px;
  height: 38px;
  opacity: 0;
}

#co-text_48c16975 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 199, 1);
  transform: matrix(1, 0, 0, 1, 199, 1);
  z-index: 3;
  width: 79px;
  height: 40px;
  opacity: 0;
}

#co-text_04f8e5f9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 423, 1);
  transform: matrix(1, 0, 0, 1, 423, 1);
  z-index: 4;
  width: 184px;
  height: 39px;
  opacity: 0;
}

#co-text_434904fc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 608, 1);
  transform: matrix(1, 0, 0, 1, 608, 1);
  z-index: 5;
  width: 118px;
  height: 40px;
  opacity: 0;
}

#co-text_dc58fa39 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 726.4, 2);
  transform: matrix(1, 0, 0, 1, 726.4, 2);
  z-index: 6;
  width: 98px;
  height: 38px;
  opacity: 0;
}

#co-text_a54d8fdc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 825, 2);
  transform: matrix(1, 0, 0, 1, 825, 2);
  z-index: 7;
  width: 144px;
  height: 38px;
  opacity: 0;
}

#co-text_cbf35c44 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_9c4949ba > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}