#kj8tw4pjImage {
  width: 876px;
  height: 536px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 142);
  transform: matrix(1, 0, 0, 1, 107, 142);
}

#kj8tw4plImage {
  width: 94px;
  height: 30px;
  -webkit-transform: matrix(1, 0, 0, 1, 857, 300);
  transform: matrix(1, 0, 0, 1, 857, 300);
}

#kj8tw4pnImage {
  width: 71px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 903, 235);
  transform: matrix(1, 0, 0, 1, 903, 235);
  z-index: 8;
}

#kj8tw4ppImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tw4pqImage {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kj8tw4prImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 377.8, 727);
  transform: matrix(1, 0, 0, 1, 377.8, 727);
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
}

#kj8tw4psImage {
  width: 114px;
  height: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 167, 705);
  transform: matrix(1, 0, 0, 1, 167, 705);
}

#kj8tw4ptImage {
  width: 114px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 167, 704);
  transform: matrix(1, 0, 0, 1, 167, 704);
}

#kj8tw4puImage {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 704);
  transform: matrix(1, 0, 0, 1, 54, 704);
}

#kj8tw4pvImage {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 279, 704);
  transform: matrix(1, 0, 0, 1, 279, 704);
}

#kj8tw4pwImage {
  width: 115px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 392, 704);
  transform: matrix(1, 0, 0, 1, 392, 704);
}

#kj8tw4pxImage {
  width: 114px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 505, 704);
  transform: matrix(1, 0, 0, 1, 505, 704);
}

#co-text_0a8afdcf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110, 142.8);
  transform: matrix(1, 0, 0, 1, 110, 142.8);
  z-index: 1;
  width: 436px;
  height: 68px;
  background-image: none;
}

#co-text_5802f57b {
  top: 1px;
  left: -3px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 548.4, 142);
  transform: matrix(1, 0, 0, 1, 548.4, 142);
  z-index: 2;
  width: 436px;
  height: 68px;
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
}

#co-container_ce174f76 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 142.00, 251.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 142.00, 251.00) translate3d(0,0,0);
  z-index: 3;
  width: 800px;
  height: 390px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_40/dcd39ef2.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-image_009855f5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 83.00, -11.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 83.00, -11.00) translate3d(0, 0, 0);
  z-index: 1;
  width: 732px;
  height: 360px;
  opacity: 1;
}

#co-text_7e6b3dce {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 708.4, 43.4);
  transform: matrix(1, 0, 0, 1, 708.4, 43.4);
  z-index: 4;
  width: 59px;
  height: 50px;
  opacity: 0;
}

#co-text_88dec52d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 750.5, 305.35);
  transform: matrix(1, 0, 0, 1, 750.5, 305.35);
  z-index: 2;
  width: 24px;
  height: 23px;
  opacity: 0;
}

#co-popup_8da11b47 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_40/6e302359.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_5f332bd1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 350.8);
  transform: matrix(1, 0, 0, 1, 170, 350.8);
  z-index: 1;
  width: 166px;
  height: 29px;
}

#co-text_29c55ff2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 382);
  transform: matrix(1, 0, 0, 1, 170, 382);
  z-index: 2;
  width: 448px;
  height: 27px;
}

#co-popup_8da11b47>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.6, 309.6);
  transform: matrix(1, 0, 0, 1, -121.6, 309.6);
  opacity: 0;
}

/*custom*/

.tab_title {
  background: #e4eff1;
}

.tab_title span {
  font-family: "3_CCMVBT+AvenirNextLTPro-Demi";
  color: rgb(84, 122, 129);
}

.tab_title.act {
  background: #ffffff !important;
}

.tab_title.act span {
  font-family: "1_CWOXIJ+AvenirNextLTPro-Bold" !important;
  color: rgb(232, 87, 0) !important;
  position: relative;
  top: -1px;
}

.tab_content2 {
  display: none;
}

#co-popup_8da11b47>co-button:nth-child(3)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122, 309);
  transform: matrix(1, 0, 0, 1, -122, 309);
  opacity: 0;
}

#co-container_f7bee271 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 702);
  transform: matrix(1, 0, 0, 1, 54, 702);
  z-index: 5;
  width: 567px;
  height: 65px;
}

#co-text_0f5c3d2d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -0.4, -18);
  transform: matrix(1, 0, 0, 1, -0.4, -18);
  z-index: 1;
  width: 116px;
  height: 45px;
  opacity: 0;
}

#co-text_01921470 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 224.4, -18.2);
  transform: matrix(1, 0, 0, 1, 224.4, -18.2);
  z-index: 2;
  width: 115px;
  height: 45px;
  opacity: 0;
}

#co-text_0209ed1b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 336.4, -16.6);
  transform: matrix(1, 0, 0, 1, 336.4, -16.6);
  z-index: 3;
  width: 112px;
  height: 45px;
  opacity: 0;
}

#co-text_c00d562e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 450, -16.8);
  transform: matrix(1, 0, 0, 1, 450, -16.8);
  z-index: 4;
  width: 114px;
  height: 45px;
  opacity: 0;
}

#co-text_98dbadbc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 162, 27);
  transform: matrix(1, 0, 0, 1, 162, 27);
  z-index: 5;
  width: 161px;
  height: 38px;
  opacity: 0;
}

#pfc>div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#kj8tw4q0Text {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_e198dbbb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 857, 299);
  transform: matrix(1, 0, 0, 1, 857, 299);
  z-index: 7;
  width: 92px;
  height: 30px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_e198dbbb>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_e198dbbb>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-container_003b705f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 142.00, 251.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 142.00, 251.00) translate3d(0,0,0);
  z-index: 7;
  width: 800px;
  height: 390px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_40/23f77ec6.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text-button_e37e02be {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 738.75, 296.25);
  transform: matrix(1, 0, 0, 1, 738.75, 296.25);
  z-index: 2;
  width: 40px;
  height: 40px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_e37e02be > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_e37e02be > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text_ad14a24f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 433.2, 743.8);
  transform: matrix(1, 0, 0, 1, 433.2, 743.8);
  z-index: 1;
  width: 69px;
  height: 13px;
}

#co-text_dd27abfa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 324.2, 26);
  transform: matrix(1, 0, 0, 1, 324.2, 26);
  z-index: 6;
  width: 163px;
  height: 39px;
  opacity: 0;
}