#kj8tvpyxImage {
  width: 880px;
  height: 327px;
  -webkit-transform: matrix(1, 0, 0, 1, 98, 225);
  transform: matrix(1, 0, 0, 1, 98, 225);
}

#kj8tvpyyImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kj8tvpyzImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tvpz0Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 727);
  transform: matrix(1, 0, 0, 1, 376, 727);
}

#kj8tvpz1Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kj8tvpz4Image {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kj8tvpz5Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kj8tvpz6Image {
  width: 164px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 704);
  transform: matrix(1, 0, 0, 1, 53, 704);
}

#kj8tvpz7Image {
  width: 162px;
  height: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 705);
  transform: matrix(1, 0, 0, 1, 538, 705);
}

#kj8tvpz8Image {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 704);
  transform: matrix(1, 0, 0, 1, 538, 704);
}

#kj8tvpz9Image {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 704);
  transform: matrix(1, 0, 0, 1, 215, 704);
}

#kj8tvpzaImage {
  width: 164px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 704);
  transform: matrix(1, 0, 0, 1, 376, 704);
}

#co-popup_e7376f3f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_30/2ba13ce2.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_b0269238 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 170.00, 387.60) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 170.00, 387.60) translate3d(0,0,0);
  z-index: 1;
  width: 407px;
  height: 38px;
}

#co-text_7ca11961 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 350);
  transform: matrix(1, 0, 0, 1, 170, 350);
  z-index: 2;
  width: 255px;
  height: 30px;
}

#co-text_55bccf67 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 329.8, 52.4);
  transform: matrix(1, 0, 0, 1, 329.8, 52.4);
  z-index: 1;
  width: 48px;
  height: 36px;
  opacity: 0;
}

#co-popup_e7376f3f > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.59, 310);
  transform: matrix(1, 0, 0, 1, -121.59, 310);
  opacity: 0;
}

#co-popup_e7376f3f > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -129.9, 302.7);
  transform: matrix(1, 0, 0, 1, -129.9, 302.7);
  opacity: 0;
  width: 67px;
  height: 60px;
}

#kj8tvpzdText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-container_4fa4fdcd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 705);
  transform: matrix(1, 0, 0, 1, 55, 705);
  z-index: 2;
  width: 969px;
  height: 63px;
}

#co-text_742f42dc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -1, -19);
  transform: matrix(1, 0, 0, 1, -1, -19);
  z-index: 1;
  width: 162px;
  height: 46px;
  opacity: 0;
}

#co-text_8717fd86 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 161, -19);
  transform: matrix(1, 0, 0, 1, 161, -19);
  z-index: 2;
  width: 162px;
  height: 46px;
  opacity: 0;
}

#co-text_25b00468 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 321, -17);
  transform: matrix(1, 0, 0, 1, 321, -17);
  z-index: 3;
  width: 163px;
  height: 44px;
  opacity: 0;
}

#co-text_966b339a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 160, 25);
  transform: matrix(1, 0, 0, 1, 160, 25);
  z-index: 4;
  width: 162px;
  height: 40px;
  opacity: 0;
}

#co-text_3991fd3e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 322, 25);
  transform: matrix(1, 0, 0, 1, 322, 25);
  z-index: 5;
  width: 163px;
  height: 40px;
  opacity: 0;
}

#co-text_3a7875d9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 482, 24);
  transform: matrix(1, 0, 0, 1, 482, 24);
  z-index: 6;
  width: 163px;
  height: 41px;
  opacity: 0;
}

#co-text_f90d2854 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 72, 742);
  transform: matrix(1, 0, 0, 1, 72, 742);
  z-index: 1;
  width: 638px;
  height: 22px;
}