#kja6iuugImage {
  width: 877px;
  height: 399px;
  -webkit-transform: matrix(1, 0, 0, 1, 103, 229.5);
  transform: matrix(1, 0, 0, 1, 103, 229.5);
}

#kja6iuuhImage {
  width: 11px;
  height: 19px;
  -webkit-transform: matrix(1, 0, 0, 1, 974, 104);
  transform: matrix(1, 0, 0, 1, 974, 104);
}

#kja6iuuiImage {
  width: 39px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 959, 96);
  transform: matrix(1, 0, 0, 1, 959, 96);
}

#co-text-button_f9753d50 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 27.75);
  transform: matrix(1, 0, 0, 1, 477, 27.75);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_f9753d50 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_f9753d50 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_ea666cd2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_71/f4db8fd9.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_ea666cd2 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 311.25);
  transform: matrix(1, 0, 0, 1, -120, 311.25);
  opacity: 0;
}

#co-text_9b828743 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 360.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_75dcdb04 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 390);
  transform: matrix(1, 0, 0, 1, 150, 390);
  z-index: 2;
  width: 627px;
  height: 20px;
}

#co-popup_ea666cd2 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 310);
  transform: matrix(1, 0, 0, 1, -121.25, 310);
  opacity: 0;
}

#kja6iuunText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -9);
  transform: matrix(0.5, 0, 0, 0.5, 0, -9);
  width: 1626px;
  height: 274px;
}

#kja6iuuoText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 2.5);
  transform: matrix(0.5, 0, 0, 0.5, 0, 2.5);
}

#kja6iuupText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 1.25);
  transform: matrix(0.5, 0, 0, 0.5, 0, 1.25);
}

#kja6iuuuText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 20);
  transform: matrix(0.5, 0, 0, 0.5, 0, 20);
  width: 359px;
  height: 657px;
}

#kja6iuuqText {
  height: 50px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -7.5, 16.25);
  transform: matrix(0.5, 0, 0, 0.5, -7.5, 16.25);
}

#kja6iuuvText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 21.25);
  transform: matrix(0.5, 0, 0, 0.5, 0, 21.25);
  width: 408px;
  height: 267px;
}

#kja6iuv0Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 13.75);
  transform: matrix(0.5, 0, 0, 0.5, 0, 13.75);
  height: 300px;
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kja6iuusText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 12.5);
  transform: matrix(0.5, 0, 0, 0.5, 0, 12.5);
}

#kja6iuutText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 22.5);
  transform: matrix(0.5, 0, 0, 0.5, 0, 22.5);
}

#kja6iuuxText {
  width: 156px;
  height: 116px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 1.25, 11.25);
  transform: matrix(0.5, 0, 0, 0.5, 1.25, 11.25);
}

#co-text_75dcdb04 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}