#kihkd6knImage {
  width: 46px;
  height: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 960, 127);
  transform: matrix(1, 0, 0, 1, 960, 127);
}

#co-popup_f0a290bb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_25/836ca701.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_3a149a2d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150.8, 174.8);
  transform: matrix(1, 0, 0, 1, 150.8, 174.8);
  z-index: 1;
  width: 696px;
  height: 77px;
}

#co-text_3a149a2d > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_0671975c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 329.2, 273.2);
  transform: matrix(1, 0, 0, 1, 329.2, 273.2);
  z-index: 2;
  width: 86px;
  height: 25px;
}

#co-text_0671975c > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_74049388 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 469.2, 273.2);
  transform: matrix(1, 0, 0, 1, 469.2, 273.2);
  z-index: 3;
  width: 94px;
  height: 27px;
}

#co-text_74049388 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_d28522c7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 590, 273.2);
  transform: matrix(1, 0, 0, 1, 590, 273.2);
  z-index: 4;
  width: 123px;
  height: 28px;
}

#co-text_d28522c7 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_83e39d04 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 743.6, 273.2);
  transform: matrix(1, 0, 0, 1, 743.6, 273.2);
  z-index: 5;
  width: 136px;
  height: 27px;
}

#co-text_83e39d04 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_a1f2909a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 146, 300.4);
  transform: matrix(1, 0, 0, 1, 146, 300.4);
  z-index: 6;
  width: 157px;
  height: 146px;
}

#co-text_a1f2909a > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_9a4b779f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 317.2, 301.2);
  transform: matrix(1, 0, 0, 1, 317.2, 301.2);
  z-index: 7;
  width: 136px;
  height: 153px;
}

#co-text_9a4b779f > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_ed6fd60c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 450, 300.4);
  transform: matrix(1, 0, 0, 1, 450, 300.4);
  z-index: 8;
  width: 152px;
  height: 160px;
}

#co-text_ed6fd60c > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_96e23788 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 600.4, 301.2);
  transform: matrix(1, 0, 0, 1, 600.4, 301.2);
  z-index: 9;
  width: 124px;
  height: 151px;
}

#co-text_96e23788 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_5d1e5c68 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 762, 300.4);
  transform: matrix(1, 0, 0, 1, 762, 300.4);
  z-index: 10;
  width: 136px;
  height: 152px;
}

#co-text_5d1e5c68 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_373c6c74 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 149.8, 471.6);
  transform: matrix(1, 0, 0, 1, 149.8, 471.6);
  z-index: 11;
  width: 730px;
  height: 89px;
}

#co-text_373c6c74 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_824fbe1c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 582.8);
  transform: matrix(1, 0, 0, 1, 150, 582.8);
  z-index: 12;
  width: 678px;
  height: 43px;
}

#co-text_824fbe1c > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_f0a290bb > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 84);
  transform: matrix(1, 0, 0, 1, -76, 84);
  opacity: 0;
}

#co-popup_7c8a1687 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_25/9e90444a.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_5c68a2e9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 313.4);
  transform: matrix(1, 0, 0, 1, 150, 313.4);
  z-index: 1;
  width: 164px;
  height: 37px;
}

#co-text_5c68a2e9 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_6c3d8d25 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 346.8);
  transform: matrix(1, 0, 0, 1, 150, 346.8);
  z-index: 2;
  width: 515px;
  height: 112px;
}

#co-text_6c3d8d25 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_7c8a1687 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.2, 276.8);
  transform: matrix(1, 0, 0, 1, -123.2, 276.8);
  opacity: 0;
}

#co-text-button_260ef093 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 903, 512.8);
  transform: matrix(1, 0, 0, 1, 903, 512.8);
  z-index: 3;
  width: 49px;
  height: 44px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
}

#co-text-button_8ee56b4f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 437.6, 49.6);
  transform: matrix(1, 0, 0, 1, 437.6, 49.6);
  z-index: 3;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 60px;
  height: 41px;
}

#co-text-button_77205107 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 336.2, 137.2);
  transform: matrix(1, 0, 0, 1, 336.2, 137.2);
  z-index: 4;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 42px;
  height: 37px;
}

#co-text-button_e8bc5697 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 962.2, 128.8);
  transform: matrix(1, 0, 0, 1, 962.2, 128.8);
  z-index: 5;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
  width: 44px;
  height: 42px;
}

#pf19 > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-container_9a02e6e8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 91, 219);
  transform: matrix(1, 0, 0, 1, 91, 219);
  z-index: 6;
  width: 761px;
  height: 436px;
  overflow: hidden;
}

#co-container_f4f299f0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -1.5, 1.75);
  transform: matrix(1, 0, 0, 1, -1.5, 1.75);
  z-index: 2;
  width: 757px;
  height: 431px;
  -webkit-transition: all .5s ease;
}

#co-container_f4f299f0.ani {
  top: -560px;
}

#co-image_28e139f7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -17, 2);
  transform: matrix(1, 0, 0, 1, -17, 2);
  z-index: 1;
  width: 818px;
  height: 423px;
}

#co-text_edc43890 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 81.5, 392.25);
  transform: matrix(1, 0, 0, 1, 81.5, 392.25);
  z-index: 2;
  width: 252px;
  height: 35px;
}

#co-text_f8532c51 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.002, -1, 1, -0.002, -60.25, 136.5);
  transform: matrix(-0.002, -1, 1, -0.002, -60.25, 136.5);
  z-index: 3;
  width: 159px;
  height: 34px;
}

#co-text_967797af {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 364, 363.5);
  transform: matrix(1, 0, 0, 1, 364, 363.5);
  z-index: 4;
  width: 116px;
  height: 35px;
}

#co-text_ebea50c5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 12.00, 556.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 12.00, 556.00) translate3d(0,0,0);
  z-index: 5;
  width: 735px;
  height: 181px;
}

#co-image_ad7ecfd7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 524.5, 684.5);
  transform: matrix(1, 0, 0, 1, 524.5, 684.5);
  z-index: 7;
  width: 28px;
  height: 16px;
  -webkit-transition: all .3s ease;
}

#co-image_ad7ecfd7.ani {
  -webkit-transform: matrix(1, 0, 0, 1, 524.5, 684.5) rotate(-180deg);
  transform: matrix(1, 0, 0, 1, 524.5, 684.5) rotate(-180deg);
}

#co-popup_f0a290bb > co-button:nth-child(13) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.25, 83.75);
  transform: matrix(1, 0, 0, 1, -76.25, 83.75);
  opacity: 0;
  z-index: 1;
}

#co-popup_7c8a1687 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 277.5);
  transform: matrix(1, 0, 0, 1, -122.5, 277.5);
  opacity: 0;
  z-index: 1;
}

#co-image_49279e3c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 962.4, 132.35);
  transform: matrix(1, 0, 0, 1, 962.4, 132.35);
  z-index: 3;
  width: 42px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

#co-image_eb1276cc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 852, 221.6);
  transform: matrix(1, 0, 0, 1, 852, 221.6);
  z-index: 0;
  width: 151px;
  height: 331px;
}

#pf19 {
  z-index: 1;
}

#co-image_e1ce8788 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 901.00, 90.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 901.00, 90.00) translate3d(0,0,0);
  z-index: 0;
  width: 43px;
  height: 39px;
}

#co-image_023a4464 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 853.00, 279.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 853.00, 279.00) translate3d(0,0,0);
  z-index: 0;
  width: 46px;
  height: 46px;
}

#co-popup_f0a290bb > co-button:nth-child(14) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -77.00, 84.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -77.00, 84.00) translate3d(0,0,0);
  opacity: 0;
}

#co-popup_7c8a1687 > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -123.00, 277.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -123.00, 277.00) translate3d(0,0,0);
  opacity: 0;
}

#co-image_6eb1d662 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 886.73, 513.72);
  transform: matrix(1, 0, 0, 1, 886.73, 513.72);
  z-index: 1;
  width: 82px;
  height: 41px;
}

#co-text_748087fe {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 350.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 350.00) translate3d(0,0,0);
  z-index: 3;
  width: 700px;
  height: 20px;
}

#co-text_9764ea12 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 374.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 374.00) translate3d(0,0,0);
  z-index: 4;
  width: 700px;
  height: 20px;
}

#co-text_189c892a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 399.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 399.00) translate3d(0,0,0);
  z-index: 5;
  width: 700px;
  height: 20px;
}

#co-popup_7c8a1687 > co-button:nth-child(7) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 276.25);
  transform: matrix(1, 0, 0, 1, -121.25, 276.25);
  opacity: 0;
}

#co-text-button_260ef093 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_260ef093 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_8ee56b4f > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_8ee56b4f > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_77205107 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_77205107 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_e8bc5697 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_e8bc5697 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-container_63513ed1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 724);
  transform: matrix(1, 0, 0, 1, 54, 724);
  z-index: 8;
  width: 969px;
  height: 43px;
}

#co-text_4f88b8ff {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 1.4, 1);
  transform: matrix(1, 0, 0, 1, 1.4, 1);
  z-index: 1;
  width: 105px;
  height: 43px;
  opacity: 0;
}

#co-text_01b96080 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 102.2, -1);
  transform: matrix(1, 0, 0, 1, 102.2, -1);
  z-index: 2;
  width: 145px;
  height: 45px;
  opacity: 0;
}

#co-text_8551c995 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 249, 1);
  transform: matrix(1, 0, 0, 1, 249, 1);
  z-index: 3;
  width: 98px;
  height: 43px;
  opacity: 0;
}

#co-text_11cc52c6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 346.6, -1);
  transform: matrix(1, 0, 0, 1, 346.6, -1);
  z-index: 4;
  width: 153px;
  height: 45px;
  opacity: 0;
}

#co-text_d993150c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 497.8, 1);
  transform: matrix(1, 0, 0, 1, 497.8, 1);
  z-index: 5;
  width: 101px;
  height: 43px;
  opacity: 0;
}

#co-text_30781359 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 694, -1);
  transform: matrix(1, 0, 0, 1, 694, -1);
  z-index: 6;
  width: 119px;
  height: 45px;
  opacity: 0;
}

#co-text_d47e6be1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 65.8, 6);
  transform: matrix(1, 0, 0, 1, 65.8, 6);
  z-index: 6;
  width: 116px;
  height: 19px;
}

#co-text_62c33c1e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 304.2, 6);
  transform: matrix(1, 0, 0, 1, 304.2, 6);
  z-index: 7;
  width: 332px;
  height: 29px;
}

#co-text-button_89bab313 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 869, 126);
  transform: matrix(1, 0, 0, 1, 869, 126);
  z-index: 9;
  width: 151px;
  height: 53px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_89bab313 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_89bab313 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text_b26b326e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 55.00, 726.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 55.00, 726.00) translate3d(0,0,0);
  z-index: 1;
  width: 970px;
  height: 62px;
}

#co-text_b6c632f9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 808, 2);
  transform: matrix(1, 0, 0, 1, 808, 2);
  z-index: 7;
  width: 162px;
  height: 42px;
  opacity: 0;
}