#kj8tvt8wImage {
  width: 158px;
  height: 159px;
  -webkit-transform: matrix(1, 0, 0, 1, 844, 260);
  transform: matrix(1, 0, 0, 1, 844, 260);
}

#kj8tvt8yImage {
  width: 29px;
  height: 33px;
  -webkit-transform: matrix(1, 0, 0, 1, 489, 662);
  transform: matrix(1, 0, 0, 1, 489, 662);
}

#kj8tvt90Image {
  width: 75px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 948, 177);
  transform: matrix(1, 0, 0, 1, 948, 177);
}

#kj8tvt91Image {
  width: 76px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 946.47, 127);
  transform: matrix(1, 0, 0, 1, 946.47, 127);
}

#kj8tvt92Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kj8tvt93Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 727);
  transform: matrix(1, 0, 0, 1, 376, 727);
}

#kj8tvt94Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kj8tvt97Image {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 728);
  transform: matrix(1, 0, 0, 1, 215, 728);
}

#kj8tvt98Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tvt99Image {
  width: 164px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 704);
  transform: matrix(1, 0, 0, 1, 215, 704);
}

#kj8tvt9aImage {
  width: 162px;
  height: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 377, 705);
  transform: matrix(1, 0, 0, 1, 377, 705);
}

#kj8tvt9bImage {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 377, 704);
  transform: matrix(1, 0, 0, 1, 377, 704);
}

#kj8tvt9cImage {
  width: 163px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 704);
  transform: matrix(1, 0, 0, 1, 538, 704);
}

#co-container_5cdf3df7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 83, 183);
  transform: matrix(1, 0, 0, 1, 83, 183);
  z-index: 2;
  width: 759px;
  height: 490px;
}

#co-container_9aaa3f69 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 8, 4);
  transform: matrix(1, 0, 0, 1, 8, 4);
  z-index: 2;
  width: 745px;
  height: 484px;
}

#co-text_68d88b3b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 64, 5);
  transform: matrix(1, 0, 0, 1, 64, 5);
  z-index: 1;
  width: 669px;
  height: 62px;
}

#co-text_28700491 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.004, -1, 1, 0.004, -123.4, 233);
  transform: matrix(0.004, -1, 1, 0.004, -123.4, 233);
  z-index: 2;
  width: 307px;
  height: 39px;
}

#co-image_5f334a54 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 63);
  transform: matrix(1, 0, 0, 1, 53, 63);
  z-index: 3;
  width: 658px;
  height: 414px;
}

#co-text_e5224eee {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 13, 592);
  transform: matrix(1, 0, 0, 1, 13, 592);
  z-index: 4;
  width: 688px;
  height: 145px;
}

#co-popup_4d59e7dc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_32/0523354e.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_ea1dd5c6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 118, 114);
  transform: matrix(1, 0, 0, 1, 118, 114);
  z-index: 1;
  width: 608px;
  height: 62px;
}

#co-text_5f5ac74d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 116, 177);
  transform: matrix(1, 0, 0, 1, 116, 177);
  z-index: 2;
  width: 800px;
  height: 67px;
}

#co-text_5f5ac74d > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_4b64d3b2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 159, 401);
  transform: matrix(1, 0, 0, 1, 159, 401);
  z-index: 3;
  width: 213px;
  height: 22px;
}

#co-text_f89bd515 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 469, 402);
  transform: matrix(1, 0, 0, 1, 469, 402);
  z-index: 4;
  width: 87px;
  height: 28px;
}

#co-text_7037a45e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 681, 402);
  transform: matrix(1, 0, 0, 1, 681, 402);
  z-index: 6;
  width: 166px;
  height: 30px;
}

#co-text_8a956115 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 265, 572);
  transform: matrix(1, 0, 0, 1, 265, 572);
  z-index: 7;
  width: 238px;
  height: 45px;
}

#co-text_989ea40f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 539, 571);
  transform: matrix(1, 0, 0, 1, 539, 571);
  z-index: 8;
  width: 176px;
  height: 32px;
}

#co-text_aba9d762 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 116.8, 629.4);
  transform: matrix(1, 0, 0, 1, 116.8, 629.4);
  z-index: 9;
  width: 337px;
  height: 21px;
}

#co-popup_4d59e7dc > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -79, 86);
  transform: matrix(1, 0, 0, 1, -79, 86);
  opacity: 0;
}

#co-popup_6496a385 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_32/1cc4f1c1.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_0e0cf136 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 335);
  transform: matrix(1, 0, 0, 1, 170, 335);
  z-index: 1;
  width: 164px;
  height: 35px;
}

#co-text_a76832f3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 371);
  transform: matrix(1, 0, 0, 1, 170, 371);
  z-index: 2;
  width: 549px;
  height: 25px;
}

#co-text_243b976f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 169.2, 396.8);
  transform: matrix(1, 0, 0, 1, 169.2, 396.8);
  z-index: 4;
  width: 550px;
  height: 20px;
}

#co-popup_6496a385 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121, 287);
  transform: matrix(1, 0, 0, 1, -121, 287);
  opacity: 0;
}

#co-text_3c2f3d80 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 210, 53);
  transform: matrix(1, 0, 0, 1, 210, 53);
  z-index: 3;
  width: 62px;
  height: 36px;
  opacity: 0;
}

#co-text_17bba455 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 594, 139);
  transform: matrix(1, 0, 0, 1, 594, 139);
  z-index: 4;
  width: 41px;
  height: 37px;
  opacity: 0;
}

#co-text_d7309d50 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 561, 13);
  transform: matrix(1, 0, 0, 1, 561, 13);
  z-index: 5;
  width: 36px;
  height: 36px;
  opacity: 0;
}

#co-popup_6496a385 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.9, 287.31);
  transform: matrix(1, 0, 0, 1, -120.9, 287.31);
  opacity: 0;
}

#co-popup_4d59e7dc > co-button:nth-child(10) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.12, 84.33);
  transform: matrix(1, 0, 0, 1, -76.12, 84.33);
  opacity: 0;
}

#co-text_1fedc572 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 934.61, 355.46);
  transform: matrix(1, 0, 0, 1, 934.61, 355.46);
  z-index: 7;
  opacity: 0;
  width: 38px;
  height: 35px;
}

.scroll_wrap {
  overflow: hidden;
}

.scroll_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 342px;
  transition: all .5s ease;
}

.go_down_btn {
  -webkit-transition: all .3s ease;
}

#co-container_9aaa3f69.up {
  -webkit-transform: matrix(1, 0, 0, 1, 8, -570);
  transform: matrix(1, 0, 0, 1, 8, -570);
}

#kj8tvt8yImage.up {
  -webkit-transform: matrix(1, 0, 0, 1, 491, 674) rotate(180deg);
  transform: matrix(1, 0, 0, 1, 491, 674) rotate(180deg);
}

#co-popup_4d59e7dc > co-button:nth-child(9) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78, 84);
  transform: matrix(1, 0, 0, 1, -78, 84);
  opacity: 0;
}

#co-text_aba9d762 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-container_0474e777 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 704);
  transform: matrix(1, 0, 0, 1, 55, 704);
  z-index: 8;
  width: 969px;
  height: 64px;
}

#co-text_1ab4ff1a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 483, -15);
  transform: matrix(1, 0, 0, 1, 483, -15);
  z-index: 1;
  width: 167px;
  height: 43px;
  opacity: 0;
}

#co-text_6c22d79e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 160, -12);
  transform: matrix(1, 0, 0, 1, 160, -12);
  z-index: 2;
  width: 164px;
  height: 39px;
  opacity: 0;
}

#co-text_95e46e31 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 25);
  transform: matrix(1, 0, 0, 1, 0, 25);
  z-index: 3;
  width: 161px;
  height: 40px;
  opacity: 0;
}

#co-text_e3b07d01 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 324, 25);
  transform: matrix(1, 0, 0, 1, 324, 25);
  z-index: 4;
  width: 159px;
  height: 40px;
  opacity: 0;
}

#co-text_65f3f832 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 484, 26);
  transform: matrix(1, 0, 0, 1, 484, 26);
  z-index: 5;
  width: 164px;
  height: 39px;
  opacity: 0;
}

#co-text_3c2f3d80 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kj8tvt9fText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_243b976f > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_6496a385 > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.91, 286.36);
  transform: matrix(1, 0, 0, 1, -120.91, 286.36);
  opacity: 0;
}

#co-text_e5224eee > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_c4d5047c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 73, 742);
  transform: matrix(1, 0, 0, 1, 73, 742);
  z-index: 1;
  width: 624px;
  height: 25px;
}