#kj8tw1tyImage {
  width: 707px;
  height: 394px;
  -webkit-transform: matrix(1, 0, 0, 1, 137.6, 210.4);
  transform: matrix(1, 0, 0, 1, 137.6, 210.4);
}

#kj8tw1tzImage {
  width: 38px;
  height: 38px;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 963.00, 154.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 963.00, 154.00) translate3d(0,0,0);
}

#kj8tw1u0Image {
  width: 7px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 98, 594);
  transform: matrix(1, 0, 0, 1, 98, 594);
}

#kj8tw1u1Image {
  width: 7px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 98, 642);
  transform: matrix(1, 0, 0, 1, 98, 642);
}

#kj8tw1u2Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kj8tw1u3Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 727);
  transform: matrix(1, 0, 0, 1, 215, 727);
}

#kj8tw1u4Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 727);
  transform: matrix(1, 0, 0, 1, 376, 727);
}

#kj8tw1u5Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kj8tw1u7Image {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 540.2, 728);
  transform: matrix(1, 0, 0, 1, 540.2, 728);
}

#kj8tw1u9Image {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 727);
  transform: matrix(1, 0, 0, 1, 376, 727);
}

#co-text_499ecd5c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 952.6, 75.6);
  transform: matrix(1, 0, 0, 1, 952.6, 75.6);
  z-index: 1;
  width: 53px;
  height: 46px;
  opacity: 0;
}

#co-text_91a92e53 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 928.2, 591.4);
  transform: matrix(1, 0, 0, 1, 928.2, 591.4);
  z-index: 2;
  width: 36px;
  height: 28px;
  opacity: 0;
}

#co-text_b9d19718 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 755.6, 626);
  transform: matrix(1, 0, 0, 1, 755.6, 626);
  z-index: 3;
  width: 41px;
  height: 34px;
  opacity: 0;
}

#co-popup_bd19d536 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_38/1bb1ea44.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_1764ad8b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 346.8);
  transform: matrix(1, 0, 0, 1, 170, 346.8);
  z-index: 1;
  width: 163px;
  height: 28px;
}

#co-text_53dd7086 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 382.8);
  transform: matrix(1, 0, 0, 1, 170, 382.8);
  z-index: 2;
  width: 389px;
  height: 20px;
}

#co-popup_bd19d536 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.2, 308);
  transform: matrix(1, 0, 0, 1, -123.2, 308);
  opacity: 0;
}

#co-popup_bd19d536 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122, 309);
  transform: matrix(1, 0, 0, 1, -122, 309);
  opacity: 0;
}

#kj8tw1ulText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 3.2, 0);
  transform: matrix(0.5, 0, 0, 0.5, 3.2, 0);
}

#kj8tw1unText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 2.4, 0);
  transform: matrix(0.5, 0, 0, 0.5, 2.4, 0);
}

#kj8tw1ujText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -12.8, 0);
  transform: matrix(0, -0.5, 0.5, 0, -12.8, 0);
}

#kj8tw1ukText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -8, 0);
  transform: matrix(0, -0.5, 0.5, 0, -8, 0);
}

#kj8tw1uhText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 6.4);
  transform: matrix(0.5, 0, 0, 0.5, 0, 6.4);
}

#kj8tw1uiText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 1.6);
  transform: matrix(0.5, 0, 0, 0.5, 0, 1.6);
}

#co-container_446a8fa9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 727);
  transform: matrix(1, 0, 0, 1, 54, 727);
  z-index: 4;
  width: 970px;
  height: 41px;
}

#co-text_b5675dfb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 1, 2);
  transform: matrix(1, 0, 0, 1, 1, 2);
  z-index: 2;
  width: 160px;
  height: 39px;
  opacity: 0;
}

#co-text_16cfb401 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 160, 1);
  transform: matrix(1, 0, 0, 1, 160, 1);
  z-index: 3;
  width: 164px;
  height: 40px;
  opacity: 0;
}

#co-text_2692aaba {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 484, 0);
  transform: matrix(1, 0, 0, 1, 484, 0);
  z-index: 5;
  width: 164px;
  height: 41px;
  opacity: 0;
}

#co-text_5792bf9d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 325.2, 0);
  transform: matrix(1, 0, 0, 1, 325.2, 0);
  z-index: 6;
  width: 162px;
  height: 41px;
  opacity: 0;
}

#co-text_5cc85290 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 70.8, 741.2);
  transform: matrix(1, 0, 0, 1, 70.8, 741.2);
  z-index: 1;
  width: 631px;
  height: 16px;
}

#pfa > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}