#kj8tw9x7Image {
  width: 885px;
  height: 512px;
  -webkit-transform: matrix(1, 0, 0, 1, 104, 161);
  transform: matrix(1, 0, 0, 1, 104, 161);
}

#kj8tw9xeImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kj8tw9xfImage {
  width: 163px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 728);
  transform: matrix(1, 0, 0, 1, 215, 728);
}

#kj8tw9xgImage {
  width: 164px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 378.2, 727);
  transform: matrix(1, 0, 0, 1, 378.2, 727);
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
}

#kj8tw9xhImage {
  width: 163px;
  height: 23px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 705);
  transform: matrix(1, 0, 0, 1, 215, 705);
}

#kj8tw9xiImage {
  width: 164px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 215, 704);
  transform: matrix(1, 0, 0, 1, 215, 704);
}

#kj8tw9xjImage {
  width: 159px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 377, 704);
  transform: matrix(1, 0, 0, 1, 377, 704);
}

#kj8tw9xkImage {
  width: 109px;
  height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 534, 704);
  transform: matrix(1, 0, 0, 1, 534, 704);
}

#co-container_2197de2e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 104, 161);
  transform: matrix(1, 0, 0, 1, 104, 161);
  z-index: 2;
  width: 885px;
  height: 512px;
}

#co-text_f8724d51 {
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 1;
  width: 223px;
  height: 50px;
}

#co-text_53d17c12 {
  top: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 222.6, 0);
  transform: matrix(1, 0, 0, 1, 222.6, 0);
  z-index: 2;
  width: 220px;
  height: 50px;
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
}

#co-text_34948b66 {
  top: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 444.20, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 444.20, 0.00) translate3d(0, 0, 0);
  z-index: 3;
  width: 220px;
  height: 50px;
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
}

#co-text_9647d439 {
  top: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 665.60, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 665.60, 0.00) translate3d(0, 0, 0);
  z-index: 4;
  width: 219px;
  height: 50px;
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
}

#co-container_c52875ea {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 1.00, 50.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 1.00, 50.00) translate3d(0, 0, 0);
  z-index: 5;
  width: 883px;
  height: 460px;
  opacity: 1;
}

#co-image_32b4747c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 59.01, 105.8);
  transform: matrix(1, 0, 0, 1, 59.01, 105.8);
  z-index: 1;
  width: 684px;
  height: 201px;
  opacity: 0.92;
}

#co-text_e697b81e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 203.2, 68.2);
  transform: matrix(1, 0, 0, 1, 203.2, 68.2);
  z-index: 2;
  width: 375px;
  height: 32px;
}

#co-text_27160850 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.003, -1, 1, 0.003, -5, 196);
  transform: matrix(0.003, -1, 1, 0.003, -5, 196);
  z-index: 3;
  width: 116px;
  height: 23px;
}

#co-text_d947695a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 96.8, 314.4);
  transform: matrix(1, 0, 0, 1, 96.8, 314.4);
  z-index: 4;
  width: 83px;
  height: 18px;
}

#co-text_201a4d83 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 188.8, 314.4);
  transform: matrix(1, 0, 0, 1, 188.8, 314.4);
  z-index: 5;
  width: 86px;
  height: 20px;
}

#co-text_4e6d6b81 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 283.6, 314.4);
  transform: matrix(1, 0, 0, 1, 283.6, 314.4);
  z-index: 6;
  width: 77px;
  height: 18px;
}

#co-text_f5834014 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 376.6, 314.4);
  transform: matrix(1, 0, 0, 1, 376.6, 314.4);
  z-index: 7;
  width: 80px;
  height: 20px;
}

#co-text_85dc3e68 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 470.2, 314.4);
  transform: matrix(1, 0, 0, 1, 470.2, 314.4);
  z-index: 8;
  width: 80px;
  height: 18px;
}

#co-text_25ff778f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 556.4, 314.4);
  transform: matrix(1, 0, 0, 1, 556.4, 314.4);
  z-index: 9;
  width: 85px;
  height: 18px;
}

#co-text_98b4bb5b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 654, 314.4);
  transform: matrix(1, 0, 0, 1, 654, 314.4);
  z-index: 10;
  width: 81px;
  height: 20px;
}

#co-text_d0d5cc57 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 32.4, 396.8);
  transform: matrix(1, 0, 0, 1, 32.4, 396.8);
  z-index: 12;
  width: 822px;
  height: 62px;
}

#co-text_3ae332e3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 727.2, 26.4);
  transform: matrix(1, 0, 0, 1, 727.2, 26.4);
  z-index: 13;
  width: 102px;
  height: 25px;
}

#co-text_d1f39051 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 782.4, 71.2);
  transform: matrix(1, 0, 0, 1, 782.4, 71.2);
  z-index: 14;
  width: 45px;
  height: 30px;
}

#co-image_c5b2125a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 810.00, 67.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 810.00, 67.00) translate3d(0,0,0);
  z-index: 15;
  width: 67px;
  height: 39px;
}

#co-image_9a3ad9eb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 809, 63.6);
  transform: matrix(1, 0, 0, 1, 809, 63.6);
  z-index: 16;
  width: 66px;
  height: 37px;
}

#co-container_4370be37 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 2, 50);
  transform: matrix(1, 0, 0, 1, 2, 50);
  z-index: 6;
  width: 882px;
  height: 459px;
  opacity: 1;
}

#co-text_edf76ba6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 188.8, 67.8);
  transform: matrix(1, 0, 0, 1, 188.8, 67.8);
  z-index: 1;
  width: 398px;
  height: 27px;
}

#co-text_edf76ba6>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-image_ca0e4323 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 59.41, 104.4);
  transform: matrix(1, 0, 0, 1, 59.41, 104.4);
  z-index: 2;
  width: 684px;
  height: 207px;
}

#co-text_3d56f4a1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 116.6, 313.6);
  transform: matrix(1, 0, 0, 1, 116.6, 313.6);
  z-index: 3;
  width: 82px;
  height: 24px;
}

#co-text_933bddb9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 239, 313.6);
  transform: matrix(1, 0, 0, 1, 239, 313.6);
  z-index: 4;
  width: 92px;
  height: 19px;
}

#co-text_27666f8e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 374.2, 314.4);
  transform: matrix(1, 0, 0, 1, 374.2, 314.4);
  z-index: 5;
  width: 87px;
  height: 21px;
}

#co-text_83b46433 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 502.2, 314.4);
  transform: matrix(1, 0, 0, 1, 502.2, 314.4);
  z-index: 6;
  width: 93px;
  height: 22px;
}

#co-text_4328b90e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 638.2, 314.4);
  transform: matrix(1, 0, 0, 1, 638.2, 314.4);
  z-index: 7;
  width: 84px;
  height: 19px;
}

#co-text_1eaf4074 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 30.8, 397.6);
  transform: matrix(1, 0, 0, 1, 30.8, 397.6);
  z-index: 8;
  width: 829px;
  height: 20px;
}

#co-text_8dec7f98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 727, 25.6);
  transform: matrix(1, 0, 0, 1, 727, 25.6);
  z-index: 9;
  width: 104px;
  height: 28px;
}

#co-text_5b0119a6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 775.6, 71);
  transform: matrix(1, 0, 0, 1, 775.6, 71);
  z-index: 10;
  width: 52px;
  height: 26px;
}

#co-container_23cb0c10 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 2, 49);
  transform: matrix(1, 0, 0, 1, 2, 49);
  z-index: 4;
  width: 882px;
  height: 460px;
  opacity: 1;
}

#co-image_dfa3370a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 823.00, 20.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 823.00, 20.00) translate3d(0, 0, 0);
  z-index: 11;
  width: 37px;
  height: 37px;
}

#co-image_8fd3d1d0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 800, 64);
  transform: matrix(1, 0, 0, 1, 800, 64);
  z-index: 12;
  width: 81px;
  height: 38px;
}

#co-image_ad0070cb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 52.01, 108.8);
  transform: matrix(1, 0, 0, 1, 52.01, 108.8);
  z-index: 1;
  width: 694px;
  height: 250px;
}

#co-text_94ecedf2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 182.6, 68.8);
  transform: matrix(1, 0, 0, 1, 182.6, 68.8);
  z-index: 2;
  width: 410px;
  height: 28px;
}

#co-text_805faa58 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.00000000, -1.00000000, 1, 0.00000000, -7.00, 195.00) translate3d(0, 0, 0);
  transform: matrix(0.00000000, -1.00000000, 1, 0.00000000, -7.00, 195.00) translate3d(0, 0, 0);
  z-index: 13;
  width: 120px;
  height: 25px;
}

#co-text_f695699f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 194.2, 344);
  transform: matrix(1, 0, 0, 1, 194.2, 344);
  z-index: 3;
  width: 85px;
  height: 19px;
}

#co-text_fb4b828c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 287.8, 344);
  transform: matrix(1, 0, 0, 1, 287.8, 344);
  z-index: 4;
  width: 83px;
  height: 21px;
}

#co-text_178a2c44 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 374.8, 344);
  transform: matrix(1, 0, 0, 1, 374.8, 344);
  z-index: 5;
  width: 84px;
  height: 21px;
}

#co-text_c797033f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 466.6, 344);
  transform: matrix(1, 0, 0, 1, 466.6, 344);
  z-index: 6;
  width: 97px;
  height: 19px;
}

#co-text_a7a9e039 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 557.4, 344.8);
  transform: matrix(1, 0, 0, 1, 557.4, 344.8);
  z-index: 7;
  width: 106px;
  height: 22px;
}

#co-text_6e7577f4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 655.6, 343.2);
  transform: matrix(1, 0, 0, 1, 655.6, 343.2);
  z-index: 8;
  width: 96px;
  height: 20px;
}

#co-text_26aa1c8a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.006, -1, 1, -0.006, -40.2, 184);
  transform: matrix(-0.006, -1, 1, -0.006, -40.2, 184);
  z-index: 9;
  width: 164px;
  height: 43px;
}

#co-text_38c94d6e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 727, 27.2);
  transform: matrix(1, 0, 0, 1, 727, 27.2);
  z-index: 10;
  width: 94px;
  height: 24px;
}

#co-text_70e9cfcb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 29.8, 397.6);
  transform: matrix(1, 0, 0, 1, 29.8, 397.6);
  z-index: 11;
  width: 836px;
  height: 43px;
}

#co-text_6d81769b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 104.6, 344);
  transform: matrix(1, 0, 0, 1, 104.6, 344);
  z-index: 12;
  width: 79px;
  height: 20px;
}

#co-image_9c297f3b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 822.6, 19.8);
  transform: matrix(1, 0, 0, 1, 822.6, 19.8);
  z-index: 13;
  width: 38px;
  height: 38px;
}

#co-container_1cb7a6c5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 49);
  transform: matrix(1, 0, 0, 1, 0, 49);
  z-index: 7;
  width: 884px;
  height: 460px;
}

#co-image_2331f907 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 57, 105);
  transform: matrix(1, 0, 0, 1, 57, 105);
  z-index: 1;
  width: 693px;
  height: 210px;
}

#co-text_42570e97 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.001, -1, 1, 0.001, -33.6, 184.8);
  transform: matrix(0.001, -1, 1, 0.001, -33.6, 184.8);
  z-index: 2;
  width: 147px;
  height: 42px;
}

#co-text_f0403aab {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 193.6, 301.6);
  transform: matrix(1, 0, 0, 1, 193.6, 301.6);
  z-index: 3;
  width: 81px;
  height: 22px;
}

#co-text_30b2eeaf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 283.2, 301.6);
  transform: matrix(1, 0, 0, 1, 283.2, 301.6);
  z-index: 4;
  width: 97px;
  height: 23px;
}

#co-text_43b1d08f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 376, 301.8);
  transform: matrix(1, 0, 0, 1, 376, 301.8);
  z-index: 5;
  width: 92px;
  height: 22px;
}

#co-text_d7bde9bb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 471.2, 302.2);
  transform: matrix(1, 0, 0, 1, 471.2, 302.2);
  z-index: 6;
  width: 89px;
  height: 20px;
}

#co-text_76f7f231 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 565.6, 301.6);
  transform: matrix(1, 0, 0, 1, 565.6, 301.6);
  z-index: 7;
  width: 92px;
  height: 21px;
}

#co-text_4c202648 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 653.6, 301.6);
  transform: matrix(1, 0, 0, 1, 653.6, 301.6);
  z-index: 8;
  width: 98px;
  height: 21px;
}

#co-text_6d0eae35 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 92, 302);
  transform: matrix(1, 0, 0, 1, 92, 302);
  z-index: 9;
  width: 93px;
  height: 21px;
}

#co-text_adabdc3d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 29.6, 352.8);
  transform: matrix(1, 0, 0, 1, 29.6, 352.8);
  z-index: 10;
  width: 834px;
  height: 38px;
}

#co-text_9148a68c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 28.8, 380.8);
  transform: matrix(1, 0, 0, 1, 28.8, 380.8);
  z-index: 11;
  width: 827px;
  height: 67px;
}

#co-text_e0a050ef {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 190.2, 68.8);
  transform: matrix(1, 0, 0, 1, 190.2, 68.8);
  z-index: 12;
  width: 397px;
  height: 32px;
}

#co-text_26837913 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 728.8, 28);
  transform: matrix(1, 0, 0, 1, 728.8, 28);
  z-index: 13;
  width: 95px;
  height: 28px;
}

#co-image_db5500e9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 825.4, 19.6);
  transform: matrix(1, 0, 0, 1, 825.4, 19.6);
  z-index: 14;
  width: 38px;
  height: 38px;
}

#co-text_6efc21eb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 408.2, 75.4);
  transform: matrix(1, 0, 0, 1, 408.2, 75.4);
  z-index: 3;
  width: 48px;
  height: 45px;
  opacity: 0;
}

#co-popup_7e9f701d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_44/644c998f.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_1f9df189 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 346);
  transform: matrix(1, 0, 0, 1, 170, 346);
  z-index: 1;
  width: 157px;
  height: 32px;
}

#co-text_562642a1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 380.4);
  transform: matrix(1, 0, 0, 1, 170, 380.4);
  z-index: 2;
  width: 414px;
  height: 23px;
}

#co-popup_7e9f701d>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120.8, 308.8);
  transform: matrix(1, 0, 0, 1, -120.8, 308.8);
  opacity: 0;
}

#pf10>div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

/*custom*/

.tab_title {
  background: #e4eff1;
}

.tab_title span {
  font-family: "3_CCMVBT+AvenirNextLTPro-Demi" !important;
  color: rgb(84, 122, 129) !important;
}

.tab_title.act {
  background: #ffffff !important;
}

.tab_title.act span {
  font-family: "1_CWOXIJ+AvenirNextLTPro-Bold" !important;
  color: rgb(232, 87, 0) !important;
  position: relative;
  top: -1px;
}

.tab_content {
  display: none;
}

.tab_content.act {
  display: block;
}

#co-popup_7e9f701d>co-button:nth-child(3)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122, 310);
  transform: matrix(1, 0, 0, 1, -122, 310);
  opacity: 0;
}

#co-container_eda1e804 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55.8, 703.01);
  transform: matrix(1, 0, 0, 1, 55.8, 703.01);
  z-index: 4;
  width: 589px;
  height: 65px;
}

#co-text_ce058c5b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 321.8, -18.4);
  transform: matrix(1, 0, 0, 1, 321.8, -18.4);
  z-index: 1;
  width: 160px;
  height: 45px;
  opacity: 0;
}

#co-text_75dd244e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 478.6, -18.2);
  transform: matrix(1, 0, 0, 1, 478.6, -18.2);
  z-index: 2;
  width: 106px;
  height: 45px;
  opacity: 0;
}

#co-text_0d971ffc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0.2, 26);
  transform: matrix(1, 0, 0, 1, 0.2, 26);
  z-index: 3;
  width: 160px;
  height: 40px;
  opacity: 0;
}

#kj8tw9xnText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_aab88d8d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_44/071411c2.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_aab88d8d > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 85.6);
  transform: matrix(1, 0, 0, 1, -76.8, 85.6);
  opacity: 0;
}

#co-text_11c121b6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 106.4);
  transform: matrix(1, 0, 0, 1, 112.4, 106.4);
  z-index: 1;
  width: 560px;
  height: 33px;
}

#co-text_415b1bad {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112, 152.4);
  transform: matrix(1, 0, 0, 1, 112, 152.4);
  z-index: 2;
  width: 794px;
  height: 116px;
}

#co-text_f0b056b4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 782.4, 405);
  transform: matrix(1, 0, 0, 1, 782.4, 405);
  z-index: 3;
  width: 117px;
  height: 56px;
}

#co-text_4d179a26 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 662.8, 404.6);
  transform: matrix(1, 0, 0, 1, 662.8, 404.6);
  z-index: 4;
  width: 113px;
  height: 58px;
}

#co-text_6aa1529c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 542.8, 404.2);
  transform: matrix(1, 0, 0, 1, 542.8, 404.2);
  z-index: 5;
  width: 113px;
  height: 56px;
}

#co-text_a283fe1a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 426, 404.4);
  transform: matrix(1, 0, 0, 1, 426, 404.4);
  z-index: 6;
  width: 111px;
  height: 55px;
}

#co-text_ac3bffa6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 303.6, 405.6);
  transform: matrix(1, 0, 0, 1, 303.6, 405.6);
  z-index: 7;
  width: 115px;
  height: 57px;
}

#co-text_27101aaf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 118, 403.6);
  transform: matrix(1, 0, 0, 1, 118, 403.6);
  z-index: 8;
  width: 179px;
  height: 56px;
}

#co-text_728d4741 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 714.6, 294.4);
  transform: matrix(1, 0, 0, 1, 714.6, 294.4);
  z-index: 9;
  width: 176px;
  height: 53px;
}

#co-text_671b1c4f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 511.6, 293.8);
  transform: matrix(1, 0, 0, 1, 511.6, 293.8);
  z-index: 10;
  width: 192px;
  height: 61px;
}

#co-text_b4ce65fd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 310.8, 294);
  transform: matrix(1, 0, 0, 1, 310.8, 294);
  z-index: 11;
  width: 192px;
  height: 56px;
}

#co-text_21116783 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 116.4, 293.8);
  transform: matrix(1, 0, 0, 1, 116.4, 293.8);
  z-index: 12;
  width: 190px;
  height: 56px;
}

#co-text_956bfd89 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 109.2, 646);
  transform: matrix(1, 0, 0, 1, 109.2, 646);
  z-index: 13;
  width: 302px;
  height: 25px;
}

#co-text_b1f85c69 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 106.6, 548.8);
  transform: matrix(1, 0, 0, 1, 106.6, 548.8);
  z-index: 14;
  width: 199px;
  height: 56px;
}

#co-text_d01218ad {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 485.2);
  transform: matrix(1, 0, 0, 1, 112.4, 485.2);
  z-index: 15;
  width: 189px;
  height: 44px;
}

#co-popup_aab88d8d > co-button:nth-child(16) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  opacity: 0;
}

#co-popup_2bce98c7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10002;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_44/89a4e482.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_ef0ea9cf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 114.8, 120.4);
  transform: matrix(1, 0, 0, 1, 114.8, 120.4);
  z-index: 1;
  width: 492px;
  height: 33px;
}

#co-text_c210cb56 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115.6, 169.2);
  transform: matrix(1, 0, 0, 1, 115.6, 169.2);
  z-index: 2;
  width: 794px;
  height: 51px;
}

#co-popup_2bce98c7 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 86.4);
  transform: matrix(1, 0, 0, 1, -76, 86.4);
  opacity: 0;
}

#co-text_488c37f6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115.6, 648.4);
  transform: matrix(1, 0, 0, 1, 115.6, 648.4);
  z-index: 3;
  width: 301px;
  height: 31px;
}

#co-text_6beb5ecf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 307.6);
  transform: matrix(1, 0, 0, 1, 170, 307.6);
  z-index: 4;
  width: 133px;
  height: 51px;
}

#co-text_3210d7d3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 350.8, 307.6);
  transform: matrix(1, 0, 0, 1, 350.8, 307.6);
  z-index: 5;
  width: 135px;
  height: 56px;
}

#co-text_de06da1e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 528.4, 308.4);
  transform: matrix(1, 0, 0, 1, 528.4, 308.4);
  z-index: 6;
  width: 144px;
  height: 60px;
}

#co-text_916254db {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 716.01, 308.4);
  transform: matrix(1, 0, 0, 1, 716.01, 308.4);
  z-index: 7;
  width: 141px;
  height: 58px;
}

#co-popup_2bce98c7 > co-button:nth-child(8) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -79, 84);
  transform: matrix(1, 0, 0, 1, -79, 84);
  opacity: 0;
}

#co-text_5b0119a6 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b0e4817d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 431.6, 742.8);
  transform: matrix(1, 0, 0, 1, 431.6, 742.8);
  z-index: 1;
  width: 66px;
  height: 17px;
}

#co-text_229e9db7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 322.00, 27.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 322.00, 27.00) translate3d(0,0,0);
  z-index: 4;
  width: 162px;
  height: 37px;
  opacity: 0;
}

#co-text_75c665a5 {
  -webkit-transform: matrix(1, 0, 0, 1, 432, 740);
  transform: matrix(1, 0, 0, 1, 432, 740);
  width: 82px;
  height: 20px;
}