#l1liv0ycImage {
  width: 38px;
  height: 38px;
  -webkit-transform: matrix(1, 0, 0, 1, 962, 95);
  transform: matrix(1, 0, 0, 1, 962, 95);
}

#pf7>div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#l1liv0ydImage {
  display: none;
}

#l1liv0ydImage * {
  display: none;
}

#l1liv0ybImage {
  display: none;
}

#l1liv0ybImage * {
  display: none;
}

#l1liv0yaImage {
  display: none;
}

#l1liv0yaImage * {
  display: none;
}

#l1liv0y9Image {
  display: none;
}

#l1liv0y9Image * {
  display: none;
}

#l1liv0y8Image {
  display: none;
}

#l1liv0y8Image * {
  display: none;
}

#l1liv0y7Image {
  display: none;
}

#l1liv0y7Image * {
  display: none;
}

#l1liv0y6Image {
  display: none;
}

#l1liv0y6Image * {
  display: none;
}

#l1liv0y5Image {
  display: none;
}

#l1liv0y5Image * {
  display: none;
}

#l1liv0y4Image {
  display: none;
}

#l1liv0y4Image * {
  display: none;
}

#l1liv0y3Image {
  display: none;
}

#l1liv0y3Image * {
  display: none;
}

#l1liv0y2Image {
  display: none;
}

#l1liv0y2Image * {
  display: none;
}

#l1liv0y1Image {
  display: none;
}

#l1liv0y1Image * {
  display: none;
}

#l1liv0y0Image {
  display: none;
}

#l1liv0y0Image * {
  display: none;
}

#l1liv0xzImage {
  display: none;
}

#l1liv0xzImage * {
  display: none;
}

#l1liv0xyImage {
  display: none;
}

#l1liv0xyImage * {
  display: none;
}

#l1liv0xxImage {
  display: none;
}

#l1liv0xxImage * {
  display: none;
}

#l1liv0xwImage {
  display: none;
}

#l1liv0xwImage * {
  display: none;
}

#l1liv0xtImage {
  display: none;
}

#l1liv0xtImage * {
  display: none;
}

#co-popup_d754cec0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_NewAss_10/31cd3028.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_d754cec0>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -118.75, 281.25);
  transform: matrix(1, 0, 0, 1, -118.75, 281.25);
  opacity: 0;
}

#co-text_13b82080 {
  top: -11px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 350.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 350.00) translate3d(0, 0, 0);
  z-index: 1;
  width: 200px;
  height: 20px;
}

#co-text_27b69c90 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 380.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 380.00) translate3d(0, 0, 0);
  z-index: 2;
  width: 750px;
  height: 50px;
}

#co-text-button_63792e61 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 847, 44);
  transform: matrix(1, 0, 0, 1, 847, 44);
  z-index: 5;
  width: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_63792e61>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_63792e61>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-popup_d754cec0>co-button:nth-child(3)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 281.25);
  transform: matrix(1, 0, 0, 1, -121.25, 281.25);
  opacity: 0;
}

#l1liv0yfText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#l1liv0yeText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -58.75, 0);
  transform: matrix(0.5, 0, 0, 0.5, -58.75, 0);
}

#co-text_58ad4fea {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 100, 115.5);
  transform: matrix(1, 0, 0, 1, 100, 115.5);
  z-index: 6;
  width: 720px;
  height: 51px;
}

.contain_mask_scroll {
  overflow: hidden;
  width: 901px;
  height: 530px;
  position: absolute;
  top: 179px;
  left: 100px;
}

#co-container_e643ceed.ani {
  -webkit-transform: matrix(1, 0, 0, 1, 0, -550);
  transform: matrix(1, 0, 0, 1, 0, -550);
}

#co-container_e643ceed {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 7;
  width: 901px;
  height: 524px;
  -webkit-transition: all .5s ease;
  -transition: all 0.5s ease;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-image_b81887d1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 33.75, 78);
  transform: matrix(1, 0, 0, 1, 33.75, 78);
  z-index: 1;
  width: 772px;
  height: 262px;
}

#co-text_ec781df9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0, -1, 1, 0, -143.5, 186.75);
  transform: matrix(0, -1, 1, 0, -143.5, 186.75);
  z-index: 3;
  width: 310px;
  height: 21px;
}

#co-text_f089092d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 99.5, 38.75);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 99.5, 38.75);
  z-index: 4;
  width: 78px;
  height: 25px;
}

#co-text_4b577d5e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 167.75, 37.25);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 167.75, 37.25);
  z-index: 5;
  width: 78px;
  height: 25px;
}

#co-text_b47668c1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 235.25, 47.25);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 235.25, 47.25);
  z-index: 6;
  width: 78px;
  height: 10px;
}

#co-text_614795dd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 300.25, 48.5);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 300.25, 48.5);
  z-index: 7;
  width: 78px;
  height: 10px;
}

#co-text_ecc4998b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 365.25, 38.5);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 365.25, 38.5);
  z-index: 8;
  width: 78px;
  height: 25px;
}

#co-text_b2d7da11 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 496.25, 47.75);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 496.25, 47.75);
  z-index: 9;
  width: 78px;
  height: 15px;
}

#co-text_884adb1a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 561.5, 37.75);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 561.5, 37.75);
  z-index: 10;
  width: 78px;
  height: 25px;
}

#co-text_1aa06f50 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 624, 39);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 624, 39);
  z-index: 11;
  width: 78px;
  height: 25px;
}

#co-text_55371eb7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 687.5, 39);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 687.5, 39);
  z-index: 12;
  width: 78px;
  height: 25px;
}

#co-text_b550e39b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.707, -0.707, 0.707, 0.707, 430.25, 38);
  transform: matrix(0.707, -0.707, 0.707, 0.707, 430.25, 38);
  z-index: 13;
  width: 78px;
  height: 25px;
}

#co-text_d1e4df64 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 13.75, 353);
  transform: matrix(1, 0, 0, 1, 13.75, 353);
  z-index: 14;
  width: 806px;
  height: 123px;
}

#co-text_8d9e28ce {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 550.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 550.00) translate3d(0, 0, 0);
  z-index: 15;
  width: 803px;
  height: 37px;
}

#co-image_a3dda958 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 505, 680);
  transform: matrix(1, 0, 0, 1, 505, 680);
  z-index: 30;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 27px;
  height: 11px;
}

#co-image_a3dda958.ani {
  -webkit-transform: matrix(1, 0, 0, 1, 505, 680) rotate(180deg);
  transform: matrix(1, 0, 0, 1, 505, 680) rotate(180deg);
}

#co-text-button_bfb7b352 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 246, 364.5);
  transform: matrix(1, 0, 0, 1, 246, 364.5);
  z-index: 16;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_bfb7b352>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_bfb7b352>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-text-button_1246ec3a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 471, 430.75);
  transform: matrix(1, 0, 0, 1, 471, 430.75);
  z-index: 17;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_1246ec3a>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_1246ec3a>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-text_f089092d>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b1d05d11 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 351.00, 315.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 351.00, 315.00) translate3d(0, 0, 0);
  z-index: 18;
  width: 130px;
  height: 15px;
}

#co-text_dc7b613f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 516.25, 315);
  transform: matrix(1, 0, 0, 1, 516.25, 315);
  z-index: 19;
  width: 130px;
  height: 15px;
}

#co-text_5b2c3dbe {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 680, 315);
  transform: matrix(1, 0, 0, 1, 680, 315);
  z-index: 20;
  width: 130px;
  height: 15px;
}

#co-text-button_baa16b91 {
  top: -1px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 145, 373);
  transform: matrix(1, 0, 0, 1, 145, 373);
  z-index: 3;
  width: 650px;
  height: 30px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_baa16b91>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_baa16b91>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-text-button_00064e05 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 144, 399);
  transform: matrix(1, 0, 0, 1, 144, 399);
  z-index: 4;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 750px;
}

#co-text-button_00064e05>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_00064e05>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

co-container[user-label="Popup close button"]{left: -120px !important;top: 281px !important;opacity: 0;}

.nav {
  position: absolute;
  left: 55px;
  bottom: 0;
  width: 762px;
  height: 62px;
  background-image: url("../media/images/Brintellix_NewAss_10/nav.png");
  background-size: 100%;
}

.nav1{position: absolute;left: 191px;top: 0;width: 189px;height: 23px;}
.nav2{position: absolute;left: 572px;top: 0;width: 190px;height: 23px;}
.nav3{position: absolute;left: 0px;bottom: 0;width: 190px;height: 39px;}
.nav4{position: absolute;left: 381px;bottom: 0;width: 190px;height: 39px;}
.nav5{position: absolute;left: 572px;bottom: 0;width: 190px;height: 39px;}
@media only screen and (min-width: 1180px) and (orientation: landscape) {
  .nav {
    left: 14px;
  }
}

@media only screen and (min-width: 1194px) and (orientation: landscape) {
  .nav {
    left: 14px;
  }
}