#l1liurwpImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 727);
  transform: matrix(1, 0, 0, 1, 54, 727);
overflow: visible;}

#l1liurwqImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 252, 727);
  transform: matrix(1, 0, 0, 1, 252, 727);
}

#l1liurwrImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 133, 727);
  transform: matrix(1, 0, 0, 1, 133, 727);
}

#l1liurwsImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 661, 727);
  transform: matrix(1, 0, 0, 1, 661, 727);
}

#l1liurwtImage {
  width: 100px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 780, 727);
  transform: matrix(1, 0, 0, 1, 780, 727);
}

#l1liurwuImage {
  width: 146px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 878, 727);
  transform: matrix(1, 0, 0, 1, 878, 727);
}

#l1liurwvImage {
  width: 147px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 331, 727);
  transform: matrix(1, 0, 0, 1, 331, 727);
}

#l1liurwwImage {
  width: 186px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 727);
  transform: matrix(1, 0, 0, 1, 477, 727);
}

#l1liurwxImage {
  width: 145px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 879, 728);
  transform: matrix(1, 0, 0, 1, 879, 728);
}

#l1liurwyImage {
  width: 146px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 878, 727);
  transform: matrix(1, 0, 0, 1, 878, 727);
overflow: visible;}

#l1liurwzImage {
  width: 169px;
  height: 169px;
  -webkit-transform: matrix(1, 0, 0, 1, 102, 272);
  transform: matrix(1, 0, 0, 1, 102, 272);
}

#l1liurx2Image {
  width: 118px;
  height: 63px;
  -webkit-transform: matrix(1, 0, 0, 1, 558, 435);
  transform: matrix(1, 0, 0, 1, 558, 435);
}

#l1liurx6Image {
  width: 314px;
  height: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 672, 656);
  transform: matrix(1, 0, 0, 1, 672, 656);
}

#l1liurx8Image {
  width: 314px;
  height: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 672, 599);
  transform: matrix(1, 0, 0, 1, 672, 599);
}

#l1liurxaImage {
  width: 118px;
  height: 63px;
  -webkit-transform: matrix(1, 0, 0, 1, 558, 228);
  transform: matrix(1, 0, 0, 1, 558, 228);
}

#l1liurxbImage {
  width: 118px;
  height: 63px;
  -webkit-transform: matrix(1, 0, 0, 1, 558, 332);
  transform: matrix(1, 0, 0, 1, 558, 332);
}

#l1liurxgText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 16.25, 0);
  transform: matrix(0.5, 0, 0, 0.5, 16.25, 0);
  width: 449px;
  height: 230px;
}

#co-popup_e630b09f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_NewAss_2/bd054487.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_e630b09f > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 281.25);
  transform: matrix(1, 0, 0, 1, -120, 281.25);
  opacity: 0;
}

#co-text_00dad6cc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 300.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 300.00) translate3d(0,0,0);
  z-index: 1;
  width: 200px;
  height: 30px;
}

#co-text_df37392a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 340.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 150.00, 340.00) translate3d(0,0,0);
  z-index: 2;
  width: 20px;
  height: 100px;
}

#co-text_1f473ca3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 340);
  transform: matrix(1, 0, 0, 1, 170, 340);
  z-index: 3;
  width: 614px;
  height: 94px;
}

#co-text-button_2fec0727 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 205.75, 81.5);
  transform: matrix(1, 0, 0, 1, 205.75, 81.5);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_2fec0727 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_2fec0727 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_28f515d7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 212, 202.75);
  transform: matrix(1, 0, 0, 1, 212, 202.75);
  z-index: 3;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_28f515d7 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_28f515d7 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_1652f9d7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 442, 375.25);
  transform: matrix(1, 0, 0, 1, 442, 375.25);
  z-index: 4;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_1652f9d7 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_1652f9d7 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_b9eac39e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 454.5, 432.75);
  transform: matrix(1, 0, 0, 1, 454.5, 432.75);
  z-index: 5;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_b9eac39e > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_b9eac39e > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_d1ed7c74 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 414.5, 454);
  transform: matrix(1, 0, 0, 1, 414.5, 454);
  z-index: 6;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_d1ed7c74 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_d1ed7c74 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_1d36ac96 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 569.5, 581.5);
  transform: matrix(1, 0, 0, 1, 569.5, 581.5);
  z-index: 7;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_1d36ac96 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_1d36ac96 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_ce1ba8a8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 764.5, 251.5);
  transform: matrix(1, 0, 0, 1, 764.5, 251.5);
  z-index: 8;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_ce1ba8a8 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_ce1ba8a8 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_8bba5246 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 888.25, 356.5);
  transform: matrix(1, 0, 0, 1, 888.25, 356.5);
  z-index: 9;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_8bba5246 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_8bba5246 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_ecb365bf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 863.25, 484);
  transform: matrix(1, 0, 0, 1, 863.25, 484);
  z-index: 10;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_ecb365bf > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_ecb365bf > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_27bbc600 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_NewAss_2/0c4c57ff.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_27bbc600 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -50, 48.75);
  transform: matrix(1, 0, 0, 1, -50, 48.75);
  opacity: 0;
}

#co-text_2a8a2d03 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 88.00, 75.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 88.00, 75.00) translate3d(0,0,0);
  z-index: 1;
  width: 839px;
  height: 61px;
}

#co-text_4f2f55ec {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 88, 157.75);
  transform: matrix(1, 0, 0, 1, 88, 157.75);
  z-index: 2;
  width: 829px;
  height: 45px;
}

#co-text_4f2f55ec > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_e630b09f > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -118.75, 278.75);
  transform: matrix(1, 0, 0, 1, -118.75, 278.75);
  opacity: 0;
}

#co-image_86f72c58 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 88.00, 240.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 88.00, 240.00) translate3d(0,0,0);
  z-index: 4;
  width: 631px;
  height: 175px;
}

#co-text_b95e7fd5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 280.75, 265.25);
  transform: matrix(1, 0, 0, 1, 280.75, 265.25);
  z-index: 5;
  width: 258px;
  height: 139px;
}

#co-text_cff3948f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 742, 290.25);
  transform: matrix(1, 0, 0, 1, 742, 290.25);
  z-index: 6;
  width: 190px;
  height: 76px;
}

#co-text_0b53194f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 103, 457.5);
  transform: matrix(1, 0, 0, 1, 103, 457.5);
  z-index: 7;
  width: 753px;
  height: 55px;
}

#co-text_b3b841b4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 88.00, 536.50) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 88.00, 536.50) translate3d(0,0,0);
  z-index: 8;
  width: 779px;
  height: 144px;
}

#co-text_b3b841b4 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_27bbc600 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -52.5, 50);
  transform: matrix(1, 0, 0, 1, -52.5, 50);
  opacity: 0;
}

#co-text-button_98b62232 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 672, 599);
  transform: matrix(1, 0, 0, 1, 672, 599);
  z-index: 14;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 316px;
  height: 47px;
}

#co-text-button_98b62232 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_98b62232 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#l1liurxeText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_27bbc600 > co-button:nth-child(8) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -50.91, 51.82);
  transform: matrix(1, 0, 0, 1, -50.91, 51.82);
  opacity: 0;
}

#co-text-button_4f5b4767 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 145.75, 330.25);
  transform: matrix(1, 0, 0, 1, 145.75, 330.25);
  z-index: 4;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 332px;
  height: 31px;
}

#co-text-button_4f5b4767 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_4f5b4767 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_5a5117a8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 139.5, 360.25);
  transform: matrix(1, 0, 0, 1, 139.5, 360.25);
  z-index: 5;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 362px;
  height: 26px;
}

#co-text-button_5a5117a8 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_5a5117a8 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_daa14d12 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 142, 385.25);
  transform: matrix(1, 0, 0, 1, 142, 385.25);
  z-index: 6;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 382px;
  height: 25px;
}

#co-text-button_daa14d12 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_daa14d12 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_d9e13440 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 142, 409);
  transform: matrix(1, 0, 0, 1, 142, 409);
  z-index: 7;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 456px;
  height: 28px;
}

#co-text-button_d9e13440 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_d9e13440 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_27460d75 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 79.5, 655.25);
  transform: matrix(1, 0, 0, 1, 79.5, 655.25);
  z-index: 9;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 341px;
  height: 30px;
}

#co-text-button_27460d75 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_27460d75 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_27bbc600 > co-button:nth-child(9) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -51.25, 51.25);
  transform: matrix(1, 0, 0, 1, -51.25, 51.25);
  opacity: 0;
}

#co-popup_e630b09f > co-button:nth-child(8) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 281.25);
  transform: matrix(1, 0, 0, 1, -121.25, 281.25);
  opacity: 0;
}

#l1liurxdText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -0.8);
  transform: matrix(0.5, 0, 0, 0.5, 0, -0.8);
}
.nav1{position: absolute;left: 56px;bottom: 0;width: 78px;height: 40px;}
.nav2{position: absolute;
    left: 135px;
    bottom: 0;
    width: 117px;
    height: 40px;
    }
.nav3{position: absolute;
    left: 254px;
    bottom: 0;
    width: 77px;
    height: 40px;
    }
.nav4{position: absolute;
    left: 333px;
    bottom: 0;
    width: 143px;
    height: 40px;
    }
.nav5{position: absolute;
    left: 478px;
    bottom: 0;
    width: 183px;
    height: 40px;
    }
.nav6{position: absolute;
    left: 663px;
    bottom: 0;
    width: 117px;
    height: 40px;
    }
.nav7{position: absolute;
    left: 781px;
    bottom: 0;
    width: 97px;
    height: 40px;
    }
.nav8{}