#kihkcih5Image {
  width: 208px;
  height: 207px;
  -webkit-transform: matrix(1, 0, 0, 1, 104, 198);
  transform: matrix(1, 0, 0, 1, 104, 198);
}

#kihkcih6Image {
  width: 206px;
  height: 206px;
  -webkit-transform: matrix(1, 0, 0, 1, 327, 198);
  transform: matrix(1, 0, 0, 1, 327, 198);
}

#kihkcih7Image {
  width: 208px;
  height: 207px;
  -webkit-transform: matrix(1, 0, 0, 1, 548, 198);
  transform: matrix(1, 0, 0, 1, 548, 198);
}

#kihkcih8Image {
  width: 208px;
  height: 207px;
  -webkit-transform: matrix(1, 0, 0, 1, 770, 198);
  transform: matrix(1, 0, 0, 1, 770, 198);
}

#kihkcih9Image {
  width: 43px;
  height: 44px;
  -webkit-transform: matrix(1, 0, 0, 1, 856, 382);
  transform: matrix(1, 0, 0, 1, 856, 382);
  z-index: 0;
  opacity: 1;
}

#kihkcihaImage {
  width: 44px;
  height: 44px;
  -webkit-transform: matrix(1, 0, 0, 1, 630, 382);
  transform: matrix(1, 0, 0, 1, 630, 382);
}

#kihkcihbImage {
  width: 43px;
  height: 44px;
  -webkit-transform: matrix(1, 0, 0, 1, 406, 382);
  transform: matrix(1, 0, 0, 1, 406, 382);
  opacity: 1;
}

#kihkcihcImage {
  width: 101px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 158, 228);
  transform: matrix(1, 0, 0, 1, 158, 228);
}

#kihkcihdImage {
  width: 102px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 382, 228);
  transform: matrix(1, 0, 0, 1, 382, 228);
}

#kihkciheImage {
  width: 102px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 604, 228);
  transform: matrix(1, 0, 0, 1, 604, 228);
}

#kihkcihfImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 727);
  transform: matrix(1, 0, 0, 1, 54, 727);
}

#kihkcihgImage {
  width: 81px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 252, 727);
  transform: matrix(1, 0, 0, 1, 252, 727);
}

#kihkcihhImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 133, 727);
  transform: matrix(1, 0, 0, 1, 133, 727);
}

#kihkcihiImage {
  width: 121px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 661, 727);
  transform: matrix(1, 0, 0, 1, 661, 727);
}

#kihkcihjImage {
  width: 100px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 780, 727);
  transform: matrix(1, 0, 0, 1, 780, 727);
}

#kihkcihkImage {
  width: 146px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 878, 727);
  transform: matrix(1, 0, 0, 1, 878, 727);
}

#kihkcihlImage {
  width: 147px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 331, 727);
  transform: matrix(1, 0, 0, 1, 331, 727);
}

#kihkcihmImage {
  width: 185px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 728);
  transform: matrix(1, 0, 0, 1, 477, 728);
}

#kihkcihnImage {
  width: 186px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 477, 727);
  transform: matrix(1, 0, 0, 1, 477, 727);
}

#co-popup_5f6a8547 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_6/c6b6d1fc.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_5f6a8547 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.5, 87.5);
  transform: matrix(1, 0, 0, 1, -77.5, 87.5);
  opacity: 0;
}

#co-text_2f46fb56 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 106.25);
  transform: matrix(1, 0, 0, 1, 115, 106.25);
  z-index: 1;
  width: 700px;
  height: 45px;
}

#co-text-button_4d4d4074 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 901, 159);
  transform: matrix(1, 0, 0, 1, 901, 159);
  z-index: 2;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_6/84e99bf6.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 38px;
  height: 39px;
}

#co-text-button_4d4d4074 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_4d4d4074 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text_87575097 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 160.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 160.00) translate3d(0,0,0);
  z-index: 3;
  width: 700px;
  height: 20px;
}

#co-container_50de5d80 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 189.56);
  transform: matrix(1, 0, 0, 1, 115, 189.56);
  z-index: 4;
  width: 766px;
  height: 400px;
}

#co-image_fcc83f1e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 98.64, 21.09);
  transform: matrix(1, 0, 0, 1, 98.64, 21.09);
  z-index: 1;
  width: 579px;
  height: 340px;
}

#co-text_41ffb04d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 207.45, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 207.45, 0.00) translate3d(0,0,0);
  z-index: 2;
  width: 150px;
  height: 20px;
}

#co-text_8eba21f1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 99.67, 91.98);
  transform: matrix(1, 0, 0, 1, 99.67, 91.98);
  z-index: 3;
  width: 100px;
  height: 20px;
}

#co-text_b9507149 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 98.56, 289.75);
  transform: matrix(1, 0, 0, 1, 98.56, 289.75);
  z-index: 4;
  width: 150px;
  height: 20px;
}

#co-text_3862a99c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 554.00, 94.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 554.00, 94.00) translate3d(0,0,0);
  z-index: 5;
  width: 116px;
  height: 20px;
}

#co-text_1709e8be {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 485.23, 24.22);
  transform: matrix(1, 0, 0, 1, 485.23, 24.22);
  z-index: 6;
  width: 100px;
  height: 20px;
}

#co-text_8d08aae5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 244.25, 29.5);
  transform: matrix(1, 0, 0, 1, 244.25, 29.5);
  z-index: 7;
  width: 60px;
  height: 25px;
}

#co-text_5b4ba2a7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 139.25, 118.25);
  transform: matrix(1, 0, 0, 1, 139.25, 118.25);
  z-index: 8;
  width: 60px;
  height: 25px;
}

#co-text_75400619 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 138, 315.75);
  transform: matrix(1, 0, 0, 1, 138, 315.75);
  z-index: 9;
  width: 60px;
  height: 25px;
}

#co-text_6588ef93 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 578, 118.25);
  transform: matrix(1, 0, 0, 1, 578, 118.25);
  z-index: 10;
  width: 60px;
  height: 25px;
}

#co-text_a77cf60e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 503, 53.25);
  transform: matrix(1, 0, 0, 1, 503, 53.25);
  z-index: 11;
  width: 60px;
  height: 25px;
}

#co-text_660493e8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 364.25, 70.75);
  transform: matrix(1, 0, 0, 1, 364.25, 70.75);
  z-index: 12;
  width: 50px;
  height: 40px;
}

#co-text_4b35d8b6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 295.5, 159.5);
  transform: matrix(1, 0, 0, 1, 295.5, 159.5);
  z-index: 13;
  width: 60px;
  height: 20px;
}

#co-text_4b4e1af0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 386.75, 270.75);
  transform: matrix(1, 0, 0, 1, 386.75, 270.75);
  z-index: 14;
  width: 60px;
  height: 20px;
}

#co-text_06158437 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 423, 142);
  transform: matrix(1, 0, 0, 1, 423, 142);
  z-index: 15;
  width: 60px;
  height: 20px;
}

#co-text_c7d4afd9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 408, 74.5);
  transform: matrix(1, 0, 0, 1, 408, 74.5);
  z-index: 16;
  width: 60px;
  height: 20px;
}

#co-popup_5f6a8547 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78.75, 87.5);
  transform: matrix(1, 0, 0, 1, -78.75, 87.5);
  opacity: 0;
}

#co-text_b34e8699 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 683, 328.25);
  transform: matrix(1, 0, 0, 1, 683, 328.25);
  z-index: 17;
  width: 80px;
  height: 20px;
}

#co-text_be55f9dc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 284.25, 376.25);
  transform: matrix(1, 0, 0, 1, 284.25, 376.25);
  z-index: 18;
  width: 250px;
  height: 20px;
}

#co-text_ad129165 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 590.25);
  transform: matrix(1, 0, 0, 1, 115, 590.25);
  z-index: 5;
  width: 766px;
  height: 42px;
}

#co-text_ea4d1c6b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 634.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 634.00) translate3d(0,0,0);
  z-index: 6;
  width: 786px;
  height: 42px;
}

#co-text_effe6281 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 832, 167.75);
  transform: matrix(1, 0, 0, 1, 832, 167.75);
  z-index: 7;
  width: 60px;
  height: 20px;
}

#co-popup_0e49bfd0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10006;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_6/7da7a7f7.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_0e49bfd0 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78.75, 87.5);
  transform: matrix(1, 0, 0, 1, -78.75, 87.5);
  opacity: 0;
}

#co-text_cdf7182b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 120.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 120.00) translate3d(0,0,0);
  z-index: 1;
  width: 500px;
  height: 35px;
}

#co-text_fed1c25b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 165.25) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 165.25) translate3d(0,0,0);
  z-index: 2;
  width: 792px;
  height: 122px;
}

#co-container_7a683241 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 300.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 300.00) translate3d(0,0,0);
  z-index: 3;
  width: 792px;
  height: 328px;
}

#co-image_e8ff73a6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  width: 792px;
  height: 328px;
}

#co-text_dcc3c053 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 33.8, 17.8);
  transform: matrix(1, 0, 0, 1, 33.8, 17.8);
  z-index: 2;
  height: 40px;
  width: 143px;
}

#co-text_1e920f1b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 207.8, 17.2);
  transform: matrix(1, 0, 0, 1, 207.8, 17.2);
  z-index: 3;
  width: 171px;
  height: 41px;
}

#co-text_946b283e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 414.6, 16.6);
  transform: matrix(1, 0, 0, 1, 414.6, 16.6);
  z-index: 4;
  width: 150px;
  height: 42px;
}

#co-text_b07250dc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 619.1, 17.2);
  transform: matrix(1, 0, 0, 1, 619.1, 17.2);
  z-index: 5;
  width: 150px;
  height: 40px;
}

#co-text_98d76a19 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 1.00, 120.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 1.00, 120.00) translate3d(0,0,0);
  z-index: 7;
  width: 187px;
  height: 60px;
}

#co-text_50209e8c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 189.75, 127.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 189.75, 127.00) translate3d(0,0,0);
  z-index: 8;
  width: 123px;
  height: 40px;
}

#co-text_17d36c57 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 312.25, 127);
  transform: matrix(1, 0, 0, 1, 312.25, 127);
  z-index: 9;
  height: 40px;
  width: 117px;
}

#co-text_b290c363 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 428.5, 127);
  transform: matrix(1, 0, 0, 1, 428.5, 127);
  z-index: 10;
  width: 118px;
  height: 40px;
}

#co-text_b85974ab {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 548.5, 127);
  transform: matrix(1, 0, 0, 1, 548.5, 127);
  z-index: 11;
  height: 40px;
  width: 120px;
}

#co-text_1b104b27 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 667.25, 120.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 667.25, 120.00) translate3d(0,0,0);
  z-index: 12;
  width: 126px;
  height: 60px;
}

#co-text_5b8d313a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 201.5);
  transform: matrix(1, 0, 0, 1, 0, 201.5);
  z-index: 13;
  width: 190px;
  height: 40px;
}

#co-text_758d0388 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 264);
  transform: matrix(1, 0, 0, 1, 0, 264);
  z-index: 14;
  width: 190px;
  height: 58px;
}

#co-text_e48c4a09 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 236, 184);
  transform: matrix(1, 0, 0, 1, 236, 184);
  z-index: 15;
  width: 30px;
  height: 120px;
}

#co-text_120c308d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 356.00, 184.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 356.00, 184.00) translate3d(0,0,0);
  z-index: 16;
  width: 30px;
  height: 120px;
}

#co-text_e5fd8f5e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 473.5, 184);
  transform: matrix(1, 0, 0, 1, 473.5, 184);
  z-index: 17;
  width: 30px;
  height: 120px;
}

#co-text_61876c68 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 592.25, 184);
  transform: matrix(1, 0, 0, 1, 592.25, 184);
  z-index: 18;
  width: 30px;
  height: 120px;
}

#co-text_7b94de07 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 716, 184);
  transform: matrix(1, 0, 0, 1, 716, 184);
  z-index: 19;
  width: 30px;
  height: 120px;
}

#co-text_e727d124 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 645.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 645.00) translate3d(0,0,0);
  z-index: 4;
  height: 20px;
}

#co-popup_1d2de886 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10003;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_6/7b77363e.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_1d2de886 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.5, 88.75);
  transform: matrix(1, 0, 0, 1, -77.5, 88.75);
  opacity: 0;
}

#co-text-button_a2e0c919 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 310.75, 47.75);
  transform: matrix(1, 0, 0, 1, 310.75, 47.75);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_a2e0c919 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_a2e0c919 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text_14ff76e3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 120);
  transform: matrix(1, 0, 0, 1, 115, 120);
  z-index: 1;
  width: 725px;
  height: 70px;
}

#co-text_34632c98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 200);
  transform: matrix(1, 0, 0, 1, 115, 200);
  z-index: 2;
  width: 700px;
  height: 20px;
}

#co-container_d67aff6e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 224);
  transform: matrix(1, 0, 0, 1, 115, 224);
  z-index: 3;
  width: 783px;
  height: 373px;
}

#co-image_263a2fbf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 93, 25);
  transform: matrix(1, 0, 0, 1, 93, 25);
  z-index: 1;
  width: 587px;
  height: 343px;
}

#co-text_dc1ac3da {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 148.25, 4.5);
  transform: matrix(1, 0, 0, 1, 148.25, 4.5);
  z-index: 2;
  width: 150px;
  height: 20px;
}

#co-text_371b96e5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 117, 70.75);
  transform: matrix(1, 0, 0, 1, 117, 70.75);
  z-index: 3;
  width: 110px;
  height: 20px;
}

#co-text_0974e94e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 84.5, 135.75);
  transform: matrix(1, 0, 0, 1, 84.5, 135.75);
  z-index: 4;
  width: 110px;
  height: 20px;
}

#co-text_fc8f016c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 92, 265.75);
  transform: matrix(1, 0, 0, 1, 92, 265.75);
  z-index: 5;
  width: 110px;
  height: 20px;
}

#co-text_7da23e5c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 508.25, 314.5);
  transform: matrix(1, 0, 0, 1, 508.25, 314.5);
  z-index: 6;
  width: 120px;
  height: 20px;
}

#co-text_09a242ec {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 550.75, 122);
  transform: matrix(1, 0, 0, 1, 550.75, 122);
  z-index: 7;
  width: 100px;
  height: 20px;
}

#co-text_a666280d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 465.75, 25.75);
  transform: matrix(1, 0, 0, 1, 465.75, 25.75);
  z-index: 8;
  width: 100px;
  height: 20px;
}

#co-text_5e20e924 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 177, 32);
  transform: matrix(1, 0, 0, 1, 177, 32);
  z-index: 9;
  width: 60px;
  height: 25px;
}

#co-text_06645e6d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 138.25, 94.5);
  transform: matrix(1, 0, 0, 1, 138.25, 94.5);
  z-index: 10;
  width: 60px;
  height: 25px;
}

#co-text_f45eb45b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 108.25, 158.25);
  transform: matrix(1, 0, 0, 1, 108.25, 158.25);
  z-index: 11;
  width: 60px;
  height: 25px;
}

#co-text_b7dc68d3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115.75, 295.75);
  transform: matrix(1, 0, 0, 1, 115.75, 295.75);
  z-index: 12;
  width: 60px;
  height: 25px;
}

#co-text_cf8ffe1f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 530.75, 342);
  transform: matrix(1, 0, 0, 1, 530.75, 342);
  z-index: 13;
  width: 60px;
  height: 25px;
}

#co-text_986b71cd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 570.75, 145.75);
  transform: matrix(1, 0, 0, 1, 570.75, 145.75);
  z-index: 14;
  width: 60px;
  height: 25px;
}

#co-text_b427ef09 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 493.25, 49.5);
  transform: matrix(1, 0, 0, 1, 493.25, 49.5);
  z-index: 15;
  width: 60px;
  height: 25px;
}

#co-text_b536373c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 684.5, 349.5);
  transform: matrix(1, 0, 0, 1, 684.5, 349.5);
  z-index: 16;
  width: 80px;
  height: 20px;
}

#co-text_718e1ad5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 244.5, 349.5);
  transform: matrix(1, 0, 0, 1, 244.5, 349.5);
  z-index: 17;
  width: 250px;
  height: 20px;
}

#co-text_c6e764c2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 601.5);
  transform: matrix(1, 0, 0, 1, 115, 601.5);
  z-index: 4;
  width: 700px;
  height: 20px;
}

#co-text_79a72a12 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 625.25);
  transform: matrix(1, 0, 0, 1, 115, 625.25);
  z-index: 5;
  width: 761px;
  height: 61px;
}

#co-text_2ba5a660 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 820.75, 167.75);
  transform: matrix(1, 0, 0, 1, 820.75, 167.75);
  z-index: 7;
  width: 70px;
  height: 20px;
}

#co-popup_4a460bdb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10007;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_6/a0500a37.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_4a460bdb > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.5, 88.75);
  transform: matrix(1, 0, 0, 1, -77.5, 88.75);
  opacity: 0;
}

#co-text_70b5aa6e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 120);
  transform: matrix(1, 0, 0, 1, 115, 120);
  z-index: 1;
  width: 707px;
  height: 82px;
}

#co-container_22febdc4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 97, 219);
  transform: matrix(1, 0, 0, 1, 97, 219);
  z-index: 2;
  width: 829px;
  height: 343px;
}

#co-image_47e8697e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, -10);
  transform: matrix(1, 0, 0, 1, 0, -10);
  z-index: 1;
  width: 829px;
  height: 343px;
}

#co-text_57e076ef {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 466.25, 23.25);
  transform: matrix(1, 0, 0, 1, 466.25, 23.25);
  z-index: 2;
  width: 150px;
  height: 50px;
}

#co-text_500f425a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 11.25, 259.5);
  transform: matrix(1, 0, 0, 1, 11.25, 259.5);
  z-index: 3;
  width: 150px;
}

#co-text_634882eb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 643.75, 260.75);
  transform: matrix(1, 0, 0, 1, 643.75, 260.75);
  z-index: 4;
  width: 150px;
  height: 50px;
}

#co-text_c526f66a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.697, -0.717, 0.717, 0.697, 213.75, 117);
  transform: matrix(0.697, -0.717, 0.717, 0.697, 213.75, 117);
  z-index: 5;
  width: 154px;
  height: 43px;
}

#co-text_16d7ba85 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 328.75, 238.25);
  transform: matrix(1, 0, 0, 1, 328.75, 238.25);
  z-index: 6;
  width: 150px;
  height: 40px;
}

#co-text_7dcd9839 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.731, 0.682, -0.682, 0.731, 436.25, 120.75);
  transform: matrix(0.731, 0.682, -0.682, 0.731, 436.25, 120.75);
  z-index: 7;
  height: 40px;
  width: 150px;
}

#co-text_5652886b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 362.5, 288.25);
  transform: matrix(1, 0, 0, 1, 362.5, 288.25);
  z-index: 8;
  width: 80px;
  height: 20px;
}

#co-text_1d2dd52f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 579.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 579.00) translate3d(0,0,0);
  z-index: 3;
  width: 760px;
  height: 53px;
}

#co-text_c92fd5dd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 634);
  transform: matrix(1, 0, 0, 1, 115, 634);
  z-index: 4;
  width: 790px;
  height: 39px;
}

#co-popup_9f236bf0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10008;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_6/20f254f2.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_9f236bf0 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123.75, 312.5);
  transform: matrix(1, 0, 0, 1, -123.75, 312.5);
  opacity: 0;
}

#co-text_8d7d466b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 348.8);
  transform: matrix(1, 0, 0, 1, 150, 348.8);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_3fa26434 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 381.2);
  transform: matrix(1, 0, 0, 1, 150, 381.2);
  z-index: 2;
  width: 20px;
  height: 20px;
}

#co-text_678cbbbe {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 381.2);
  transform: matrix(1, 0, 0, 1, 170, 381.2);
  z-index: 3;
  width: 700px;
  height: 40px;
}

#co-popup_9f236bf0 > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 313.75);
  transform: matrix(1, 0, 0, 1, -122.5, 313.75);
  opacity: 0;
  z-index: 1;
}

#co-popup_4a460bdb > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.25, 86.25);
  transform: matrix(1, 0, 0, 1, -76.25, 86.25);
  opacity: 0;
  z-index: 1;
}

#co-popup_1d2de886 > co-button:nth-child(8) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.25, 88.75);
  transform: matrix(1, 0, 0, 1, -76.25, 88.75);
  opacity: 0;
  z-index: 1;
}

#co-popup_0e49bfd0 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.5, 87.5);
  transform: matrix(1, 0, 0, 1, -77.5, 87.5);
  opacity: 0;
  z-index: 1;
}

#co-popup_5f6a8547 > co-button:nth-child(8) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.25, 87.5);
  transform: matrix(1, 0, 0, 1, -76.25, 87.5);
  opacity: 0;
  z-index: 1;
}

#co-image_f95d8246 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 901.6, 90.8);
  transform: matrix(1, 0, 0, 1, 901.6, 90.8);
  z-index: 0;
  width: 39px;
  height: 43px;
}

#co-image_83d9d36f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 900, 91);
  transform: matrix(1, 0, 0, 1, 900, 91);
  z-index: 0;
  width: 40px;
  height: 43px;
}

#co-image_c92af558 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 899.2, 92.2);
  transform: matrix(1, 0, 0, 1, 899.2, 92.2);
  z-index: 0;
  width: 42px;
  height: 42px;
}

#co-image_03133fc5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 900, 93);
  transform: matrix(1, 0, 0, 1, 900, 93);
  z-index: 0;
  width: 45px;
  height: 41px;
}

#co-image_fcfc2d26 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 853.4, 313.8);
  transform: matrix(1, 0, 0, 1, 853.4, 313.8);
  z-index: 0;
  width: 46px;
  height: 46px;
}

#co-text_4b35d8b6 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_fed1c25b > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_946b283e > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_dcc3c053 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_0e49bfd0 > co-button:nth-child(6) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -79.00, 88.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -79.00, 88.00) translate3d(0,0,0);
  opacity: 0;
}

#co-popup_1d2de886 > co-button:nth-child(9) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -79.00, 88.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -79.00, 88.00) translate3d(0,0,0);
  opacity: 0;
}

#co-text_c6e764c2 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_4a460bdb > co-button:nth-child(6) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -79.00, 88.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -79.00, 88.00) translate3d(0,0,0);
  opacity: 0;
}

#co-popup_9f236bf0 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -123.00, 311.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -123.00, 311.00) translate3d(0,0,0);
  opacity: 0;
}

#co-popup_5f6a8547 > co-button:nth-child(9) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -79.00, 88.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -79.00, 88.00) translate3d(0,0,0);
  opacity: 0;
}

#co-text_500f425a > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-image_ac449be6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 902.27, 155.82);
  transform: matrix(1, 0, 0, 1, 902.27, 155.82);
  z-index: 8;
  width: 38px;
  height: 43px;
}

#co-popup_1d2de886 > co-button:nth-child(10) > co-container:nth-child(1) {
  opacity: 0;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -78.00, 88.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -78.00, 88.00) translate3d(0,0,0);
}

#co-text_12f7132e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 106, 642);
  transform: matrix(1, 0, 0, 1, 106, 642);
  z-index: 9;
  width: 753px;
  height: 40px;
  opacity: 0;
}

#co-container_54368d07 {
  top: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 56, 726);
  transform: matrix(1, 0, 0, 1, 56, 726);
  z-index: 3;
  width: 968px;
  height: 41px;
}

#co-text_326f2537 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -0.4, 2);
  transform: matrix(1, 0, 0, 1, -0.4, 2);
  z-index: 1;
  width: 77px;
  height: 39px;
  opacity: 0;
}

#co-text_b4ce1f42 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 75.6, 3);
  transform: matrix(1, 0, 0, 1, 75.6, 3);
  z-index: 2;
  width: 121px;
  height: 38px;
  opacity: 0;
}

#co-text_388fd002 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 196.4, 4);
  transform: matrix(1, 0, 0, 1, 196.4, 4);
  z-index: 3;
  width: 82px;
  height: 37px;
  opacity: 0;
}

#co-text_c3468e6b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 275.2, 4);
  transform: matrix(1, 0, 0, 1, 275.2, 4);
  z-index: 4;
  width: 149px;
  height: 37px;
  opacity: 0;
}

#co-text_40a52aac {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 605.2, 2);
  transform: matrix(1, 0, 0, 1, 605.2, 2);
  z-index: 5;
  width: 120px;
  height: 40px;
  opacity: 0;
}

#co-text_0d636867 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 724, 2);
  transform: matrix(1, 0, 0, 1, 724, 2);
  z-index: 6;
  width: 101px;
  height: 39px;
  opacity: 0;
}

#co-text_f6131e83 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 822, 2);
  transform: matrix(1, 0, 0, 1, 822, 2);
  z-index: 7;
  width: 145px;
  height: 39px;
  opacity: 0;
}

#kihkcihsText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kihkcihuText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_be8eb3ca {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 393, 373);
  transform: matrix(1, 0, 0, 1, 393, 373);
  z-index: 4;
  width: 66px;
  height: 64px;
  opacity: 0;
}

#co-text-button_66716c0d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 613, 370);
  transform: matrix(1, 0, 0, 1, 613, 370);
  z-index: 5;
  width: 75px;
  height: 65px;
  opacity: 0;
}

#co-text-button_62d1db29 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 835, 371);
  transform: matrix(1, 0, 0, 1, 835, 371);
  z-index: 6;
  width: 81px;
  height: 67px;
  opacity: 0;
}

#co-text-button_f4fdf132 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 887, 147);
  transform: matrix(1, 0, 0, 1, 887, 147);
  z-index: 8;
  width: 60px;
  height: 60px;
  opacity: 0;
}

#co-popup_5f6a8547 > co-button:nth-child(10) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.6, 88);
  transform: matrix(1, 0, 0, 1, -77.6, 88);
  opacity: 0;
}