#kj8twn8qImage {
  width: 805px;
  height: 365px;
  -webkit-transform: matrix(1, 0, 0, 1, 120, 171);
  transform: matrix(1, 0, 0, 1, 120, 171);
}

#kj8twn8rImage {
  width: 192px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 243, 727);
  transform: matrix(1, 0, 0, 1, 243, 727);
}

#kj8twn8sImage {
  width: 191px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kj8twn8tImage {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#co-text_39ff42fe {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 118, 177);
  transform: matrix(1, 0, 0, 1, 118, 177);
  z-index: 1;
  width: 138px;
  height: 138px;
}

#co-text_5ec80acc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 343, 173);
  transform: matrix(1, 0, 0, 1, 343, 173);
  z-index: 2;
  width: 144px;
  height: 142px;
}

#co-text_82293d43 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 566, 174);
  transform: matrix(1, 0, 0, 1, 566, 174);
  z-index: 3;
  width: 143px;
  height: 138px;
}

#co-text_3dfb8421 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 788, 175);
  transform: matrix(1, 0, 0, 1, 788, 175);
  z-index: 4;
  width: 142px;
  height: 138px;
}

#co-text_d09622d1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 122, 394);
  transform: matrix(1, 0, 0, 1, 122, 394);
  z-index: 5;
  width: 142px;
  height: 138px;
}

#co-text_03225b9c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 345, 396.25);
  transform: matrix(1, 0, 0, 1, 345, 396.25);
  z-index: 6;
  width: 140px;
  height: 137px;
}

#co-text_4f042bb5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 566, 393);
  transform: matrix(1, 0, 0, 1, 566, 393);
  z-index: 7;
  width: 141px;
  height: 139px;
}

#co-text_79f1358d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 790, 394);
  transform: matrix(1, 0, 0, 1, 790, 394);
  z-index: 8;
  width: 139px;
  height: 138px;
}

#co-popup_63b57e4c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 10000;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  width: 1024px;
  height: 768px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/95edd94b.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_353d4fbe {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/5b1da29c.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_fcf39d30 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10012;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/0b007c6e.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_c38cd8f1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 10003;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/b44b07b2.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_43a5e24f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10004;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/fbcfdc9d.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_019e6a62 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 10005;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/d8300b2e.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_49c40b96 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 10006;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/e8d34c10.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_a57c6256 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10007;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/171c9fa3.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_d99a31a7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 773.2, 135.6);
  transform: matrix(1, 0, 0, 1, 773.2, 135.6);
  z-index: 1;
  width: 105px;
  height: 27px;
}

#co-text_fa2dafbd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 108.4, 115.6);
  transform: matrix(1, 0, 0, 1, 108.4, 115.6);
  z-index: 2;
  width: 189px;
  height: 38px;
}

#co-text_947bc0a4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 108.4, 286.51);
  transform: matrix(1, 0, 0, 1, 108.4, 286.51);
  z-index: 3;
  width: 239px;
  height: 132px;
}

#co-text_23825201 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 660.4, 287.53);
  transform: matrix(1, 0, 0, 1, 660.4, 287.53);
  z-index: 4;
  width: 245px;
  height: 87px;
}

#co-text_13712b45 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 109, 596.8);
  transform: matrix(1, 0, 0, 1, 109, 596.8);
  z-index: 5;
  width: 822px;
  height: 47px;
}

#co-text_13712b45>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_23825201>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_76d03562 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 406, 346);
  transform: matrix(1, 0, 0, 1, 406, 346);
  z-index: 6;
  width: 205px;
  height: 58px;
}

#co-text_76d03562>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_29508910 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 165.2);
  transform: matrix(1, 0, 0, 1, 112.4, 165.2);
  z-index: 1;
  width: 409px;
  height: 59px;
}

#co-text_29508910>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_d171b3d8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 521.8, 164.4);
  transform: matrix(1, 0, 0, 1, 521.8, 164.4);
  z-index: 2;
  width: 385px;
  height: 61px;
  background-color: rgba(228, 239, 241, 1.0);
  background-image: none;
}

#co-container_2b1cfb15 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 227);
  transform: matrix(1, 0, 0, 1, 115, 227);
  z-index: 3;
  width: 790px;
  height: 411px;
  opacity: 1;
}

#co-image_045981f6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 70.8, 58.8);
  transform: matrix(1, 0, 0, 1, 70.8, 58.8);
  z-index: 1;
  width: 651px;
  height: 277px;
}

#co-text_391ade24 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 19.4, 8.8);
  transform: matrix(1, 0, 0, 1, 19.4, 8.8);
  z-index: 2;
  width: 623px;
  height: 25px;
}

#co-text_06b326e4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 103.4, 34.4);
  transform: matrix(1, 0, 0, 1, 103.4, 34.4);
  z-index: 3;
  width: 548px;
  height: 39px;
}

#co-text_06b326e4>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_4966e671 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 650.6, 16.8);
  transform: matrix(1, 0, 0, 1, 650.6, 16.8);
  z-index: 4;
  width: 92px;
  height: 25px;
}

#co-text_7e5f3643 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.002, -1, 1, -0.002, -42.6, 182);
  transform: matrix(-0.002, -1, 1, -0.002, -42.6, 182);
  z-index: 5;
  width: 174px;
  height: 27px;
}

#co-text_2aa034db {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 154.6, 319.2);
  transform: matrix(1, 0, 0, 1, 154.6, 319.2);
  z-index: 6;
  width: 77px;
  height: 29px;
}

#co-text_7986b6cc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 315.4, 319.2);
  transform: matrix(1, 0, 0, 1, 315.4, 319.2);
  z-index: 7;
  width: 179px;
  height: 38px;
}

#co-text_2f597ee6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 524.2, 319.2);
  transform: matrix(1, 0, 0, 1, 524.2, 319.2);
  z-index: 8;
  width: 184px;
  height: 35px;
}

#co-text_c464cc01 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 28.8, 368);
  transform: matrix(1, 0, 0, 1, 28.8, 368);
  z-index: 9;
  width: 583px;
  height: 39px;
}

#co-container_a428f844 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 227.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 115.00, 227.00) translate3d(0, 0, 0);
  z-index: 4;
  width: 790px;
  height: 411px;
}

#co-image_e7686475 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 79.4, 73.2);
  transform: matrix(1, 0, 0, 1, 79.4, 73.2);
  z-index: 1;
  width: 669px;
  height: 272px;
}

#co-text_fe332d4f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 113.2, 16.8);
  transform: matrix(1, 0, 0, 1, 113.2, 16.8);
  z-index: 2;
  width: 563px;
  height: 48px;
}

#co-text_fdb35aa9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 656.2, 16.8);
  transform: matrix(1, 0, 0, 1, 656.2, 16.8);
  z-index: 3;
  width: 93px;
  height: 23px;
}

#co-text_5f6d72d7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.006, -1, 1, 0.006, -56.6, 176);
  transform: matrix(0.006, -1, 1, 0.006, -56.6, 176);
  z-index: 4;
  width: 213px;
  height: 38px;
}

#co-text_9d6056e2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 25, 356);
  transform: matrix(1, 0, 0, 1, 25, 356);
  z-index: 5;
  width: 786px;
  height: 59px;
}

#co-text_5f6d72d7>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_fe332d4f>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_1d9202c9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110.8, 110.8);
  transform: matrix(1, 0, 0, 1, 110.8, 110.8);
  z-index: 1;
  width: 759px;
  height: 56px;
}

#co-text_a3c83f32 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 131.6, 187.6);
  transform: matrix(1, 0, 0, 1, 131.6, 187.6);
  z-index: 2;
  width: 728px;
  height: 61px;
}

#co-text_861278d5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 131.8, 246.8);
  transform: matrix(1, 0, 0, 1, 131.8, 246.8);
  z-index: 3;
  width: 671px;
  height: 50px;
}

#co-text_91e69cce {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 152.4, 414);
  transform: matrix(1, 0, 0, 1, 152.4, 414);
  z-index: 4;
  width: 71px;
  height: 22px;
}

#co-text_f792b24e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 153.2, 478.8);
  transform: matrix(1, 0, 0, 1, 153.2, 478.8);
  z-index: 5;
  width: 57px;
  height: 20px;
}

#co-text_f792b24e>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_02e3934e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 96.4, 569.8);
  transform: matrix(1, 0, 0, 1, 96.4, 569.8);
  z-index: 6;
  width: 801px;
  height: 75px;
}

#co-text_e4587c14 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 899.6, 182);
  transform: matrix(1, 0, 0, 1, 899.6, 182);
  z-index: 7;
  width: 43px;
  height: 44px;
}

#co-popup_0a9ced8e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10015;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/5213bafc.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_0fd5ee6c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110.8, 114.8);
  transform: matrix(1, 0, 0, 1, 110.8, 114.8);
  z-index: 1;
  width: 694px;
  height: 64px;
}

#co-text_c41d7491 {
  top: 1px;
  left: 1px;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 190);
  transform: matrix(1, 0, 0, 1, 112.4, 190);
  z-index: 2;
  width: 397px;
  height: 60px;
}

#co-text_8aeddba4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 509.4, 191.6);
  transform: matrix(1, 0, 0, 1, 509.4, 191.6);
  z-index: 3;
  width: 397px;
  height: 60px;
  background-color: rgba(229, 240, 242, 1);
  background-image: none;
}

#co-container_88679ddd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 115, 252);
  transform: matrix(1, 0, 0, 1, 115, 252);
  z-index: 7;
  width: 791px;
  height: 382px;
  opacity: 1;
  overflow: hidden;
}

#co-container_83f10732 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -0.8, 2.01);
  transform: matrix(1, 0, 0, 1, -0.8, 58);
  z-index: 2;
  width: 791px;
  height: 469px;
}

#co-text_e541c388 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 245.4, -1.6);
  transform: matrix(1, 0, 0, 1, 245.4, -1.6);
  z-index: 1;
  width: 302px;
  height: 25px;
}

#co-text_627e500b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 30, 12);
  transform: matrix(1, 0, 0, 1, 30, 12);
  z-index: 3;
  width: 548px;
  height: 24px;
}

#co-text_25ce93b8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 638.8, 12.8);
  transform: matrix(1, 0, 0, 1, 638.8, 12.8);
  z-index: 4;
  width: 105px;
  height: 21px;
}

#co-text_f7f660c1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0, -1, 1, 0, -62.2, 130);
  transform: matrix(0, -1, 1, 0, -62.2, 130);
  z-index: 2;
  width: 206px;
  height: 35px;
}

#co-image_9286a9bd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 64.4, 21.4);
  transform: matrix(1, 0, 0, 1, 64.4, 21.4);
  z-index: 3;
  width: 631px;
  height: 255px;
}

#co-text_f7f660c1>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b51440ca {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 329.2, 282.6);
  transform: matrix(1, 0, 0, 1, 329.2, 282.6);
  z-index: 4;
  width: 128px;
  height: 28px;
}

#co-image_c5f32624 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 372.8, 314.8);
  transform: matrix(1, 0, 0, 1, 372.8, 360.8);
  z-index: 5;
  width: 26px;
  height: 17px;
}

#co-text_04918771 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 31.80, 393.20) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 31.80, 393.20) translate3d(0, 0, 0);
  z-index: 5;
  width: 597px;
  height: 236px;
}

#co-container_02f73420 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 114, 296);
  transform: matrix(1, 0, 0, 1, 114, 296);
  z-index: 8;
  width: 791px;
  height: 353px;
}

#co-text_0e032ed0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 20, -29.8);
  transform: matrix(1, 0, 0, 1, 20, -29.8);
  z-index: 1;
  width: 622px;
  height: 55px;
}

#co-text_ccca739e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 638.8, -31.4);
  transform: matrix(1, 0, 0, 1, 638.8, -31.4);
  z-index: 2;
  width: 104px;
  height: 24px;
}

#co-text_09136082 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.003, -1, 1, 0.003, -78.8, 123.8);
  transform: matrix(0.003, -1, 1, 0.003, -78.8, 123.8);
  z-index: 3;
  width: 231px;
  height: 34px;
}

#co-text_f5df5c6f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 335.6, 260.6);
  transform: matrix(1, 0, 0, 1, 335.6, 260.6);
  z-index: 4;
  width: 80px;
  height: 20px;
}

#co-text_edfd7d9e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 21, 279.8);
  transform: matrix(1, 0, 0, 1, 21, 279.8);
  z-index: 5;
  width: 751px;
  height: 75px;
}

#co-image_37965206 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 61.6, -1.2);
  transform: matrix(1, 0, 0, 1, 61.6, -1.2);
  z-index: 6;
  width: 677px;
  height: 274px;
}

#co-text_9b80dfab {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 105.4, 115.6);
  transform: matrix(1, 0, 0, 1, 105.4, 115.6);
  z-index: 1;
  width: 699px;
  height: 66px;
}

#co-text_18c93e77 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130.4, 270.8);
  transform: matrix(1, 0, 0, 1, 130.4, 270.8);
  z-index: 2;
  width: 356px;
  height: 55px;
}

#co-text_4260ff8e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130, 338);
  transform: matrix(1, 0, 0, 1, 130, 338);
  z-index: 3;
  width: 448px;
  height: 60px;
}

#co-text_4260ff8e>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_03d28231 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 630.8);
  transform: matrix(1, 0, 0, 1, 112.4, 630.8);
  z-index: 4;
  width: 381px;
  height: 21px;
}

#co-text_6f8cb315 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.6, 111.6);
  transform: matrix(1, 0, 0, 1, 111.6, 111.6);
  z-index: 1;
  width: 296px;
  height: 29px;
}

#co-text_985761b6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 129.2, 253.2);
  transform: matrix(1, 0, 0, 1, 129.2, 253.2);
  z-index: 2;
  width: 276px;
  height: 56px;
}

#co-text_4a6dea69 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 130, 320.4);
  transform: matrix(1, 0, 0, 1, 130, 320.4);
  z-index: 3;
  width: 261px;
  height: 114px;
}

#co-text_fae9d922 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 687.6, 272.4);
  transform: matrix(1, 0, 0, 1, 687.6, 272.4);
  z-index: 4;
  width: 224px;
  height: 131px;
}

#co-text_da07abb0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 629.2);
  transform: matrix(1, 0, 0, 1, 112.4, 629.2);
  z-index: 5;
  width: 683px;
  height: 23px;
}

#co-text_0e5e19a9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 112.4);
  transform: matrix(1, 0, 0, 1, 112.4, 112.4);
  z-index: 1;
  width: 348px;
  height: 31px;
}

#co-text_8ce56fc7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 161.2);
  transform: matrix(1, 0, 0, 1, 112.4, 161.2);
  z-index: 2;
  width: 482px;
  height: 136px;
}

#co-text_7c8d2fcd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 154, 315.6);
  transform: matrix(1, 0, 0, 1, 154, 315.6);
  z-index: 3;
  width: 447px;
  height: 111px;
}

#co-text_d8df686a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.6, 429.2);
  transform: matrix(1, 0, 0, 1, 111.6, 429.2);
  z-index: 4;
  width: 529px;
  height: 130px;
}

#co-text_bd05f599 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 110.8, 618.8);
  transform: matrix(1, 0, 0, 1, 110.8, 618.8);
  z-index: 5;
  width: 718px;
  height: 37px;
}

#co-text_0e5e19a9>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_d3defd5a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 54.8, 68.4);
  transform: matrix(1, 0, 0, 1, 54.8, 68.4);
  z-index: 1;
  width: 718px;
  height: 52px;
}

#co-text_fe34329d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55.6, 178.8);
  transform: matrix(1, 0, 0, 1, 55.6, 178.8);
  z-index: 2;
  width: 152px;
  height: 23px;
}

#co-container_7512a778 {
  top: 0px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 292.8);
  transform: matrix(1, 0, 0, 1, 55, 292.8);
  z-index: 3;
  width: 911px;
  height: 388px;
}

#co-container_c0572d98 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0.8, 0.4);
  transform: matrix(1, 0, 0, 1, 0.8, 0.4);
  z-index: 2;
  width: 909px;
  height: 471px;
}

#co-image_778a7974 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 1;
  width: 910px;
  height: 622px;
}

#co-text_3013e931 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 686.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 686.00) translate3d(0, 0, 0);
  z-index: 2;
  width: 901px;
  height: 89px;
}

#co-image_80aba60a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 503.2, 698.4);
  transform: matrix(1, 0, 0, 1, 503.2, 698.4);
  z-index: 4;
  width: 28px;
  height: 15px;
}

#co-text_1bfd9aea {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 794, 97.2);
  transform: matrix(1, 0, 0, 1, 794, 97.2);
  z-index: 5;
  width: 102px;
  height: 24px;
}

#co-text_12374fcc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 121.2, 117.8);
  transform: matrix(1, 0, 0, 1, 121.2, 117.8);
  z-index: 1;
  width: 271px;
  height: 38px;
}

#co-text_f147e473 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 120.4, 169.2);
  transform: matrix(1, 0, 0, 1, 120.4, 169.2);
  z-index: 2;
  width: 552px;
  height: 58px;
}

#co-text_bdc8819b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 152.4, 216.4);
  transform: matrix(1, 0, 0, 1, 152.4, 216.4);
  z-index: 3;
  width: 416px;
  height: 130px;
}

#co-text_d24c5ee7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 121.2, 330.66);
  transform: matrix(1, 0, 0, 1, 121.2, 330.66);
  z-index: 4;
  width: 509px;
  height: 267px;
}

#co-text_a9feabc5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 119, 626.8);
  transform: matrix(1, 0, 0, 1, 119, 626.8);
  z-index: 5;
  width: 436px;
  height: 22px;
}

#co-text_bdc8819b>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-image_9e40ee72 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 928, 344);
  transform: matrix(1, 0, 0, 1, 928, 344);
  z-index: 6;
  width: 23px;
  height: 34px;
}

#co-popup_b83a23ee {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  z-index: 10008;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/8a6ec075.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_9fd3790a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 73, 66);
  transform: matrix(1, 0, 0, 1, 73, 66);
  z-index: 1;
  width: 269px;
  height: 31px;
}

#co-container_621f5922 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 75, 126);
  transform: matrix(1, 0, 0, 1, 75, 126);
  z-index: 2;
  width: 874px;
  height: 592px;
}

#co-image_cc2ffe67 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  width: 910px;
  height: 1250px;
}

#co-image_7b0b3ac2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 494, 703);
  transform: matrix(1, 0, 0, 1, 494, 703);
  z-index: 7;
  width: 31px;
  height: 11px;
}

#co-image_929958db {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 46, 406);
  transform: matrix(1, 0, 0, 1, 46, 406);
  z-index: 4;
  width: 20px;
  height: 29px;
}

#co-popup_b83a23ee>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#co-popup_63b57e4c>co-button:nth-child(7)>co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -75.00, 86.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -75.00, 86.00) translate3d(0, 0, 0);
  opacity: 0;
}

#co-popup_353d4fbe>co-button:nth-child(5)>co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  opacity: 0;
}

#co-popup_fcf39d30>co-button:nth-child(9)>co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  opacity: 0;
}

#co-popup_c38cd8f1>co-button:nth-child(5)>co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  opacity: 0;
}

#co-popup_43a5e24f>co-button:nth-child(6)>co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  opacity: 0;
}

#co-popup_019e6a62>co-button:nth-child(6)>co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -76.00, 82.00) translate3d(0, 0, 0);
  opacity: 0;
}

#co-popup_49c40b96>co-button:nth-child(6)>co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -43.00, 48.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -43.00, 48.00) translate3d(0, 0, 0);
  opacity: 0;
}

#co-popup_a57c6256>co-button:nth-child(8)>co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -77.00, 82.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -77.00, 82.00) translate3d(0, 0, 0);
  opacity: 0;
}

#co-text_e572b4b2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 628, 76);
  transform: matrix(1, 0, 0, 1, 628, 76);
  z-index: 11;
  opacity: 0;
  width: 56px;
  height: 41px;
}

#co-popup_575b7dd1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10013;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/d7639386.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_a4935ea6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 169.5, 307.75);
  transform: matrix(1, 0, 0, 1, 169.5, 307.75);
  z-index: 1;
  width: 165px;
  height: 31px;
}

#co-popup_575b7dd1>co-button:nth-child(1)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 263.75);
  transform: matrix(1, 0, 0, 1, -121.25, 263.75);
  opacity: 0;
}

#co-text_145fd651 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 169.5, 346.5);
  transform: matrix(1, 0, 0, 1, 169.5, 346.5);
  z-index: 2;
  width: 555px;
  height: 21px;
}

#co-text_549e4eef {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 169.5, 371.5);
  transform: matrix(1, 0, 0, 1, 169.5, 371.5);
  z-index: 3;
  width: 471px;
  height: 25px;
}

#co-text_3cd06139 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 169.5, 398);
  transform: matrix(1, 0, 0, 1, 169.5, 398);
  z-index: 4;
  width: 450px;
  height: 22px;
}

#co-text_7a70145c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 169.5, 424);
  transform: matrix(1, 0, 0, 1, 169.5, 424);
  z-index: 5;
  width: 481px;
  height: 25px;
}

/*custom*/

.tab_title {
  background: #e4eff1;
}

.tab_title div,
.tab_title span {
  font-family: "3_CCMVBT+AvenirNextLTPro-Demi";
  color: rgb(84, 122, 129);
}

.tab_title.act {
  background: #ffffff !important;
}

.tab_title.act div,
.tab_title.act span {
  font-family: "1_CWOXIJ+AvenirNextLTPro-Bold" !important;
  color: rgb(242, 135, 0) !important;
  position: relative;
  top: -1px;
}

.tab_content2 {
  display: none;
  background: #fff;
}

.pu3_tab_title {
  background: #e4eff1;
}

.pu3_tab_title div,
.pu3_tab_title span {
  font-family: "3_CCMVBT+AvenirNextLTPro-Demi";
  color: rgb(84, 122, 129);
}

.pu3_tab_title.act {
  background: #ffffff !important;
}

.pu3_tab_title.act div,
.pu3_tab_title.act span {
  font-family: "1_CWOXIJ+AvenirNextLTPro-Bold" !important;
  color: rgb(242, 135, 0) !important;
  position: relative;
  top: -1px;
}

.pu3_tab_content2 {
  display: none;
  background: #fff;
}

#co-container_7512a778 {
  overflow: hidden;
  border-top: 1px solid #7d7d7d;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-radius: 0px 0px 0px 0px;
}

#co-image_80aba60a.up {
  -webkit-transform: matrix(1, 0, 0, 1, 503.2, 698.4) rotate(180deg);
  transform: matrix(1, 0, 0, 1, 503.2, 698.4) rotate(180deg);
}

#co-container_c0572d98 {
  -webkit-transition: all .3s ease;
  height: 822px;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0, 0, 0);
  width: 911px;
}

#co-container_c0572d98.up {
  -webkit-transform: matrix(1, 0, 0, 1, 0.8, -400);
  transform: matrix(1, 0, 0, 1, 0.8, -385);
}

#co-container_621f5922 {
  overflow: hidden;
}

#co-image_7b0b3ac2.up {
  -webkit-transform: matrix(1, 0, 0, 1, 494, 703) rotate(180deg);
  transform: matrix(1, 0, 0, 1, 494, 703) rotate(180deg);
}

#co-image_cc2ffe67 {
  -webkit-transition: all .3s ease;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -0.91, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -0.91, 0.00) translate3d(0,0,0);
}

#co-image_cc2ffe67.up {
  -webkit-transform: matrix(1, 0, 0, 1, 0.8, -400);
  transform: matrix(1, 0, 0, 1, 0.8, -645);
}

#co-image_c5f32624.up {
  -webkit-transform: matrix(1, 0, 0, 1, 372.8, 360.8) rotate(180deg);
  transform: matrix(1, 0, 0, 1, 372.8, 360.8) rotate(180deg);
}

#co-image_c5f32624,
#co-container_83f10732 {
  -webkit-transition: all .3s ease;
}

#co-container_83f10732.up {
  -webkit-transform: matrix(1, 0, 0, 1, 0.8, -345);
  transform: matrix(1, 0, 0, 1, 0.8, -345);
}

#co-popup_0a9ced8e>co-button:nth-child(6)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78, 84);
  transform: matrix(1, 0, 0, 1, -78, 84);
  opacity: 0;
}

#co-popup_b83a23ee>co-button:nth-child(5)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -44, 45);
  transform: matrix(1, 0, 0, 1, -44, 45);
  opacity: 0;
}

#co-popup_575b7dd1>co-button:nth-child(6)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -123, 266);
  transform: matrix(1, 0, 0, 1, -123, 266);
  opacity: 0;
}

#co-text_a67ca1db {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 762, 131.6);
  transform: matrix(1, 0, 0, 1, 762, 131.6);
  z-index: 6;
  width: 115px;
  height: 23px;
}

#co-text_881fcad7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 807.6, 185.2);
  transform: matrix(1, 0, 0, 1, 807.6, 185.2);
  z-index: 8;
  width: 87px;
  height: 39px;
}

#co-text_535df89d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 96.4, 602.07);
  transform: matrix(1, 0, 0, 1, 96.4, 602.07);
  z-index: 9;
  opacity: 0;
  width: 291px;
  height: 21px;
}

#co-text_954e19c8 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 384.4, 600.03);
  transform: matrix(1, 0, 0, 1, 384.4, 600.03);
  z-index: 10;
  opacity: 0;
  width: 319px;
  height: 21px;
}

#co-text_b07b6836 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 706.94, 599.75);
  transform: matrix(1, 0, 0, 1, 706.94, 599.75);
  z-index: 11;
  opacity: 0;
  width: 183px;
  height: 22px;
}

#co-text_b1f34ed5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, -0.006, 0.006, 1, 251.24, 619.73);
  transform: matrix(1, -0.006, 0.006, 1, 251.24, 619.73);
  z-index: 12;
  width: 351px;
  height: 18px;
  opacity: 0;
}

#co-text_e96c0194 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 590.69, 615.24);
  transform: matrix(1, 0, 0, 1, 590.69, 615.24);
  z-index: 13;
  width: 346px;
  height: 23px;
  opacity: 0;
}

#co-text_f167c976 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 107.93, 623.6);
  transform: matrix(1, 0, 0, 1, 107.93, 623.6);
  z-index: 7;
  width: 322px;
  height: 26px;
  opacity: 0;
}

#co-text_8f7f3e6f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 138.04, 612.55);
  transform: matrix(1, 0, 0, 1, 138.04, 612.55);
  z-index: 13;
  opacity: 0;
  width: 317px;
  height: 25px;
}

#co-text_da07abb0>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_4bde8df5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 457.2, 625.2);
  transform: matrix(1, 0, 0, 1, 457.2, 625.2);
  z-index: 7;
  width: 327px;
  height: 28px;
  opacity: 0;
}

#co-popup_43a5e24f>co-button:nth-child(7)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -75.2, 85.6);
  transform: matrix(1, 0, 0, 1, -75.2, 85.6);
  opacity: 0;
}

#co-popup_fcf39d30>co-button:nth-child(10)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  opacity: 0;
}

#co-popup_353d4fbe>co-button:nth-child(6)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  opacity: 0;
}

#co-popup_fcf39d30>co-button:nth-child(15)>co-container:nth-child(1) {
  opacity: 0;
  -webkit-transform: matrix(1, 0, 0, 1, -75.2, 84);
  transform: matrix(1, 0, 0, 1, -75.2, 84);
}

#co-popup_43a5e24f>co-button:nth-child(8)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 85.2);
  transform: matrix(1, 0, 0, 1, -76, 85.2);
  opacity: 0;
}

#co-text_a1234ddb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 399.24, 631.6);
  transform: matrix(1, 0, 0, 1, 399.24, 631.6);
  z-index: 6;
  width: 343px;
  height: 24px;
  opacity: 0;
}

#co-popup_63b57e4c>co-button:nth-child(8)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76, 83.6);
  transform: matrix(1, 0, 0, 1, -76, 83.6);
  opacity: 0;
}

#co-text-button_5c7c707a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 244, 728);
  transform: matrix(1, 0, 0, 1, 244, 728);
  z-index: 12;
  width: 190px;
  height: 40px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_5c7c707a>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_5c7c707a>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-text_145fd651>span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kj8twn8xText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_672a155f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.6, 115.6);
  transform: matrix(1, 0, 0, 1, 111.6, 115.6);
  z-index: 6;
  width: 469px;
  height: 39px;
}

#co-popup_019e6a62>co-button:nth-child(7)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.6, 84);
  transform: matrix(1, 0, 0, 1, -77.6, 84);
  opacity: 0;
}

#co-container_7512a778.border_bot {
  border-bottom: 1px solid #929292;
}

#co-popup_353d4fbe>co-button:nth-child(7)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78.18, 82.73);
  transform: matrix(1, 0, 0, 1, -78.18, 82.73);
  opacity: 0;
}

#co-popup_a57c6256>co-button:nth-child(7)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -75.56, 84.44);
  transform: matrix(1, 0, 0, 1, -75.56, 84.44);
  opacity: 0;
}

#co-text-button_bdb7ea8b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 801.55, 89);
  transform: matrix(1, 0, 0, 1, 801.55, 89);
  z-index: 8;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 44px;
  height: 39px;
}

#co-text-button_bdb7ea8b>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_bdb7ea8b>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-text-button_96dfbfb1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 857.91, 236.28);
  transform: matrix(1, 0, 0, 1, 857.91, 236.28);
  z-index: 100;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_55/71a5adcc.png");
  width: 38px;
  height: 38px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text-button_96dfbfb1>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_96dfbfb1>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-text-button_4a6f85c4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 856.09, 258.09);
  transform: matrix(1, 0, 0, 1, 856.09, 258.09);
  z-index: 9;
  width: 40px;
  height: 39px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_4a6f85c4>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_4a6f85c4>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-text-button_018f2c25 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 801.55, 89);
  transform: matrix(1, 0, 0, 1, 801.55, 89);
  z-index: 8;
  width: 43px;
  height: 42px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_018f2c25>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_018f2c25>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-text-button_675ce716 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 823.36, 56.27);
  transform: matrix(1, 0, 0, 1, 823.36, 56.27);
  z-index: 6;
  width: 44px;
  height: 39px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_675ce716>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_675ce716>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-popup_63b57e4c>co-button:nth-child(9)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78.89, 83.33);
  transform: matrix(1, 0, 0, 1, -78.89, 83.33);
  opacity: 0;
}

#co-popup_353d4fbe>co-button:nth-child(8)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.78, 84.44);
  transform: matrix(1, 0, 0, 1, -77.78, 84.44);
  opacity: 0;
}

#co-popup_0a9ced8e>co-button:nth-child(7)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.78, 82.22);
  transform: matrix(1, 0, 0, 1, -77.78, 82.22);
  opacity: 0;
}

#co-popup_43a5e24f>co-button:nth-child(9)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -80, 83.33);
  transform: matrix(1, 0, 0, 1, -80, 83.33);
  opacity: 0;
}

#co-popup_49c40b96>co-button:nth-child(7)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -44.44, 46.67);
  transform: matrix(1, 0, 0, 1, -44.44, 46.67);
  opacity: 0;
}

#co-text-button_7c29bab6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 822.46, 56.27);
  transform: matrix(1, 0, 0, 1, 822.46, 56.27);
  z-index: 5;
  width: 46px;
  height: 39px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_7c29bab6>co-button:nth-child(1)>co-text:nth-child(1) {
  display: none;
}

#co-text-button_7c29bab6>co-button:nth-child(1)>co-text:nth-child(1) * {
  display: none;
}

#co-popup_b83a23ee>co-button:nth-child(6)>co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -43.64, 46.36);
  transform: matrix(1, 0, 0, 1, -43.64, 46.36);
  opacity: 0;
}

#co-popup_fcf39d30 > co-button:nth-child(14) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -78.18, 85.45);
  transform: matrix(1, 0, 0, 1, -78.18, 85.45);
  opacity: 0;
}

#co-text_1d53709f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 118, 632.6);
  transform: matrix(1, 0, 0, 1, 118, 632.6);
  z-index: 7;
  width: 274px;
  height: 26px;
  opacity: 0;
}

#co-popup_019e6a62 > co-button:nth-child(8) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.6, 84.8);
  transform: matrix(1, 0, 0, 1, -77.6, 84.8);
  opacity: 0;
}

#co-text_3691ea08 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 16.4, 312);
  transform: matrix(1, 0, 0, 1, 16.4, 312);
  z-index: 7;
  width: 306px;
  height: 18px;
  opacity: 0;
}

#co-text_a12fda5d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 323.6, 310.7);
  transform: matrix(1, 0, 0, 1, 323.6, 310.7);
  z-index: 8;
  width: 272px;
  height: 20px;
  opacity: 0;
}

#co-text_a52ec90e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 595.89, 310.69);
  transform: matrix(1, 0, 0, 1, 595.89, 310.69);
  z-index: 9;
  width: 178px;
  height: 19px;
  opacity: 0;
}

#co-text_8e85f148 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 9.2, 327.4);
  transform: matrix(1, 0, 0, 1, 9.2, 327.4);
  z-index: 10;
  width: 132px;
  height: 21px;
  opacity: 0;
}

#co-text_67b09fe2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 143.49, 327.8);
  transform: matrix(1, 0, 0, 1, 143.49, 327.8);
  z-index: 11;
  width: 338px;
  height: 20px;
  opacity: 0;
}

#co-text_d405810c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, -2, 748);
  transform: matrix(1, 0, 0, 1, -2, 748);
  z-index: 3;
  width: 329px;
  height: 24px;
  opacity: 0;
}

#co-text_5f81373c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0.49, 572.92);
  transform: matrix(1, 0, 0, 1, 0.49, 572.92);
  z-index: 5;
  width: 368px;
  height: 23px;
  opacity: 0;
}

#co-text_8f7f3e6f > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_f167c976 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_9d6056e2 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_02e3934e > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_04918771 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_a12fda5d > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_edfd7d9e > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_03d28231 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_4a6dea69 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_985761b6 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_8ce56fc7 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_d8df686a > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_1d53709f > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_bd05f599 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_d24c5ee7 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_a9feabc5 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_5f81373c > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_549e4eef > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_3cd06139 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-image_a004d404 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 214, 275);
  transform: matrix(1, 0, 0, 1, 214, 275);
  z-index: 0;
  width: 35px;
  height: 35px;
}

#co-image_f83d847e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 441, 274);
  transform: matrix(1, 0, 0, 1, 441, 274);
  z-index: 0;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-image_82beac83 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 664, 274);
  transform: matrix(1, 0, 0, 1, 664, 274);
  z-index: 0;
  width: 35px;
  height: 35px;
}

#co-image_aee836bf {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 891, 275);
  transform: matrix(1, 0, 0, 1, 891, 275);
  z-index: 13;
  width: 35px;
  height: 35px;
}

#co-image_5817872c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 219, 497);
  transform: matrix(1, 0, 0, 1, 219, 497);
  z-index: 0;
  width: 35px;
  height: 35px;
}

#co-image_e196b400 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 443, 497);
  transform: matrix(1, 0, 0, 1, 443, 497);
  z-index: 0;
  width: 35px;
  height: 35px;
}

#co-image_26328354 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 664, 497);
  transform: matrix(1, 0, 0, 1, 664, 497);
  z-index: 0;
  width: 35px;
  height: 35px;
}

#co-image_47f102c3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 890, 497);
  transform: matrix(1, 0, 0, 1, 890, 497);
  z-index: 0;
  width: 35px;
  height: 35px;
}
.pdf1{position: absolute;bottom: -124px;left: 30px;width: 301px;height: 15px;z-index: 9;}
.pdf2{position: absolute;
    bottom: -124px;
    left: 334px;
    width: 295px;
    height: 15px;
    z-index: 9;}
.pdf2_2{}
.pdf3{position: absolute;
    bottom: -141px;
    left: 25px;
    width: 269px;
    height: 15px;
    z-index: 9;}
.pdf4{position: absolute;
    bottom: -141px;
    left: 299px;
    width: 334px;
    height: 15px;
    z-index: 9;}
.pdf4_2{position: absolute;
    bottom: -160px;
    left: 27px;
    width: 163px;
    height: 15px;
    z-index: 9;}