#kihkd0uxImage {
  width: 762px;
  height: 334px;
  -webkit-transform: matrix(1, 0, 0, 1, 132, 238.6);
  transform: matrix(1, 0, 0, 1, 132, 238.6);
}

#kihkd0uzImage {
  width: 95px;
  height: 31px;
  -webkit-transform: matrix(1, 0, 0, 1, 905, 387);
  transform: matrix(1, 0, 0, 1, 905, 387);
}

#kihkd0v0Image {
  width: 95px;
  height: 30px;
  -webkit-transform: matrix(1, 0, 0, 1, 905, 297);
  transform: matrix(1, 0, 0, 1, 905, 297);
}

#kihkd0v1Image {
  width: 95px;
  height: 31px;
  -webkit-transform: matrix(1, 0, 0, 1, 905, 342);
  transform: matrix(1, 0, 0, 1, 905, 342);
}

#kihkd0v2Image {
  width: 41px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 964, 107);
  transform: matrix(1, 0, 0, 1, 964, 107);
}

#co-popup_cf74f444 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_20/1974162f.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_cf74f444 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -43.2, 46.4);
  transform: matrix(1, 0, 0, 1, -43.2, 46.4);
  opacity: 0;
}

#co-text_4569cccb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 232.4, 104.4);
  transform: matrix(1, 0, 0, 1, 232.4, 104.4);
  z-index: 1;
  width: 548px;
  height: 36px;
}

#co-text_4569cccb > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_18a951ab {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 146, 186.8);
  transform: matrix(1, 0, 0, 1, 146, 186.8);
  z-index: 2;
  width: 86px;
  height: 43px;
}

#co-text_18a951ab > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_c8780556 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 225.2, 187.6);
  transform: matrix(1, 0, 0, 1, 225.2, 187.6);
  z-index: 3;
  width: 87px;
  height: 36px;
}

#co-text_c8780556 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_0b7e81a9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 308.4, 187.6);
  transform: matrix(1, 0, 0, 1, 308.4, 187.6);
  z-index: 4;
  width: 77px;
  height: 39px;
}

#co-text_0b7e81a9 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_c2e2eba3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 387.6, 186.8);
  transform: matrix(1, 0, 0, 1, 387.6, 186.8);
  z-index: 5;
  width: 84px;
  height: 41px;
}

#co-text_c2e2eba3 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_c5fda320 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 463.6, 186.8);
  transform: matrix(1, 0, 0, 1, 463.6, 186.8);
  z-index: 6;
  width: 88px;
  height: 36px;
}

#co-text_c5fda320 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_14151498 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 532.4, 186.8);
  transform: matrix(1, 0, 0, 1, 532.4, 186.8);
  z-index: 7;
  width: 118px;
  height: 40px;
}

#co-text_14151498 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_144569df {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 640.4, 202);
  transform: matrix(1, 0, 0, 1, 640.4, 202);
  z-index: 8;
  width: 87px;
  height: 31px;
}

#co-text_144569df > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_a9fb5a1c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 721.2, 186.8);
  transform: matrix(1, 0, 0, 1, 721.2, 186.8);
  z-index: 9;
  width: 85px;
  height: 38px;
}

#co-text_a9fb5a1c > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_d01b1819 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 776.4, 186.8);
  transform: matrix(1, 0, 0, 1, 776.4, 186.8);
  z-index: 10;
  width: 101px;
  height: 41px;
}

#co-text_d01b1819 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_9906e7d6 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 871.6, 187.6);
  transform: matrix(1, 0, 0, 1, 871.6, 187.6);
  z-index: 11;
  width: 79px;
  height: 38px;
}

#co-text_9906e7d6 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_0a3e7a62 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(-0.007, -1, 1, -0.007, -46.2, 376.6);
  transform: matrix(-0.007, -1, 1, -0.007, -46.2, 376.6);
  z-index: 12;
  width: 280px;
  height: 43px;
}

#co-text_0a3e7a62 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_ff22d743 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 636.4, 548.4);
  transform: matrix(1, 0, 0, 1, 636.4, 548.4);
  z-index: 13;
  width: 134px;
  height: 24px;
}

#co-text_ff22d743 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_01e654fd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 815.6, 547.6);
  transform: matrix(1, 0, 0, 1, 815.6, 547.6);
  z-index: 14;
  width: 134px;
  height: 28px;
}

#co-text_01e654fd > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_daa165f1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_20/1d6711f9.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_6235dbd9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 102);
  transform: matrix(1, 0, 0, 1, 112.4, 102);
  z-index: 1;
  width: 648px;
  height: 42px;
}

#co-text_6235dbd9 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_01ddc9cc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 112.4, 155.6);
  transform: matrix(1, 0, 0, 1, 112.4, 155.6);
  z-index: 3;
  width: 798px;
  height: 123px;
}

#co-text_01ddc9cc > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_eee2bd70 {
  top: -5px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 131.6, 341.2);
  transform: matrix(1, 0, 0, 1, 131.6, 341.2);
  z-index: 4;
  width: 122px;
  height: 40px;
line-height: 1.2;}

#co-text_eee2bd70 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b87bceab {
  top: -5px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 303.6, 340.4);
  transform: matrix(1, 0, 0, 1, 303.6, 340.4);
  z-index: 5;
  width: 92px;
  height: 43px;
line-height: 1.2;}

#co-text_b87bceab > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_4384d98d {
  top: -5px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 454, 340.4);
  transform: matrix(1, 0, 0, 1, 454, 340.4);
  z-index: 6;
  width: 108px;
  height: 42px;
line-height: 1.2;}

#co-text_4384d98d > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_201af91c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 626, 349.6);
  transform: matrix(1, 0, 0, 1, 626, 349.6);
  z-index: 7;
  width: 102px;
  height: 29px;
}

#co-text_201af91c > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_c604390b {
  top: -5px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 765.2, 341.2);
  transform: matrix(1, 0, 0, 1, 765.2, 341.2);
  z-index: 8;
  width: 128px;
  height: 40px;
line-height: 1.2;}

#co-text_c604390b > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_b5834edd {
  top: -2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 134, 425.2);
  transform: matrix(1, 0, 0, 1, 134, 425.2);
  z-index: 9;
  width: 116px;
  height: 43px;
line-height: 1.2;}

#co-text_b5834edd > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_8593d7b6 {
  top: -2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 307.6, 424.4);
  transform: matrix(1, 0, 0, 1, 307.6, 424.4);
  z-index: 10;
  width: 85px;
  height: 46px;
line-height: 1.2;}

#co-text_8593d7b6 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_ab1cf662 {
  top: -2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 439.6, 423.6);
  transform: matrix(1, 0, 0, 1, 439.6, 423.6);
  z-index: 11;
  width: 140px;
  height: 44px;
line-height: 1.2;}

#co-text_ab1cf662 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_df62ca53 {
  top: -2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 618.8, 423.6);
  transform: matrix(1, 0, 0, 1, 618.8, 423.6);
  z-index: 12;
  width: 115px;
  height: 39px;
line-height: 1.2;}

#co-text_df62ca53 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_a5631cf2 {
  top: -2px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 769.2, 423.2);
  transform: matrix(1, 0, 0, 1, 769.2, 423.2);
  z-index: 13;
  width: 116px;
  height: 42px;
line-height: 1.2;}

#co-text_a5631cf2 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_c4b09ae0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 111.6, 626);
  transform: matrix(1, 0, 0, 1, 111.6, 626);
  z-index: 14;
  width: 385px;
  height: 25px;
}

#co-text_c4b09ae0 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_daa165f1 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  transform: matrix(1, 0, 0, 1, -76.8, 84.8);
  opacity: 0;
}

#co-popup_2934a91d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10002;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_20/b5870bac.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_4e9dceee {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 353);
  transform: matrix(1, 0, 0, 1, 150, 353);
  z-index: 1;
  width: 160px;
  height: 34px;
}

#co-text_4e9dceee > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_178c724d {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 149.2, 389.2);
  transform: matrix(1, 0, 0, 1, 149.2, 389.2);
  z-index: 2;
  width: 452px;
  height: 35px;
}

#co-text_178c724d > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_2934a91d > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.4, 312);
  transform: matrix(1, 0, 0, 1, -122.4, 312);
  opacity: 0;
}

#co-text-button_301f9796 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 958.4, 102.4);
  transform: matrix(1, 0, 0, 1, 958.4, 102.4);
  z-index: 2;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  opacity: 0;
  width: 54px;
  height: 47px;
}

#co-text-button_f1e1aa11 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 956, 150.2);
  transform: matrix(1, 0, 0, 1, 956, 150.2);
  z-index: 3;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 57px;
  height: 47px;
}

#co-text-button_ff169171 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 955, 192.2);
  transform: matrix(1, 0, 0, 1, 955, 192.2);
  z-index: 4;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 60px;
  height: 51px;
}

#co-text-button_c3f563e0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 902.6, 293.8);
  transform: matrix(1, 0, 0, 1, 902.6, 293.8);
  z-index: 5;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 98px;
  height: 36px;
}

#co-text-button_06653c60 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 901.8, 339.4);
  transform: matrix(1, 0, 0, 1, 901.8, 339.4);
  z-index: 6;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 100px;
  height: 37px;
}

#co-text-button_680d0049 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 902.6, 384.2);
  transform: matrix(1, 0, 0, 1, 902.6, 384.2);
  z-index: 7;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 99px;
  height: 37px;
}

#kihkd0w2Text {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -24, -3.2);
  transform: matrix(0, -0.5, 0.5, 0, -24, -3.2);
}

#kihkd0w3Text {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -23.2, -5.6);
  transform: matrix(0, -0.5, 0.5, 0, -23.2, -5.6);
}

#co-text-button_deda86b1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 775, 50.4);
  transform: matrix(1, 0, 0, 1, 775, 50.4);
  z-index: 8;
  opacity: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  width: 44px;
  height: 42px;
}

#kihkd0vlText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_2934a91d > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 312.5);
  transform: matrix(1, 0, 0, 1, -122.5, 312.5);
  opacity: 0;
  z-index: 1;
}

#co-popup_cf74f444 > co-button:nth-child(15) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -45, 46.25);
  transform: matrix(1, 0, 0, 1, -45, 46.25);
  opacity: 0;
  z-index: 1;
}

#co-popup_daa165f1 > co-button:nth-child(14) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -77.5, 85);
  transform: matrix(1, 0, 0, 1, -77.5, 85);
  opacity: 0;
  z-index: 1;
}

#kihkd0vkText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -7.2);
  transform: matrix(0.5, 0, 0, 0.5, 0, -7.2);
}

#co-image_229dfb6c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 949.51, 109.47);
  transform: matrix(1, 0, 0, 1, 949.51, 109.47);
  z-index: 2;
  width: 70px;
  height: 38px;
}

#co-image_6c190adb {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 956.2, 154.8);
  transform: matrix(1, 0, 0, 1, 956.2, 154.8);
  z-index: 0;
  width: 55px;
  height: 37px;
}

#co-image_966707a5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 955.2, 197.4);
  transform: matrix(1, 0, 0, 1, 955.2, 197.4);
  z-index: 0;
  width: 58px;
  height: 41px;
}

#co-image_c430abc4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 117.8, 177.02);
  transform: matrix(1, 0, 0, 1, 117.8, 177.02);
  z-index: 15;
  width: 832px;
  height: 463px;
}

#co-image_e05c5798 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 932.8, 48);
  transform: matrix(1, 0, 0, 1, 932.8, 48);
  z-index: 0;
  width: 42px;
  height: 47px;
}

#co-image_3662f953 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 899.2, 87.8);
  transform: matrix(1, 0, 0, 1, 899.2, 87.8);
  z-index: 0;
  width: 44px;
  height: 42px;
}

#co-image_455a7186 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 853.6, 313.6);
  transform: matrix(1, 0, 0, 1, 853.6, 313.6);
  z-index: 0;
  width: 50px;
  height: 46px;
}

#co-popup_cf74f444 > co-button:nth-child(17) > co-container:nth-child(1) {
  opacity: 0;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -45.00, 47.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -45.00, 47.00) translate3d(0,0,0);
}

#co-popup_2934a91d > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 310.91);
  transform: matrix(1, 0, 0, 1, -120, 310.91);
  opacity: 0;
}

#co-popup_daa165f1 > co-button:nth-child(15) > co-container:nth-child(1) {
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -77.00, 85.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, -77.00, 85.00) translate3d(0,0,0);
  opacity: 0;
}

#pf14 > div[ebox="true"]:nth-child(1) {
  z-index: 2;
}

#co-container_a363ccf9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 56, 725);
  transform: matrix(1, 0, 0, 1, 56, 725);
  z-index: 9;
  width: 968px;
  height: 42px;
}

#co-text_840a1247 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 99.6, 0);
  transform: matrix(1, 0, 0, 1, 99.6, 0);
  z-index: 1;
  width: 150px;
  height: 43px;
  opacity: 0;
}

#co-text_73d3b2d4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 247, -1);
  transform: matrix(1, 0, 0, 1, 247, -1);
  z-index: 2;
  width: 100px;
  height: 44px;
  opacity: 0;
}

#co-text_da53e7b5 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 344.4, -2);
  transform: matrix(1, 0, 0, 1, 344.4, -2);
  z-index: 3;
  width: 154px;
  height: 45px;
  opacity: 0;
}

#co-text_b95a14a2 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 495.4, -1);
  transform: matrix(1, 0, 0, 1, 495.4, -1);
  z-index: 4;
  width: 102px;
  height: 44px;
  opacity: 0;
}

#co-text_adae88ba {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 593.8, -1);
  transform: matrix(1, 0, 0, 1, 593.8, -1);
  z-index: 5;
  width: 100px;
  height: 44px;
  opacity: 0;
}

#co-text_24f29749 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 692, 1);
  transform: matrix(1, 0, 0, 1, 692, 1);
  z-index: 6;
  width: 116px;
  height: 42px;
  opacity: 0;
}

#co-text-button_b7b0a19b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 901.5, 289.5);
  transform: matrix(1, 0, 0, 1, 901.5, 289.5);
  z-index: 10;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 109px;
  height: 44px;
}

#co-text-button_b7b0a19b > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_b7b0a19b > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_9364cff1 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 900.75, 334.75);
  transform: matrix(1, 0, 0, 1, 900.75, 334.75);
  z-index: 11;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
  width: 108px;
  height: 45px;
}

#co-text-button_9364cff1 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_9364cff1 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-text-button_78027695 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 899.25, 379.5);
  transform: matrix(1, 0, 0, 1, 899.25, 379.5);
  z-index: 12;
  width: 110px;
  height: 46px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_78027695 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_78027695 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#kihkd0w5Text {
  height: 120px;
}

#kihkd0w4Text {
  height: 135px;
}

#co-text_78eaeb97 {
  top: 0px;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 55.00, 726.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 55.00, 726.00) translate3d(0,0,0);
  z-index: 1;
  width: 970px;
  height: 42px;
}

#co-text_82a49ebd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 808, -1);
  transform: matrix(1, 0, 0, 1, 808, -1);
  z-index: 7;
  width: 160px;
  height: 44px;
  opacity: 0;
}