#kja6iomzImage {
  width: 214px;
  height: 214px;
  -webkit-transform: matrix(1, 0, 0, 1, 233, 83);
  transform: matrix(1, 0, 0, 1, 233, 83);
}

#kja6ion0Image {
  width: 214px;
  height: 215px;
  -webkit-transform: matrix(1, 0, 0, 1, 574, 84);
  transform: matrix(1, 0, 0, 1, 574, 84);
}

#kja6ion1Image {
  width: 214px;
  height: 213px;
  -webkit-transform: matrix(1, 0, 0, 1, 233, 399);
  transform: matrix(1, 0, 0, 1, 233, 399);
}

#kja6ion2Image {
  width: 214px;
  height: 213px;
  -webkit-transform: matrix(1, 0, 0, 1, 578, 400);
  transform: matrix(1, 0, 0, 1, 578, 400);
}

#kja6ion4Image {
  width: 81px;
  height: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 306, 589);
  transform: matrix(1, 0, 0, 1, 306, 589);
}

#kja6ion6Image {
  width: 94px;
  height: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 297, 274);
  transform: matrix(1, 0, 0, 1, 297, 274);
}

#kja6ion8Image {
  width: 76px;
  height: 46px;
  -webkit-transform: matrix(1, 0, 0, 1, 652, 590);
  transform: matrix(1, 0, 0, 1, 652, 590);
}

#kja6ionaImage {
  width: 89px;
  height: 45px;
  -webkit-transform: matrix(1, 0, 0, 1, 642, 275);
  transform: matrix(1, 0, 0, 1, 642, 275);
}

#kja6ionbImage {
  width: 191px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kja6ioncImage {
  width: 193px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
}

#kja6ionkText {
  width: 446px;
  height: 85px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

#kja6ionmText {
  width: 541px;
  height: 83px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -48.6, -0.8);
  transform: matrix(0.5, 0, 0, 0.5, -48.6, -0.8);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kja6ionoText {
  height: 85px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2.5, 0);
  transform: matrix(0.5, 0, 0, 0.5, -2.5, 0);
}

#kja6ionqText {
  height: 85px;
}