#kj8twma3Image {
  width: 715px;
  height: 278px;
  -webkit-transform: matrix(1, 0, 0, 1, 138, 220);
  transform: matrix(1, 0, 0, 1, 138, 220);
}

#kj8twma4Image {
  width: 64px;
  height: 39px;
  -webkit-transform: matrix(1, 0, 0, 1, 951, 154);
  transform: matrix(1, 0, 0, 1, 951, 154);
}

#kj8twma5Image {
  width: 7px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 102, 563);
  transform: matrix(1, 0, 0, 1, 102, 563);
}

#kj8twmakText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -18.4, 0);
  transform: matrix(0, -0.5, 0.5, 0, -18.4, 0);
}

#kj8twmajText {
  -webkit-transform: matrix(0, -0.5, 0.5, 0, -19.2, 0);
  transform: matrix(0, -0.5, 0.5, 0, -19.2, 0);
}

#co-popup_4c7238ee {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_54/f9e0ce86.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_e8a454cd {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 310, 162);
  transform: matrix(1, 0, 0, 1, 310, 162);
  z-index: 1;
  width: 97px;
  height: 20px;
}

#co-text_14d2e3ff {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 608.4, 162);
  transform: matrix(1, 0, 0, 1, 608.4, 162);
  z-index: 2;
  width: 104px;
  height: 20px;
}

#co-text_62414882 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 812.4, 162);
  transform: matrix(1, 0, 0, 1, 812.4, 162);
  z-index: 3;
  width: 80px;
  height: 21px;
}

#co-text_8e2b0779 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(0.002, -1, 1, 0.002, -54.8, 296.4);
  transform: matrix(0.002, -1, 1, 0.002, -54.8, 296.4);
  z-index: 4;
  width: 309px;
  height: 40px;
}

#co-text_63db6194 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 764, 489.2);
  transform: matrix(1, 0, 0, 1, 764, 489.2);
  z-index: 5;
  width: 151px;
  height: 39px;
}

#co-text_1cd2fab7 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 583.6, 489.2);
  transform: matrix(1, 0, 0, 1, 583.6, 489.2);
  z-index: 6;
  width: 140px;
  height: 40px;
}

#co-text_86d25d25 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 383.6, 489.2);
  transform: matrix(1, 0, 0, 1, 383.6, 489.2);
  z-index: 7;
  width: 164px;
  height: 39px;
}

#co-text_88b8b607 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 200.4, 489.2);
  transform: matrix(1, 0, 0, 1, 200.4, 489.2);
  z-index: 8;
  width: 157px;
  height: 37px;
}

#co-text_f92cad67 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 152.4, 570.8);
  transform: matrix(1, 0, 0, 1, 152.4, 570.8);
  z-index: 9;
  width: 176px;
  height: 38px;
}

#co-text_c5bfdd0c {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 367.6, 570);
  transform: matrix(1, 0, 0, 1, 367.6, 570);
  z-index: 10;
  width: 218px;
  height: 44px;
}

#co-text_dee36423 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 630, 570.8);
  transform: matrix(1, 0, 0, 1, 630, 570.8);
  z-index: 11;
  width: 194px;
  height: 42px;
}

#co-popup_4c7238ee > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -44, 48.8);
  transform: matrix(1, 0, 0, 1, -44, 48.8);
  opacity: 0;
}

#co-popup_64beca34 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10001;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_54/a987be34.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-text_1cad2d5b {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 350);
  transform: matrix(1, 0, 0, 1, 170, 350);
  z-index: 1;
  width: 148px;
  height: 26px;
}

#co-text_264356c0 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 170, 383.6);
  transform: matrix(1, 0, 0, 1, 170, 383.6);
  z-index: 2;
  width: 437px;
  height: 35px;
}

#co-popup_64beca34 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.4, 309.6);
  transform: matrix(1, 0, 0, 1, -122.4, 309.6);
  opacity: 0;
}

#co-text_2882ee3f {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 590.4, 75.86);
  transform: matrix(1, 0, 0, 1, 590.4, 75.86);
  z-index: 4;
  width: 56px;
  height: 54px;
  opacity: 0;
}

#co-text_60d66a96 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 823.4, 553.6);
  transform: matrix(1, 0, 0, 1, 823.4, 553.6);
  z-index: 2;
  width: 49px;
  height: 47px;
  opacity: 0;
}

#co-popup_4c7238ee > co-button:nth-child(12) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -43, 47);
  transform: matrix(1, 0, 0, 1, -43, 47);
  opacity: 0;
}

#co-popup_64beca34 > co-button:nth-child(3) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -121.25, 307.5);
  transform: matrix(1, 0, 0, 1, -121.25, 307.5);
  opacity: 0;
}

#co-container_fc979ed3 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 52, 704);
  transform: matrix(1, 0, 0, 1, 52, 704);
  z-index: 3;
  width: 972px;
  height: 64px;
}

#co-text_a5812923 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 3, 23);
  transform: matrix(1, 0, 0, 1, 3, 23);
  z-index: 1;
  width: 106px;
  height: 41px;
  opacity: 0;
}

#co-text_3f289a42 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 108, 23);
  transform: matrix(1, 0, 0, 1, 108, 23);
  z-index: 2;
  width: 142px;
  height: 41px;
  opacity: 0;
}

#co-text_3a679cde {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 246, -16);
  transform: matrix(1, 0, 0, 1, 246, -16);
  z-index: 3;
  width: 121px;
  height: 41px;
  opacity: 0;
}

#pf1a > div[ebox="true"]:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#kj8twmaxText {
  width: 1726px;
  height: 136px;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2, 0);
  transform: matrix(0.5, 0, 0, 0.5, -2, 0);
}

#kj8twmb1Text {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -0.91, 0);
  transform: matrix(0.5, 0, 0, 0.5, -0.91, 0);
}

#co-text_451f7048 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 56, 729);
  transform: matrix(1, 0, 0, 1, 56, 729);
  z-index: 1;
  width: 450px;
  height: 39px;
}

#co-text_8580ff4a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 299, 707);
  transform: matrix(1, 0, 0, 1, 299, 707);
  z-index: 2;
  width: 296px;
  height: 22px;
}