#kihkcwyjImage {
  width: 303px;
  height: 331px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 348);
  transform: matrix(1, 0, 0, 1, 107, 348);
}

#kihkcwykImage {
  width: 280px;
  height: 331px;
  -webkit-transform: matrix(1, 0, 0, 1, 415, 348);
  transform: matrix(1, 0, 0, 1, 415, 348);
}

#kihkcwylImage {
  width: 293px;
  height: 331px;
  -webkit-transform: matrix(1, 0, 0, 1, 699, 348);
  transform: matrix(1, 0, 0, 1, 699, 348);
}

#kihkcwymImage {
  width: 79px;
  height: 79px;
  -webkit-transform: matrix(1, 0, 0, 1, 107, 176);
  transform: matrix(1, 0, 0, 1, 107, 176);
}

#kihkcwynImage {
  width: 883px;
  height: 53px;
  -webkit-transform: matrix(1, 0, 0, 1, 108, 274);
  transform: matrix(1, 0, 0, 1, 108, 274);
}

#kihkcwyoImage {
  width: 2px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 54, 728);
  transform: matrix(1, 0, 0, 1, 54, 728);
}

#kihkcwypImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 53, 727);
  transform: matrix(1, 0, 0, 1, 53, 727);
overflow: visible;}

#kihkcwyqImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 727);
  transform: matrix(1, 0, 0, 1, 150, 727);
}

#kihkcwyrImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 247, 727);
  transform: matrix(1, 0, 0, 1, 247, 727);
}

#kihkcwysImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 344, 727);
  transform: matrix(1, 0, 0, 1, 344, 727);
}

#kihkcwytImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 441, 727);
  transform: matrix(1, 0, 0, 1, 441, 727);
}

#kihkcwyuImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 538, 727);
  transform: matrix(1, 0, 0, 1, 538, 727);
}

#kihkcwyvImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 635, 727);
  transform: matrix(1, 0, 0, 1, 635, 727);
}

#kihkcwywImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 732, 727);
  transform: matrix(1, 0, 0, 1, 732, 727);
}

#kihkcwyxImage {
  width: 98px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 926, 727);
  transform: matrix(1, 0, 0, 1, 926, 727);
overflow: visible;}

#kihkcwyyImage {
  width: 98px;
  height: 40px;
  -webkit-transform: matrix(1, 0, 0, 1, 830, 728);
  transform: matrix(1, 0, 0, 1, 830, 728);
}

#kihkcwyzImage {
  width: 99px;
  height: 41px;
  -webkit-transform: matrix(1, 0, 0, 1, 829, 727);
  transform: matrix(1, 0, 0, 1, 829, 727);
}

#kihkcwz0Image {
  width: 8px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 128, 462.5);
  transform: matrix(1, 0, 0, 1, 128, 462.5);
}

#kihkcwz1Image {
  width: 7px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 721, 473.75);
  transform: matrix(1, 0, 0, 1, 721, 473.75);
}

#kihkcwz2Image {
  width: 8px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 445, 461.25);
  transform: matrix(1, 0, 0, 1, 445, 461.25);
}

#kihkcwz3Image {
  width: 8px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 128, 528.25);
  transform: matrix(1, 0, 0, 1, 128, 528.25);
}

#kihkcwz4Image {
  width: 7px;
  height: 7px;
  -webkit-transform: matrix(1, 0, 0, 1, 721, 542);
  transform: matrix(1, 0, 0, 1, 721, 542);
}

#kihkcwz5Image {
  width: 8px;
  height: 8px;
  -webkit-transform: matrix(1, 0, 0, 1, 128, 615.25);
  transform: matrix(1, 0, 0, 1, 128, 615.25);
}

#kihkcwzaText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text-button_71ec9d24 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 673.25, 27.75);
  transform: matrix(1, 0, 0, 1, 673.25, 27.75);
  z-index: 2;
  width: 58px;
  height: 50px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: none;
}

#co-text-button_71ec9d24 > co-button:nth-child(1) > co-text:nth-child(1) {
  display: none;
}

#co-text-button_71ec9d24 > co-button:nth-child(1) > co-text:nth-child(1) * {
  display: none;
}

#co-popup_9a48aa69 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 0.00, 0.00) translate3d(0,0,0);
  z-index: 10000;
  width: 1024px;
  height: 768px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgb(69, 94, 147);
  border-right-color: rgb(69, 94, 147);
  border-bottom-color: rgb(69, 94, 147);
  border-left-color: rgb(69, 94, 147);
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  background-image: url("../media/images/Brintellix_18/a0fe7db7.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#co-popup_9a48aa69 > co-button:nth-child(1) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 296.25);
  transform: matrix(1, 0, 0, 1, -122.5, 296.25);
  opacity: 0;
}

#co-text_d0a8f0dc {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 336.8);
  transform: matrix(1, 0, 0, 1, 150, 336.8);
  z-index: 1;
  width: 200px;
  height: 25px;
}

#co-text_63e85870 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 150, 368.4);
  transform: matrix(1, 0, 0, 1, 150, 368.4);
  z-index: 3;
  width: 726px;
  height: 100px;
}

#co-popup_9a48aa69 > co-button:nth-child(4) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.67, 294.67);
  transform: matrix(1, 0, 0, 1, -122.67, 294.67);
  opacity: 0;
  z-index: 1;
}

#co-image_8de30a3a {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 851.21, 293);
  transform: matrix(1, 0, 0, 1, 851.21, 293);
  z-index: 0;
  width: 53px;
  height: 53px;
}

#kihkcwzcText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#kihkcwzrText {
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -3.2, 0);
  transform: matrix(0.5, 0, 0, 0.5, -3.2, 0);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-text_63e85870 > span[rv-html="html"]:nth-child(1) {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}

#co-popup_9a48aa69 > co-button:nth-child(5) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -120, 296.36);
  transform: matrix(1, 0, 0, 1, -120, 296.36);
  opacity: 0;
}

#co-text_8e5c74f9 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 368.00) translate3d(0,0,0);
  transform: matrix(1.00000000, 0.00000000, 0, 1.00000000, 166.00, 368.00) translate3d(0,0,0);
  z-index: 4;
  width: 700px;
  height: 20px;
}

#co-text_b28b0b52 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 145.2, 390.2);
  transform: matrix(1, 0, 0, 1, 145.2, 390.2);
  z-index: 5;
  width: 704px;
  height: 41px;
}

#co-popup_9a48aa69 > co-button:nth-child(6) > co-container:nth-child(1) {
  -webkit-transform: matrix(1, 0, 0, 1, -122.5, 293.75);
  transform: matrix(1, 0, 0, 1, -122.5, 293.75);
  opacity: 0;
}

#co-container_c224a036 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 55, 728);
  transform: matrix(1, 0, 0, 1, 55, 728);
  z-index: 3;
  width: 963px;
  height: 39px;
}

#co-text_8be12153 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 0.8, 2);
  transform: matrix(1, 0, 0, 1, 0.8, 2);
  z-index: 1;
  width: 96px;
  height: 37px;
  opacity: 0;
}

#co-text_4a933d23 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 95.2, -1);
  transform: matrix(1, 0, 0, 1, 95.2, -1);
  z-index: 2;
  width: 100px;
  height: 40px;
  opacity: 0;
}

#co-text_626486aa {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 190.4, 0);
  transform: matrix(1, 0, 0, 1, 190.4, 0);
  z-index: 3;
  width: 100px;
  height: 39px;
  opacity: 0;
}

#co-text_4662fb9e {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 287.2, -2);
  transform: matrix(1, 0, 0, 1, 287.2, -2);
  z-index: 4;
  width: 101px;
  height: 41px;
  opacity: 0;
}

#co-text_e6443e36 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 384.8, -2);
  transform: matrix(1, 0, 0, 1, 384.8, -2);
  z-index: 5;
  width: 100px;
  height: 41px;
  opacity: 0;
}

#co-text_d5ee1139 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 484.2, 0);
  transform: matrix(1, 0, 0, 1, 484.2, 0);
  z-index: 6;
  width: 98px;
  height: 39px;
  opacity: 0;
}

#co-text_f7e5a191 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 580.2, -1);
  transform: matrix(1, 0, 0, 1, 580.2, -1);
  z-index: 7;
  width: 98px;
  height: 40px;
  opacity: 0;
}

#co-text_0a96e128 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 678.2, 1);
  transform: matrix(1, 0, 0, 1, 678.2, 1);
  z-index: 8;
  width: 96px;
  height: 38px;
  opacity: 0;
}

#co-text_8f2e02f4 {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transform: matrix(1, 0, 0, 1, 872, 0);
  transform: matrix(1, 0, 0, 1, 872, 0);
  z-index: 9;
  width: 96px;
  height: 39px;
  opacity: 0;
}

#kihkcwzbText {
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
}