@font-face{font-family: "1_WUORLG+AvenirNextLTPro-Bold";src:url("../../media/fonts/common/1_WUORLG+AvenirNextLTPro-Bold.woff")  format("woff");}
@font-face{font-family: "2_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "3_BNJCUB+AvenirNextLTPro-Regular";src:url("../../media/fonts/common/3_BNJCUB+AvenirNextLTPro-Regular.woff")  format("woff");}
@font-face{font-family: "4_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/4_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "5_WUORLG+AvenirNextLTPro-Bold";src:url("../../media/fonts/common/5_WUORLG+AvenirNextLTPro-Bold.woff")  format("woff");}
@font-face{font-family: "6_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/6_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "7_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/7_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "8_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/8_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "9_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/9_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "a_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/a_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "b_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/b_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "c_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/c_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "d_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/d_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "e_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/e_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "f_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/f_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "10_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/10_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "11_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/11_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "12_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/12_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "13_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/13_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "14_ZCVUBA+AvenirNextLTPro-HeavyCn";src:url("../../media/fonts/common/14_ZCVUBA+AvenirNextLTPro-HeavyCn.woff")  format("woff");}
@font-face{font-family: "15_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/15_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "16_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/16_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "17_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/17_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "18_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/18_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "19_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/19_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "1a_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/1a_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "1b_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/1b_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "1c_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/1c_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "1d_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/1d_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "1e_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/1e_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "1f_VDWFON+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/1f_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");}

/*p2*/
@font-face{font-family: "1_CWOXIJ+AvenirNextLTPro-Bold";src:url("../../media/fonts/common/1_CWOXIJ+AvenirNextLTPro-Bold.woff")  format("woff");}
@font-face{font-family: "2_PIDSIJ+AvenirNextLTPro-Regular";src:url("../../media/fonts/common/2_PIDSIJ+AvenirNextLTPro-Regular.woff")  format("woff");}
@font-face{font-family: "3_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/3_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "4_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/4_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "5_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/5_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "6_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/6_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "7_KJIEQT+SegoeUIEmoji";src:url("../../media/fonts/common/7_KJIEQT+SegoeUIEmoji.woff")  format("woff");}
@font-face{font-family: "8_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/8_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "9_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/9_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "a_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/a_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "b_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/b_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "c_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/c_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "d_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/d_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "e_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/e_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "f_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/f_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "10_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/10_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "11_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/11_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "12_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/12_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "13_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/13_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "14_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/14_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "15_CCMVBT+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/15_CCMVBT+AvenirNextLTPro-Demi.woff")  format("woff");}

/*p3*/
@font-face{font-family: "1_YNCPSC+AvenirNextLTPro-Bold";src:url("../../media/fonts/common/1_YNCPSC+AvenirNextLTPro-Bold.woff")  format("woff");}
@font-face{font-family: "2_ANALJY+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_ANALJY+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "3_JLVNQG+AvenirNextLTPro-Regular";src:url("../../media/fonts/common/3_JLVNQG+AvenirNextLTPro-Regular.woff")  format("woff");}
@font-face{font-family: "4_ANALJY+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/4_ANALJY+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "5_ANALJY+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/5_ANALJY+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "6_ANALJY+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/6_ANALJY+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "7_ANALJY+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/7_ANALJY+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "8_ANALJY+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/8_ANALJY+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "9_ANALJY+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/9_ANALJY+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "a_SCZAMO+AvenirNextLTPro-It";src:url("../../media/fonts/common/a_SCZAMO+AvenirNextLTPro-It.woff")  format("woff");}

/*p194*/
@font-face{font-family: "1_NWIRHY+AvenirNextLTPro-Bold";src:url("../../media/fonts/common/1_NWIRHY+AvenirNextLTPro-Bold.woff")  format("woff");}
@font-face{font-family: "2_YZCIQH+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_YZCIQH+AvenirNextLTPro-Demi.woff")  format("woff");}
@font-face{font-family: "3_IPNDFN+AvenirNextLTPro-Regular";src:url("../../media/fonts/common/3_IPNDFN+AvenirNextLTPro-Regular.woff")  format("woff");}
@font-face{font-family: "4_YZCIQH+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/4_YZCIQH+AvenirNextLTPro-Demi.woff")  format("woff");}

/*divider*/
@font-face {
  font-family: 'Lora';
  src: url('https://api.ewizard.io/font/drcom/5f1046bf05eae000073f7c7d/regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*New Asset*/
@font-face{font-family: "1_EUSBJE+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "2_TKMNLA+AvenirNextLTPro-Bold";src:url("../../media/fonts/common/5_WUORLG+AvenirNextLTPro-Bold.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "3_SCCHXC+Avenir-Black";src:url("../../media/fonts/common/3_SCCHXC+Avenir-Black.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "4_SCCHXC+Maillefer-Medium";src:url("../../media/fonts/common/4_SCCHXC+Maillefer-Medium.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "5_SCCHXC+AvenirNextLTPro-Regular";src:url("../../media/fonts/common/3_BNJCUB+AvenirNextLTPro-Regular.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "6_EUSBJE+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "7_EUSBJE+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "8_EUSBJE+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "9_SCCHXC+AvenirNext-Regular";src:url("../../media/fonts/common/3_BNJCUB+AvenirNextLTPro-Regular.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "a_SCCHXC+AvenirNext-Medium";src:url("../../media/fonts/common/4_SCCHXC+Maillefer-Medium.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "b_SCCHXC+AvenirNext-DemiBold";src:url("../../media/fonts/common/b_SCCHXC+AvenirNext-DemiBold.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "c_SCCHXC+Avenir-Book";src:url("../../media/fonts/common/c_SCCHXC+Avenir-Book.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "d_EUSBJE+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "e_EUSBJE+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "f_EUSBJE+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "10_SCCHXC+AvenirNextLTPro-Regular";src:url("../../media/fonts/common/3_BNJCUB+AvenirNextLTPro-Regular.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "11_SCCHXC+AvenirNextLTPro-Demi";src:url("../../media/fonts/common/2_VDWFON+AvenirNextLTPro-Demi.woff")  format("woff");font-weight: 400;}
@font-face{font-family: "12_SCCHXC+Avenir-Heavy";src:url("../../media/fonts/common/12_SCCHXC+Avenir-Heavy.woff")  format("woff");font-weight: 400;}




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































